svg#status-new-icon(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
  circle(cx="8" cy="8" r="8" fill="#6AB8F0")
  path(d="M5.39813 6.36364V10H4.73406L3.15203 7.71129H3.1254V10H2.35658V6.36364H3.03129L4.6009 8.65057H4.63286V6.36364H5.39813ZM6.03334 10V6.36364H8.48362V6.99751H6.80216V7.86399H8.35756V8.49787H6.80216V9.36612H8.49072V10H6.03334ZM9.9134 10L8.87291 6.36364H9.71276L10.3147 8.89027H10.3449L11.0089 6.36364H11.728L12.3903 8.8956H12.4223L13.0242 6.36364H13.864L12.8236 10H12.0743L11.3818 7.62251H11.3534L10.6627 10H9.9134Z" fill="white")
