svg#status-warning-icon(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
  circle(cx="8" cy="8" r="8" fill="#F06A6A")
  path(d="M9.005 9.49985V4C9.005 3.44495 8.55505 2.995 8 2.995C7.44495 2.995 6.995 3.44495 6.995 4V9.49985C6.995 10.0549 7.44495 10.5049 8 10.5049C8.55505 10.5049 9.005 10.0549 9.005 9.49985Z" fill="white" stroke="white" stroke-width="0.01")
  path(d="M8.37501 11.745H7.62499C7.27706 11.745 6.995 12.0271 6.995 12.375C6.995 12.7229 7.27706 13.005 7.62499 13.005H8.37501C8.72294 13.005 9.005 12.7229 9.005 12.375C9.005 12.0271 8.72294 11.745 8.37501 11.745Z" fill="white" stroke="white" stroke-width="0.01")
