* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.align-middle {
    vertical-align: middle !important;
}

textarea,
input,
button,
select,
a {
  @apply rounded-none outline-none font-sans font-normal text-black-100 touch-manipulation;
}

button {
  @apply select-none;
}

input,
textarea,
select {
  &::placeholder {
    @apply opacity-100 text-black-200;
  }
}

html,
body {
  @apply overflow-x-hidden font-sans text-black-100;
}

label {
  @apply block relative;
}

.render {
  @apply top-0 left-0 z-[99999] fixed bg-white-000 w-full h-full;
}

.page {
  &-post {
    .post__bg {
      @apply absolute inset-0;
    }
    @apply relative min-h-dvh overflow-hidden;
  }
  @apply flex;
}

.scroll-to-top {
  @apply hidden right-5 bottom-5 fixed;
}

.wrapper {
  &.active {
    .content-sm .content-not-collapsed {
      @apply w-[calc(100%-366px)];
    }
    @apply left-[59px] pl-[46px] w-[calc(100%-59px)];
  }
  &.collapsed {
    .expanded {
      @apply hidden;
    }
  }
  &.expanded {
    .expanded {
      @apply block;
    }
    .widgets {
      @include screen(laptop-base) {
        @apply grid-cols-[repeat(4,_minmax(224.5px,_224.5px))];
      }
      @apply gap-4 grid grid-cols-[repeat(2,_minmax(224.5px,_224.5px))] pt-4 w-full;
    }
    .messages {
      .message {
        @apply pl-7;
      }
      &__footer {
        @apply pl-7;
      }
      @apply -ml-7;
    }
    .profile__alert {
      @apply left-[calc(50%+(59px/2))];
    }
    .widget {
      @apply max-w-[224px];
    }
  }
  &:before {
    @apply top-[60px] right-0 z-50 fixed bg-white-000 w-6 h-[calc(100%-60px)] content-[''];
  }
  @apply top-[60px] left-[217px] fixed bg-white-000 pr-6 pb-[88px] pl-7 w-[calc(100%-217px)] h-[calc(100%-var(--header-height))] overflow-x-hidden transition-all duration-300;
}

.inner {
  @apply mt-6 min-h-[calc(100%-24px)];
}

.in-container {
  @apply flex justify-between;
}

.calendar-icon {
  @apply min-w-[18px];
}

.calendar-close-icon {
  @apply w-2.5 h-[5px];
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

.components {
  .header,
  .sidebar {
    @apply static w-full;
  }
  .header {
    &.active {
      @apply w-full;
    }
  }
  .dropdown__list {
    @apply absolute;
  }
  & ~ .daterangepicker,
  & ~ .monthrangepicker {
    @apply absolute;
  }
}