* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

textarea,
input,
button,
select,
a {
  @apply rounded-none touch-manipulation font-normal font-sans text-black-100 outline-none;
}

input,
textarea,
select {
  &::placeholder {
    @apply opacity-100 text-black-200;
  }
}

html,
body {
  @apply font-sans text-black-100;
}

label {
  @apply block relative;
}

.render {
  @apply top-0 left-0 z-[99999] fixed bg-white-000 w-full h-full;
}

.page {
  @apply flex;
}

.scroll-to-top {
  @apply right-5 bottom-5 fixed hidden;
}

.wrapper {
  &.active {
    @apply left-[59px] pl-[46px] w-[calc(100%-59px)];
  }
  &.collapsed {
    .expanded {
      @apply hidden;
    }
  }
  &.expanded {
    .expanded {
      @apply block;
    }
  }
  @apply top-[60px] left-[217px] fixed bg-white-000 pr-6 pb-20 pl-7 w-[calc(100%-217px)] h-[calc(100%-var(--header-height))] transition-all duration-300 overflow-x-hidden;
}

.inner {
  @apply flex justify-between mt-6;
}

.calendar-icon {
  @apply min-w-[18px];
}

.calendar-close-icon {
  @apply w-2.5 h-[5px];
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

.components {
  .header,
  .sidebar {
    @apply static w-full;
  }
  .header {
    &.active {
      @apply w-full;
    }
  }
  .dropdown__list {
    @apply absolute;
  }
  & ~ .daterangepicker,
  & ~ .monthrangepicker {
    @apply absolute;
  }
}