* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

textarea,
input,
button,
select,
a {
  @apply font-sans touch-manipulation font-normal rounded-none outline-none text-black-100
}

html,
body {
  @apply font-sans text-black-100
}

.render {
  @apply bg-white-000 fixed h-full w-full z-[99999] top-0 left-0
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}