svg#label-admin-icon(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg")
  circle(cx="8.5" cy="8.5" r="7.85" fill="white" stroke="currentColor" stroke-width="1.3")
  path(d="M6.533 11.7H5.12675L7.68712 4.42722H9.31354L11.8775 11.7H10.4712L8.52874 5.9187H8.47192L6.533 11.7ZM6.57917 8.84839H10.4144V9.90663H6.57917V8.84839Z" fill="currentColor")