table.table
  thead
    tr 
      th.border-r.border-black-500
        .flex.gap-x-2.items-center.text-blue-000
          p Канал
          button(type="button")
            svg
              use(xlink:href="#other-sort-icon")
      th
        p Категория
      th
        p.text-right Подписчики
      th 
        p Формат
      th
        p.text-right охват %
        span.block.text-right (на пост)
      th
        p.text-right охват %
        span.block.text-right (24 часа)
      th
        p.text-center ER %
      th
        p.text-center ERR %
      th
        p.text-center Аудитория
        .flex.justify-center(class="gap-x-2.5 mt-[3px]")
          span.male.inline-block мужчины
          span.female.inline-block женщины
  tbody
    tr 
      td.border-r.border-black-500 
        .flex.items-center(class="gap-x-[6px]")
          img.rounded(class="w-[30px] h-[30px]" src="/assets/images/tg-channel.png", alt="tg-channel")
          .flex.flex-col
            h3 ZeroDay | Кибербезопасность 
            a(href="https://t.me/cybersec_academy" target="_blank") @cybersec_academy 
      td Интернет технологии
      td.text-right 999 999
      td 
        +dropdown({
          label: '1/24',
          class: 'dropdown-base',
          buttons: [
            { title: '1/24', checked: true },
            { title: '1/48' },
            { title: '1/72' },
            { title: 'Нативный' },
          ],
        })
      td.text-right 15%
      td.text-right 15%
      td.text-center 25,5%
      td.text-center 25,5%
      td
        .flex.justify-center(class="gap-x-2.5")
          span.male.inline-block 45%
          span.female.inline-block 55%
    tr 
      td.border-r.border-black-500 
        .flex.items-center(class="gap-x-[6px]")
          img.rounded(class="w-[30px] h-[30px]" src="/assets/images/tg-channel.png", alt="tg-channel")
          .flex.flex-col
            h3 ZeroDay | Кибербезопасность
            a(href="https://t.me/cybersec_academy" target="_blank") @cybersec_academy 
      td Интернет технологии
      td.text-right 999 999
      td 
        +dropdown({
          label: '1/24',
          class: 'dropdown-base',
          buttons: [
            { title: '1/24', checked: true },
            { title: '1/48' },
            { title: '1/72' },
            { title: 'Нативный' },
          ],
        })
      td.text-right 15%
      td.text-right 15%
      td.text-center 25,5%
      td.text-center 25,5%
      td
        .flex.justify-center(class="gap-x-2.5")
          span.male.inline-block 45%
          span.female.inline-block 55%
    tr 
      td.border-r.border-black-500 
        .flex.items-center(class="gap-x-[6px]")
          img.rounded(class="w-[30px] h-[30px]" src="/assets/images/tg-channel.png", alt="tg-channel")
          .flex.flex-col
            h3 ZeroDay | Кибербезопасность
            a(href="https://t.me/cybersec_academy" target="_blank") @cybersec_academy 
      td Интернет технологии
      td.text-right 999 999
      td 
        +dropdown({
          label: '1/24',
          class: 'dropdown-base',
          buttons: [
            { title: '1/24', checked: true },
            { title: '1/48' },
            { title: '1/72' },
            { title: 'Нативный' },
          ],
        })
      td.text-right 15%
      td.text-right 15%
      td.text-center 25,5%
      td.text-center 25,5%
      td
        .flex.justify-center(class="gap-x-2.5")
          span.male.inline-block 45%
          span.female.inline-block 55%
    tr 
      td.border-r.border-black-500 
        .flex.items-center(class="gap-x-[6px]")
          img.rounded(class="w-[30px] h-[30px]" src="/assets/images/tg-channel.png", alt="tg-channel")
          .flex.flex-col
            h3 ZeroDay | Кибербезопасность
            a(href="https://t.me/cybersec_academy" target="_blank") @cybersec_academy 
      td Интернет технологии
      td.text-right 999 999
      td 
        +dropdown({
          label: '1/24',
          class: 'dropdown-base',
          buttons: [
            { title: '1/24', checked: true },
            { title: '1/48' },
            { title: '1/72' },
            { title: 'Нативный' },
          ],
        })
      td.text-right 15%
      td.text-right 15%
      td.text-center 25,5%
      td.text-center 25,5%
      td
        .flex.justify-center(class="gap-x-2.5")
          span.male.inline-block 45%
          span.female.inline-block 55%
    tr 
      td.border-r.border-black-500 
        .flex.items-center(class="gap-x-[6px]")
          img.rounded(class="w-[30px] h-[30px]" src="/assets/images/tg-channel.png", alt="tg-channel")
          .flex.flex-col
            h3 ZeroDay | Кибербезопасность
            a(href="https://t.me/cybersec_academy" target="_blank") @cybersec_academy 
      td Интернет технологии
      td.text-right 999 999
      td 
        +dropdown({
          label: '1/24',
          class: 'dropdown-base',
          buttons: [
            { title: '1/24', checked: true },
            { title: '1/48' },
            { title: '1/72' },
            { title: 'Нативный' },
          ],
        })
      td.text-right 15%
      td.text-right 15%
      td.text-center 25,5%
      td.text-center 25,5%
      td
        .flex.justify-center(class="gap-x-2.5")
          span.male.inline-block 45%
          span.female.inline-block 55%
    tr 
      td.border-r.border-black-500 
        .flex.items-center(class="gap-x-[6px]")
          img.rounded(class="w-[30px] h-[30px]" src="/assets/images/tg-channel.png", alt="tg-channel")
          .flex.flex-col
            h3 ZeroDay | Кибербезопасность
            a(href="https://t.me/cybersec_academy" target="_blank") @cybersec_academy 
      td Интернет технологии
      td.text-right 999 999
      td 
        +dropdown({
          label: '1/24',
          class: 'dropdown-base',
          buttons: [
            { title: '1/24', checked: true },
            { title: '1/48' },
            { title: '1/72' },
            { title: 'Нативный' },
          ],
        })
      td.text-right 15%
      td.text-right 15%
      td.text-center 25,5%
      td.text-center 25,5%
      td
        .flex.justify-center(class="gap-x-2.5")
          span.male.inline-block 45%
          span.female.inline-block 55%
    tr 
      td.border-r.border-black-500 
        .flex.items-center(class="gap-x-[6px]")
          img.rounded(class="w-[30px] h-[30px]" src="/assets/images/tg-channel.png", alt="tg-channel")
          .flex.flex-col
            h3 ZeroDay | Кибербезопасность
            a(href="https://t.me/cybersec_academy" target="_blank") @cybersec_academy 
      td Интернет технологии
      td.text-right 999 999
      td 
        +dropdown({
          label: '1/24',
          class: 'dropdown-base',
          buttons: [
            { title: '1/24', checked: true },
            { title: '1/48' },
            { title: '1/72' },
            { title: 'Нативный' },
          ],
        })
      td.text-right 15%
      td.text-right 15%
      td.text-center 25,5%
      td.text-center 25,5%
      td
        .flex.justify-center(class="gap-x-2.5")
          span.male.inline-block 45%
          span.female.inline-block 55%
    tr 
      td.border-r.border-black-500 
        .flex.items-center(class="gap-x-[6px]")
          img.rounded(class="w-[30px] h-[30px]" src="/assets/images/tg-channel.png", alt="tg-channel")
          .flex.flex-col
            h3 ZeroDay | Кибербезопасность
            a(href="https://t.me/cybersec_academy" target="_blank") @cybersec_academy 
      td Интернет технологии
      td.text-right 999 999
      td 
        +dropdown({
          label: '1/24',
          class: 'dropdown-base',
          buttons: [
            { title: '1/24', checked: true },
            { title: '1/48' },
            { title: '1/72' },
            { title: 'Нативный' },
          ],
        })
      td.text-right 15%
      td.text-right 15%
      td.text-center 25,5%
      td.text-center 25,5%
      td
        .flex.justify-center(class="gap-x-2.5")
          span.male.inline-block 45%
          span.female.inline-block 55%
    tr 
      td.border-r.border-black-500 
        .flex.items-center(class="gap-x-[6px]")
          img.rounded(class="w-[30px] h-[30px]" src="/assets/images/tg-channel.png", alt="tg-channel")
          .flex.flex-col
            h3 ZeroDay | Кибербезопасность
            a(href="https://t.me/cybersec_academy" target="_blank") @cybersec_academy 
      td Интернет технологии
      td.text-right 999 999
      td 
        +dropdown({
          label: '1/24',
          class: 'dropdown-base',
          buttons: [
            { title: '1/24', checked: true },
            { title: '1/48' },
            { title: '1/72' },
            { title: 'Нативный' },
          ],
        })
      td.text-right 15%
      td.text-right 15%
      td.text-center 25,5%
      td.text-center 25,5%
      td
        .flex.justify-center(class="gap-x-2.5")
          span.male.inline-block 45%
          span.female.inline-block 55%
    tr 
      td.border-r.border-black-500 
        .flex.items-center(class="gap-x-[6px]")
          img.rounded(class="w-[30px] h-[30px]" src="/assets/images/tg-channel.png", alt="tg-channel")
          .flex.flex-col
            h3 ZeroDay | Кибербезопасность
            a(href="https://t.me/cybersec_academy" target="_blank") @cybersec_academy 
      td Интернет технологии
      td.text-right 999 999
      td 
        +dropdown({
          label: '1/24',
          class: 'dropdown-base',
          buttons: [
            { title: '1/24', checked: true },
            { title: '1/48' },
            { title: '1/72' },
            { title: 'Нативный' },
          ],
        })
      td.text-right 15%
      td.text-right 15%
      td.text-center 25,5%
      td.text-center 25,5%
      td
        .flex.justify-center(class="gap-x-2.5")
          span.male.inline-block 45%
          span.female.inline-block 55%
    tr 
      td.border-r.border-black-500 
        .flex.items-center(class="gap-x-[6px]")
          img.rounded(class="w-[30px] h-[30px]" src="/assets/images/tg-channel.png", alt="tg-channel")
          .flex.flex-col
            h3 ZeroDay | Кибербезопасность
            a(href="https://t.me/cybersec_academy" target="_blank") @cybersec_academy 
      td Интернет технологии
      td.text-right 999 999
      td 
        +dropdown({
          label: '1/24',
          class: 'dropdown-base',
          buttons: [
            { title: '1/24', checked: true },
            { title: '1/48' },
            { title: '1/72' },
            { title: 'Нативный' },
          ],
        })
      td.text-right 15%
      td.text-right 15%
      td.text-center 25,5%
      td.text-center 25,5%
      td
        .flex.justify-center(class="gap-x-2.5")
          span.male.inline-block 45%
          span.female.inline-block 55%
    tr 
      td.border-r.border-black-500 
        .flex.items-center(class="gap-x-[6px]")
          img.rounded(class="w-[30px] h-[30px]" src="/assets/images/tg-channel.png", alt="tg-channel")
          .flex.flex-col
            h3 ZeroDay | Кибербезопасность
            a(href="https://t.me/cybersec_academy" target="_blank") @cybersec_academy 
      td Интернет технологии
      td.text-right 999 999
      td 
        +dropdown({
          label: '1/24',
          class: 'dropdown-base',
          buttons: [
            { title: '1/24', checked: true },
            { title: '1/48' },
            { title: '1/72' },
            { title: 'Нативный' },
          ],
        })
      td.text-right 15%
      td.text-right 15%
      td.text-center 25,5%
      td.text-center 25,5%
      td
        .flex.justify-center(class="gap-x-2.5")
          span.male.inline-block 45%
          span.female.inline-block 55%
    tr 
      td.border-r.border-black-500 
        .flex.items-center(class="gap-x-[6px]")
          img.rounded(class="w-[30px] h-[30px]" src="/assets/images/tg-channel.png", alt="tg-channel")
          .flex.flex-col
            h3 ZeroDay | Кибербезопасность
            a(href="https://t.me/cybersec_academy" target="_blank") @cybersec_academy 
      td Интернет технологии
      td.text-right 999 999
      td 
        +dropdown({
          label: '1/24',
          class: 'dropdown-base',
          buttons: [
            { title: '1/24', checked: true },
            { title: '1/48' },
            { title: '1/72' },
            { title: 'Нативный' },
          ],
        })
      td.text-right 15%
      td.text-right 15%
      td.text-center 25,5%
      td.text-center 25,5%
      td
        .flex.justify-center(class="gap-x-2.5")
          span.male.inline-block 45%
          span.female.inline-block 55%
    tr 
      td.border-r.border-black-500 
        .flex.items-center(class="gap-x-[6px]")
          img.rounded(class="w-[30px] h-[30px]" src="/assets/images/tg-channel.png", alt="tg-channel")
          .flex.flex-col
            h3 ZeroDay | Кибербезопасность
            a(href="https://t.me/cybersec_academy" target="_blank") @cybersec_academy 
      td Интернет технологии
      td.text-right 999 999
      td 
        +dropdown({
          label: '1/24',
          class: 'dropdown-base',
          buttons: [
            { title: '1/24', checked: true },
            { title: '1/48' },
            { title: '1/72' },
            { title: 'Нативный' },
          ],
        })
      td.text-right 15%
      td.text-right 15%
      td.text-center 25,5%
      td.text-center 25,5%
      td
        .flex.justify-center(class="gap-x-2.5")
          span.male.inline-block 45%
          span.female.inline-block 55%
    tr 
      td.border-r.border-black-500 
        .flex.items-center(class="gap-x-[6px]")
          img.rounded(class="w-[30px] h-[30px]" src="/assets/images/tg-channel.png", alt="tg-channel")
          .flex.flex-col
            h3 ZeroDay | Кибербезопасность
            a(href="https://t.me/cybersec_academy" target="_blank") @cybersec_academy 
      td Интернет технологии
      td.text-right 999 999
      td 
        +dropdown({
          label: '1/24',
          class: 'dropdown-base',
          buttons: [
            { title: '1/24', checked: true },
            { title: '1/48' },
            { title: '1/72' },
            { title: 'Нативный' },
          ],
        })
      td.text-right 15%
      td.text-right 15%
      td.text-center 25,5%
      td.text-center 25,5%
      td
        .flex.justify-center(class="gap-x-2.5")
          span.male.inline-block 45%
          span.female.inline-block 55%
    tr 
      td.border-r.border-black-500 
        .flex.items-center(class="gap-x-[6px]")
          img.rounded(class="w-[30px] h-[30px]" src="/assets/images/tg-channel.png", alt="tg-channel")
          .flex.flex-col
            h3 ZeroDay | Кибербезопасность
            a(href="https://t.me/cybersec_academy" target="_blank") @cybersec_academy 
      td Интернет технологии
      td.text-right 999 999
      td 
        +dropdown({
          label: '1/24',
          class: 'dropdown-base',
          buttons: [
            { title: '1/24', checked: true },
            { title: '1/48' },
            { title: '1/72' },
            { title: 'Нативный' },
          ],
        })
      td.text-right 15%
      td.text-right 15%
      td.text-center 25,5%
      td.text-center 25,5%
      td
        .flex.justify-center(class="gap-x-2.5")
          span.male.inline-block 45%
          span.female.inline-block 55%
    tr 
      td.border-r.border-black-500 
        .flex.items-center(class="gap-x-[6px]")
          img.rounded(class="w-[30px] h-[30px]" src="/assets/images/tg-channel.png", alt="tg-channel")
          .flex.flex-col
            h3 ZeroDay | Кибербезопасность
            a(href="https://t.me/cybersec_academy" target="_blank") @cybersec_academy 
      td Интернет технологии
      td.text-right 999 999
      td 
        +dropdown({
          label: '1/24',
          class: 'dropdown-base',
          buttons: [
            { title: '1/24', checked: true },
            { title: '1/48' },
            { title: '1/72' },
            { title: 'Нативный' },
          ],
        })
      td.text-right 15%
      td.text-right 15%
      td.text-center 25,5%
      td.text-center 25,5%
      td
        .flex.justify-center(class="gap-x-2.5")
          span.male.inline-block 45%
          span.female.inline-block 55%
    tr 
      td.border-r.border-black-500 
        .flex.items-center(class="gap-x-[6px]")
          img.rounded(class="w-[30px] h-[30px]" src="/assets/images/tg-channel.png", alt="tg-channel")
          .flex.flex-col
            h3 ZeroDay | Кибербезопасность
            a(href="https://t.me/cybersec_academy" target="_blank") @cybersec_academy 
      td Интернет технологии
      td.text-right 999 999
      td 
        +dropdown({
          label: '1/24',
          class: 'dropdown-base',
          buttons: [
            { title: '1/24', checked: true },
            { title: '1/48' },
            { title: '1/72' },
            { title: 'Нативный' },
          ],
        })
      td.text-right 15%
      td.text-right 15%
      td.text-center 25,5%
      td.text-center 25,5%
      td
        .flex.justify-center(class="gap-x-2.5")
          span.male.inline-block 45%
          span.female.inline-block 55%
    tr 
      td.border-r.border-black-500 
        .flex.items-center(class="gap-x-[6px]")
          img.rounded(class="w-[30px] h-[30px]" src="/assets/images/tg-channel.png", alt="tg-channel")
          .flex.flex-col
            h3 ZeroDay | Кибербезопасность
            a(href="https://t.me/cybersec_academy" target="_blank") @cybersec_academy 
      td Интернет технологии
      td.text-right 999 999
      td 
        +dropdown({
          label: '1/24',
          class: 'dropdown-base',
          buttons: [
            { title: '1/24', checked: true },
            { title: '1/48' },
            { title: '1/72' },
            { title: 'Нативный' },
          ],
        })
      td.text-right 15%
      td.text-right 15%
      td.text-center 25,5%
      td.text-center 25,5%
      td
        .flex.justify-center(class="gap-x-2.5")
          span.male.inline-block 45%
          span.female.inline-block 55%
    tr 
      td.border-r.border-black-500 
        .flex.items-center(class="gap-x-[6px]")
          img.rounded(class="w-[30px] h-[30px]" src="/assets/images/tg-channel.png", alt="tg-channel")
          .flex.flex-col
            h3 ZeroDay | Кибербезопасность
            a(href="https://t.me/cybersec_academy" target="_blank") @cybersec_academy 
      td Интернет технологии
      td.text-right 999 999
      td 
        +dropdown({
          label: '1/24',
          class: 'dropdown-base',
          buttons: [
            { title: '1/24', checked: true },
            { title: '1/48' },
            { title: '1/72' },
            { title: 'Нативный' },
          ],
        })
      td.text-right 15%
      td.text-right 15%
      td.text-center 25,5%
      td.text-center 25,5%
      td
        .flex.justify-center(class="gap-x-2.5")
          span.male.inline-block 45%
          span.female.inline-block 55%
    tr 
      td.border-r.border-black-500 
        .flex.items-center(class="gap-x-[6px]")
          img.rounded(class="w-[30px] h-[30px]" src="/assets/images/tg-channel.png", alt="tg-channel")
          .flex.flex-col
            h3 ZeroDay | Кибербезопасность
            a(href="https://t.me/cybersec_academy" target="_blank") @cybersec_academy 
      td Интернет технологии
      td.text-right 999 999
      td 
        +dropdown({
          label: '1/24',
          class: 'dropdown-base',
          buttons: [
            { title: '1/24', checked: true },
            { title: '1/48' },
            { title: '1/72' },
            { title: 'Нативный' },
          ],
        })
      td.text-right 15%
      td.text-right 15%
      td.text-center 25,5%
      td.text-center 25,5%
      td
        .flex.justify-center(class="gap-x-2.5")
          span.male.inline-block 45%
          span.female.inline-block 55%
    tr 
      td.border-r.border-black-500 
        .flex.items-center(class="gap-x-[6px]")
          img.rounded(class="w-[30px] h-[30px]" src="/assets/images/tg-channel.png", alt="tg-channel")
          .flex.flex-col
            h3 ZeroDay | Кибербезопасность
            a(href="https://t.me/cybersec_academy" target="_blank") @cybersec_academy 
      td Интернет технологии
      td.text-right 999 999
      td 
        +dropdown({
          label: '1/24',
          class: 'dropdown-base',
          buttons: [
            { title: '1/24', checked: true },
            { title: '1/48' },
            { title: '1/72' },
            { title: 'Нативный' },
          ],
        })
      td.text-right 15%
      td.text-right 15%
      td.text-center 25,5%
      td.text-center 25,5%
      td
        .flex.justify-center(class="gap-x-2.5")
          span.male.inline-block 45%
          span.female.inline-block 55%
    tr 
      td.border-r.border-black-500 
        .flex.items-center(class="gap-x-[6px]")
          img.rounded(class="w-[30px] h-[30px]" src="/assets/images/tg-channel.png", alt="tg-channel")
          .flex.flex-col
            h3 ZeroDay | Кибербезопасность
            a(href="https://t.me/cybersec_academy" target="_blank") @cybersec_academy 
      td Интернет технологии
      td.text-right 999 999
      td 
        +dropdown({
          label: '1/24',
          class: 'dropdown-base',
          buttons: [
            { title: '1/24', checked: true },
            { title: '1/48' },
            { title: '1/72' },
            { title: 'Нативный' },
          ],
        })
      td.text-right 15%
      td.text-right 15%
      td.text-center 25,5%
      td.text-center 25,5%
      td
        .flex.justify-center(class="gap-x-2.5")
          span.male.inline-block 45%
          span.female.inline-block 55%
    tr 
      td.border-r.border-black-500 
        .flex.items-center(class="gap-x-[6px]")
          img.rounded(class="w-[30px] h-[30px]" src="/assets/images/tg-channel.png", alt="tg-channel")
          .flex.flex-col
            h3 ZeroDay | Кибербезопасность
            a(href="https://t.me/cybersec_academy" target="_blank") @cybersec_academy 
      td Интернет технологии
      td.text-right 999 999
      td 
        +dropdown({
          label: '1/24',
          class: 'dropdown-base',
          buttons: [
            { title: '1/24', checked: true },
            { title: '1/48' },
            { title: '1/72' },
            { title: 'Нативный' },
          ],
        })
      td.text-right 15%
      td.text-right 15%
      td.text-center 25,5%
      td.text-center 25,5%
      td
        .flex.justify-center(class="gap-x-2.5")
          span.male.inline-block 45%
          span.female.inline-block 55%
    tr 
      td.border-r.border-black-500 
        .flex.items-center(class="gap-x-[6px]")
          img.rounded(class="w-[30px] h-[30px]" src="/assets/images/tg-channel.png", alt="tg-channel")
          .flex.flex-col
            h3 ZeroDay | Кибербезопасность
            a(href="https://t.me/cybersec_academy" target="_blank") @cybersec_academy 
      td Интернет технологии
      td.text-right 999 999
      td 
        +dropdown({
          label: '1/24',
          class: 'dropdown-base',
          buttons: [
            { title: '1/24', checked: true },
            { title: '1/48' },
            { title: '1/72' },
            { title: 'Нативный' },
          ],
        })
      td.text-right 15%
      td.text-right 15%
      td.text-center 25,5%
      td.text-center 25,5%
      td
        .flex.justify-center(class="gap-x-2.5")
          span.male.inline-block 45%
          span.female.inline-block 55%
    tr 
      td.border-r.border-black-500 
        .flex.items-center(class="gap-x-[6px]")
          img.rounded(class="w-[30px] h-[30px]" src="/assets/images/tg-channel.png", alt="tg-channel")
          .flex.flex-col
            h3 ZeroDay | Кибербезопасность
            a(href="https://t.me/cybersec_academy" target="_blank") @cybersec_academy 
      td Интернет технологии
      td.text-right 999 999
      td 
        +dropdown({
          label: '1/24',
          class: 'dropdown-base',
          buttons: [
            { title: '1/24', checked: true },
            { title: '1/48' },
            { title: '1/72' },
            { title: 'Нативный' },
          ],
        })
      td.text-right 15%
      td.text-right 15%
      td.text-center 25,5%
      td.text-center 25,5%
      td
        .flex.justify-center(class="gap-x-2.5")
          span.male.inline-block 45%
          span.female.inline-block 55%
