.bills-action {
  .dropdown {
    &__button {
      & > .button {
        svg {
          @apply text-white-000;
        }
        &:hover {
          @apply bg-transparent;
        }
        @apply relative w-auto min-w-max;
      }
      @apply pr-2 transition-all duration-300;
    }
    &__list {
      .button {
        &.disabled {
          @apply pointer-events-none;
        }
        i {
          @apply text-purple-425 not-italic;
        }
      }
      @apply max-w-full max-h-full;
    }
  }
}
.bills-row {
  .table tbody tr td, 
  .table tbody tr th {
    @apply border-r-0 transition-all duration-300;
  }
  &:hover {
    .table tbody tr .fixed-td, 
    .table tbody tr .fixed-th {
      @apply bg-white-000;
    }
  }

  .table tbody tr:hover .fixed-td, 
  .table tbody tr:hover .fixed-th,
  .table tbody tr:hover td, 
  .table tbody tr:hover th  {
    @apply bg-purple-300;
  }
}
.bills-group {
  .dropdown-status {
    .dropdown__list {
      a {
        &:hover {
          @apply text-black-100;
        }
      }
    }
  }
  &.layered {
    & > td {
      &:after {
        height: 47px;
      }
    }
    @apply z-[1000];
  }
  &:not(.layered) {
    &:hover {
      td.fixed-td {
        @apply bg-purple-300;
      }
    }
  }
  &__toggle {
    svg {
      @apply ml-1;
    }
    label {
      input {
        &:checked ~ span {
          &:before,
          &:after {
            @apply bg-white-000 rotate-0 translate-x-0;
          }
          @apply bg-blue-000;
        }
        @apply invisible opacity-0 w-0 h-0;
      }
      span {
        &:before,
        &:after {
          @apply absolute bg-black-100 rounded-sm w-[6px] h-[1.5px] content-[''];
        }
        &:before {
          @apply rotate-45 -translate-x-[1.7px];
        }
        &:after {
          @apply -rotate-45 translate-x-[1.7px];
        }
        &:hover {
          @apply bg-black-600;
        }
        @apply relative flex justify-center items-center rounded min-w-5 h-4 transition-all duration-300;
      }
      @apply flex justify-center items-center mr-1 w-4 h-4 cursor-pointer;
    }
    @apply z-20 relative flex items-center gap-x-1;
  }
  & + tr {
    z-index: 10;
    &:hover {
      background: transparent !important;
    }
    & > td {
      padding-right: 0 !important;
      &:first-child {
        &:before {
          @apply -top-px left-0 absolute bg-white-000 w-10 h-[2px] content-[''];
        }
      }
    }
    @apply hidden relative;
  }
  &__table {
    padding-left: 57px !important;
    table {
      &:before {
        @apply -top-px left-10 absolute bg-black-500 w-px h-[calc(100%+1px)] content-[''];
      }
      &:after {
        @apply -top-[15.5px] left-[57px] absolute bg-black-500 w-px h-[calc(100%-24.5px)] content-[''];
      }
    }
    th:nth-child(1),
    td:nth-child(1) {
      .table__sortbutton {
        @apply -right-1.5 relative;
      }
      @apply pl-3;
    }
    td:nth-child(1),
    th:nth-child(1) {
      @apply border-black-500 border-r border-l;
    }
    .content-scroll {
      @apply pb-2;
    }
    // tbody {
    //   tr {
    //     &:after {
    //       @apply top-[23px] -left-[25px] absolute bg-black-500 w-[25px] h-px content-[''];
    //     }
    //     @apply relative;
    //   }
    // }
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    @apply w-full;
  }
  &.active {
    background-color: transparent !important;
    &:nth-child(4n + 3) {
      & + tr {
        &:hover {
          @apply bg-black-700;
        }
        & > td:first-child:before {
          @apply bg-black-700;
        }
        @apply bg-black-700;
      }
      &:hover {
        @apply bg-black-700;
      }
      @apply bg-black-700;
    }
    .advertising-group {
      &__toggle {
        label {
          span {
            @apply min-w-4;
          }
        }
      }
    }
    & + tr {
      &:hover {
        @apply bg-transparent;
      }
      @apply table-row pb-2.5;
    }
    & > td {
      background-color: transparent !important;
      &:first-child {
        &:before {
          @apply z-0 absolute inset-0 bg-white-000 h-[46px] content-[''];
        }
      }
      @apply border-b-0;
    }
    &:hover {
      @apply bg-transparent;
    }
  }
  &-inner {
    &.active > td:first-child:before {
      display: none;
    }
    & + tr {
      .bills-group__table table:before {
        display: none;
      }
    }
  }
}