.bills-action {
  .dropdown {
    &__button {
      & > .button {
        svg {
          @apply text-white-000;
        }
        &:hover {
          @apply bg-transparent;
        }
        @apply relative w-auto min-w-max;
      }
      @apply pr-2 transition-all duration-300;
    }
    &__list {
      .button {
        &.disabled {
          @apply pointer-events-none;
        }
      }
      @apply max-w-full;
    }
  }
}
.bills-group {
  &__toggle {
    p {
      @apply mr-1;
    }
    label {
      input {
        &:checked ~ span {
          &:before,
          &:after {
            @apply bg-white-000 rotate-0 translate-x-0;
          }
          @apply bg-blue-000;
        }
        @apply invisible opacity-0 w-0 h-0;
      }
      span {
        &:before,
        &:after {
          @apply absolute bg-black-100 rounded-sm w-[6px] h-[1.5px] content-[''];
        }
        &:before {
          @apply rotate-45 -translate-x-[1.7px];
        }
        &:after {
          @apply -rotate-45 translate-x-[1.7px];
        }
        &:hover {
          @apply bg-black-600;
        }
        @apply relative flex justify-center items-center rounded min-w-5 h-4 transition-all duration-300;
      }
      @apply flex justify-center items-center mr-1 w-4 h-4 cursor-pointer;
    }
    @apply z-20 relative flex items-center gap-x-[2px];
  }
  & + tr {
    & > td {
      padding-right: 0 !important;
      &:first-child {
        &:before {
          @apply -top-px left-0 absolute bg-white-000 w-10 h-[2px] content-[''];
        }
        &:after {
          @apply -top-4 left-[15.5px] absolute bg-black-500 w-px h-[calc(100%-16px)] content-[''];
        }
      }
    }
    @apply hidden relative;
  }
  &__table {
    th:nth-child(1),
    td:nth-child(1) {
      .table__sortbutton {
        @apply -right-1.5 relative;
      }
      @apply pl-3;
    }
    td:nth-child(1) {
      @apply border-black-500 border-l;
    }
    th:nth-child(2),
    td:nth-child(2) {
      @apply pl-0;
    }
    .content-scroll {
      @apply pb-2;
    }
    tbody {
      tr {
        &:after {
          @apply top-[23px] -left-[25px] absolute bg-black-500 w-[25px] h-px content-[''];
        }
        @apply relative;
      }
    }
  }
  &.active {
    &:nth-child(4n + 3) {
      & + tr {
        &:hover {
          @apply bg-black-700;
        }
        & > td:first-child:before {
          @apply bg-black-700;
        }
        @apply bg-black-700;
      }
      &:hover {
        @apply bg-black-700;
      }
      @apply bg-black-700;
    }
    .advertising-group {
      &__toggle {
        label {
          span {
            @apply min-w-4;
          }
        }
      }
    }
    & + tr {
      &:hover {
        @apply bg-transparent;
      }
      @apply table-row;
    }
    & > td {
      @apply border-purple-300;
    }
    &:hover {
      @apply bg-transparent;
    }
  }
}