.content-aside {
  &__container {
    &::-webkit-scrollbar {
      @apply hidden;
    }
    .selectors {
      @apply mt-0;
    }
    .selector {
      &__containers {
        @apply mt-0;
      }
    }
    .table {
      th,
      td {
        &:nth-child(1),
        &:nth-child(2) {
          @apply pl-3;
        }
        @apply pl-3 border-black-500 align-middle;
      }
      tr:first-child th:first-child {
        @apply border-t rounded-tl-[10px];
      }
      tr:first-child td:last-child {
        @apply border-t rounded-tr-[10px];
      }
      tr:last-child th:first-child {
        @apply border-b rounded-bl-[10px];
      }
      tr:last-child td:last-child {
        @apply border-b rounded-br-[10px];
      }
      tr th:first-child {
        @apply border-l h-10;
      }
      tr td:last-child {
        @apply py-0 pr-3 border-r h-10;
      }
      tbody {
        tr {
          &:hover {
            @apply bg-transparent;
          }
        }
      }
      th {
        @apply pr-4 border-r w-[129px] min-w-[129px] max-w-[129px] text-12-sb-p;
      }
      td {
        .dropdown {
          &__button {
            .button {
              &.sm {
                svg {
                  @apply w-2.5 h-[5px];
                }
              }
              @apply right-0;
            }
            .dropdown__image {
              @apply w-6 h-6;
            }
            @apply p-0 border-none rounded-none w-full h-6;
          }
          &__title {
            @apply font-normal text-black-100;
          }
          &-radios,
          &-checkboxes-images {
            .dropdown__list {
              @apply min-w-[228px];
            }
            .dropdown__sort {
              .button {
                @apply top-auto right-0;
              }
              @apply items-center p-0 border-none min-h-[26px] max-h-[26px];
            }
            .dropdown__values {
              @apply max-h-[26px];
            }
            .dropdown__value {
              img {
                @apply border border-black-700 rounded-full;
              }
              &:not(:first-child) {
                @apply -ml-3;
              }
              @apply bg-transparent p-0 border-none max-w-[26px];
            }
            .dropdown__items {
              @apply max-h-[116px];
            }
            .dropdown__show-all {
              @apply bg-purple-300 -ml-3 border-none rounded-full text-12-r text-black-100;
            }
          }
          @apply flex items-center w-full h-6;
        }
        .input {
          &__container {
            .symbol {
              @apply right-0 absolute bg-black-700 pr-5 pl-1 text-black-200 transition-all duration-300;
            }
            @apply relative flex justify-center w-auto;
          }
          @apply w-auto;
        }
        .input__el {
          &:focus,
          &:active,
          &:hover {
            & ~ .symbol {
              @apply bg-black-600 pr-2;
            }
            @apply bg-black-600 pl-2 border-transparent;
          }
          &::placeholder {
            @apply text-black-100;
          }
          @apply bg-transparent p-2 pl-0 border-none rounded-[4px] w-auto max-w-[158px] h-[30px];
        }
        @apply bg-black-700;
      }
      @apply mt-4 w-full border-separate border-spacing-0;
    }
    .textarea {
      @apply min-h-[115px];
    }
    @apply relative pb-3 overflow-y-auto;
  }
  &:before,
  &:after {
    @apply invisible -z-[1] absolute from-white-000 opacity-0 rounded-[10px] w-full h-[75px] content-[''] transition-all duration-300;
  }
  &:before {
    @apply top-0 bg-gradient-to-b to-transparent;
  }
  &:after {
    @apply bottom-0 bg-gradient-to-t to-transparent;
  }
  &.visible-top {
    &:before {
      @apply z-10 opacity-100 visible;
    }
  }
  &.visible-bottom {
    &:after {
      @apply z-10 opacity-100 visible;
    }
  }
  &__subtitle {
    .dropdown__button svg {
      @apply text-black-200;
    }
    .dropdown {
      &__list {
        @apply w-auto;
      }
      @apply w-auto;
    }
    &:first-child {
      @apply mt-6;
    }
    @apply flex items-center gap-x-1 mt-6 text-14-sb-p;
  }
  &__textarea {
    @apply mt-4;
  }
  &__buttons {
    label {
      input {
        @apply invisible left-0 absolute;
      }
      @apply relative;
    }
    @apply flex items-center gap-x-1 opacity-0 transition-all duration-300;
  }
  @apply right-6 z-20 absolute bg-white-000 shadow-[0_24px_0_#fff] px-4 pt-3 border border-black-500 rounded-[10px] min-w-[346px] max-w-[346px];
}