aside.filter(data-filter-name="channels")
  .filter__container
    .filter__title
      h2 Фильтр
      button(type="button" data-filter-name="channels").filter__clear Сбросить
    form(action="#")
      h3.filter__subtitle Канал
        button(type="button").clear-this-sorting.not-sorted
          svg(width="6" height="6" viewBox="0 0 9 9")
            use(xlink:href="#other-close-icon")
      <div class="dropdown dropdown-checkboxes">
        <div class="dropdown__container">
          <div class="dropdown__sort">
            <div class="dropdown__values"></div>
            <button class="button button-icon sm" type="button" aria-label="button">
              <svg viewBox="0 0 10 6" width="10" height="6">
                <use xlink:href="#other-angle-down-icon"></use>
              </svg>
            </button>
          </div>
          <div class="dropdown__button">
            <div class="dropdown__inner">
              <div class="dropdown__title dropdown__title-all">Все</div>
            </div>
            <button class="button button-icon sm" type="button" aria-label="button">
              <svg viewBox="0 0 10 6" width="10" height="6">
                <use xlink:href="#other-angle-down-icon"></use>
              </svg>
            </button>
          </div>
          <div class="dropdown__list">
            <div class="dropdown__results">
              <div class="dropdown__selected">Выбрано:<span>0</span></div>
              <div class="dropdown__count">Показано: 25</div>
            </div>
            <div class="dropdown__items">
              <div class="checkbox">
                <label class="input-checkbox input-checkbox-with-label check-all">
                  <input class="input-checkbox-with-label check-all" type="checkbox" name="checkbox" value="Все"><span></span>
                  <p>Все</p>
                </label>
              </div>
              <div class="checkbox">
                <label class="input-checkbox input-checkbox-with-icon input-checkbox-with-label undefined">
                  <input class="input-checkbox-with-label undefined" type="checkbox" name="checkbox" value="ZeroDay | Кибезопасность ">
                  <span></span>
                  .channel__avatar
                    .channel__src
                      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="5" cy="5" r="5" fill="#0077FF"/>
                        <path d="M5.26794 7C3.21797 7 2.04872 5.4985 2 3H3.02686C3.06059 4.83383 3.8176 5.61061 4.41722 5.77077V3H5.38415V4.58158C5.97628 4.51351 6.59832 3.79279 6.80819 3H7.7751C7.61395 3.97698 6.93938 4.6977 6.45968 4.99399C6.93938 5.23423 7.70768 5.86286 8 7H6.93563C6.70702 6.23924 6.13743 5.65065 5.38415 5.57057V7H5.26794Z" fill="white"/>
                      </svg>
                    .channel__img(style="border: 1.5px solid #0077FF;")
                      <img src="/assets/images/avatar.png" alt="image" class="">
                  <p>ZeroDay | Кибезопасность </p>
                  <a href="https://t.me/andreym">@andreym</a>
                </label>
              </div>
              <div class="checkbox">
                <label class="input-checkbox input-checkbox-with-icon input-checkbox-with-label undefined">
                  <input class="input-checkbox-with-label undefined" type="checkbox" name="checkbox" value="ZeroDay | Кибезопасность ">
                  <span></span>
                  .channel__avatar
                    .channel__src
                      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="5" cy="5" r="5" fill="black"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.49995 4.25975C7.49995 4.3108 7.47917 4.35844 7.44081 4.39077C7.40404 4.42311 7.35609 4.42821 7.30814 4.42651C7.01082 4.418 6.54568 4.30909 6.32669 4.08618V6.22005C6.32669 7.20361 5.57861 7.99999 4.65471 7.99999H4.48208C4.09525 7.99999 3.72761 7.85024 3.4303 7.59329C3.65888 7.71411 3.90983 7.78558 4.17038 7.78558H4.34301C5.26692 7.78558 6.01499 6.9892 6.01499 6.00565V3.87177C6.23398 4.09298 6.69913 4.20359 6.99644 4.2121C7.04439 4.2121 7.09235 4.2087 7.12911 4.17637C7.16587 4.14403 7.18825 4.09639 7.18825 4.04534C7.18825 3.8037 7.18825 3.40211 7.18825 3.19111C7.24899 3.20982 7.31133 3.22514 7.37367 3.24045C7.4472 3.25747 7.49995 3.32554 7.49995 3.40551C7.49995 3.61652 7.49995 4.01981 7.49995 4.25975ZM4.37019 5.01358C4.33982 5.04591 4.29985 5.06293 4.2567 5.06293C3.81552 5.06293 3.45747 5.4441 3.45747 5.91376C3.45747 6.28302 3.67966 6.59442 3.98976 6.71183C3.85389 6.55868 3.76917 6.35449 3.76917 6.12817C3.76917 5.65851 4.12722 5.27734 4.56839 5.27734C4.61155 5.27734 4.65151 5.26032 4.68188 5.22799C4.71225 5.19566 4.72824 5.15312 4.72824 5.10717V4.59667C4.72824 4.55243 4.71066 4.50819 4.68188 4.47586C4.65311 4.44353 4.61155 4.42651 4.56839 4.42651H4.48208C4.4597 4.42651 4.43892 4.43332 4.41654 4.43332V4.89276C4.41654 4.93871 4.39896 4.98125 4.37019 5.01358ZM6.55527 2.85418C6.4226 2.72655 6.3107 2.55809 6.23078 2.32837C6.2068 2.262 6.14766 2.21436 6.08053 2.21436H5.96224C6.10131 2.53937 6.30751 2.72996 6.55527 2.85248V2.85418Z" fill="#FE2C55"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.30082 7.47933C3.34078 7.52187 3.38874 7.55591 3.4319 7.59334C3.27045 7.50826 3.1186 7.40276 2.98913 7.26492C2.67583 6.9314 2.5 6.47876 2.5 6.0057V5.99209C2.5 5.00853 3.24807 4.21215 4.17198 4.21215H4.25829C4.30145 4.21215 4.34141 4.23087 4.37178 4.2615C4.40215 4.29383 4.41814 4.33637 4.41814 4.38232V4.43337C3.5262 4.4708 2.8117 5.24676 2.8117 6.20649V6.22011C2.8117 6.69147 2.98753 7.14411 3.30082 7.47933ZM7.18665 3.19116C7.18665 3.11118 7.1339 3.04141 7.06038 3.0261C6.88135 2.98356 6.71032 2.93251 6.55367 2.85423C6.7311 3.0244 6.94848 3.12139 7.18506 3.19116H7.18665ZM4.56839 6.98075C4.78099 6.98075 4.98399 6.89056 5.13424 6.73231C5.2845 6.57405 5.36762 6.35624 5.36762 6.12992V2.38628C5.36762 2.29268 5.43955 2.21611 5.52746 2.21611H5.96224C5.94786 2.18208 5.93187 2.15145 5.91908 2.11401C5.89511 2.04765 5.83596 2 5.76883 2H5.21577C5.12785 2 5.05592 2.07657 5.05592 2.17017V5.91381C5.05592 6.14013 4.9712 6.35624 4.82255 6.5162C4.67389 6.67615 4.46929 6.76464 4.2567 6.76464C4.16239 6.76464 4.07287 6.74422 3.98975 6.71189C4.13521 6.87525 4.33982 6.97905 4.56839 6.97905V6.98075Z" fill="#25F4EE"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.34455 7.78583C5.26845 7.78583 6.01653 6.98945 6.01653 6.0059V3.87202C6.23551 4.09324 6.70066 4.20384 6.99797 4.21235C7.04593 4.21235 7.09388 4.20895 7.13064 4.17662C7.16741 4.14429 7.18979 4.09664 7.18979 4.04559C7.18979 3.80395 7.18979 3.40236 7.18979 3.19136C6.95322 3.12159 6.73583 3.0246 6.5584 2.85443C6.31224 2.73191 6.10444 2.53962 5.96537 2.21631H5.5306C5.44268 2.21631 5.37075 2.29288 5.37075 2.38647V6.13012C5.37075 6.35644 5.28603 6.57255 5.13738 6.7325C4.98872 6.89246 4.78412 6.98095 4.57153 6.98095C4.34295 6.98095 4.13835 6.87715 3.99289 6.71379C3.68439 6.59637 3.4606 6.28497 3.4606 5.91571C3.4606 5.44605 3.81866 5.06488 4.25983 5.06488C4.30299 5.06488 4.34295 5.04786 4.37332 5.01553C4.40369 4.9832 4.41967 4.94066 4.41967 4.89472V4.43527C3.52774 4.4727 2.81323 5.24866 2.81323 6.20839V6.22201C2.81323 6.69337 2.98906 7.14601 3.30236 7.48123C3.34232 7.52378 3.39027 7.55781 3.43343 7.59524C3.66201 7.71606 3.91297 7.78753 4.17351 7.78753H4.34615L4.34455 7.78583Z" fill="white"/>
                      </svg>
                    .channel__img(style="border: 1.5px solid #FE2C55;")
                      <img src="/assets/images/avatar.png" alt="image" class="">
                  <p>ZeroDay | Кибезопасность </p>
                  <a href="https://t.me/andreym">@andreym</a>
                </label>
              </div>
              <div class="checkbox">
                <label class="input-checkbox input-checkbox-with-icon input-checkbox-with-label undefined">
                  <input class="input-checkbox-with-label undefined" type="checkbox" name="checkbox" value="ZeroDay | Кибезопасность ">
                  <span></span>
                  .channel__avatar
                    .channel__src
                      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="5" cy="5" r="5" fill="#E3E5EB"/>
                        <g clip-path="url(#clip0_3958_17121)">
                        <path d="M5 10C7.76142 10 10 7.76142 10 5C10 2.23858 7.76142 0 5 0C2.23858 0 0 2.23858 0 5C0 7.76142 2.23858 10 5 10Z" fill="#00A3E3"/>
                        <path d="M1.86218 5.24449C2.44668 4.92253 3.09914 4.65382 3.70876 4.38374C4.75756 3.94136 5.81051 3.50665 6.8741 3.10195C7.08101 3.03299 7.45285 2.96557 7.48931 3.27224C7.46931 3.70632 7.38722 4.13786 7.33089 4.5694C7.18793 5.5184 7.02264 6.46415 6.86151 7.41003C6.80597 7.72507 6.41131 7.88819 6.15876 7.68657C5.55185 7.27657 4.94026 6.87065 4.3411 6.45115C4.14485 6.25174 4.32685 5.96532 4.5021 5.8229C5.00197 5.33028 5.5321 4.91174 6.00585 4.39365C6.13364 4.08507 5.75606 4.34515 5.63151 4.42486C4.94718 4.89645 4.2796 5.39682 3.5581 5.81128C3.18956 6.01415 2.76001 5.84078 2.39164 5.72753C2.06135 5.59082 1.57735 5.45303 1.86214 5.24453L1.86218 5.24449Z" fill="white"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_3958_17121">
                        <rect width="10" height="10" fill="white"/>
                        </clipPath>
                        </defs>
                      </svg>
                    .channel__img(style="border: 1.5px solid #00A3E3;")
                      <img src="/assets/images/avatar.png" alt="image" class="">
                  <p>ZeroDay | Кибезопасность </p>
                  <a href="https://t.me/andreym">@andreym</a>
                </label>
              </div>
              <div class="checkbox">
                <label class="input-checkbox input-checkbox-with-icon input-checkbox-with-label undefined">
                  <input class="input-checkbox-with-label undefined" type="checkbox" name="checkbox" value="ZeroDay | Кибезопасность ">
                  <span></span>
                  .channel__avatar
                    .channel__src
                      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="5" cy="5" r="4.65" fill="white" stroke="#F44336" stroke-width="0.7"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.58828 3.43041C7.43485 3.15748 7.26833 3.10728 6.92929 3.08819C6.5906 3.06521 5.73894 3.05566 5.00111 3.05566C4.26187 3.05566 3.40985 3.06521 3.07151 3.08784C2.73318 3.10728 2.56631 3.15713 2.41146 3.43041C2.25343 3.70299 2.17212 4.17248 2.17212 4.99905V5.00188C2.17212 5.82491 2.25343 6.29794 2.41146 6.56768C2.56631 6.84061 2.73283 6.89011 3.07116 6.91309C3.40985 6.93289 4.26187 6.94455 5.00111 6.94455C5.73894 6.94455 6.5906 6.93289 6.92964 6.91344C7.26868 6.89046 7.4352 6.84097 7.58863 6.56804C7.74808 6.29829 7.82868 5.82526 7.82868 5.00223V4.9994C7.82868 4.17248 7.74808 3.70299 7.58828 3.43041Z" fill="#F44336"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.2926 6.06067V3.93945L6.06028 5.00006L4.2926 6.06067Z" fill="#FAFAFA"/>
                      </svg>
                    .channel__img(style="border: 1.5px solid #F44336;")
                      <img src="/assets/images/avatar.png" alt="image" class="">
                  <p>ZeroDay | Кибезопасность </p>
                  <a href="https://t.me/andreym">@andreym</a>
                </label>
              </div>
              <div class="checkbox">
                <label class="input-checkbox input-checkbox-with-icon input-checkbox-with-label undefined">
                  <input class="input-checkbox-with-label undefined" type="checkbox" name="checkbox" value="ZeroDay | Кибезопасность ">
                  <span></span>
                  .channel__avatar
                    .channel__src
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_4429_14095)">
                      <path d="M15.0064 0H4.99362C2.23572 0 0 2.23572 0 4.99362V15.0064C0 17.7643 2.23572 20 4.99362 20H15.0064C17.7643 20 20 17.7643 20 15.0064V4.99362C20 2.23572 17.7643 0 15.0064 0Z" fill="url(#paint0_linear_4429_14095)"/>
                      <path d="M15.0064 0H4.99362C2.23572 0 0 2.23572 0 4.99362V15.0064C0 17.7643 2.23572 20 4.99362 20H15.0064C17.7643 20 20 17.7643 20 15.0064V4.99362C20 2.23572 17.7643 0 15.0064 0Z" fill="url(#paint1_radial_4429_14095)"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M10.1289 15.9658C8.95127 15.9658 8.40399 15.7931 7.45272 15.1024C6.85099 15.8794 4.94556 16.4866 4.86246 15.4478C4.86246 14.6679 4.69054 14.0089 4.4957 13.2894C4.26361 12.4031 4 11.416 4 9.98576C4 6.56985 6.79083 4 10.0974 4C13.4068 4 16 6.69647 16 10.0174C16.0111 13.287 13.3843 15.9483 10.1289 15.9658ZM10.1776 6.95258C8.56733 6.86914 7.31231 7.98859 7.03438 9.74403C6.80515 11.1973 7.21203 12.9671 7.55873 13.0592C7.72492 13.0995 8.14326 12.7599 8.40399 12.4981C8.83515 12.7972 9.33723 12.9769 9.85959 13.0189C11.5281 13.0995 12.9538 11.8237 13.0659 10.1498C13.1311 8.4723 11.8464 7.05147 10.1776 6.95547V6.95258Z" fill="white"/>
                      </g>
                      <defs>
                      <linearGradient id="paint0_linear_4429_14095" x1="2.35694" y1="15.2107" x2="20" y2="10" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#44CCFF"/>
                      <stop offset="0.662" stop-color="#5533EE"/>
                      <stop offset="1" stop-color="#9933DD"/>
                      </linearGradient>
                      <radialGradient id="paint1_radial_4429_14095" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(-0.475816 -8.78371) rotate(51.356) scale(24.2703 10)">
                      <stop stop-color="#0000FF"/>
                      <stop offset="1" stop-opacity="0"/>
                      </radialGradient>
                      <clipPath id="clip0_4429_14095">
                      <rect width="20" height="20" rx="10" fill="white"/>
                      </clipPath>
                      </defs>
                      </svg>
                    .channel__img.channel__img-max
                      <img src="/assets/images/avatar.png" alt="image" class="">
                  <p>ZeroDay | Кибезопасность </p>
                  <a href="https://t.me/andreym">@andreym</a>
                </label>
              </div>
              <div class="checkbox">
                <label class="input-checkbox input-checkbox-with-icon input-checkbox-with-label undefined">
                  <input class="input-checkbox-with-label undefined" type="checkbox" name="checkbox" value="ZeroDay | Кибезопасность ">
                  <span></span>
                  .channel__avatar
                    .channel__img
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_3958_17143)">
                        <path d="M10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20Z" fill="#00A3E3"/>
                        <path d="M3.72424 10.489C4.89324 9.84506 6.19816 9.30764 7.41741 8.76747C9.51499 7.88272 11.6209 7.01331 13.7481 6.20389C14.1619 6.06597 14.9056 5.93114 14.9785 6.54448C14.9385 7.41264 14.7743 8.27572 14.6617 9.13881C14.3757 11.0368 14.0452 12.9283 13.7229 14.8201C13.6118 15.4501 12.8225 15.7764 12.3174 15.3731C11.1036 14.5531 9.8804 13.7413 8.68207 12.9023C8.28957 12.5035 8.65357 11.9306 9.00407 11.6458C10.0038 10.6606 11.0641 9.82347 12.0116 8.78731C12.2672 8.17014 11.512 8.69031 11.2629 8.84972C9.89424 9.79289 8.55907 10.7936 7.11607 11.6226C6.37899 12.0283 5.5199 11.6816 4.78315 11.4551C4.12257 11.1816 3.15457 10.9061 3.72415 10.4891L3.72424 10.489Z" fill="white"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_3958_17143">
                        <rect width="20" height="20" fill="white"/>
                        </clipPath>
                        </defs>
                      </svg>
                  <p>ZeroDay | Кибезопасность </p>
                  <a href="https://t.me/andreym">@andreym</a>
                </label>
              </div>
              <div class="checkbox">
                <label class="input-checkbox input-checkbox-with-icon input-checkbox-with-label undefined">
                  <input class="input-checkbox-with-label undefined" type="checkbox" name="checkbox" value="ZeroDay | Кибезопасность ">
                  <span></span>
                  .channel__avatar
                    .channel__img
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="10" cy="10" r="10" fill="#0077FF"/>
                        <path d="M10.5359 14C6.43594 14 4.09744 10.997 4 6H6.05372C6.12117 9.66767 7.63519 11.2212 8.83444 11.5415V6H10.7683V9.16316C11.9526 9.02703 13.1966 7.58559 13.6164 6H15.5502C15.2279 7.95395 13.8788 9.3954 12.9194 9.98799C13.8788 10.4685 15.4154 11.7257 16 14H13.8713C13.414 12.4785 12.2749 11.3013 10.7683 11.1411V14H10.5359Z" fill="white"/>
                      </svg>
                  <p>ZeroDay | Кибезопасность </p>
                  <a href="https://t.me/andreym">@andreym</a>
                </label>
              </div>
              <div class="checkbox">
                <label class="input-checkbox input-checkbox-with-icon input-checkbox-with-label undefined">
                  <input class="input-checkbox-with-label undefined" type="checkbox" name="checkbox" value="ZeroDay | Кибезопасность ">
                  <span></span>
                  .channel__avatar
                    .channel__img
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="10" cy="10" r="9.5" fill="white" stroke="#F44336"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.1758 6.86082C14.869 6.31496 14.5359 6.21456 13.8578 6.17638C13.1805 6.13042 11.4771 6.11133 10.0015 6.11133C8.523 6.11133 6.81896 6.13042 6.14229 6.17567C5.46563 6.21456 5.13189 6.31426 4.82219 6.86082C4.50613 7.40597 4.34351 8.34496 4.34351 9.9981V10.0038C4.34351 11.6498 4.50613 12.5959 4.82219 13.1354C5.13189 13.6812 5.46492 13.7802 6.14159 13.8262C6.81896 13.8658 8.523 13.8891 10.0015 13.8891C11.4771 13.8891 13.1805 13.8658 13.8586 13.8269C14.5366 13.7809 14.8697 13.6819 15.1765 13.1361C15.4954 12.5966 15.6566 11.6505 15.6566 10.0045V9.9988C15.6566 8.34496 15.4954 7.40597 15.1758 6.86082Z" fill="#F44336"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.58716 12.1213V7.87891L12.1225 10.0001L8.58716 12.1213Z" fill="#FAFAFA"/>
                      </svg>
                  <p>ZeroDay | Кибезопасность </p>
                  <a href="https://t.me/andreym">@andreym</a>
                </label>
              </div>
              <div class="checkbox">
                <label class="input-checkbox input-checkbox-with-icon input-checkbox-with-label undefined">
                  <input class="input-checkbox-with-label undefined" type="checkbox" name="checkbox" value="ZeroDay | Кибезопасность ">
                  <span></span>
                  .channel__avatar
                    .channel__img
                      <img src="/assets/images/tiktok.svg" alt="image" class="">
                  <p>ZeroDay | Кибезопасность </p>
                  <a href="https://t.me/andreym">@andreym</a>
                </label>
              </div>
              <div class="checkbox">
                <label class="input-checkbox input-checkbox-with-icon input-checkbox-with-label undefined">
                  <input class="input-checkbox-with-label undefined" type="checkbox" name="checkbox" value="ZeroDay | Кибезопасность ">
                  <span></span>
                  .channel__avatar
                    .channel__img
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_4429_14095)">
                      <path d="M15.0064 0H4.99362C2.23572 0 0 2.23572 0 4.99362V15.0064C0 17.7643 2.23572 20 4.99362 20H15.0064C17.7643 20 20 17.7643 20 15.0064V4.99362C20 2.23572 17.7643 0 15.0064 0Z" fill="url(#paint0_linear_4429_14095)"/>
                      <path d="M15.0064 0H4.99362C2.23572 0 0 2.23572 0 4.99362V15.0064C0 17.7643 2.23572 20 4.99362 20H15.0064C17.7643 20 20 17.7643 20 15.0064V4.99362C20 2.23572 17.7643 0 15.0064 0Z" fill="url(#paint1_radial_4429_14095)"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M10.1289 15.9658C8.95127 15.9658 8.40399 15.7931 7.45272 15.1024C6.85099 15.8794 4.94556 16.4866 4.86246 15.4478C4.86246 14.6679 4.69054 14.0089 4.4957 13.2894C4.26361 12.4031 4 11.416 4 9.98576C4 6.56985 6.79083 4 10.0974 4C13.4068 4 16 6.69647 16 10.0174C16.0111 13.287 13.3843 15.9483 10.1289 15.9658ZM10.1776 6.95258C8.56733 6.86914 7.31231 7.98859 7.03438 9.74403C6.80515 11.1973 7.21203 12.9671 7.55873 13.0592C7.72492 13.0995 8.14326 12.7599 8.40399 12.4981C8.83515 12.7972 9.33723 12.9769 9.85959 13.0189C11.5281 13.0995 12.9538 11.8237 13.0659 10.1498C13.1311 8.4723 11.8464 7.05147 10.1776 6.95547V6.95258Z" fill="white"/>
                      </g>
                      <defs>
                      <linearGradient id="paint0_linear_4429_14095" x1="2.35694" y1="15.2107" x2="20" y2="10" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#44CCFF"/>
                      <stop offset="0.662" stop-color="#5533EE"/>
                      <stop offset="1" stop-color="#9933DD"/>
                      </linearGradient>
                      <radialGradient id="paint1_radial_4429_14095" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(-0.475816 -8.78371) rotate(51.356) scale(24.2703 10)">
                      <stop stop-color="#0000FF"/>
                      <stop offset="1" stop-opacity="0"/>
                      </radialGradient>
                      <clipPath id="clip0_4429_14095">
                      <rect width="20" height="20" rx="10" fill="white"/>
                      </clipPath>
                      </defs>
                      </svg>
                  <p>ZeroDay | Кибезопасность </p>
                  <a href="https://t.me/andreym">@andreym</a>
                </label>
              </div>
              <div class="checkbox">
                <label class="input-checkbox input-checkbox-with-icon input-checkbox-with-label undefined">
                  <input class="input-checkbox-with-label undefined" type="checkbox" name="checkbox" value="ZeroDay | Кибезопасность ">
                  <span></span>
                  .channel__avatar
                    .channel__img
                      <img src="/assets/images/avatar.png" alt="image" class="">
                  <p>ZeroDay | Кибезопасность </p>
                  <a href="https://t.me/andreym">@andreym</a>
                </label>
              </div>
              <div class="checkbox">
                <label class="input-checkbox input-checkbox-with-icon input-checkbox-with-label undefined">
                  <input class="input-checkbox-with-label undefined" type="checkbox" name="checkbox" value="ZeroDay | Кибезопасность ">
                  <span></span>
                  .channel__avatar
                    .channel__img
                      <img src="/assets/images/avatar.png" alt="image" class="">
                  <p>ZeroDay | Кибезопасность </p>
                  <a href="https://t.me/andreym">@andreym</a>
                </label>
              </div>
              <div class="checkbox">
                <label class="input-checkbox input-checkbox-with-icon input-checkbox-with-label undefined">
                  <input class="input-checkbox-with-label undefined" type="checkbox" name="checkbox" value="ZeroDay | Кибезопасность ">
                  <span></span>
                  .channel__avatar
                    .channel__img
                      <img src="/assets/images/avatar.png" alt="image" class="">
                  <p>ZeroDay | Кибезопасность </p>
                  <a href="https://t.me/andreym">@andreym</a>
                </label>
              </div>
              <div class="checkbox">
                <label class="input-checkbox input-checkbox-with-icon input-checkbox-with-label undefined">
                  <input class="input-checkbox-with-label undefined" type="checkbox" name="checkbox" value="ZeroDay | Кибезопасность ">
                  <span></span>
                  .channel__avatar
                    .channel__img
                      <img src="/assets/images/avatar.png" alt="image" class="">
                  <p>ZeroDay | Кибезопасность </p>
                  <a href="https://t.me/andreym">@andreym</a>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      h3.filter__subtitle Платформа
        button(type="button").clear-this-sorting
          svg(width="6" height="6" viewBox="0 0 9 9")
            use(xlink:href="#other-close-icon")
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            class: '',
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/max.svg',
            },
            name: 'max',
            title: 'MAX',
          },
          {
            class: '',
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/telegram.svg',
            },
            name: 'telegram',
            title: 'Telegram',
          },
          {
            class: '',
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/tiktok.svg',
            },
            name: 'tiktok',
            title: 'TikTok',
          },
          {
            class: '',
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/vk.svg',
            },
            name: 'vk',
            title: 'VK',
          },
          {
            class: '',
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/youtube.svg',
            },
            name: 'youtube',
            title: 'Youtube',
          },
        ],
        class: 'dropdown-checkboxes-images dropdown-checkboxes-images-social',
        isCheckboxes: true,
        isAll: true,
        title: 'Все',
      })
      h3.filter__subtitle Формат
        button(type="button").filter__clean
          svg.expanded
            use(xlink:href="#other-close-icon")
      h4.filter__subsubtitle В топе
      .filter__format
        .filter__slider
          .filter__slider__header
            span От
            .filter__slider__values
              input#top-range-min(type="text" placeholder="0")
              +dropdown({
                buttons: [
                  {
                    dataTitle: 'мин',
                    name: 'channels-radio-1',
                    title: 'минуты',
                  },
                  {
                    dataTitle: 'час',
                    name: 'channels-radio-1',
                    title: 'часы',
                  },
                  {
                    dataTitle: 'дн',
                    name: 'channels-radio-1',
                    title: 'дни',
                  },
                  {
                    dataTitle: 'нед',
                    name: 'channels-radio-1',
                    title: 'недели',
                  },
                  {
                    dataTitle: 'мес',
                    name: 'channels-radio-1',
                    title: 'месяцы',
                  },
                ],
                class: 'dropdown-filter-format',
                isFilterFormat: true,
                title: 'мин',
              })
          #slider-top-range-min
        .filter__slider
          .filter__slider__header
            span До
            .filter__slider__values
              input#top-range-max(type="text" placeholder="0")
              +dropdown({
                buttons: [
                  {
                    dataTitle: 'мин',
                    name: 'channels-radio-2',
                    title: 'минуты',
                  },
                  {
                    dataTitle: 'час',
                    name: 'channels-radio-2',
                    title: 'часы',
                  },
                  {
                    dataTitle: 'дн',
                    name: 'channels-radio-2',
                    title: 'дни',
                  },
                  {
                    dataTitle: 'нед',
                    name: 'channels-radio-2',
                    title: 'недели',
                  },
                  {
                    dataTitle: 'мес',
                    name: 'channels-radio-2',
                    title: 'месяцы',
                  },
                ],
                class: 'dropdown-filter-format',
                isFilterFormat: true,
                title: 'мин',
              })
          #slider-top-range-max
        .filter__formats
          +input({
            class: 'input-checkbox-with-label',
            isLabel: true,
            label: 'До утра',
            name: 'format-top',
            type: 'radio',
            value: 'До утра',
          })
          +input({
            class: 'input-checkbox-with-label',
            isLabel: true,
            label: 'Без топа',
            name: 'format-top',
            type: 'radio',
            value: 'Без топа',
          })
      h4.filter__subsubtitle Без удаления
      .filter__format
        .filter__slider
          .filter__slider__header
            span От
            .filter__slider__values
              input#remove-range-min(type="text" placeholder="0")
              +dropdown({
                buttons: [
                  {
                    dataTitle: 'мин',
                    name: 'channels-radio-3',
                    title: 'минуты',
                  },
                  {
                    dataTitle: 'час',
                    name: 'channels-radio-3',
                    title: 'часы',
                  },
                  {
                    dataTitle: 'дн',
                    name: 'channels-radio-3',
                    title: 'дни',
                  },
                  {
                    dataTitle: 'нед',
                    name: 'channels-radio-3',
                    title: 'недели',
                  },
                  {
                    dataTitle: 'мес',
                    name: 'channels-radio-3',
                    title: 'месяцы',
                  },
                ],
                class: 'dropdown-filter-format',
                isFilterFormat: true,
                title: 'мин',
              })
          #slider-remove-range-min
        .filter__slider
          .filter__slider__header
            span До
            .filter__slider__values
              input#remove-range-max(type="text" placeholder="0")
              +dropdown({
                buttons: [
                  {
                    dataTitle: 'мин',
                    name: 'channels-radio-4',
                    title: 'минуты',
                  },
                  {
                    dataTitle: 'час',
                    name: 'channels-radio-4',
                    title: 'часы',
                  },
                  {
                    dataTitle: 'дн',
                    name: 'channels-radio-4',
                    title: 'дни',
                  },
                  {
                    dataTitle: 'нед',
                    name: 'channels-radio-4',
                    title: 'недели',
                  },
                  {
                    dataTitle: 'мес',
                    name: 'channels-radio-4',
                    title: 'месяцы',
                  },
                ],
                class: 'dropdown-filter-format',
                isFilterFormat: true,
                title: 'мин',
              })
          #slider-remove-range-max
        .filter__formats
          +input({
            class: 'input-checkbox-with-label',
            isLabel: true,
            label: 'До утра',
            name: 'format-remove',
            type: 'radio',
            value: 'До утра',
          })
          +input({
            class: 'input-checkbox-with-label',
            isLabel: true,
            label: 'Без удаления',
            name: 'format-remove',
            type: 'radio',
            value: 'Без удаления',
          })
      h3.filter__subtitle Категория
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        isResults: true,
      })
      h3.filter__subtitle Страна канала
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        isResults: true,
      })
      h3.filter__subtitle Язык канала
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        isResults: true,
      })
      h3.filter__subtitle Организация
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        isResults: true,
      })
      h3.filter__subtitle Администратор
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        isResults: true,
      })
      h3.filter__subtitle Подписчики
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Охват
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Расходы (GS)
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Расходы, факт (GS)
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle CPV
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Охват (24ч)
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Охват (48ч)
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Охват (72ч)
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle ИЦ
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle ER, %
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle ERR, %
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle ERR (24ч), %
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle ERR (72ч), %
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Контакт (GS)
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        isResults: true,
      })
      h3.filter__subtitle Адаптация
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        isResults: true,
      })
      h3.filter__subtitle Адаптация (GS)
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        isResults: true,
      })
      h3.filter__subtitle Кнопка
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        isResults: true,
      })
      h3.filter__subtitle Кнопка (GS)
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        isResults: true,
      })
      h3.filter__subtitle Тег
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        isResults: true,
      })
      h3.filter__subtitle Тег (GS)
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        isResults: true,
      })
      h3.filter__subtitle Мужская аудитория, %
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Женская аудитория, %
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle 18+ (посты), %
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle 18+ (слова), %
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Политика (посты), %
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Политика (слова), %
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Жесть (посты), %
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Жесть (слова), %
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Дата обновления
      +button({
        calendarClass: 'opensleft',
        class: 'button-with-icon',
        icon: 'other-calendar-icon',
        isCalendar: true,
        isDatePicker: true,
        isMonthPicker: false,
        value: 'Все',
        view: 'button',
      })
      .filter__checkboxes
        +input({
          class: 'input-checkbox-with-label',
          icon: 'other-info-icon',
          isLabel: true,
          label: 'Верифицированный',
          type: 'checkbox',
        })
        +input({
          class: 'input-checkbox-with-label',
          icon: 'other-info-icon',
          isLabel: true,
          label: 'Без красной метки',
          type: 'checkbox',
        })
        +input({
          class: 'input-checkbox-with-label',
          icon: 'other-info-icon',
          isLabel: true,
          label: 'Без метки SCAM/FAKE',
          type: 'checkbox',
        })
        +input({
          class: 'input-checkbox-with-label',
          icon: 'other-info-icon',
          isLabel: true,
          label: 'Скрывать мертвые',
          type: 'checkbox',
        })
        +input({
          class: 'input-checkbox-with-label',
          icon: 'other-info-icon',
          isLabel: true,
          label: 'Есть в нашей базе',
          type: 'checkbox',
        })
      +button({
        class: 'button-base filter__button',
        title: 'Применить',
        type: 'submit',
        view: 'button',
      })