aside.filter(data-filter-name="channels")
  .filter__container
    .filter__title
      h2 Фильтр
      button(type="button").filter__clear Сбросить
    h3.filter__subtitle Канал
    form(action="#")
      +search
    form(action="#")
      +input({
        class: 'input-checkbox-with-label',
        isLabel: true,
        label: 'также искать в описании',
        type: 'checkbox',
        value: 'также искать в описании',
      })
      h3.filter__subtitle Категория
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
      })
      h3.filter__subtitle Организация
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
      })
      h3.filter__subtitle Администратор
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
      })
      h3.filter__subtitle ERR (%)
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle ER (%)
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Мужская аудитория (%)
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Женская аудитория (%)
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Подписчиков
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Средний охват поста
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Средний охват поста (24 часа)
      +input({
        max: '100',
        min: '0',
      })
      .filter__checkboxes
        +input({
          class: 'input-checkbox-with-label',
          icon: 'other-info-icon',
          isLabel: true,
          label: 'Верифицированный',
          type: 'checkbox',
          value: 'Верифицированный',
        })
        +input({
          class: 'input-checkbox-with-label',
          icon: 'other-info-icon',
          isLabel: true,
          label: 'Без красной метки',
          type: 'checkbox',
          value: 'Без красной метки',
        })
        +input({
          class: 'input-checkbox-with-label',
          icon: 'other-info-icon',
          isLabel: true,
          label: 'Без метки SCAM/FAKE',
          type: 'checkbox',
          value: 'Без метки SCAM/FAKE',
        })
        +input({
          class: 'input-checkbox-with-label',
          icon: 'other-info-icon',
          isLabel: true,
          label: 'Скрывать мертвые',
          type: 'checkbox',
          value: 'Скрывать мертвые',
        })
        +input({
          class: 'input-checkbox-with-label',
          icon: 'other-info-icon',
          isLabel: true,
          label: 'Есть в нашей базе',
          type: 'checkbox',
          value: 'Есть в нашей базе',
        })
      +button({
        class: 'button-base filter__button',
        title: 'Применить',
        type: 'submit',
        view: 'button',
      })