tr
  td.border-r.border-black-500(style="min-width: 280px;")
    .flex.items-center(class="gap-x-1.5")
      img.rounded.object-cover(class="w-[30px] h-[30px]" src="/assets/images/avatar.png" alt="tg-channel")
      .flex.flex-col.items-start
        h3
          a(href="#").table__channel ZeroDay | Кибербезопасность
        a(href="https://t.me/cybersec_academy" target="_blank").table__link @cybersec_academy
  td.only-text Интернет технологии
  td.only-text.text-right 999 999
  td.only-text
    +dropdown({
      title: '1/24',
    })
  td.only-text.text-right 15
  td.only-text.text-right 15
  td.only-text.text-right 25,5
  td.only-text.text-right 25,5
  td.only-text
    .flex.justify-center(class="gap-x-[18px]")
      span.male.inline-block 45%
      span.female.inline-block 55%