table.table.table-default.table-mediaplan
  thead
    tr
      th(style="min-width: 280px;")
        .table__sort.flex.gap-x-2.items-center
          p Канал
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Категория
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Администратор
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p.text-right Подписчики
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center.justify-end
          p.text-right Охват
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p.text-right Последняя ставка
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p.text-right Последняя скидка
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center.justify-end
          p.text-right Себестоимость
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center.justify-end
          p.text-right Скидка
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Ближайшая дата поста
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Менеджер
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Согласование клиентом
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Согласование куратором
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Комментарий
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
  tbody
    +subrow-mediaplan({
      title: 'Согласованные каналы',
      count: '6',
      class: 'active',
    })
    +row-mediaplan({
      isRadio: true,
      accept: true,
      decline: false,
      name: 'mediaplan-1'
    })
    +row-mediaplan({
      isRadio: true,
      accept: false,
      decline: true,
      name: 'mediaplan-2'
    })
    +row-mediaplan({
      isRadio: true,
      accept: true,
      decline: false,
      name: 'mediaplan-3'
    })
    +row-mediaplan({
      isRadio: true,
      accept: false,
      decline: true,
      name: 'mediaplan-4'
    })
    +subrow-mediaplan({
      title: 'Несогласованные  каналы',
      count: '3',
      class: 'active',
    })
    +row-mediaplan({
      isRadio: true,
      accept: true,
      decline: false,
      name: 'mediaplan-5'
    })
    +row-mediaplan({
      isRadio: true,
      accept: false,
      decline: true,
      name: 'mediaplan-6'
    })
    +row-mediaplan({
      isRadio: true,
      accept: false,
      decline: true,
      name: 'mediaplan-7'
    })
    +subrow-mediaplan({
      title: 'Нераспределенные каналы',
      count: '0',
    })