tr
  td(style="padding-left: 12px; min-width: 200px;")
    .flex.items-center(class="gap-x-3")
      +input({
        class: 'md table__checkbox',
        type: 'checkbox',
      })
      .flex.items-center(class="gap-x-1.5")
        img.rounded.object-cover(class="w-[30px] h-[30px]" src="/assets/images/avatar.png" alt="tg-channel")
        .flex.flex-col.items-start
          h3
            a(href="#").table__channel Андрей Миронов
          a(href="https://t.me/andreym" target="_blank").table__link @andreym
  td.only-text
    +button({
      class: 'button-with-icon only-input',
      icon: 'other-calendar-icon',
      isCalendar: true,
      isDatePicker: true,
      isMonthPicker: false,
      isSinglePicker: true,
      value: 'дд.мм.гггг',
      view: 'button',
    })
  td
    span.status(class="status-green") Активный
  td
    .grid.items-center(class="gap-x-1.5 grid-cols-[30px_1fr]")
      img.rounded.object-cover(class="w-[30px] h-[30px]" src="/assets/images/avatar.png" alt="tg-channel")
      span Илья Сорокин
  td.only-text 12.12.2023
  td(class="pr-2.5")
    +button({
      class: 'button-icon text-black-200 table__remove',
      icon: 'other-trash-icon',
      isOnlyIcon: true,
      view: 'button',
    })