table.table.table-fixed-cols
  thead
    tr
      th(width="200px" style="padding-left: 12px;")
        .flex.items-center(class="gap-x-3")
          +input({
            class: 'md table__checkbox',
            type: 'checkbox',
          })
          .table__sort.flex.gap-x-2.items-center
            p Администратор
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Начало работы
          button(type="button").table__sortbutton
            svg
              use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Окончание работы
          button(type="button").table__sortbutton
            svg
              use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Автор
          button(type="button").table__sortbutton
            svg
              use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Дата создания
          button(type="button").table__sortbutton
            svg
              use(xlink:href="#other-sort-icon")
      th(class="pr-2.5")
  tbody
    +administration-history-subrow({
      title: 'Активные администраторы',
      count: '1',
    })
    include row
    +administration-history-subrow({
      title: 'Неактивные администраторы',
      count: '3',
    })
    include row
    include row
    include row