.messages
  .messages__day Среда, 15 октября
  .messages__actions
    .messages__action
      h3 Валерия Медеведева
      p создал(а) кампанию
      time • 2 дня назад
    .messages__action
      h3 Валерия Медеведева
      p изменил(а) Приоритет с “Средний” на “Высокий”
      time • 2 дня назад
    .messages__action
      h3 Валерия Медеведева
      p изменил(а) Приоритет с “Высокий” на “Средний”
      time • 2 дня назад
  .message
    .message__comment
      .message__avatar
        span(style="background-color: #E5E4FC;")
      .message__author
        .message__head
          h3 Валерия Медеведева
          .message__time 16:25
            span 15.10.2024 в 16:25
        p Добрый день! Старт РК 16.10
      +dropdown({
        buttons: [
          {
            class: 'message__reply',
            icon: 'other-reply-icon',
            title: 'Ответить',
          },
          {
            class: 'message__copy',
            icon: 'other-copy-icon',
            title: 'Копировать',
          },
          {
            class: 'message__edit',
            icon: 'other-edit-icon',
            title: 'Редактировать',
          },
          {
            class: 'message__delete',
            dataPopupName: 'delete-comment',
            icon: 'other-trash-icon',
            title: 'Удалить',
          },
        ],
        class: 'dropdown-comment',
        icon: 'other-angle-down-icon',
        isButtons: true,
      })
  .messages__day Четверг, 16 октября
  .messages__new Новые сообщения
  .message
    .message__comment
      .message__avatar
        span(style="background-color: #FCEAE4;")
      .message__author
        .message__head
          h3 Максим Амбиндер
          .message__time 12 минут назад
            span 15.10.2024 в 16:25
        .message__answered
          h3 Валерия Медведева
          p Добрый день! Старт РК 16.10
        p Добрый день! Спасибо, старт запланирован
      +dropdown({
        buttons: [
          {
            class: 'message__reply',
            icon: 'other-reply-icon',
            title: 'Ответить',
          },
          {
            class: 'message__copy',
            icon: 'other-copy-icon',
            title: 'Копировать',
          },
          {
            class: 'message__edit',
            icon: 'other-edit-icon',
            title: 'Редактировать',
          },
          {
            class: 'message__delete',
            dataPopupName: 'delete-comment',
            icon: 'other-trash-icon',
            title: 'Удалить',
          },
        ],
        class: 'dropdown-comment',
        icon: 'other-angle-down-icon',
        isButtons: true,
      })
  .message
    .message__comment
      .message__avatar
        span(style="background-color: #E5E4FC;")
      .message__author
        .message__head
          h3 Валерия Медеведева
          .message__time 10 минут назад
            span 15.10.2024 в 16:25
        p Спасибо!
      +dropdown({
        buttons: [
          {
            class: 'message__reply',
            icon: 'other-reply-icon',
            title: 'Ответить',
          },
          {
            class: 'message__copy',
            icon: 'other-copy-icon',
            title: 'Копировать',
          },
          {
            class: 'message__edit',
            icon: 'other-edit-icon',
            title: 'Редактировать',
          },
          {
            class: 'message__delete',
            dataPopupName: 'delete-comment',
            icon: 'other-trash-icon',
            title: 'Удалить',
          },
        ],
        class: 'dropdown-comment',
        icon: 'other-angle-down-icon',
        isButtons: true,
      })
  .message
    .message__comment
      .message__avatar
        span(style="background-color: #E5E4FC;")
      .message__author
        .message__head
          h3 Валерия Медеведева
          .message__time 10 минут назад (изменено)
            span 15.10.2024 в 16:25 (15.10.2024 в 16:30)
        p Спасибо большое!
      +dropdown({
        buttons: [
          {
            class: 'message__reply',
            icon: 'other-reply-icon',
            title: 'Ответить',
          },
          {
            class: 'message__copy',
            icon: 'other-copy-icon',
            title: 'Копировать',
          },
          {
            class: 'message__edit',
            icon: 'other-edit-icon',
            title: 'Редактировать',
          },
          {
            class: 'message__delete',
            dataPopupName: 'delete-comment',
            icon: 'other-trash-icon',
            title: 'Удалить',
          },
        ],
        class: 'dropdown-comment',
        icon: 'other-angle-down-icon',
        isButtons: true,
      })
  .message.message-changed
    <h3>Валерия Медеведева</h3><p>удалил(а) комментарий “1. Добавлено поле с комментарием 2. Убрана иконка "Помощь" 3. Страница согласования медиаплана объединена со страницей РК 4. Добавлена группировка в раздел "Каналы" 5. Добавлен раздел "Посты" для статуса "В процессе"”</p><time> • 2 дня назад</time><button type="button">Восстановить</button>
  .message.message-changed
    <h3>Валерия Медеведева</h3><p>отредактировал(а) комментарий с “1. Добавлено поле с комментарием 2. Убрана иконка "Помощь"” на “1. Страница согласования медиаплана объединена со страницей РК 2. Добавлена группировка в раздел "Каналы" 5. Добавлен раздел "Посты" для статуса "В процессе"”</p><time> • 2 дня назад</time>
  .messages__footer
    form(action="#").messages__form
      +input({
        class: 'messages__upload',
        isFileUpload: true,
        isRequired: true,
        isTextarea: true,
        label: '',
        name: 'comment',
        placeholder: 'Отправить комментарий...',
      })
      +button({
        class: 'button-with-icon-blue messages__submit',
        title: 'Отправить',
        type: 'submit',
        view: 'button',
      })
      +button({
        class: 'button-base messages__cancel',
        title: 'Отменить',
        type: 'button',
        view: 'button',
      })