aside.content-aside
    .selectors
      .selector__buttons
        .selector__scroll
          button.selector__button(data-id="information") Информация
          button.selector__button(data-id="chat").active Чат
      .selector__containers.selector__content
        .selector__container(data-id="information")
          .content-aside__container
            .content-aside__subtitle Общая информация
            table.table
              tr.text-black-200
                th Продукт
                td KION
              tr.text-black-200
                th Модель работы
                td CPM
              tr.text-black-200
                th Дата запроса
                td 01.01.2024
              tr.text-black-200
                th Менеджер
                td
                  +dropdown({
                    checkboxes: [
                      {
                        class: 'check-all',
                        title: 'Все',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/user-image.png',
                        },
                        name: 'manager',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'manager',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'manager',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'manager',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'manager',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'manager',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'manager',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'manager',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'manager',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'manager',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'manager',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'manager',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'manager',
                        title: 'ООО “ИП”',
                      },
                    ],
                    class: 'dropdown-checkboxes-images',
                    isCheckboxes: true,
                    title: '—',
                  })
              tr.text-black-200
                th Приоритет
                td
                  +dropdown({
                    buttons: [
                      {
                        color: 'priority-transparent',
                        isChecked: true,
                        name: 'priority',
                        title: '—',
                      },
                      {
                        color: 'priority-red',
                        name: 'priority',
                        title: 'Очень высокий',
                      },
                      {
                        color: 'priority-pink',
                        name: 'priority',
                        title: 'Высокий',
                      },
                      {
                        color: 'priority-orange',
                        name: 'priority',
                        title: 'Средний',
                      },
                      {
                        color: 'priority-peach',
                        name: 'priority',
                        title: 'Низкий',
                      },
                      {
                        color: 'priority-yellow',
                        name: 'priority',
                        title: 'Очень низкий',
                      },
                    ],
                    class: 'dropdown-priority',
                    color: 'priority-transparent',
                    isButtons: true,
                    isPriority: true,
                    title: '—',
                  })
            .content-aside__subtitle Финансовая информация
            table.table
              tr.text-black-200
                th Адаптация
                td
                  .adaptation
                    .adaptation__value
                      p ––
                      span
                    +button({
                      class: 'button-icon',
                      dataPopupName: 'check-adaptation',
                      icon: 'other-edit-icon',
                      isOnlyIcon: true,
                      view: 'button',
                    })
              tr.text-black-200
                th Тег
                td
                  .tag
                    .tag__container
                      .tag__value
                        p Наличие
                        span ––
                      +button({
                        class: 'button-icon',
                        dataPopupName: 'add-tag',
                        icon: 'other-edit-icon',
                        isOnlyIcon: true,
                        view: 'button',
                      })
                    .tag__container.tag__container-hidden
                      .tag__value
                        p Актуальные
                        .tag__list
                        .tag__button.hidden Показать всe
              tr.text-black-200
                th Кнопка
                td
                  +dropdown({
                    buttons: [
                      {
                        isChecked: true,
                        name: 'approval-client',
                        title: '––',
                      },
                      {
                        name: 'approval-client',
                        title: 'Да',
                      },
                      {
                        name: 'approval-client',
                        title: 'Нет',
                      },
                    ],
                    class: 'dropdown-radios',
                    isRadios: true,
                    isSearch: false,
                    title: '––',
                  })
              tr.text-black-200
                th РКН
                td
                  +dropdown({
                    buttons: [
                      {
                        isChecked: true,
                        name: 'approval-client',
                        title: '––',
                      },
                      {
                        name: 'approval-client',
                        title: 'Да',
                      },
                      {
                        name: 'approval-client',
                        title: 'Нет',
                      },
                      {
                        name: 'approval-client',
                        title: '< 10 000 подписчиков',
                      },
                    ],
                    class: 'dropdown-radios',
                    isRadios: true,
                    isSearch: false,
                    title: '––',
                  })
            .content-aside__subtitle Условия размещения
            table.table
              tr.text-black-200
                th Бюджет
                td 5 000 000 ₽
              tr.text-black-200
                th Наценка
                td 40%
              tr.text-black-200
                th Выручка с НДС, <br> план
                td 5 000 000 ₽
              tr.text-black-200
                th Выручка с НДС, <br> прогноз
                td
                  +input({
                    autocomplete: 'off',
                    class: 'currency only-numbers',
                    name: 'revenue',
                    placeholder: '0',
                    type: 'text',
                  })
            .content-aside__subtitle Поле для комментария
            +input({
              class: 'content-aside__textarea',
              isTextarea: true,
              label: '',
              name: 'comment',
              placeholder: 'Добавить комментарий...',
            })
            .content-aside__subtitle Дополнительные материалы
              +dropdown({
                buttons: [
                  {
                    icons: [
                      {
                        dataPopupName: 'add-link-mediaplan',
                        icon: 'other-attachment-icon',
                        type: 'button',
                      },
                      {
                        dataIdFile: 'add-upload-mediaplan',
                        icon: 'other-new-file-icon',
                        isFileUpload: true,
                        type: 'button',
                      },
                    ],
                    title: 'Медиаплан',
                  },
                  {
                    icons: [
                      {
                        dataPopupName: 'add-link-creative',
                        icon: 'other-attachment-icon',
                        type: 'button',
                      },
                      {
                        dataIdFile: 'add-upload-creative',
                        icon: 'other-new-file-icon',
                        isFileUpload: true,
                        type: 'button',
                      },
                    ],
                    title: 'Креативы',
                  },
                  {
                    icons: [
                      {
                        dataPopupName: 'add-link-other',
                        icon: 'other-attachment-icon',
                        type: 'button',
                      },
                      {
                        dataIdFile: 'add-upload-other',
                        icon: 'other-new-file-icon',
                        isFileUpload: true,
                        type: 'button',
                      },
                    ],
                    title: 'Другое',
                  },
                ],
                class: 'dropdown-multiselect',
                icon: 'other-add-file-icon',
                isButtons: true,
                isMultiSelect: true,
                subtitle: 'Добавить',
              })
            .accordions
              .accordions__counter
                .accordions__counter__left
                  +input({
                    class: 'md accordion__checkbox',
                    type: 'checkbox',
                  })
                  p Выбрано:
                    span.accordion__value 0
                  +button({
                    class: 'button button-with-icon accordions__clear',
                    icon: 'other-close-icon',
                    isOnlyIcon: true,
                    view: 'button',
                  })
                .accordions__counter__right
                  +button({
                    class: 'button-icon accordion__action download-all',
                    href: '#',
                    icon: 'other-download-icon',
                    isDownload: true,
                    isOnlyIcon: true,
                    view: 'link',
                  })
                  +button({
                    class: 'button-icon accordion__action',
                    dataPopupName: 'delete-all-files',
                    icon: 'other-trash-icon',
                    isOnlyIcon: true,
                    view: 'button',
                  })
              .accordion
                .accordion__button(data-id="mediaplan")
                  p Медиаплан
                    span.accordion__count 2
                  +button({
                    class: 'button-icon sm',
                    icon: 'other-angle-down-icon',
                    isOnlyIcon: true,
                    view: 'button',
                  })
                .accordion__container(data-id="mediaplan")
                  .accordion__item
                    .accordion__left
                      .accordion__left__container
                        .accordion__icon
                          svg
                            use(xlink:href="#other-attachment-icon")
                        a(href="https://app.asana.com/" target="_blank") https://app.asana.com/
                        time 24.01.2025 15:10
                      .accordion__original Оригинал
                    .accordion__right
                      +button({
                        class: 'button-icon accordion__action accordion__copy',
                        icon: 'other-copy-icon',
                        isOnlyIcon: true,
                        view: 'button',
                      })
                  .accordion__item
                    .accordion__left
                      +input({
                        class: 'md accordion__checkbox',
                        type: 'checkbox',
                      })
                      .accordion__left__container
                        .accordion__icon.accordion__icon-sm
                          svg
                            use(xlink:href="#other-file-icon")
                        a(href="#" download) МП new.xlsx
                        time 54 KB • 24.01.2025 15:10
                    .accordion__right
                      +button({
                        class: 'button-icon accordion__action',
                        href: '#',
                        icon: 'other-download-icon',
                        isDownload: true,
                        isOnlyIcon: true,
                        view: 'link',
                      })
                      +button({
                        class: 'button-icon accordion__action',
                        dataPopupName: 'delete-file',
                        icon: 'other-trash-icon',
                        isOnlyIcon: true,
                        view: 'button',
                      })
              .accordion
                .accordion__button(data-id="creative")
                  p Креативы
                    span.accordion__count 2
                  +button({
                    class: 'button-icon sm',
                    icon: 'other-angle-down-icon',
                    isOnlyIcon: true,
                    view: 'button',
                  })
                .accordion__container(data-id="creative")
                  .accordion__item
                    .accordion__left
                      +input({
                        class: 'md accordion__checkbox',
                        type: 'checkbox',
                      })
                      .accordion__left__container
                        .accordion__icon.accordion__icon-sm
                          svg
                            use(xlink:href="#other-file-icon")
                        a(href="/assets/images/user-image.png" download) Креативы.zip
                        time 54 KB • 24.01.2025 15:10
                    .accordion__right
                      +button({
                        class: 'button-icon accordion__action',
                        href: '/assets/images/user-image.png',
                        icon: 'other-download-icon',
                        isDownload: true,
                        isOnlyIcon: true,
                        view: 'link',
                      })
                      +button({
                        class: 'button-icon accordion__action',
                        dataPopupName: 'delete-file',
                        icon: 'other-trash-icon',
                        isOnlyIcon: true,
                        view: 'button',
                      })
                  .accordion__item
                    .accordion__left
                      +input({
                        class: 'md accordion__checkbox',
                        type: 'checkbox',
                      })
                      .accordion__left__container
                        .accordion__icon.accordion__icon-sm
                          svg
                            use(xlink:href="#other-file-icon")
                        a(href="#" download) Креативы new.zip
                        time 54 KB • 24.01.2025 15:10
                    .accordion__right
                      +button({
                        class: 'button-icon accordion__action',
                        href: '#',
                        icon: 'other-download-icon',
                        isDownload: true,
                        isOnlyIcon: true,
                        view: 'link',
                      })
                      +button({
                        class: 'button-icon accordion__action',
                        dataPopupName: 'delete-file',
                        icon: 'other-trash-icon',
                        isOnlyIcon: true,
                        view: 'button',
                      })
              .accordion
                .accordion__button(data-id="other")
                  p Другое
                    span.accordion__count 1
                  +button({
                    class: 'button-icon sm',
                    icon: 'other-angle-down-icon',
                    isOnlyIcon: true,
                    view: 'button',
                  })
                .accordion__container(data-id="other")
                  .accordion__item
                    .accordion__left
                      +input({
                        class: 'md accordion__checkbox',
                        type: 'checkbox',
                      })
                      .accordion__left__container
                        .accordion__icon.accordion__icon-sm
                          svg
                            use(xlink:href="#other-file-icon")
                        a(href="#" download) Описание проекта.zip
                        time 54 KB • 24.01.2025 15:10
                    .accordion__right
                      +button({
                        class: 'button-icon accordion__action',
                        href: '#',
                        icon: 'other-download-icon',
                        isDownload: true,
                        isOnlyIcon: true,
                        view: 'link',
                      })
                      +button({
                        class: 'button-icon accordion__action',
                        dataPopupName: 'delete-file',
                        icon: 'other-trash-icon',
                        isOnlyIcon: true,
                        view: 'button',
                      })
        .selector__container(data-id="chat").active
          include ./../chat.pug