aside.filter(data-filter-name="posts")
  .filter__container
    .filter__title
      h2 Фильтр
      button(type="button" data-filter-name="posts").filter__clear Сбросить
    form(action="#")
      h3.filter__subtitle Канал
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        isResults: true,
      })
      h3.filter__subtitle Категория канала
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        isResults: true,
      })
      h3.filter__subtitle Гео канала
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        isResults: true,
      })
      h3.filter__subtitle Язык контента
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        isResults: true,
      })
      h3.filter__subtitle Наличие слов категории “Жесть”
      +dropdown({
        buttons: [
          {
            isChecked: true,
            name: 'horror-allow',
            title: 'Допустимо',
          },
          {
            name: 'horror-allow-minor',
            title: 'Допустимо незначительное присутствие',
          },
          {
            name: 'horror-disallow',
            title: 'Полностью исключено',
          },
        ],
        class: 'dropdown-radios',
        isRadios: true,
        isSearch: false,
        title: 'Допустимо',
      })
      h3.filter__subtitle Наличие слов категории “Политика”
      +dropdown({
        buttons: [
          {
            isChecked: true,
            name: 'policy-allow',
            title: 'Допустимо',
          },
          {
            name: 'policy-allow-minor',
            title: 'Допустимо незначительное присутствие',
          },
          {
            name: 'policy-disallow',
            title: 'Полностью исключено',
          },
        ],
        class: 'dropdown-radios',
        isRadios: true,
        isSearch: false,
        title: 'Допустимо',
      })
      h3.filter__subtitle Наличие слов категории “18+”
      +dropdown({
        buttons: [
          {
            isChecked: true,
            name: 'adult-allow',
            title: 'Допустимо',
          },
          {
            name: 'adult-allow-minor',
            title: 'Допустимо незначительное присутствие',
          },
          {
            name: 'adult-disallow',
            title: 'Полностью исключено',
          },
        ],
        class: 'dropdown-radios',
        isRadios: true,
        isSearch: false,
        title: 'Допустимо',
      })
      h3.filter__subtitle Количество просмотров
      +dropdown({
        checkboxes: [
          {
            isChecked: true,
            title: 'Любое',
          },
          {
            title: 'Менее 1 000',
          },
          {
            title: '1 000 - 10 000',
          },
          {
            title: '10 000 - 50 000',
          },
          {
            title: '50 000 - 100 000',
          },
          {
            title: 'Более 100 000',
          },
        ],
        class: 'dropdown-checkboxes',
        isAny: true,
        isCheckboxes: true,
        isSearch: false,
      })
      .filter__checkboxes
        +input({
          class: 'input-checkbox-with-label',
          icon: 'other-info-icon',
          isChecked: true,
          isLabel: true,
          label: 'Скрывать репосты',
          type: 'checkbox',
          value: 'Скрывать репосты',
        })
        +input({
          class: 'input-checkbox-with-label',
          icon: 'other-info-icon',
          isLabel: true,
          label: 'Скрывать удаленные',
          type: 'checkbox',
          value: 'Скрывать удаленные',
        })
        +input({
          class: 'input-checkbox-with-label',
          icon: 'other-info-icon',
          isLabel: true,
          label: 'С упоминаниями каналов',
          type: 'checkbox',
          value: 'С упоминаниями каналов',
        })
      +button({
        class: 'button-base filter__button',
        title: 'Применить',
        type: 'submit',
        view: 'button',
      })