tr
  td.only-text 20.04.2024
  td.only-text 15:26
  td(style="min-width: 288px; max-width: 310px; width: 310px; padding-top: 6.5px; padding-bottom: 6.5px;")
    .flex.items-center.w-full(class="gap-x-3 h-[33px]")
      .flex.items-center(class="gap-x-1.5")
        img.rounded.object-cover(class="w-[30px] h-[30px]" src="/assets/images/avatar.png" alt="tg-channel")
        .flex.flex-col.items-start
          h3
            a(href="#").table__channel ZeroDay | Кибербезопасность
          a(href="https://t.me/andreym" target="_blank").table__link @cybersec_academy
  td.only-text-sm(class="min-w-[311px]")
    .table__publication__text
      span
        .button(data-popup-name="post")
          <div class="table__categories"><svg viewBox="0 0 16 16" width="16" height="16"><use xlink:href="#label-policy-icon"></use></svg><svg viewBox="0 0 16 16" width="16" height="16"><use xlink:href="#label-policy-icon"></use></svg><svg viewBox="0 0 16 16" width="16" height="16"><use xlink:href="#label-policy-icon"></use></svg></div> 🥤 Белую колу со вкусом пломбира и ванили изобрели в России. И её уже мо в России. И её уже мо в России. И её уже мо
  td.only-text
    .flex.gap-x-1.items-center.table__mediacontent
      svg
        use(xlink:href="#other-video-icon")
      svg
        use(xlink:href="#other-illustration-icon")
      svg
        use(xlink:href="#other-survey-icon")
  td.only-text
    .grid(class="grid-cols-[100px_120px_100px]").justify-center
      span.flex-1.text-center.border-r.border-black-500 0,1%
      span.flex-1.text-center.border-r.border-black-500 11,01%
      span.flex-1.text-center 5%
  td.only-text Размещен