svg#label-client-icon(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg")
  circle(cx="8.5" cy="8.5" r="7.85" fill="white" stroke="#5893FF" stroke-width="1.3")
  path(d="M10.1372 11.7L7.74372 8.52168H7.09742V11.7H5.77994V4.42722H7.09742V7.41728H7.42767L10.0129 4.42722H11.6358L8.7629 7.74399L11.7601 11.7H10.1372Z" fill="#5893FF")