svg#label-policy-icon(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
  circle(cx="8" cy="8" r="8" fill="#FFC658")
  path(d="M12.345 6.65497H11.5171C11.2412 5.10628 9.99274 3.97671 8.43998 3.81538V3.14497H9.70498L9.37498 2.49497L9.70498 1.84497H7.66998V3.81525C6.11733 3.97671 4.86872 5.10628 4.59284 6.65497H3.76498V7.56497H12.345V6.65497ZM12.345 12.245V11.335H11.575V8.21497H10.585V11.335H9.59498V8.21497H8.60498V11.335H7.61498V8.21497H6.62498V11.335H5.52498V8.21497H4.53498V11.335H3.76498V12.245H3.10498V13.155H12.895V12.245H12.345Z" fill="#222222")
