svg#label-verification-icon(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
  g(clip-path="url(#clip0_2_2865)")
    path(d="M10.7703 2.38501L11.8508 4.05766L13.8416 4.15531L13.9424 6.14611L15.615 7.22656L14.7078 9.00001L15.615 10.7703L13.9424 11.8508L13.8447 13.8416L11.8539 13.9424L10.7735 15.615L9.00001 14.7078L7.22971 15.615L6.14926 13.9424L4.15846 13.8447L4.05766 11.8539L2.38501 10.7735L3.29221 9.00001L2.38501 7.22971L4.05766 6.14926L4.15531 4.15846L6.14611 4.05766L7.22656 2.38501L9.00001 3.29221L10.7703 2.38501Z" fill="#42A5F5")
    path(d="M8.1779 11.2838L6.13354 9.23945L6.80135 8.57165L8.1905 9.95765L11.2019 7.0376L11.8602 7.71485L8.1779 11.2838Z" fill="white")
  defs
    clipPath#clip0_2_2865
      rect(width="18" height="18" fill="white")
