svg#label-warning-icon(width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
  circle(cx="7" cy="7" r="7" fill="#DE350B")
  circle(cx="7" cy="7" r="5.75" stroke="white")
  path(d="M7.62163 3.45455L7.51616 8.07599H6.48704L6.38477 3.45455H7.62163ZM7.0016 10.0703C6.80771 10.0703 6.64151 10.0021 6.50302 9.86577C6.36665 9.7294 6.29847 9.56321 6.29847 9.36719C6.29847 9.17543 6.36665 9.01136 6.50302 8.875C6.64151 8.73864 6.80771 8.67045 7.0016 8.67045C7.19123 8.67045 7.35529 8.73864 7.49379 8.875C7.63441 9.01136 7.70472 9.17543 7.70472 9.36719C7.70472 9.49716 7.6717 9.61541 7.60565 9.72195C7.54173 9.82848 7.4565 9.91371 7.34996 9.97763C7.24556 10.0394 7.12944 10.0703 7.0016 10.0703Z" fill="white")