table.table.table-default
  thead
    tr
      th
        p Формат
      th
        p.text-right Охват
      th
        p.text-right Просмотры
      th
        p.text-right ER %
      th
        p.text-right ERR %
      th
        p.text-right Ставка
  tbody
    include row
    include row
    include row
    include row
    include row
    include row