aside.filter.filter-sm(data-filter-name="advertising-campaigns")
  .filter__container
    .filter__title
      h2 Фильтр
      button(type="button").filter__clear Сбросить
    form(action="#")
      h3.filter__subtitle Администратор
      +dropdown({
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        checkboxes: [
          { title: 'Все', class: 'check-all'  },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
        ]
      })
      h3.filter__subtitle Канал
      +dropdown({
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        checkboxes: [
          { title: 'Все', class: 'check-all'  },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
        ]
      })
      h3.filter__subtitle Организация
      +dropdown({
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        checkboxes: [
          { title: 'Все', class: 'check-all'  },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
        ]
      })
      +button({
        view: 'button',
        class: 'button-base filter__button',
        type: 'submit',
        title: 'Применить'
      })