table.table.table-default
  thead
    tr
      th
        .flex.gap-x-2.items-center
          p Рекламная кампания
          button(type="button").table__sortbutton
            svg
              use(xlink:href="#other-sort-icon")
      th
        .flex.gap-x-2.items-center
          p Клиент
          button(type="button").table__sortbutton
            svg
              use(xlink:href="#other-sort-icon")
      th
        .flex.gap-x-2.items-center
          p Администратор
          button(type="button").table__sortbutton
            svg
              use(xlink:href="#other-sort-icon")
      th
        .flex.gap-x-2.items-center
          p Период
          button(type="button").table__sortbutton
            svg
              use(xlink:href="#other-sort-icon")
      th
        .flex.gap-x-2.items-center
          p Ставка
          button(type="button").table__sortbutton
            svg
              use(xlink:href="#other-sort-icon")
      th
        .flex.gap-x-2.items-center
          p Статус РК
          button(type="button").table__sortbutton
            svg
              use(xlink:href="#other-sort-icon")
  tbody
    +administration-history-row({
      color: 'status-green',
      status: 'В работу',
    })
    +administration-history-row({
      color: 'status-blue',
      status: 'В работе',
    })
    +administration-history-row({
      color: 'status-red',
      status: 'Пауза',
    })
    +administration-history-row({
      color: 'status-gray',
      status: 'Завершено',
    })
    +administration-history-row({
      color: 'status-purple',
      status: 'Согласование',
    })
    +administration-history-row({
      color: 'status-red',
      status: 'Пауза',
    })
    +administration-history-row({
      color: 'status-gray',
      status: 'Завершено',
    })
    +administration-history-row({
      color: 'status-purple',
      status: 'Согласование',
    })
    +administration-history-row({
      color: 'status-purple',
      status: 'Согласование',
    })
    +administration-history-row({
      color: 'status-blue',
      status: 'В работе',
    })
    +administration-history-row({
      color: 'status-red',
      status: 'Пауза',
    })
    +administration-history-row({
      color: 'status-gray',
      status: 'Завершено',
    })
    +administration-history-row({
      color: 'status-purple',
      status: 'Согласование',
    })
    +administration-history-row({
      color: 'status-red',
      status: 'Пауза',
    })
    +administration-history-row({
      color: 'status-gray',
      status: 'Завершено',
    })
    +administration-history-row({
      color: 'status-purple',
      status: 'Согласование',
    })
    +administration-history-row({
      color: 'status-purple',
      status: 'Согласование',
    })
    +administration-history-row({
      color: 'status-red',
      status: 'Пауза',
    })
    +administration-history-row({
      color: 'status-gray',
      status: 'Завершено',
    })
    +administration-history-row({
      color: 'status-purple',
      status: 'Согласование',
    })