extends ../layouts/master

block title
  title Топ Трафик | 404

block basicSeo
  meta(content="Это странца 404" name="description")
  meta(content="Страница, 404" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main