extends ../layouts/master

block title
  title Топ Трафик | 404

block basicSeo
  meta(content="404" name="description")
  meta(content="404" name="keywords")
  meta(content="404" property="og:title")
  meta(content="404" name="twitter:title")

block content
  main