extends ../layouts/master

block title
  title Топ Трафик | Администратор

block basicSeo
  meta(content="Администратор" name="description")
  meta(content="Администратор" name="keywords")
  meta(content="Администратор" property="og:title")
  meta(content="Администратор" name="twitter:title")

block content
  main.page
    include ../components/sidebar
    include ../components/header
    .wrapper
      +heading({
        isAdmin: true,
        tg: '@andreym',
        title: 'Андрей Миронов',
      })
      .inner.in-container
        .content.content-sm
          .selectors
            .content.content-not-collapsed
              .selector__buttons
                .selector__scroll
                  button.selector__button(data-id="admin-about").active Об администраторе
              .selector__containers
                .selector__container(data-id="admin-about").active
                  .widgets
                    +widget({
                      icon: 'widget-screen-icon',
                      tip: {
                        content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                        enabled: true,
                      },
                      title: 'Каналов в РК',
                      values: [
                        {
                          value: '25',
                        },
                      ],
                    })
                    +widget({
                      icon: 'widget-layout-icon',
                      tip: {
                        content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                        enabled: true,
                      },
                      title: 'Кол-во размещений',
                      values: [
                        {
                          title: 'Активные',
                          value: '1',
                        },
                        {
                          title: 'Всего',
                          value: '25',
                        },
                      ],
                    })
                    +widget({
                      icon: 'widget-consumption-icon',
                      tip: {
                        content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                        enabled: true,
                      },
                      title: 'Общий расход',
                      values: [
                        {
                          value: '20 000 000 ₽',
                        },
                      ],
                    })
          .selectors
            .content.content-not-collapsed
              .selector__buttons
                .selector__scroll
                  button.selector__button(data-id="admin-channels").active Каналы
                    span 4
                  button.selector__button(data-id="admin-advertising-campaigns") Рекламные кампании
                    span 25
                  button.selector__button(data-id="admin-transactions-for-payment") Сделки на оплату
                    span 5
              .selector__containers.selector__content
                .selector__container(data-id="admin-channels").active
                  +heading-table({
                    isSearch: true,
                    isRows: true,
                    searchClass: 'min-w-[243px] max-w-[243px]',
                    buttons: [
                      {
                        view: 'button',
                        class: 'button-with-icon-blue',
                        icon: 'other-plus-icon',
                        title: 'Добавить запись',
                        dataPopupName: 'add-admin-channels-post',
                      },
                      {
                        view: 'button',
                        class: 'button-with-icon filter__toggle',
                        icon: 'other-controls-icon',
                        title: 'Фильтр',
                        isClose: true,
                        dataFilterName: 'admin-channels',
                      },
                    ],
                  })
                  .in-container.mt-4
                    .content.content-collapsed
                      .content-scroll
                        include ../components/admin/admin-channels/table
                    include ../components/admin/admin-channels/filter
                .selector__container(data-id="admin-advertising-campaigns")
                  +heading-table({
                    isSearch: true,
                    isRows: true,
                    searchClass: 'min-w-[243px] max-w-[243px]',
                    buttons: [
                      {
                        view: 'button',
                        class: 'button-with-icon filter__toggle',
                        icon: 'other-controls-icon',
                        title: 'Фильтр',
                        isClose: true,
                        dataFilterName: 'admin-advertising-campaigns',
                      },
                    ],
                  })
                  .in-container.mt-4
                    .content.content-collapsed
                      .content-scroll
                        include ../components/admin/admin-advertising-campaigns/table
                    include ../components/admin/admin-advertising-campaigns/filter
                .selector__container(data-id="admin-transactions-for-payment")
                  +heading-table({
                    isSearch: true,
                    isRows: true,
                    searchClass: 'min-w-[243px] max-w-[243px]',
                    buttons: [
                      {
                        view: 'button',
                        class: 'button-with-icon filter__toggle',
                        icon: 'other-controls-icon',
                        title: 'Фильтр',
                        isClose: true,
                        dataFilterName: 'admin-transactions-for-payment',
                      },
                    ],
                  })
                  .in-container.mt-4
                    .content.content-collapsed
                      .content-scroll
                        include ../components/admin/admin-transactions-for-payment/table
                      .mt-12
                        include ../components/pagination
                    include ../components/admin/admin-transactions-for-payment/filter
        include ../components/admin/aside