extends ../layouts/master

block title
  title Топ Трафик | Кампания

block basicSeo
  meta(content="Кампания" name="description")
  meta(content="Кампания" name="keywords")
  meta(content="Кампания" property="og:title")
  meta(content="Кампания" name="twitter:title")

block content
  main.page
    include ../components/sidebar
    include ../components/header
    .wrapper
      +heading({
        image: {
          alt: 'avatar',
          enabled: true,
          src: '/assets/images/avatar.png',
        },
        isRk: true,
        title: 'Test_MTC_September',
      })
      .campaign__info
        table.table
          tr
            th.text-black-200 Клиент
            td Мтс
        table.table
          tr
            th.text-black-200 Период
            td 01.01.2024 - 31.01.2024
        table.table
          tr
            th.text-black-200 Куратор
            td
              +dropdown({
                buttons: [
                  {
                    class: 'cancel-all',
                    isChecked: true,
                    name: 'curator',
                    title: '—',
                  },
                  {
                    class: '',
                    image: {
                      alt: 'image',
                      enabled: true,
                      src: '/assets/images/user-image.png',
                    },
                    name: 'curator',
                    title: 'ООО “ИП”',
                  },
                  {
                    class: '',
                    image: {
                      alt: 'image',
                      enabled: true,
                      src: '/assets/images/avatar.png',
                    },
                    name: 'curator',
                    title: 'ООО “ИП”',
                  },
                ],
                class: 'dropdown-radios dropdown-copy-image',
                isRadios: true,
                isSearch: true,
                title: '—',
              })
      .inner.in-container
        .content.content-sm
          //- .selectors
          //-   .content.content-not-collapsed
          //-     .widgets.widgets-no-controls
          //-       +widget({
          //-         color: 'blue',
          //-         icon: 'widget-tablet-icon',
          //-         tip: {
          //-           content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-           enabled: true,
          //-         },
          //-         title: 'Опрошено',
          //-         values: [
          //-           {
          //-             awaiting: '15/20',
          //-             progress: {
          //-               awaiting: '65',
          //-               content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-               enabled: true,
          //-               reality: '100',
          //-               value: '65',
          //-             },
          //-             reality: '20/20',
          //-             value: '15/20',
          //-           },
          //-         ],
          //-       })
          //-       +widget({
          //-         color: 'blue',
          //-         icon: 'widget-tablet-icon',
          //-         tip: {
          //-           content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-           enabled: true,
          //-         },
          //-         title: 'Подтверждено',
          //-         values: [
          //-           {
          //-             awaiting: '12/20',
          //-             progress: {
          //-               awaiting: '65',
          //-               content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-               enabled: true,
          //-               reality: '100',
          //-               value: '65',
          //-             },
          //-             reality: '20/20',
          //-             value: '12/20',
          //-           },
          //-         ],
          //-       })
          //-       +widget({
          //-         color: 'blue',
          //-         icon: 'widget-tablet-icon',
          //-         tip: {
          //-           content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-           enabled: true,
          //-         },
          //-         title: 'Проверено каналов',
          //-         values: [
          //-           {
          //-             awaiting: '15/20',
          //-             progress: {
          //-               awaiting: '65',
          //-               content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-               enabled: true,
          //-               reality: '100',
          //-               value: '65',
          //-             },
          //-             reality: '20/20',
          //-             value: '15/20',
          //-           },
          //-         ],
          //-       })
          //-       +widget({
          //-         buttons: [
          //-           {
          //-             href: '#',
          //-             icon: 'other-attachment-icon',
          //-             view: 'link',
          //-           },
          //-           {
          //-             href: '#',
          //-             icon: 'other-download-icon',
          //-             isDownload: true,
          //-             view: 'link',
          //-           },
          //-         ],
          //-         color: 'blue',
          //-         icon: 'widget-check-icon',
          //-         tip: {
          //-           content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-           enabled: true,
          //-         },
          //-         title: 'Медиаплан готов',
          //-         values: [
          //-           {
          //-             value: '157 каналов',
          //-           },
          //-         ],
          //-       })
          //-       +widget({
          //-         color: 'blue',
          //-         icon: 'widget-check-icon',
          //-         tip: {
          //-           content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-           enabled: true,
          //-         },
          //-         title: 'Согласовано каналов',
          //-         values: [
          //-           {
          //-             awaiting: '15/20',
          //-             progress: {
          //-               awaiting: '65',
          //-               content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-               enabled: true,
          //-               reality: '100',
          //-               value: '65',
          //-             },
          //-             reality: '20/20',
          //-             value: '15/20',
          //-           },
          //-         ],
          //-       })
          //-       +widget({
          //-         color: 'blue',
          //-         icon: 'widget-list-plus-icon',
          //-         tip: {
          //-           content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-           enabled: true,
          //-         },
          //-         title: 'Новых каналов',
          //-         values: [
          //-           {
          //-             value: '15',
          //-           },
          //-         ],
          //-       })
          //-       +widget({
          //-         color: 'blue',
          //-         icon: 'widget-check-icon',
          //-         tip: {
          //-           content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-           enabled: true,
          //-         },
          //-         title: 'Оплачено каналов',
          //-         values: [
          //-           {
          //-             awaiting: '10/20',
          //-             progress: {
          //-               awaiting: '65',
          //-               content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-               enabled: true,
          //-               reality: '100',
          //-               value: '65',
          //-             },
          //-             reality: '20/20',
          //-             value: '10/20',
          //-           },
          //-         ],
          //-       })
          //-       +widget({
          //-         color: 'blue',
          //-         icon: 'widget-awaiting-icon',
          //-         tip: {
          //-           content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-           enabled: true,
          //-         },
          //-         title: 'Ожидают оплаты',
          //-         values: [
          //-           {
          //-             awaiting: '5/20',
          //-             progress: {
          //-               awaiting: '65',
          //-               content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-               enabled: true,
          //-               reality: '100',
          //-               value: '65',
          //-             },
          //-             reality: '20/20',
          //-             value: '5/20',
          //-           },
          //-         ],
          //-       })
          //-       +widget({
          //-         color: 'blue',
          //-         icon: 'widget-warning-icon',
          //-         tip: {
          //-           content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-           enabled: true,
          //-         },
          //-         title: 'Отсутствует счет',
          //-         values: [
          //-           {
          //-             awaiting: '5/20',
          //-             progress: {
          //-               awaiting: '65',
          //-               content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-               enabled: true,
          //-               reality: '100',
          //-               value: '65',
          //-             },
          //-             reality: '20/20',
          //-             value: '5/20',
          //-           },
          //-         ],
          //-       })
          //-       +widget({
          //-         color: 'blue',
          //-         icon: 'widget-grid-icon',
          //-         tip: {
          //-           content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-           enabled: true,
          //-         },
          //-         title: 'Размещено постов',
          //-         values: [
          //-           {
          //-             awaiting: '10/20',
          //-             progress: {
          //-               awaiting: '65',
          //-               content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-               enabled: true,
          //-               reality: '100',
          //-               value: '65',
          //-             },
          //-             reality: '20/20',
          //-             value: '10/20',
          //-           },
          //-         ],
          //-       })
          //-       +widget({
          //-         color: 'blue',
          //-         icon: 'widget-pulse-icon',
          //-         tip: {
          //-           content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-           enabled: true,
          //-         },
          //-         title: 'Постов в работе',
          //-         values: [
          //-           {
          //-             awaiting: '5/20',
          //-             progress: {
          //-               awaiting: '65',
          //-               content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-               enabled: true,
          //-               reality: '100',
          //-               value: '65',
          //-             },
          //-             reality: '20/20',
          //-             value: '5/20',
          //-           },
          //-         ],
          //-       })
          //-       +widget({
          //-         color: 'blue',
          //-         icon: 'widget-check-icon',
          //-         tip: {
          //-           content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-           enabled: true,
          //-         },
          //-         title: 'Завершено сделок',
          //-         values: [
          //-           {
          //-             awaiting: '5/20',
          //-             progress: {
          //-               awaiting: '65',
          //-               content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-               enabled: true,
          //-               reality: '100',
          //-               value: '65',
          //-             },
          //-             reality: '20/20',
          //-             value: '5/20',
          //-           },
          //-         ],
          //-       })
          //-     .selector__buttons
          //-       .selector__scroll
          //-         button.selector__button(data-id="campaign-analytics").active Аналитика
          //-         button.selector__button(data-id="campaign-statistics") Статистика
          //-         button.selector__button(data-id="campaign-employees") Сотрудники
          //-       label.selector__toggle
          //-         input(type="checkbox" name="selector-toggle")
          //-         p.awaiting Ожидание
          //-         span
          //-         p.reality Реальность
          //-     .selector__containers
          //-       .selector__container(data-id="campaign-analytics").active
          //-         .widgets
          //-           +widget({
          //-             icon: 'widget-wallet-plus-icon',
          //-             isProgresses: true,
          //-             isRows: true,
          //-             progresses: [
          //-               {
          //-                 awaiting: '0',
          //-                 content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-                 reality: '100',
          //-                 title: 'плана',
          //-                 value: '0',
          //-               },
          //-               {
          //-                 awaiting: '0',
          //-                 content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-                 reality: '100',
          //-                 title: 'прогноза',
          //-                 value: '0',
          //-               },
          //-             ],
          //-             subtitle: 'Выполнение',
          //-             tip: {
          //-               content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-               enabled: true,
          //-             },
          //-             title: 'Текущая выручка',
          //-             values: [
          //-               {
          //-                 awaiting: '0 ₽',
          //-                 reality: '100 ₽',
          //-                 value: '0 ₽',
          //-               },
          //-             ],
          //-           })
          //-           +widget({
          //-             icon: 'widget-money-icon',
          //-             isProgresses: true,
          //-             isRows: true,
          //-             progresses: [
          //-               {
          //-                 awaiting: '0',
          //-                 content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-                 reality: '100',
          //-                 title: 'плана',
          //-                 value: '0',
          //-               },
          //-               {
          //-                 awaiting: '0',
          //-                 content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-                 reality: '100',
          //-                 title: 'прогноза',
          //-                 value: '0',
          //-               },
          //-             ],
          //-             subtitle: 'Выполнение',
          //-             tip: {
          //-               content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-               enabled: true,
          //-             },
          //-             title: 'Текущая маржа',
          //-             values: [
          //-               {
          //-                 awaiting: '0 ₽',
          //-                 reality: '100 ₽',
          //-                 value: '0 ₽',
          //-               },
          //-             ],
          //-           })
          //-           +widget({
          //-             icon: 'widget-money-icon',
          //-             tip: {
          //-               content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-               enabled: true,
          //-             },
          //-             title: 'Маржинальность',
          //-             values: [
          //-               {
          //-                 awaiting: '0%',
          //-                 reality: '100%',
          //-                 value: '0%',
          //-               },
          //-             ],
          //-           })
          //-           +widget({
          //-             icon: 'widget-discount-icon',
          //-             tip: {
          //-               content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-               enabled: true,
          //-             },
          //-             title: 'Скидка',
          //-             values: [
          //-               {
          //-                 awaiting: '0 ₽ (0%)',
          //-                 progress: {
          //-                   awaiting: '0',
          //-                   content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-                   enabled: true,
          //-                   reality: '100',
          //-                   value: '0',
          //-                 },
          //-                 reality: '100 ₽ (100%)',
          //-                 value: '0 ₽ (0%)',
          //-               },
          //-             ],
          //-           })
          //-           +widget({
          //-             icon: 'widget-consumption-icon',
          //-             position: 'col-end-4',
          //-             tip: {
          //-               content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-               enabled: true,
          //-             },
          //-             title: 'Расход',
          //-             values: [
          //-               {
          //-                 awaiting: '0 ₽',
          //-                 reality: '100 ₽',
          //-                 value: '0 ₽',
          //-               },
          //-             ],
          //-           })
          //-       .selector__container(data-id="campaign-statistics")
          //-         .widgets
          //-           +widget({
          //-             icon: 'widget-eye-icon',
          //-             tip: {
          //-               content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-               enabled: true,
          //-               isHidden: true,
          //-             },
          //-             title: 'Просмотры (в среднем)',
          //-             values: [
          //-               {
          //-                 awaiting: '20 000 000',
          //-                 reality: '40 000 000',
          //-                 value: '20 000 000',
          //-               },
          //-             ],
          //-           })
          //-           +widget({
          //-             icon: 'widget-users-connected-icon',
          //-             isFourValues: true,
          //-             isRows: true,
          //-             mainValue: {
          //-               awaiting: '99 803',
          //-               reality: '100 000',
          //-               value: '99 803',
          //-             },
          //-             tip: {
          //-               content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-               enabled: true,
          //-             },
          //-             title: 'Охват',
          //-             values: [
          //-               {
          //-                 awaiting: '99 803',
          //-                 reality: '100 000',
          //-                 title: '12 часов',
          //-                 value: '99 803',
          //-               },
          //-               {
          //-                 awaiting: '99 803',
          //-                 reality: '100 000',
          //-                 title: '48 часов',
          //-                 value: '99 803',
          //-               },
          //-               {
          //-                 awaiting: '99 803',
          //-                 reality: '100 000',
          //-                 title: '24 часов',
          //-                 value: '99 803',
          //-               },
          //-               {
          //-                 awaiting: '99 803',
          //-                 reality: '100 000',
          //-                 title: '72 часов',
          //-                 value: '99 803',
          //-               },
          //-             ],
          //-           })
          //-           +widget({
          //-             icon: 'widget-favorites-icon',
          //-             tip: {
          //-               content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-               enabled: true,
          //-             },
          //-             title: 'ERR',
          //-             values: [
          //-               {
          //-                 awaiting: '35.59%',
          //-                 reality: '100.59%',
          //-                 value: '35.59%',
          //-               },
          //-             ],
          //-           })
          //-           +widget({
          //-             icon: 'widget-eye-icon',
          //-             position: 'col-end-2',
          //-             tip: {
          //-               content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-               enabled: true,
          //-             },
          //-             title: 'Просмотры (всего)',
          //-             values: [
          //-               {
          //-                 awaiting: '20 000 000',
          //-                 reality: '40 000 000',
          //-                 value: '20 000 000',
          //-               },
          //-             ],
          //-           })
          //-           +widget({
          //-             icon: 'widget-reply-icon',
          //-             tip: {
          //-               content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-               enabled: true,
          //-             },
          //-             title: 'ER',
          //-             values: [
          //-               {
          //-                 awaiting: '35.59%',
          //-                 reality: '100.59%',
          //-                 value: '35.59%',
          //-               },
          //-             ],
          //-           })
          //-       .selector__container(data-id="campaign-employees")
          //- .selectors
          //-   .content.content-not-collapsed
          //-     .selector__buttons
          //-       .selector__scroll
          //-         button.selector__button(data-id="campaign-channels").active Каналы
          //-           span 0
          //-     .selector__containers
          //-       .selector__container(data-id="campaign-channels").active
          //-         +heading-table({
          //-           isSearch: true,
          //-           isRows: true,
          //-           searchClass: 'min-w-[243px] max-w-[243px]',
          //-           buttons: [
          //-             {
          //-               view: 'button',
          //-               class: 'button-with-icon-blue',
          //-               icon: 'other-plus-icon',
          //-               isDisabled: true,
          //-               title: 'Добавить канал',
          //-               dataPopupName: 'add-channel',
          //-             },
          //-             {
          //-               view: 'button',
          //-               class: 'button-with-icon filter__toggle',
          //-               icon: 'other-controls-icon',
          //-               isDisabled: true,
          //-               title: 'Фильтр',
          //-               isClose: true,
          //-               dataFilterName: 'campaign',
          //-             },
          //-           ],
          //-         })
          //-         .in-container.mt-4
          //-           .content.content-collapsed
          //-             .content-scroll
          //-               include ../components/campaign/table
          //-           include ../components/campaign/filter
          //- .selectors
          //-   .content.content-not-collapsed
          //-     .selector__buttons
          //-       .selector__scroll
          //-         button.selector__button(data-id="campaign-channels").active Каналы
          //-           span 6
          //-     .selector__containers
          //-       .selector__container(data-id="campaign-channels").active
          //-         +heading-table({
          //-           isSearch: true,
          //-           isRows: true,
          //-           searchClass: 'min-w-[243px] max-w-[243px]',
          //-           buttons: [
          //-             {
          //-               view: 'button',
          //-               class: 'button-with-icon-blue',
          //-               icon: 'other-plus-icon',
          //-               title: 'Добавить канал',
          //-               dataPopupName: 'add-channel',
          //-             }
          //-           ],
          //-         })
          //-         .in-container.mt-4
          //-           .content.content-collapsed
          //-             .content-scroll
          //-               include ../components/campaign/approval/table-approval
          //- .selectors
          //-   .content.content-not-collapsed
          //-     .selector__buttons
          //-       .selector__scroll
          //-         button.selector__button(data-id="campaign-channels").active Каналы
          //-           span 6
          //-     .selector__containers
          //-       .selector__container(data-id="campaign-channels").active
          //-         +heading-table({
          //-           isSearch: true,
          //-           isRows: true,
          //-           searchClass: 'min-w-[243px] max-w-[243px]',
          //-           buttons: [
          //-             {
          //-               view: 'button',
          //-               class: 'button-with-icon-blue',
          //-               icon: 'other-plus-icon',
          //-               title: 'Добавить канал',
          //-               dataPopupName: 'add-channel',
          //-             },
          //-             {
          //-               view: 'button',
          //-               class: 'button-with-icon filter__toggle',
          //-               icon: 'other-controls-icon',
          //-               title: 'Фильтр',
          //-               isClose: true,
          //-               dataFilterName: 'campaign-survey',
          //-             },
          //-           ],
          //-         })
          //-         .in-container.mt-4
          //-           .content.content-collapsed
          //-             .content-scroll
          //-               include ../components/campaign/survey/table-survey
          //-           include ../components/campaign/survey/filter-survey
          //- .selectors
          //-   .content.content-not-collapsed
          //-     .selector__buttons
          //-       .selector__scroll
          //-         button.selector__button(data-id="campaign-channels").active Каналы
          //-           span 6
          //-     .selector__containers
          //-       .selector__container(data-id="campaign-channels").active
          //-         +heading-table({
          //-           isSearch: true,
          //-           isRows: true,
          //-           searchClass: 'min-w-[243px] max-w-[243px]',
          //-           buttons: [
          //-             {
          //-               view: 'button',
          //-               class: 'button-with-icon-blue',
          //-               icon: 'other-plus-icon',
          //-               title: 'Добавить канал',
          //-               dataPopupName: 'add-channel',
          //-             },
          //-             {
          //-               view: 'button',
          //-               class: 'button-with-icon filter__toggle',
          //-               icon: 'other-controls-icon',
          //-               title: 'Фильтр',
          //-               isClose: true,
          //-               dataFilterName: 'campaign-coordination',
          //-             },
          //-           ],
          //-         })
          //-         .in-container.mt-4
          //-           .content.content-collapsed
          //-             .content-scroll
          //-               include ../components/campaign/coordination/table-coordination
          //-           include ../components/campaign/coordination/filter-coordination
          //- .selectors
          //-   .content.content-not-collapsed
          //-     .selector__buttons
          //-       .selector__scroll
          //-         button.selector__button(data-id="campaign-channels").active Каналы
          //-           span 6
          //-     .selector__containers
          //-       .selector__container(data-id="campaign-channels").active
          //-         +heading-table({
          //-           isSearch: true,
          //-           isRows: true,
          //-           searchClass: 'min-w-[243px] max-w-[243px]',
          //-           buttons: [
          //-             {
          //-               view: 'button',
          //-               class: 'button-with-icon-blue',
          //-               icon: 'other-plus-icon',
          //-               title: 'Добавить канал',
          //-               dataPopupName: 'add-channel',
          //-             },
          //-             {
          //-               view: 'button',
          //-               class: 'button-with-icon filter__toggle',
          //-               icon: 'other-controls-icon',
          //-               title: 'Фильтр',
          //-               isClose: true,
          //-               dataFilterName: 'campaign-approval-client',
          //-             },
          //-           ],
          //-         })
          //-         .in-container.mt-4
          //-           .content.content-collapsed
          //-             .content-scroll
          //-               include ../components/campaign/approval-client/table-approval-client
          //-           include ../components/campaign/approval-client/filter-approval-client
          //- .selectors
          //-   .content.content-not-collapsed
          //-     .selector__buttons
          //-       .selector__scroll
          //-         button.selector__button(data-id="campaign-channels").active Каналы
          //-           span 6
          //-     .selector__containers
          //-       .selector__container(data-id="campaign-channels").active
          //-         +heading-table({
          //-           isSearch: true,
          //-           isRows: true,
          //-           searchClass: 'min-w-[243px] max-w-[243px]',
          //-           buttons: [
          //-             {
          //-               view: 'button',
          //-               class: 'button-with-icon-blue',
          //-               icon: 'other-plus-icon',
          //-               title: 'Добавить канал',
          //-               dataPopupName: 'add-channel',
          //-             },
          //-             {
          //-               view: 'button',
          //-               class: 'button-with-icon filter__toggle',
          //-               icon: 'other-controls-icon',
          //-               title: 'Фильтр',
          //-               isClose: true,
          //-               dataFilterName: 'campaign-mediaplan',
          //-             },
          //-           ],
          //-         })
          //-         .in-container.mt-4
          //-           .content.content-collapsed
          //-             .content-scroll
          //-               include ../components/campaign/mediaplan/table-mediaplan
          //-           include ../components/campaign/mediaplan/filter-mediaplan
          //- .selectors
          //-   .content.content-not-collapsed
          //-     .selector__buttons
          //-       .selector__scroll
          //-         button.selector__button(data-id="campaign-channels").active Каналы
          //-           span 6
          //-     .selector__containers
          //-       .selector__container(data-id="campaign-channels").active
          //-         +heading-table({
          //-           isSearch: true,
          //-           isRows: true,
          //-           searchClass: 'min-w-[243px] max-w-[243px]',
          //-           buttons: [
          //-             {
          //-               view: 'button',
          //-               class: 'button-with-icon-blue',
          //-               icon: 'other-plus-icon',
          //-               title: 'Добавить канал',
          //-               dataPopupName: 'add-channel',
          //-             },
          //-             {
          //-               view: 'button',
          //-               class: 'button-with-icon filter__toggle',
          //-               icon: 'other-controls-icon',
          //-               title: 'Фильтр',
          //-               isClose: true,
          //-               dataFilterName: 'campaign-mediaplan-agreed',
          //-             },
          //-           ],
          //-         })
          //-         .in-container.mt-4
          //-           .content.content-collapsed
          //-             .content-scroll
          //-               include ../components/campaign/mediaplan-agreed/table-mediaplan-agreed
          //-           include ../components/campaign/mediaplan-agreed/filter-mediaplan-agreed
          .selectors
            .content.content-not-collapsed
              .selector__buttons
                .selector__scroll
                  button.selector__button(data-id="campaign-channels") Каналы
                    span 6
                  button.selector__button(data-id="campaign-posts") Посты
                    span 6
                  button.selector__button(data-id="campaign-bills").active Счета
                    span 6
              .selector__containers
                .selector__container(data-id="campaign-channels")
                  +heading-table({
                    isSearch: true,
                    isRows: true,
                    searchClass: 'min-w-[243px] max-w-[243px]',
                    buttons: [
                      {
                        view: 'button',
                        class: 'button-with-icon-blue',
                        icon: 'other-plus-icon',
                        title: 'Добавить канал',
                        dataPopupName: 'add-channel',
                      },
                      {
                        view: 'button',
                        class: 'button-with-icon filter__toggle',
                        icon: 'other-controls-icon',
                        title: 'Фильтр',
                        isClose: true,
                        dataFilterName: 'campaign-process-channels',
                      },
                    ],
                  })
                  .in-container.mt-4
                    .content.content-collapsed
                      .content-scroll
                        include ../components/campaign/process-channels/table-process-channels
                    include ../components/campaign/process-channels/filter-process-channels
                .selector__container(data-id="campaign-posts")
                  +heading-table({
                    isSearch: true,
                    isRows: true,
                    searchClass: 'min-w-[243px] max-w-[243px]',
                    buttons: [
                      {
                        view: 'button',
                        class: 'button-with-icon-blue',
                        icon: 'other-plus-icon',
                        title: 'Добавить канал',
                        dataPopupName: 'add-channel',
                      },
                      {
                        view: 'button',
                        class: 'button-with-icon filter__toggle',
                        icon: 'other-controls-icon',
                        title: 'Фильтр',
                        isClose: true,
                        dataFilterName: 'campaign-process',
                      },
                    ],
                  })
                  .in-container.mt-4
                    .content.content-collapsed
                      .content-scroll
                        include ../components/campaign/process/table-process
                    include ../components/campaign/process/filter-process
                .selector__container.active(data-id="campaign-bills")
                  <div class="heading heading-table heading-table-rows">
                    <div class="heading__buttons">
                      <div class="heading__left">
                        <div class="heading__left__inner">
                          <form class="search min-w-[243px] max-w-[243px]" action="#">
                            <label class="search__label">
                              <input class="search__input " required="" type="search" autocomplete="on" placeholder="Поиск..." name="search">
                              <svg viewBox="0 0 18 18" width="18" height="18">
                                <use xlink:href="#other-search-icon"></use>
                              </svg>
                            </label>
                          </form>
                        </div>
                      </div>
                      <div class="heading__bills">
                        <div class="heading__bills__title">Показывать каналы</div>
                        <button class="heading__toggle heading__toggle-main" type="button">
                          <p><span></span></p>
                        </button>
                      </div>
                      <div class="heading__right">
                        <div class="dropdown dropdown-with-icon header__dropdown bills-action">
                          <div class="dropdown__container">
                            <div class="dropdown__button button-with-icon-blue">
                              <div class="dropdown__inner">
                                <div class="dropdown__title">Действия со счетами</div>
                              </div>
                              <button class="button button-icon sm" type="button" aria-label="button">
                                <svg viewBox="0 0 10 6" width="10" height="6">
                                  <use xlink:href="#other-angle-down-icon"></use>
                                </svg>
                              </button>
                            </div>
                            <div class="dropdown__list">
                              <button class="button button-with-icon-full sm disabled bill-generate" type="button" aria-label="button" data-popup-name="generate-bill">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <g clip-path="url(#clip0_3256_14477)">
                                    <path d="M8.31055 0.400391C8.92342 0.400521 9.50545 0.668443 9.9043 1.13379L12.0947 3.68848C12.4208 4.06901 12.5996 4.55361 12.5996 5.05469V7.5498L12.4199 7.30957C12.2078 7.02719 11.8709 6.84961 11.5 6.84961H11.4004V5.09961H10C9.11635 5.09961 8.40039 4.38365 8.40039 3.5V1.60449C8.37069 1.6015 8.34071 1.59962 8.31055 1.59961H2.5C2.00295 1.59961 1.59961 2.00294 1.59961 2.5V12.5C1.59961 12.997 2.00294 13.4004 2.5 13.4004H9.92285L9.94922 13.457C9.97503 13.5119 9.99598 13.5703 10.0098 13.6309L10.2021 14.4775L10.2295 14.5996H2.5C1.3402 14.5996 0.400391 13.6598 0.400391 12.5V2.5C0.400391 1.3402 1.3402 0.400391 2.5 0.400391H8.31055ZM9.59961 3.5C9.59961 3.72092 9.77908 3.90039 10 3.90039H10.6953L9.59961 2.62109V3.5Z" fill="#374151" stroke="#374151" stroke-width="0.2"/>
                                    <path d="M11.5 7.4502C11.7567 7.4502 11.9792 7.62764 12.0361 7.87793L12.4053 9.50195C12.529 10.0459 12.9541 10.471 13.498 10.5947L15.1221 10.9639C15.3724 11.0208 15.5498 11.2433 15.5498 11.5C15.5498 11.7567 15.3724 11.9792 15.1221 12.0361L13.498 12.4053C12.9541 12.529 12.529 12.9541 12.4053 13.498L12.0361 15.1221C11.9792 15.3724 11.7567 15.5498 11.5 15.5498C11.2433 15.5498 11.0208 15.3724 10.9639 15.1221L10.5947 13.498C10.471 12.9541 10.0459 12.529 9.50195 12.4053L7.87793 12.0361C7.62764 11.9792 7.4502 11.7567 7.4502 11.5C7.4502 11.2433 7.62764 11.0208 7.87793 10.9639L9.50195 10.5947C10.0459 10.471 10.471 10.0459 10.5947 9.50195L10.9639 7.87793C11.0208 7.62764 11.2433 7.4502 11.5 7.4502ZM11.5 10.2324C11.245 10.7949 10.7949 11.245 10.2324 11.5C10.7946 11.7549 11.2449 12.2045 11.5 12.7666C11.755 12.2048 12.2048 11.755 12.7666 11.5C12.2045 11.2449 11.7549 10.7946 11.5 10.2324Z" fill="#374151" stroke="#374151" stroke-width="0.1"/>
                                  </g>
                                  <defs>
                                    <clipPath id="clip0_3256_14477">
                                      <rect width="16" height="16" fill="white"/>
                                    </clipPath>
                                  </defs>
                                </svg>
                                <span>Сгенерировать</span>
                              </button>
                              <button class="button button-with-icon-full sm bill-create" type="button aria-label="button">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <g clip-path="url(#clip0_3256_14482)">
                                    <path d="M6.92871 0.299805C7.71732 0.299805 8.31061 0.544248 8.70801 0.930664C9.10399 1.31575 9.28995 1.82675 9.29004 2.33105C9.29004 2.67677 9.22477 2.9382 9.13379 3.14258C9.08862 3.24396 9.03773 3.32922 8.98828 3.40137L8.85156 3.58105H10.5039C11.5618 3.58108 12.2704 4.54174 12.2705 5.74609V7.3916L12.2715 7.39355C12.2815 7.4097 12.296 7.43029 12.3145 7.44922C12.3433 7.47875 12.3705 7.49154 12.3926 7.49805C12.395 7.49632 12.3985 7.49528 12.4014 7.49316C12.435 7.46856 12.4754 7.43364 12.5264 7.38965C12.7512 7.19541 13.1324 6.8623 13.7861 6.8623C14.2713 6.86241 14.7561 7.06998 15.1162 7.49902C15.4753 7.92702 15.7002 8.5622 15.7002 9.40625C15.7002 11.0021 14.6774 11.892 13.6162 11.8926C13.2926 11.8926 13.047 11.8195 12.8555 11.7168C12.6667 11.6155 12.5383 11.4895 12.4502 11.4033V11.4023C12.4277 11.3805 12.4096 11.3635 12.3945 11.3496C12.391 11.3464 12.3877 11.3435 12.3848 11.3408C12.3646 11.3484 12.3406 11.3625 12.3154 11.3887C12.2972 11.4076 12.2824 11.4277 12.2725 11.4443C12.2717 11.4456 12.2712 11.4471 12.2705 11.4482V13.5889C12.2704 14.1883 12.0989 14.7134 11.7881 15.0928C11.4747 15.475 11.0266 15.7002 10.5039 15.7002L8.81445 15.6992H8.80566C8.56115 15.6883 8.3442 15.6071 8.1875 15.4521C8.0298 15.296 7.95119 15.0831 7.95117 14.8457C7.95117 14.6158 8.04468 14.4475 8.13477 14.3242L8.2207 14.2148C8.29129 14.1277 8.3461 14.0586 8.3877 13.9629C8.42851 13.8688 8.46094 13.7368 8.46094 13.5283C8.46091 13.1757 8.31727 12.8933 8.06152 12.6943C7.80096 12.4916 7.41037 12.3662 6.91016 12.3662C6.4099 12.3662 6.01927 12.4917 5.75879 12.6943C5.50316 12.8933 5.35941 13.1756 5.35938 13.5283C5.35938 13.7369 5.39186 13.8688 5.43262 13.9629C5.47416 14.0586 5.52889 14.1278 5.59961 14.2148C5.70292 14.3421 5.86816 14.5393 5.86816 14.8457C5.86815 15.0824 5.7875 15.2946 5.63184 15.4502C5.47703 15.6049 5.26331 15.6894 5.02344 15.7002H2.3877C1.2789 15.7002 0.300274 14.6448 0.299805 13.498V11.5684C0.309036 11.3124 0.379758 11.0836 0.518555 10.915C0.661222 10.7421 0.863841 10.6484 1.09668 10.6484C1.39087 10.6485 1.59953 10.8494 1.7334 10.9707C1.92543 11.1441 2.09862 11.2979 2.44238 11.2979C2.71324 11.2978 3.03212 11.1285 3.29102 10.792C3.54662 10.4596 3.72852 9.98009 3.72852 9.40625C3.72852 8.27804 3.02533 7.73145 2.42871 7.73145C2.07472 7.73151 1.90348 7.87455 1.71777 8.03027C1.58471 8.14249 1.38117 8.32324 1.09668 8.32324C0.863957 8.32316 0.662024 8.22981 0.519531 8.05859C0.380682 7.8915 0.310071 7.66501 0.300781 7.41309V5.65625C0.300781 4.54567 1.27349 3.58105 2.3877 3.58105H4.96875C4.88982 3.4836 4.77585 3.34467 4.68555 3.1416C4.5948 2.93735 4.53027 2.67645 4.53027 2.33105C4.53037 1.72535 4.77737 1.21117 5.20898 0.851562C5.63759 0.494505 6.23552 0.299824 6.92871 0.299805ZM6.92871 1.16895C6.43211 1.16896 6.03636 1.29755 5.76953 1.50293C5.50697 1.70512 5.35948 1.98787 5.35938 2.33105C5.35938 2.54006 5.39181 2.67246 5.43262 2.7666C5.47418 2.86242 5.52883 2.93146 5.59961 3.01855L5.68555 3.12793C5.77554 3.25131 5.86816 3.41968 5.86816 3.64941C5.86812 3.80437 5.8357 4.00184 5.70117 4.16602C5.56184 4.33589 5.34127 4.43581 5.03613 4.44824L5.03711 4.44922L5.01758 4.4502H2.3877C1.7862 4.4502 1.12891 4.9591 1.12891 5.65625V7.38867L1.13086 7.40625C1.15032 7.39054 1.17382 7.37394 1.19922 7.35254L1.3916 7.19922C1.61588 7.03555 1.94201 6.86236 2.42871 6.8623C3.48903 6.8623 4.55762 7.78864 4.55762 9.40625C4.55762 11.0065 3.51467 12.167 2.44238 12.167C1.78397 12.1669 1.41118 11.8274 1.19238 11.6289V11.6279C1.17022 11.6079 1.14908 11.5912 1.13086 11.5752C1.13055 11.5805 1.12911 11.586 1.12891 11.5918V13.498C1.12891 13.824 1.28298 14.1602 1.52734 14.417C1.77223 14.6743 2.08761 14.8311 2.3877 14.8311H4.99707C5.00123 14.8309 5.00506 14.8294 5.00879 14.8291C4.99756 14.8147 4.9848 14.7972 4.96875 14.7773C4.88954 14.6798 4.77577 14.5416 4.68555 14.3389C4.59464 14.1346 4.53032 13.8738 4.53027 13.5283C4.53027 12.9231 4.77491 12.4087 5.20312 12.0488C5.62843 11.6914 6.22208 11.4961 6.91016 11.4961C7.70466 11.4961 8.30262 11.74 8.70312 12.126C9.10249 12.511 9.29004 13.0234 9.29004 13.5283C9.29 13.8739 9.22475 14.1346 9.13379 14.3389C9.04339 14.5417 8.93039 14.681 8.85156 14.7783C8.83608 14.7975 8.82248 14.8131 8.81152 14.8271C8.81782 14.8277 8.82448 14.8307 8.83203 14.8311H10.5039C10.8253 14.831 11.0506 14.6873 11.2031 14.4658C11.3608 14.2367 11.4434 13.9188 11.4434 13.5889V11.3887C11.4434 11.3899 11.4425 11.3902 11.4424 11.3877C11.4423 11.3869 11.4426 11.3783 11.4424 11.373C11.4419 11.3617 11.4413 11.3392 11.4453 11.3125H11.4443C11.4711 11.1159 11.5885 10.908 11.75 10.751C11.9139 10.5917 12.1447 10.4649 12.415 10.4648C12.7153 10.4648 12.9046 10.6594 13.0156 10.7676C13.0959 10.8459 13.1569 10.9037 13.2402 10.9473C13.3201 10.989 13.4333 11.0234 13.6162 11.0234C13.9124 11.0234 14.2227 10.9034 14.46 10.6475C14.6962 10.3925 14.8711 9.98938 14.8711 9.40625C14.8711 8.86317 14.7508 8.43748 14.5566 8.1543C14.3668 7.87754 14.1045 7.73156 13.7861 7.73145C13.5249 7.73145 13.3562 7.81814 13.2041 7.93457L13.0537 8.05957C12.9085 8.18484 12.7036 8.37305 12.415 8.37305C12.1448 8.37299 11.9138 8.24607 11.75 8.08691C11.5908 7.93226 11.4755 7.72806 11.4463 7.53418V7.53516C11.4405 7.50419 11.4418 7.47752 11.4424 7.46484C11.4426 7.45958 11.4423 7.45096 11.4424 7.4502C11.4425 7.44761 11.4434 7.44787 11.4434 7.44922V5.74609C11.4433 5.40613 11.3528 5.07352 11.1885 4.83203C11.0276 4.59564 10.8002 4.45021 10.5039 4.4502H8.81152V4.44922C8.79779 4.44927 8.78416 4.44859 8.77051 4.44727V4.44824C8.46929 4.43069 8.25202 4.32862 8.11523 4.16016C7.98278 3.99698 7.95117 3.80231 7.95117 3.64941C7.95121 3.343 8.11752 3.1457 8.2207 3.01855C8.29127 2.93145 8.34606 2.86253 8.3877 2.7666C8.42861 2.67233 8.46094 2.53981 8.46094 2.33105C8.46084 1.97764 8.3179 1.69565 8.06543 1.49707C7.80821 1.29481 7.42293 1.16895 6.92871 1.16895Z" fill="#374151" stroke="#374151" stroke-width="0.4"/>
                                  </g>
                                  <defs>
                                    <clipPath id="clip0_3256_14482">
                                      <rect width="16" height="16" fill="white"/>
                                    </clipPath>
                                  </defs>
                                </svg>
                                <span>Создать вручную</span>
                              </button>
                              <button class="button button-with-icon-full sm disabled bill-restore" type="button aria-label="button">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <g clip-path="url(#clip0_3256_14485)">
                                    <path d="M8.5 1.90039C11.8651 1.9005 14.5996 4.63484 14.5996 8C14.5996 11.3652 11.8651 14.0995 8.5 14.0996C8.2216 14.0996 7.94033 14.0799 7.66504 14.042L7.3916 13.998C7.06671 13.9379 6.85129 13.6205 6.91113 13.2969L6.91211 13.2949C6.97767 12.9735 7.28229 12.7566 7.6123 12.8164H7.61328C7.9077 12.8704 8.20655 12.9004 8.50488 12.9004C11.2046 12.9003 13.4053 10.6997 13.4053 8C13.4053 5.30026 11.2046 3.09966 8.50488 3.09961C5.80511 3.09961 3.60449 5.30023 3.60449 8C3.60449 8.57922 3.70211 9.14298 3.90039 9.68164L3.99219 9.91113L4.07031 10.0889C4.23288 10.4369 4.43571 10.7608 4.67676 11.0605L4.91211 9.88086V9.87988C4.97825 9.55579 5.29616 9.34612 5.62012 9.41211C5.94412 9.47832 6.15387 9.79622 6.08789 10.1201L5.58789 12.6191V12.6211C5.52807 12.9017 5.28239 13.0995 5 13.0996C4.97981 13.0996 4.96152 13.0979 4.94824 13.0967C4.93416 13.0954 4.92475 13.0947 4.91504 13.0947H4.90625L4.89844 13.0938L1.89844 12.5938C1.57375 12.5396 1.35221 12.2276 1.40625 11.9033C1.4604 11.5792 1.76645 11.3574 2.0957 11.4111L3.63086 11.6641C3.37535 11.3262 3.15208 10.9681 2.97168 10.5811L2.88281 10.3789C2.56254 9.62645 2.39941 8.82324 2.39941 8C2.39941 4.63477 5.13477 1.90039 8.5 1.90039Z" fill="#374151" stroke="#374151" stroke-width="0.2"/>
                                  </g>
                                  <defs>
                                    <clipPath id="clip0_3256_14485">
                                      <rect width="16" height="16" fill="white"/>
                                    </clipPath>
                                  </defs>
                                </svg>
                                <span>Восстановить по шаблону</span>
                              </button>
                              <button class="button button-with-icon-full sm disabled bill-cancel" type="button aria-label="button">
                                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <g clip-path="url(#clip0_3256_14471)">
                                    <path d="M8.00049 0.388672C12.0115 0.388844 15.267 3.5699 15.2671 7.49902C15.2671 11.4282 12.0116 14.6102 8.00049 14.6104C3.9893 14.6104 0.733887 11.4283 0.733887 7.49902C0.733957 3.5698 3.98935 0.388672 8.00049 0.388672ZM8.00049 1.56641C4.64792 1.56641 1.93318 4.22466 1.93311 7.49902C1.93311 10.7734 4.64788 13.4316 8.00049 13.4316C11.3529 13.4315 14.0669 10.7733 14.0669 7.49902C14.0668 4.22476 11.3529 1.56658 8.00049 1.56641Z" fill="#374151" stroke="#374151" stroke-width="0.2"/>
                                    <path d="M9.24365 5.45215C9.47774 5.22357 9.85631 5.22346 10.0903 5.45215C10.3256 5.68234 10.3256 6.05686 10.0903 6.28711L6.75732 9.54785C6.52321 9.7769 6.14379 9.7769 5.90967 9.54785C5.67477 9.31769 5.67477 8.94403 5.90967 8.71387L9.24365 5.45312V5.45215Z" fill="#374151" stroke="#374151" stroke-width="0.2"/>
                                    <path d="M5.90967 5.45312C6.14379 5.22409 6.52321 5.22408 6.75732 5.45312L10.0903 8.71387C10.3254 8.94407 10.3254 9.31765 10.0903 9.54785C9.8562 9.7769 9.47779 9.7769 9.24365 9.54785L5.90967 6.28711C5.67474 6.05698 5.67483 5.6833 5.90967 5.45312Z" fill="#374151" stroke="#374151" stroke-width="0.2"/>
                                  </g>
                                  <defs>
                                    <clipPath id="clip0_3256_14471">
                                      <rect width="16" height="15" fill="white"/>
                                    </clipPath>
                                  </defs>
                                </svg>
                                <span>Отменить</span>
                              </button>
                            </div>
                          </div>
                        </div>
                        <button class="button button-with-icon filter__toggle" type="button" aria-label="button" data-filter-name="campaign-bills">
                          <svg viewBox="0 0 20 20" width="20" height="20">
                            <use xlink:href="#other-controls-icon"></use>
                          </svg>
                          <span>Фильтр</span>
                          <svg class="button-clear filter-clear" viewBox="0 0 9 9" width="9" height="9">
                            <use xlink:href="#other-close-icon"></use>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                  .in-container.mt-4
                    .content.content-collapsed
                      .content-scroll
                        include ../components/campaign/bills/table-bills
                    include ../components/campaign/bills/filter-bills
          .selectors
            .content.content-not-collapsed
              .selector__buttons
                .selector__scroll
                  button.selector__button(data-id="comments") Комментарии (2)
                  button.selector__button(data-id="actions").active Все действия (2)
              .selector__containers
                .selector__container(data-id="comments")
                  include ../components/campaign/messages
                .selector__container(data-id="actions").active
                  include ../components/campaign/actions
                .messages__bottom
                  .messages__footer
                    form(action="#").messages__form.default
                      +input({
                        class: 'messages__upload',
                        isFileUpload: true,
                        isMultiple: true,
                        isRequired: true,
                        isTextarea: true,
                        label: '',
                        name: 'comment',
                        placeholder: 'Отправить комментарий...',
                      })
                      +button({
                        class: 'button-icon-round messages__submit',
                        icon: 'other-send-icon',
                        isDisabled: true,
                        isOnlyIcon: true,
                        type: 'submit',
                        view: 'button',
                      })
        include ../components/campaign/aside
  include ../components/upload-alert