extends ../layouts/master

block title
  title Топ Трафик | Кампания

block basicSeo
  meta(content="Кампания" name="description")
  meta(content="Кампания" name="keywords")
  meta(content="Кампания" property="og:title")
  meta(content="Кампания" name="twitter:title")

block content
  main.page
    include ../components/sidebar
    include ../components/header
    .wrapper
      +heading({
        image: {
          alt: 'avatar',
          enabled: true,
          src: '/assets/images/avatar.png',
        },
        isRk: true,
        title: 'Test_MTC_September',
      })
      .campaign__info
        table.table
          tr
            th.text-black-200 Клиент
            td Мтс
        table.table
          tr
            th.text-black-200 Период
            td 01.01.2024 - 31.01.2024
        table.table
          tr
            th.text-black-200 Куратор
            td
              +dropdown({
                buttons: [
                  {
                    class: 'cancel-all',
                    isChecked: true,
                    name: 'curator',
                    title: '—',
                  },
                  {
                    class: '',
                    image: {
                      alt: 'image',
                      enabled: true,
                      src: '/assets/images/user-image.png',
                    },
                    name: 'curator',
                    title: 'ООО “ИП”',
                  },
                  {
                    class: '',
                    image: {
                      alt: 'image',
                      enabled: true,
                      src: '/assets/images/avatar.png',
                    },
                    name: 'curator',
                    title: 'ООО “ИП”',
                  },
                ],
                class: 'dropdown-radios dropdown-copy-image',
                isRadios: true,
                isSearch: true,
                title: '—',
              })
      .inner.in-container
        .content.content-sm
          //- .selectors
          //-   .content.content-not-collapsed
          //-     .widgets.widgets-no-controls
          //-       +widget({
          //-         color: 'blue',
          //-         icon: 'widget-tablet-icon',
          //-         tip: {
          //-           content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-           enabled: true,
          //-         },
          //-         title: 'Опрошено',
          //-         values: [
          //-           {
          //-             awaiting: '15/20',
          //-             progress: {
          //-               awaiting: '65',
          //-               content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-               enabled: true,
          //-               reality: '100',
          //-               value: '65',
          //-             },
          //-             reality: '20/20',
          //-             value: '15/20',
          //-           },
          //-         ],
          //-       })
          //-       +widget({
          //-         color: 'blue',
          //-         icon: 'widget-tablet-icon',
          //-         tip: {
          //-           content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-           enabled: true,
          //-         },
          //-         title: 'Подтверждено',
          //-         values: [
          //-           {
          //-             awaiting: '12/20',
          //-             progress: {
          //-               awaiting: '65',
          //-               content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-               enabled: true,
          //-               reality: '100',
          //-               value: '65',
          //-             },
          //-             reality: '20/20',
          //-             value: '12/20',
          //-           },
          //-         ],
          //-       })
          //-       +widget({
          //-         color: 'blue',
          //-         icon: 'widget-tablet-icon',
          //-         tip: {
          //-           content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-           enabled: true,
          //-         },
          //-         title: 'Проверено каналов',
          //-         values: [
          //-           {
          //-             awaiting: '15/20',
          //-             progress: {
          //-               awaiting: '65',
          //-               content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-               enabled: true,
          //-               reality: '100',
          //-               value: '65',
          //-             },
          //-             reality: '20/20',
          //-             value: '15/20',
          //-           },
          //-         ],
          //-       })
          //-       +widget({
          //-         buttons: [
          //-           {
          //-             href: '#',
          //-             icon: 'other-attachment-icon',
          //-             view: 'link',
          //-           },
          //-           {
          //-             href: '#',
          //-             icon: 'other-download-icon',
          //-             isDownload: true,
          //-             view: 'link',
          //-           },
          //-         ],
          //-         color: 'blue',
          //-         icon: 'widget-check-icon',
          //-         tip: {
          //-           content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-           enabled: true,
          //-         },
          //-         title: 'Медиаплан готов',
          //-         values: [
          //-           {
          //-             value: '157 каналов',
          //-           },
          //-         ],
          //-       })
          //-       +widget({
          //-         color: 'blue',
          //-         icon: 'widget-check-icon',
          //-         tip: {
          //-           content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-           enabled: true,
          //-         },
          //-         title: 'Согласовано каналов',
          //-         values: [
          //-           {
          //-             awaiting: '15/20',
          //-             progress: {
          //-               awaiting: '65',
          //-               content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-               enabled: true,
          //-               reality: '100',
          //-               value: '65',
          //-             },
          //-             reality: '20/20',
          //-             value: '15/20',
          //-           },
          //-         ],
          //-       })
          //-       +widget({
          //-         color: 'blue',
          //-         icon: 'widget-list-plus-icon',
          //-         tip: {
          //-           content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-           enabled: true,
          //-         },
          //-         title: 'Новых каналов',
          //-         values: [
          //-           {
          //-             value: '15',
          //-           },
          //-         ],
          //-       })
          //-       +widget({
          //-         color: 'blue',
          //-         icon: 'widget-check-icon',
          //-         tip: {
          //-           content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-           enabled: true,
          //-         },
          //-         title: 'Оплачено каналов',
          //-         values: [
          //-           {
          //-             awaiting: '10/20',
          //-             progress: {
          //-               awaiting: '65',
          //-               content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-               enabled: true,
          //-               reality: '100',
          //-               value: '65',
          //-             },
          //-             reality: '20/20',
          //-             value: '10/20',
          //-           },
          //-         ],
          //-       })
          //-       +widget({
          //-         color: 'blue',
          //-         icon: 'widget-awaiting-icon',
          //-         tip: {
          //-           content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-           enabled: true,
          //-         },
          //-         title: 'Ожидают оплаты',
          //-         values: [
          //-           {
          //-             awaiting: '5/20',
          //-             progress: {
          //-               awaiting: '65',
          //-               content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-               enabled: true,
          //-               reality: '100',
          //-               value: '65',
          //-             },
          //-             reality: '20/20',
          //-             value: '5/20',
          //-           },
          //-         ],
          //-       })
          //-       +widget({
          //-         color: 'blue',
          //-         icon: 'widget-warning-icon',
          //-         tip: {
          //-           content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-           enabled: true,
          //-         },
          //-         title: 'Отсутствует счет',
          //-         values: [
          //-           {
          //-             awaiting: '5/20',
          //-             progress: {
          //-               awaiting: '65',
          //-               content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-               enabled: true,
          //-               reality: '100',
          //-               value: '65',
          //-             },
          //-             reality: '20/20',
          //-             value: '5/20',
          //-           },
          //-         ],
          //-       })
          //-       +widget({
          //-         color: 'blue',
          //-         icon: 'widget-grid-icon',
          //-         tip: {
          //-           content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-           enabled: true,
          //-         },
          //-         title: 'Размещено постов',
          //-         values: [
          //-           {
          //-             awaiting: '10/20',
          //-             progress: {
          //-               awaiting: '65',
          //-               content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-               enabled: true,
          //-               reality: '100',
          //-               value: '65',
          //-             },
          //-             reality: '20/20',
          //-             value: '10/20',
          //-           },
          //-         ],
          //-       })
          //-       +widget({
          //-         color: 'blue',
          //-         icon: 'widget-pulse-icon',
          //-         tip: {
          //-           content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-           enabled: true,
          //-         },
          //-         title: 'Постов в работе',
          //-         values: [
          //-           {
          //-             awaiting: '5/20',
          //-             progress: {
          //-               awaiting: '65',
          //-               content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-               enabled: true,
          //-               reality: '100',
          //-               value: '65',
          //-             },
          //-             reality: '20/20',
          //-             value: '5/20',
          //-           },
          //-         ],
          //-       })
          //-       +widget({
          //-         color: 'blue',
          //-         icon: 'widget-check-icon',
          //-         tip: {
          //-           content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-           enabled: true,
          //-         },
          //-         title: 'Завершено сделок',
          //-         values: [
          //-           {
          //-             awaiting: '5/20',
          //-             progress: {
          //-               awaiting: '65',
          //-               content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-               enabled: true,
          //-               reality: '100',
          //-               value: '65',
          //-             },
          //-             reality: '20/20',
          //-             value: '5/20',
          //-           },
          //-         ],
          //-       })
          //-     .selector__buttons
          //-       .selector__scroll
          //-         button.selector__button(data-id="campaign-analytics").active Аналитика
          //-         button.selector__button(data-id="campaign-statistics") Статистика
          //-         button.selector__button(data-id="campaign-employees") Сотрудники
          //-       label.selector__toggle
          //-         input(type="checkbox" name="selector-toggle")
          //-         p.awaiting Ожидание
          //-         span
          //-         p.reality Реальность
          //-     .selector__containers
          //-       .selector__container(data-id="campaign-analytics").active
          //-         .widgets
          //-           +widget({
          //-             icon: 'widget-wallet-plus-icon',
          //-             isProgresses: true,
          //-             isRows: true,
          //-             progresses: [
          //-               {
          //-                 awaiting: '0',
          //-                 content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-                 reality: '100',
          //-                 title: 'плана',
          //-                 value: '0',
          //-               },
          //-               {
          //-                 awaiting: '0',
          //-                 content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-                 reality: '100',
          //-                 title: 'прогноза',
          //-                 value: '0',
          //-               },
          //-             ],
          //-             subtitle: 'Выполнение',
          //-             tip: {
          //-               content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-               enabled: true,
          //-             },
          //-             title: 'Текущая выручка',
          //-             values: [
          //-               {
          //-                 awaiting: '0 ₽',
          //-                 reality: '100 ₽',
          //-                 value: '0 ₽',
          //-               },
          //-             ],
          //-           })
          //-           +widget({
          //-             icon: 'widget-money-icon',
          //-             isProgresses: true,
          //-             isRows: true,
          //-             progresses: [
          //-               {
          //-                 awaiting: '0',
          //-                 content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-                 reality: '100',
          //-                 title: 'плана',
          //-                 value: '0',
          //-               },
          //-               {
          //-                 awaiting: '0',
          //-                 content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-                 reality: '100',
          //-                 title: 'прогноза',
          //-                 value: '0',
          //-               },
          //-             ],
          //-             subtitle: 'Выполнение',
          //-             tip: {
          //-               content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-               enabled: true,
          //-             },
          //-             title: 'Текущая маржа',
          //-             values: [
          //-               {
          //-                 awaiting: '0 ₽',
          //-                 reality: '100 ₽',
          //-                 value: '0 ₽',
          //-               },
          //-             ],
          //-           })
          //-           +widget({
          //-             icon: 'widget-money-icon',
          //-             tip: {
          //-               content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-               enabled: true,
          //-             },
          //-             title: 'Маржинальность',
          //-             values: [
          //-               {
          //-                 awaiting: '0%',
          //-                 reality: '100%',
          //-                 value: '0%',
          //-               },
          //-             ],
          //-           })
          //-           +widget({
          //-             icon: 'widget-discount-icon',
          //-             tip: {
          //-               content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-               enabled: true,
          //-             },
          //-             title: 'Скидка',
          //-             values: [
          //-               {
          //-                 awaiting: '0 ₽ (0%)',
          //-                 progress: {
          //-                   awaiting: '0',
          //-                   content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
          //-                   enabled: true,
          //-                   reality: '100',
          //-                   value: '0',
          //-                 },
          //-                 reality: '100 ₽ (100%)',
          //-                 value: '0 ₽ (0%)',
          //-               },
          //-             ],
          //-           })
          //-           +widget({
          //-             icon: 'widget-consumption-icon',
          //-             position: 'col-end-4',
          //-             tip: {
          //-               content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-               enabled: true,
          //-             },
          //-             title: 'Расход',
          //-             values: [
          //-               {
          //-                 awaiting: '0 ₽',
          //-                 reality: '100 ₽',
          //-                 value: '0 ₽',
          //-               },
          //-             ],
          //-           })
          //-       .selector__container(data-id="campaign-statistics")
          //-         .widgets
          //-           +widget({
          //-             icon: 'widget-eye-icon',
          //-             tip: {
          //-               content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-               enabled: true,
          //-               isHidden: true,
          //-             },
          //-             title: 'Просмотры (в среднем)',
          //-             values: [
          //-               {
          //-                 awaiting: '20 000 000',
          //-                 reality: '40 000 000',
          //-                 value: '20 000 000',
          //-               },
          //-             ],
          //-           })
          //-           +widget({
          //-             icon: 'widget-users-connected-icon',
          //-             isFourValues: true,
          //-             isRows: true,
          //-             mainValue: {
          //-               awaiting: '99 803',
          //-               reality: '100 000',
          //-               value: '99 803',
          //-             },
          //-             tip: {
          //-               content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-               enabled: true,
          //-             },
          //-             title: 'Охват',
          //-             values: [
          //-               {
          //-                 awaiting: '99 803',
          //-                 reality: '100 000',
          //-                 title: '12 часов',
          //-                 value: '99 803',
          //-               },
          //-               {
          //-                 awaiting: '99 803',
          //-                 reality: '100 000',
          //-                 title: '48 часов',
          //-                 value: '99 803',
          //-               },
          //-               {
          //-                 awaiting: '99 803',
          //-                 reality: '100 000',
          //-                 title: '24 часов',
          //-                 value: '99 803',
          //-               },
          //-               {
          //-                 awaiting: '99 803',
          //-                 reality: '100 000',
          //-                 title: '72 часов',
          //-                 value: '99 803',
          //-               },
          //-             ],
          //-           })
          //-           +widget({
          //-             icon: 'widget-favorites-icon',
          //-             tip: {
          //-               content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-               enabled: true,
          //-             },
          //-             title: 'ERR',
          //-             values: [
          //-               {
          //-                 awaiting: '35.59%',
          //-                 reality: '100.59%',
          //-                 value: '35.59%',
          //-               },
          //-             ],
          //-           })
          //-           +widget({
          //-             icon: 'widget-eye-icon',
          //-             position: 'col-end-2',
          //-             tip: {
          //-               content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-               enabled: true,
          //-             },
          //-             title: 'Просмотры (всего)',
          //-             values: [
          //-               {
          //-                 awaiting: '20 000 000',
          //-                 reality: '40 000 000',
          //-                 value: '20 000 000',
          //-               },
          //-             ],
          //-           })
          //-           +widget({
          //-             icon: 'widget-reply-icon',
          //-             tip: {
          //-               content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          //-               enabled: true,
          //-             },
          //-             title: 'ER',
          //-             values: [
          //-               {
          //-                 awaiting: '35.59%',
          //-                 reality: '100.59%',
          //-                 value: '35.59%',
          //-               },
          //-             ],
          //-           })
          //-       .selector__container(data-id="campaign-employees")
          //- .selectors
          //-   .content.content-not-collapsed
          //-     .selector__buttons
          //-       .selector__scroll
          //-         button.selector__button(data-id="campaign-channels").active Каналы
          //-           span 0
          //-     .selector__containers
          //-       .selector__container(data-id="campaign-channels").active
          //-         +heading-table({
          //-           isSearch: true,
          //-           isRows: true,
          //-           searchClass: 'min-w-[243px] max-w-[243px]',
          //-           buttons: [
          //-             {
          //-               view: 'button',
          //-               class: 'button-with-icon-blue',
          //-               icon: 'other-plus-icon',
          //-               isDisabled: true,
          //-               title: 'Добавить канал',
          //-               dataPopupName: 'add-channel',
          //-             },
          //-             {
          //-               view: 'button',
          //-               class: 'button-with-icon filter__toggle',
          //-               icon: 'other-controls-icon',
          //-               isDisabled: true,
          //-               title: 'Фильтр',
          //-               isClose: true,
          //-               dataFilterName: 'campaign',
          //-             },
          //-           ],
          //-         })
          //-         .in-container.mt-4
          //-           .content.content-collapsed
          //-             .content-scroll
          //-               include ../components/campaign/table
          //-           include ../components/campaign/filter
          //- .selectors
          //-   .content.content-not-collapsed
          //-     .selector__buttons
          //-       .selector__scroll
          //-         button.selector__button(data-id="campaign-channels").active Каналы
          //-           span 6
          //-     .selector__containers
          //-       .selector__container(data-id="campaign-channels").active
          //-         +heading-table({
          //-           isSearch: true,
          //-           isRows: true,
          //-           searchClass: 'min-w-[243px] max-w-[243px]',
          //-           buttons: [
          //-             {
          //-               view: 'button',
          //-               class: 'button-with-icon-blue',
          //-               icon: 'other-plus-icon',
          //-               title: 'Добавить канал',
          //-               dataPopupName: 'add-channel',
          //-             }
          //-           ],
          //-         })
          //-         .in-container.mt-4
          //-           .content.content-collapsed
          //-             .content-scroll
          //-               include ../components/campaign/approval/table-approval
          //- .selectors
          //-   .content.content-not-collapsed
          //-     .selector__buttons
          //-       .selector__scroll
          //-         button.selector__button(data-id="campaign-channels").active Каналы
          //-           span 6
          //-     .selector__containers
          //-       .selector__container(data-id="campaign-channels").active
          //-         +heading-table({
          //-           isSearch: true,
          //-           isRows: true,
          //-           searchClass: 'min-w-[243px] max-w-[243px]',
          //-           buttons: [
          //-             {
          //-               view: 'button',
          //-               class: 'button-with-icon-blue',
          //-               icon: 'other-plus-icon',
          //-               title: 'Добавить канал',
          //-               dataPopupName: 'add-channel',
          //-             },
          //-             {
          //-               view: 'button',
          //-               class: 'button-with-icon filter__toggle',
          //-               icon: 'other-controls-icon',
          //-               title: 'Фильтр',
          //-               isClose: true,
          //-               dataFilterName: 'campaign-survey',
          //-             },
          //-           ],
          //-         })
          //-         .in-container.mt-4
          //-           .content.content-collapsed
          //-             .content-scroll
          //-               include ../components/campaign/survey/table-survey
          //-           include ../components/campaign/survey/filter-survey
          .selectors
            .content.content-not-collapsed
              .selector__buttons
                .selector__scroll
                  button.selector__button(data-id="campaign-channels").active Каналы
                    span 6
              .selector__containers
                .selector__container(data-id="campaign-channels").active
                  +heading-table({
                    isSearch: true,
                    isRows: true,
                    searchClass: 'min-w-[243px] max-w-[243px]',
                    buttons: [
                      {
                        view: 'button',
                        class: 'button-with-icon-blue',
                        icon: 'other-plus-icon',
                        title: 'Добавить канал',
                        dataPopupName: 'add-channel',
                      },
                      {
                        view: 'button',
                        class: 'button-with-icon filter__toggle',
                        icon: 'other-controls-icon',
                        title: 'Фильтр',
                        isClose: true,
                        dataFilterName: 'campaign-coordination',
                      },
                    ],
                  })
                  .in-container.mt-4
                    .content.content-collapsed
                      .content-scroll
                        include ../components/campaign/coordination/table-coordination
                    include ../components/campaign/coordination/filter-coordination
          //- .selectors
          //-   .content.content-not-collapsed
          //-     .selector__buttons
          //-       .selector__scroll
          //-         button.selector__button(data-id="campaign-channels").active Каналы
          //-           span 6
          //-     .selector__containers
          //-       .selector__container(data-id="campaign-channels").active
          //-         +heading-table({
          //-           isSearch: true,
          //-           isRows: true,
          //-           searchClass: 'min-w-[243px] max-w-[243px]',
          //-           buttons: [
          //-             {
          //-               view: 'button',
          //-               class: 'button-with-icon-blue',
          //-               icon: 'other-plus-icon',
          //-               title: 'Добавить канал',
          //-               dataPopupName: 'add-channel',
          //-             },
          //-             {
          //-               view: 'button',
          //-               class: 'button-with-icon filter__toggle',
          //-               icon: 'other-controls-icon',
          //-               title: 'Фильтр',
          //-               isClose: true,
          //-               dataFilterName: 'campaign-approval-client',
          //-             },
          //-           ],
          //-         })
          //-         .in-container.mt-4
          //-           .content.content-collapsed
          //-             .content-scroll
          //-               include ../components/campaign/approval-client/table-approval-client
          //-           include ../components/campaign/approval-client/filter-approval-client
          //- .selectors
          //-   .content.content-not-collapsed
          //-     .selector__buttons
          //-       .selector__scroll
          //-         button.selector__button(data-id="campaign-channels").active Каналы
          //-           span 6
          //-     .selector__containers
          //-       .selector__container(data-id="campaign-channels").active
          //-         +heading-table({
          //-           isSearch: true,
          //-           isRows: true,
          //-           searchClass: 'min-w-[243px] max-w-[243px]',
          //-           buttons: [
          //-             {
          //-               view: 'button',
          //-               class: 'button-with-icon-blue',
          //-               icon: 'other-plus-icon',
          //-               title: 'Добавить канал',
          //-               dataPopupName: 'add-channel',
          //-             },
          //-             {
          //-               view: 'button',
          //-               class: 'button-with-icon filter__toggle',
          //-               icon: 'other-controls-icon',
          //-               title: 'Фильтр',
          //-               isClose: true,
          //-               dataFilterName: 'campaign-mediaplan',
          //-             },
          //-           ],
          //-         })
          //-         .in-container.mt-4
          //-           .content.content-collapsed
          //-             .content-scroll
          //-               include ../components/campaign/mediaplan/table-mediaplan
          //-           include ../components/campaign/mediaplan/filter-mediaplan
          //- .selectors
          //-   .content.content-not-collapsed
          //-     .selector__buttons
          //-       .selector__scroll
          //-         button.selector__button(data-id="campaign-channels").active Каналы
          //-           span 6
          //-     .selector__containers
          //-       .selector__container(data-id="campaign-channels").active
          //-         +heading-table({
          //-           isSearch: true,
          //-           isRows: true,
          //-           searchClass: 'min-w-[243px] max-w-[243px]',
          //-           buttons: [
          //-             {
          //-               view: 'button',
          //-               class: 'button-with-icon-blue',
          //-               icon: 'other-plus-icon',
          //-               title: 'Добавить канал',
          //-               dataPopupName: 'add-channel',
          //-             },
          //-             {
          //-               view: 'button',
          //-               class: 'button-with-icon filter__toggle',
          //-               icon: 'other-controls-icon',
          //-               title: 'Фильтр',
          //-               isClose: true,
          //-               dataFilterName: 'campaign-mediaplan-agreed',
          //-             },
          //-           ],
          //-         })
          //-         .in-container.mt-4
          //-           .content.content-collapsed
          //-             .content-scroll
          //-               include ../components/campaign/mediaplan-agreed/table-mediaplan-agreed
          //-           include ../components/campaign/mediaplan-agreed/filter-mediaplan-agreed
          .selectors
            .content.content-not-collapsed
              .selector__buttons
                .selector__scroll
                  button.selector__button(data-id="campaign-channels") Каналы
                    span 6
                  button.selector__button(data-id="campaign-posts") Посты
                    span 6
                  button.selector__button(data-id="campaign-bills").active Счета
                    span 6
              .selector__containers
                .selector__container(data-id="campaign-channels")
                  +heading-table({
                    isSearch: true,
                    isRows: true,
                    searchClass: 'min-w-[243px] max-w-[243px]',
                    buttons: [
                      {
                        view: 'button',
                        class: 'button-with-icon-blue',
                        icon: 'other-plus-icon',
                        title: 'Добавить канал',
                        dataPopupName: 'add-channel',
                      },
                      {
                        view: 'button',
                        class: 'button-with-icon filter__toggle',
                        icon: 'other-controls-icon',
                        title: 'Фильтр',
                        isClose: true,
                        dataFilterName: 'campaign-process-channels',
                      },
                    ],
                  })
                  .in-container.mt-4
                    .content.content-collapsed
                      .content-scroll
                        include ../components/campaign/process-channels/table-process-channels
                    include ../components/campaign/process-channels/filter-process-channels
                .selector__container(data-id="campaign-posts")
                  +heading-table({
                    isSearch: true,
                    isRows: true,
                    searchClass: 'min-w-[243px] max-w-[243px]',
                    buttons: [
                      {
                        view: 'button',
                        class: 'button-with-icon-blue',
                        icon: 'other-plus-icon',
                        title: 'Добавить канал',
                        dataPopupName: 'add-channel',
                      },
                      {
                        view: 'button',
                        class: 'button-with-icon filter__toggle',
                        icon: 'other-controls-icon',
                        title: 'Фильтр',
                        isClose: true,
                        dataFilterName: 'campaign-process',
                      },
                    ],
                  })
                  .in-container.mt-4
                    .content.content-collapsed
                      .content-scroll
                        include ../components/campaign/process/table-process
                    include ../components/campaign/process/filter-process
                .selector__container.active(data-id="campaign-bills")
                  <div class="heading heading-table heading-table-rows">
                    <div class="heading__buttons">
                      <div class="heading__left">
                        <div class="heading__left__inner">
                          <form class="search min-w-[243px] max-w-[243px]" action="#">
                            <label class="search__label">
                              <input class="search__input " required="" type="search" autocomplete="on" placeholder="Поиск..." name="search">
                              <svg viewBox="0 0 18 18" width="18" height="18">
                                <use xlink:href="#other-search-icon"></use>
                              </svg>
                            </label>
                          </form>
                        </div>
                      </div>
                      <div class="heading__bills">
                        <div class="heading__bills__title">Показывать каналы</div>
                        <button class="heading__toggle heading__toggle-main" type="button">
                          <p><span></span></p>
                        </button>
                      </div>
                      <div class="heading__right">
                        <div class="dropdown dropdown-with-icon header__dropdown shuffle">
                          <div class="dropdown__container">
                            <div class="dropdown__button toggle-shuffle">
                              <button class="button button-with-icon" type="button" aria-label="button">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M11.0537 2.31445C11.2074 2.31571 11.3594 2.34857 11.501 2.41016C11.6427 2.47178 11.7718 2.56106 11.8799 2.67383L13.7861 4.65918H13.7871L13.7881 4.66113C13.8398 4.71517 13.8814 4.77918 13.9092 4.84961C13.9369 4.92008 13.9508 4.99617 13.9502 5.07227C13.9495 5.14817 13.9341 5.22314 13.9053 5.29297C13.8765 5.36284 13.8347 5.42637 13.7822 5.47949C13.7296 5.53267 13.6669 5.57514 13.5986 5.60352C13.5305 5.63182 13.4572 5.64612 13.3838 5.64551C13.3103 5.64487 13.2376 5.62908 13.1699 5.59961C13.1021 5.5701 13.041 5.5267 12.9893 5.47266L11.6934 4.12402L11.6074 4.03516V13.3721C11.6074 13.5257 11.5478 13.673 11.4424 13.7812C11.337 13.8895 11.1943 13.9501 11.0459 13.9502C10.8975 13.9502 10.7548 13.8894 10.6494 13.7812C10.544 13.673 10.4844 13.5258 10.4844 13.3721V4.03125L10.3984 4.12012L9.0918 5.47266C8.98692 5.58141 8.84471 5.6428 8.69629 5.64355C8.54783 5.64428 8.40472 5.58431 8.29883 5.47656C8.19299 5.36879 8.13254 5.22201 8.13184 5.06836C8.13115 4.91466 8.18999 4.76701 8.29492 4.6582L10.2119 2.67188L10.2109 2.6709L10.2217 2.66016L10.2227 2.66113C10.3324 2.5502 10.462 2.46265 10.6045 2.40332C10.7471 2.34399 10.8999 2.31322 11.0537 2.31445ZM4.96289 2.0498C5.11126 2.0498 5.25398 2.11063 5.35938 2.21875C5.46479 2.32703 5.52436 2.47425 5.52441 2.62793V11.9648L5.61035 11.876L6.90625 10.5273C6.95802 10.4734 7.01919 10.4298 7.08691 10.4004C7.15474 10.371 7.22822 10.356 7.30176 10.3555C7.37521 10.355 7.44847 10.369 7.5166 10.3975C7.58471 10.4259 7.64674 10.4683 7.69922 10.5215C7.7517 10.5747 7.7935 10.6381 7.82227 10.708C7.85105 10.778 7.86669 10.8536 7.86719 10.9297C7.86766 11.0057 7.85302 11.081 7.8252 11.1514C7.79734 11.2218 7.75595 11.2859 7.7041 11.3398L5.79688 13.3262C5.6882 13.44 5.55805 13.5303 5.41504 13.5918C5.27224 13.6532 5.11864 13.6849 4.96387 13.6846H4.96289C4.80824 13.6852 4.65458 13.6538 4.51172 13.5928C4.40447 13.5469 4.30395 13.4852 4.21484 13.4092L4.12988 13.3281L2.21289 11.3418C2.10796 11.233 2.04912 11.0853 2.0498 10.9316C2.05051 10.778 2.11094 10.6312 2.2168 10.5234C2.32269 10.4157 2.4658 10.3557 2.61426 10.3564C2.76266 10.3572 2.9049 10.4186 3.00977 10.5273L4.31543 11.8809L4.40137 11.9697V2.62793C4.40143 2.47426 4.46101 2.32702 4.56641 2.21875C4.67176 2.11054 4.8145 2.04988 4.96289 2.0498Z" fill="currentColor" stroke="white" stroke-width="0.1"/>
                                </svg>
                                <svg class="button-clear shuffle-clear" viewBox="0 0 9 9" width="9" height="9">
                                  <use xlink:href="#other-close-icon"></use>
                                </svg>
                              </button>
                            </div>
                            <div class="dropdown__list shuffle__list-primary">
                              .shuffle__container
                                .shuffle__title
                                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.0537 2.31445C11.2074 2.31571 11.3594 2.34857 11.501 2.41016C11.6427 2.47178 11.7718 2.56106 11.8799 2.67383L13.7861 4.65918H13.7871L13.7881 4.66113C13.8398 4.71517 13.8814 4.77918 13.9092 4.84961C13.9369 4.92008 13.9508 4.99617 13.9502 5.07227C13.9495 5.14817 13.9341 5.22314 13.9053 5.29297C13.8765 5.36284 13.8347 5.42637 13.7822 5.47949C13.7296 5.53267 13.6669 5.57514 13.5986 5.60352C13.5305 5.63182 13.4572 5.64612 13.3838 5.64551C13.3103 5.64487 13.2376 5.62908 13.1699 5.59961C13.1021 5.5701 13.041 5.5267 12.9893 5.47266L11.6934 4.12402L11.6074 4.03516V13.3721C11.6074 13.5257 11.5478 13.673 11.4424 13.7812C11.337 13.8895 11.1943 13.9501 11.0459 13.9502C10.8975 13.9502 10.7548 13.8894 10.6494 13.7812C10.544 13.673 10.4844 13.5258 10.4844 13.3721V4.03125L10.3984 4.12012L9.0918 5.47266C8.98692 5.58141 8.84471 5.6428 8.69629 5.64355C8.54783 5.64428 8.40472 5.58431 8.29883 5.47656C8.19299 5.36879 8.13254 5.22201 8.13184 5.06836C8.13115 4.91466 8.18999 4.76701 8.29492 4.6582L10.2119 2.67188L10.2109 2.6709L10.2217 2.66016L10.2227 2.66113C10.3324 2.5502 10.462 2.46265 10.6045 2.40332C10.7471 2.34399 10.8999 2.31322 11.0537 2.31445ZM4.96289 2.0498C5.11126 2.0498 5.25398 2.11063 5.35938 2.21875C5.46479 2.32703 5.52436 2.47425 5.52441 2.62793V11.9648L5.61035 11.876L6.90625 10.5273C6.95802 10.4734 7.01919 10.4298 7.08691 10.4004C7.15474 10.371 7.22822 10.356 7.30176 10.3555C7.37521 10.355 7.44847 10.369 7.5166 10.3975C7.58471 10.4259 7.64674 10.4683 7.69922 10.5215C7.7517 10.5747 7.7935 10.6381 7.82227 10.708C7.85105 10.778 7.86669 10.8536 7.86719 10.9297C7.86766 11.0057 7.85302 11.081 7.8252 11.1514C7.79734 11.2218 7.75595 11.2859 7.7041 11.3398L5.79688 13.3262C5.6882 13.44 5.55805 13.5303 5.41504 13.5918C5.27224 13.6532 5.11864 13.6849 4.96387 13.6846H4.96289C4.80824 13.6852 4.65458 13.6538 4.51172 13.5928C4.40447 13.5469 4.30395 13.4852 4.21484 13.4092L4.12988 13.3281L2.21289 11.3418C2.10796 11.233 2.04912 11.0853 2.0498 10.9316C2.05051 10.778 2.11094 10.6312 2.2168 10.5234C2.32269 10.4157 2.4658 10.3557 2.61426 10.3564C2.76266 10.3572 2.9049 10.4186 3.00977 10.5273L4.31543 11.8809L4.40137 11.9697V2.62793C4.40143 2.47426 4.46101 2.32702 4.56641 2.21875C4.67176 2.11054 4.8145 2.04988 4.96289 2.0498Z" fill="#374151" stroke="white" stroke-width="0.1"/>
                                  </svg>
                                  h2 Сортировать по
                                <button class="button button-with-icon-full sm" type="button" aria-label="button">
                                  <span>Клиенту</span>
                                </button>
                                <button class="button button-with-icon-full sm" type="button" aria-label="button">
                                  <span>Бренду</span>
                                </button>
                                <button class="button button-with-icon-full sm" type="button" aria-label="button">
                                  <span>Одобренным спискам</span>
                                </button>
                                <button class="button button-with-icon-full sm" type="button" aria-label="button">
                                  <span>Дате начала</span>
                                </button>
                                <button class="button button-with-icon-full sm" type="button" aria-label="button">
                                  <span>Дате окончания</span>
                                </button>
                                <button class="button button-with-icon-full sm" type="button" aria-label="button">
                                  <span>Автору</span>
                                </button>
                                <button class="button button-with-icon-full sm" type="button" aria-label="button">
                                  <span>Дате создания</span>
                                </button>
                            </div>
                            <div class="dropdown__list shuffle__list-secondary">
                              .shuffle__container
                                .shuffle__title
                                  h2 Сортировка
                                  button(type="button" data-shuffle-name="shuffle").shuffle__clear Сбросить
                                .shuffle__sorting 
                                  .shuffle__item 
                                    <svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M1.25 2.5C1.94036 2.5 2.5 1.94036 2.5 1.25C2.5 0.559644 1.94036 0 1.25 0C0.559644 0 0 0.559644 0 1.25C0 1.94036 0.559644 2.5 1.25 2.5Z" fill="#959BA4"/>
                                      <path d="M7.75 2.5C8.44036 2.5 9 1.94036 9 1.25C9 0.559644 8.44036 0 7.75 0C7.05964 0 6.5 0.559644 6.5 1.25C6.5 1.94036 7.05964 2.5 7.75 2.5Z" fill="#959BA4"/>
                                      <path d="M1.25 8.5C1.94036 8.5 2.5 7.94036 2.5 7.25C2.5 6.55964 1.94036 6 1.25 6C0.559644 6 0 6.55964 0 7.25C0 7.94036 0.559644 8.5 1.25 8.5Z" fill="#959BA4"/>
                                      <path d="M7.75 8.5C8.44036 8.5 9 7.94036 9 7.25C9 6.55964 8.44036 6 7.75 6C7.05964 6 6.5 6.55964 6.5 7.25C6.5 7.94036 7.05964 8.5 7.75 8.5Z" fill="#959BA4"/>
                                      <path d="M1.25 14.5C1.94036 14.5 2.5 13.9404 2.5 13.25C2.5 12.5596 1.94036 12 1.25 12C0.559644 12 0 12.5596 0 13.25C0 13.9404 0.559644 14.5 1.25 14.5Z" fill="#959BA4"/>
                                      <path d="M7.75 14.5C8.44036 14.5 9 13.9404 9 13.25C9 12.5596 8.44036 12 7.75 12C7.05964 12 6.5 12.5596 6.5 13.25C6.5 13.9404 7.05964 14.5 7.75 14.5Z" fill="#959BA4"/>
                                    </svg>
                                    <div class="dropdown dropdown-base">
                                      <div class="dropdown__container">
                                        <div class="dropdown__button">
                                          <div class="dropdown__inner">
                                            <div class="dropdown__title">Одобренные списки</div>
                                          </div>
                                          <button class="button button-icon sm" type="button" aria-label="button">
                                            <svg viewBox="0 0 10 6" width="10" height="6">
                                              <use xlink:href="#other-angle-down-icon"></use>
                                            </svg>
                                          </button>
                                        </div>
                                        <div class="dropdown__list">
                                          <label class="dropdown__item">
                                            <input type="radio" name="radio-radio">
                                            <p data-title="Одобренные списки">Одобренные списки</p>
                                          </label>
                                          <label class="dropdown__item">
                                            <input type="radio" name="radio-radio">
                                            <p data-title="Клиенты">Клиенты</p>
                                          </label>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="dropdown dropdown-base">
                                      <div class="dropdown__container">
                                        <div class="dropdown__button">
                                          <div class="dropdown__inner">
                                            <div class="dropdown__title">Сначала приоритетные</div>
                                          </div>
                                          <button class="button button-icon sm" type="button" aria-label="button">
                                            <svg viewBox="0 0 10 6" width="10" height="6">
                                              <use xlink:href="#other-angle-down-icon"></use>
                                            </svg>
                                          </button>
                                        </div>
                                        <div class="dropdown__list">
                                          <label class="dropdown__item">
                                            <input type="radio" name="radio-radio">
                                            <p data-title="Сначала приоритетные">Сначала приоритетные</p>
                                          </label>
                                          <label class="dropdown__item">
                                            <input type="radio" name="radio-radio">
                                            <p data-title="От А до Я">От А до Я</p>
                                          </label>
                                        </div>
                                      </div>
                                    </div>
                                    <button class="button button-with-icon shuffle__remove" type="button" aria-label="button">
                                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_3559_15853)">
                                          <path d="M8.6665 0H7.33317C6.80274 0 6.29403 0.210714 5.91896 0.585786C5.54388 0.960859 5.33317 1.46957 5.33317 2V2.66667H1.33317C1.15636 2.66667 0.98679 2.7369 0.861766 2.86193C0.736742 2.98695 0.666504 3.15652 0.666504 3.33333C0.666504 3.51014 0.736742 3.67971 0.861766 3.80474C0.98679 3.92976 1.15636 4 1.33317 4H1.99984V13.3333C1.99984 14.0406 2.28079 14.7189 2.78089 15.219C3.28098 15.719 3.95926 16 4.6665 16H11.3332C12.0404 16 12.7187 15.719 13.2188 15.219C13.7189 14.7189 13.9998 14.0406 13.9998 13.3333V4H14.6665C14.8433 4 15.0129 3.92976 15.1379 3.80474C15.2629 3.67971 15.3332 3.51014 15.3332 3.33333C15.3332 3.15652 15.2629 2.98695 15.1379 2.86193C15.0129 2.7369 14.8433 2.66667 14.6665 2.66667H10.6665V2C10.6665 1.46957 10.4558 0.960859 10.0807 0.585786C9.70565 0.210714 9.19694 0 8.6665 0ZM6.6665 2C6.6665 1.82319 6.73674 1.65362 6.86177 1.5286C6.98679 1.40357 7.15636 1.33333 7.33317 1.33333H8.6665C8.84332 1.33333 9.01288 1.40357 9.13791 1.5286C9.26293 1.65362 9.33317 1.82319 9.33317 2V2.66667H6.6665V2ZM12.6665 13.3333C12.6665 13.687 12.526 14.0261 12.276 14.2761C12.0259 14.5262 11.6868 14.6667 11.3332 14.6667H4.6665C4.31288 14.6667 3.97374 14.5262 3.72369 14.2761C3.47365 14.0261 3.33317 13.687 3.33317 13.3333V4H12.6665V13.3333Z" fill="#959BA4"/>
                                          <path d="M8.00016 6C7.82335 6 7.65378 6.07024 7.52876 6.19526C7.40373 6.32029 7.3335 6.48986 7.3335 6.66667V12C7.3335 12.1768 7.40373 12.3464 7.52876 12.4714C7.65378 12.5964 7.82335 12.6667 8.00016 12.6667C8.17697 12.6667 8.34654 12.5964 8.47157 12.4714C8.59659 12.3464 8.66683 12.1768 8.66683 12V6.66667C8.66683 6.48986 8.59659 6.32029 8.47157 6.19526C8.34654 6.07024 8.17697 6 8.00016 6Z" fill="#959BA4"/>
                                          <path d="M10 12C10 12.1768 10.0702 12.3464 10.1953 12.4714C10.3203 12.5964 10.4899 12.6667 10.6667 12.6667C10.8435 12.6667 11.013 12.5964 11.1381 12.4714C11.2631 12.3464 11.3333 12.1768 11.3333 12V6.66667C11.3333 6.48986 11.2631 6.32029 11.1381 6.19526C11.013 6.07024 10.8435 6 10.6667 6C10.4899 6 10.3203 6.07024 10.1953 6.19526C10.0702 6.32029 10 6.48986 10 6.66667V12Z" fill="#959BA4"/>
                                          <path d="M5.33317 6C5.15636 6 4.98679 6.07024 4.86177 6.19526C4.73674 6.32029 4.6665 6.48986 4.6665 6.66667V12C4.6665 12.1768 4.73674 12.3464 4.86177 12.4714C4.98679 12.5964 5.15636 12.6667 5.33317 12.6667C5.50998 12.6667 5.67955 12.5964 5.80457 12.4714C5.9296 12.3464 5.99984 12.1768 5.99984 12V6.66667C5.99984 6.48986 5.9296 6.32029 5.80457 6.19526C5.67955 6.07024 5.50998 6 5.33317 6Z" fill="#959BA4"/>
                                        </g>
                                        <defs>
                                          <clipPath id="clip0_3559_15853">
                                            <rect width="16" height="16" fill="white"/>
                                          </clipPath>
                                        </defs>
                                      </svg>
                                    </button>
                                  .shuffle__item 
                                    <svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M1.25 2.5C1.94036 2.5 2.5 1.94036 2.5 1.25C2.5 0.559644 1.94036 0 1.25 0C0.559644 0 0 0.559644 0 1.25C0 1.94036 0.559644 2.5 1.25 2.5Z" fill="#959BA4"/>
                                      <path d="M7.75 2.5C8.44036 2.5 9 1.94036 9 1.25C9 0.559644 8.44036 0 7.75 0C7.05964 0 6.5 0.559644 6.5 1.25C6.5 1.94036 7.05964 2.5 7.75 2.5Z" fill="#959BA4"/>
                                      <path d="M1.25 8.5C1.94036 8.5 2.5 7.94036 2.5 7.25C2.5 6.55964 1.94036 6 1.25 6C0.559644 6 0 6.55964 0 7.25C0 7.94036 0.559644 8.5 1.25 8.5Z" fill="#959BA4"/>
                                      <path d="M7.75 8.5C8.44036 8.5 9 7.94036 9 7.25C9 6.55964 8.44036 6 7.75 6C7.05964 6 6.5 6.55964 6.5 7.25C6.5 7.94036 7.05964 8.5 7.75 8.5Z" fill="#959BA4"/>
                                      <path d="M1.25 14.5C1.94036 14.5 2.5 13.9404 2.5 13.25C2.5 12.5596 1.94036 12 1.25 12C0.559644 12 0 12.5596 0 13.25C0 13.9404 0.559644 14.5 1.25 14.5Z" fill="#959BA4"/>
                                      <path d="M7.75 14.5C8.44036 14.5 9 13.9404 9 13.25C9 12.5596 8.44036 12 7.75 12C7.05964 12 6.5 12.5596 6.5 13.25C6.5 13.9404 7.05964 14.5 7.75 14.5Z" fill="#959BA4"/>
                                    </svg>
                                    <div class="dropdown dropdown-base">
                                      <div class="dropdown__container">
                                        <div class="dropdown__button">
                                          <div class="dropdown__inner">
                                            <div class="dropdown__title">Клиенты</div>
                                          </div>
                                          <button class="button button-icon sm" type="button" aria-label="button">
                                            <svg viewBox="0 0 10 6" width="10" height="6">
                                              <use xlink:href="#other-angle-down-icon"></use>
                                            </svg>
                                          </button>
                                        </div>
                                        <div class="dropdown__list">
                                          <label class="dropdown__item">
                                            <input type="radio" name="radio-radio">
                                            <p data-title="Одобренные списки">Одобренные списки</p>
                                          </label>
                                          <label class="dropdown__item">
                                            <input type="radio" name="radio-radio">
                                            <p data-title="Клиенты">Клиенты</p>
                                          </label>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="dropdown dropdown-base">
                                      <div class="dropdown__container">
                                        <div class="dropdown__button">
                                          <div class="dropdown__inner">
                                            <div class="dropdown__title">От А до Я</div>
                                          </div>
                                          <button class="button button-icon sm" type="button" aria-label="button">
                                            <svg viewBox="0 0 10 6" width="10" height="6">
                                              <use xlink:href="#other-angle-down-icon"></use>
                                            </svg>
                                          </button>
                                        </div>
                                        <div class="dropdown__list">
                                          <label class="dropdown__item">
                                            <input type="radio" name="radio-radio">
                                            <p data-title="Сначала приоритетные">Сначала приоритетные</p>
                                          </label>
                                          <label class="dropdown__item">
                                            <input type="radio" name="radio-radio">
                                            <p data-title="От А до Я">От А до Я</p>
                                          </label>
                                        </div>
                                      </div>
                                    </div>
                                    <button class="button button-with-icon shuffle__remove" type="button" aria-label="button">
                                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_3559_15853)">
                                          <path d="M8.6665 0H7.33317C6.80274 0 6.29403 0.210714 5.91896 0.585786C5.54388 0.960859 5.33317 1.46957 5.33317 2V2.66667H1.33317C1.15636 2.66667 0.98679 2.7369 0.861766 2.86193C0.736742 2.98695 0.666504 3.15652 0.666504 3.33333C0.666504 3.51014 0.736742 3.67971 0.861766 3.80474C0.98679 3.92976 1.15636 4 1.33317 4H1.99984V13.3333C1.99984 14.0406 2.28079 14.7189 2.78089 15.219C3.28098 15.719 3.95926 16 4.6665 16H11.3332C12.0404 16 12.7187 15.719 13.2188 15.219C13.7189 14.7189 13.9998 14.0406 13.9998 13.3333V4H14.6665C14.8433 4 15.0129 3.92976 15.1379 3.80474C15.2629 3.67971 15.3332 3.51014 15.3332 3.33333C15.3332 3.15652 15.2629 2.98695 15.1379 2.86193C15.0129 2.7369 14.8433 2.66667 14.6665 2.66667H10.6665V2C10.6665 1.46957 10.4558 0.960859 10.0807 0.585786C9.70565 0.210714 9.19694 0 8.6665 0ZM6.6665 2C6.6665 1.82319 6.73674 1.65362 6.86177 1.5286C6.98679 1.40357 7.15636 1.33333 7.33317 1.33333H8.6665C8.84332 1.33333 9.01288 1.40357 9.13791 1.5286C9.26293 1.65362 9.33317 1.82319 9.33317 2V2.66667H6.6665V2ZM12.6665 13.3333C12.6665 13.687 12.526 14.0261 12.276 14.2761C12.0259 14.5262 11.6868 14.6667 11.3332 14.6667H4.6665C4.31288 14.6667 3.97374 14.5262 3.72369 14.2761C3.47365 14.0261 3.33317 13.687 3.33317 13.3333V4H12.6665V13.3333Z" fill="#959BA4"/>
                                          <path d="M8.00016 6C7.82335 6 7.65378 6.07024 7.52876 6.19526C7.40373 6.32029 7.3335 6.48986 7.3335 6.66667V12C7.3335 12.1768 7.40373 12.3464 7.52876 12.4714C7.65378 12.5964 7.82335 12.6667 8.00016 12.6667C8.17697 12.6667 8.34654 12.5964 8.47157 12.4714C8.59659 12.3464 8.66683 12.1768 8.66683 12V6.66667C8.66683 6.48986 8.59659 6.32029 8.47157 6.19526C8.34654 6.07024 8.17697 6 8.00016 6Z" fill="#959BA4"/>
                                          <path d="M10 12C10 12.1768 10.0702 12.3464 10.1953 12.4714C10.3203 12.5964 10.4899 12.6667 10.6667 12.6667C10.8435 12.6667 11.013 12.5964 11.1381 12.4714C11.2631 12.3464 11.3333 12.1768 11.3333 12V6.66667C11.3333 6.48986 11.2631 6.32029 11.1381 6.19526C11.013 6.07024 10.8435 6 10.6667 6C10.4899 6 10.3203 6.07024 10.1953 6.19526C10.0702 6.32029 10 6.48986 10 6.66667V12Z" fill="#959BA4"/>
                                          <path d="M5.33317 6C5.15636 6 4.98679 6.07024 4.86177 6.19526C4.73674 6.32029 4.6665 6.48986 4.6665 6.66667V12C4.6665 12.1768 4.73674 12.3464 4.86177 12.4714C4.98679 12.5964 5.15636 12.6667 5.33317 12.6667C5.50998 12.6667 5.67955 12.5964 5.80457 12.4714C5.9296 12.3464 5.99984 12.1768 5.99984 12V6.66667C5.99984 6.48986 5.9296 6.32029 5.80457 6.19526C5.67955 6.07024 5.50998 6 5.33317 6Z" fill="#959BA4"/>
                                        </g>
                                        <defs>
                                          <clipPath id="clip0_3559_15853">
                                            <rect width="16" height="16" fill="white"/>
                                          </clipPath>
                                        </defs>
                                      </svg>
                                    </button>
                                <div class="dropdown dropdown-with-icon new-shuffle">
                                  <div class="dropdown__container">
                                    <div class="dropdown__button">
                                      <button class="button button-with-icon" type="button" aria-label="button">
                                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M4.75 0.75L4.75 8.75" stroke="#374151" stroke-width="1.5" stroke-linecap="round"/>
                                          <path d="M8.75 4.75L0.75 4.75" stroke="#374151" stroke-width="1.5" stroke-linecap="round"/>
                                        </svg>
                                        <span>Добавить сортировку</span>
                                        <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="0.75" y1="-0.75" x2="6.32106" y2="-0.75" transform="matrix(0.707114 0.7071 -0.707114 0.7071 0 0.75)" stroke="#374151" stroke-width="1.5" stroke-linecap="round"/><line x1="0.75" y1="-0.75" x2="6.32106" y2="-0.75" transform="matrix(0.707114 -0.7071 0.707114 0.7071 5 5.75)" stroke="#374151" stroke-width="1.5" stroke-linecap="round"/></svg>
                                      </button>
                                    </div>
                                    <div class="dropdown__list">
                                      .shuffle__container
                                        .shuffle__title
                                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.0537 2.31445C11.2074 2.31571 11.3594 2.34857 11.501 2.41016C11.6427 2.47178 11.7718 2.56106 11.8799 2.67383L13.7861 4.65918H13.7871L13.7881 4.66113C13.8398 4.71517 13.8814 4.77918 13.9092 4.84961C13.9369 4.92008 13.9508 4.99617 13.9502 5.07227C13.9495 5.14817 13.9341 5.22314 13.9053 5.29297C13.8765 5.36284 13.8347 5.42637 13.7822 5.47949C13.7296 5.53267 13.6669 5.57514 13.5986 5.60352C13.5305 5.63182 13.4572 5.64612 13.3838 5.64551C13.3103 5.64487 13.2376 5.62908 13.1699 5.59961C13.1021 5.5701 13.041 5.5267 12.9893 5.47266L11.6934 4.12402L11.6074 4.03516V13.3721C11.6074 13.5257 11.5478 13.673 11.4424 13.7812C11.337 13.8895 11.1943 13.9501 11.0459 13.9502C10.8975 13.9502 10.7548 13.8894 10.6494 13.7812C10.544 13.673 10.4844 13.5258 10.4844 13.3721V4.03125L10.3984 4.12012L9.0918 5.47266C8.98692 5.58141 8.84471 5.6428 8.69629 5.64355C8.54783 5.64428 8.40472 5.58431 8.29883 5.47656C8.19299 5.36879 8.13254 5.22201 8.13184 5.06836C8.13115 4.91466 8.18999 4.76701 8.29492 4.6582L10.2119 2.67188L10.2109 2.6709L10.2217 2.66016L10.2227 2.66113C10.3324 2.5502 10.462 2.46265 10.6045 2.40332C10.7471 2.34399 10.8999 2.31322 11.0537 2.31445ZM4.96289 2.0498C5.11126 2.0498 5.25398 2.11063 5.35938 2.21875C5.46479 2.32703 5.52436 2.47425 5.52441 2.62793V11.9648L5.61035 11.876L6.90625 10.5273C6.95802 10.4734 7.01919 10.4298 7.08691 10.4004C7.15474 10.371 7.22822 10.356 7.30176 10.3555C7.37521 10.355 7.44847 10.369 7.5166 10.3975C7.58471 10.4259 7.64674 10.4683 7.69922 10.5215C7.7517 10.5747 7.7935 10.6381 7.82227 10.708C7.85105 10.778 7.86669 10.8536 7.86719 10.9297C7.86766 11.0057 7.85302 11.081 7.8252 11.1514C7.79734 11.2218 7.75595 11.2859 7.7041 11.3398L5.79688 13.3262C5.6882 13.44 5.55805 13.5303 5.41504 13.5918C5.27224 13.6532 5.11864 13.6849 4.96387 13.6846H4.96289C4.80824 13.6852 4.65458 13.6538 4.51172 13.5928C4.40447 13.5469 4.30395 13.4852 4.21484 13.4092L4.12988 13.3281L2.21289 11.3418C2.10796 11.233 2.04912 11.0853 2.0498 10.9316C2.05051 10.778 2.11094 10.6312 2.2168 10.5234C2.32269 10.4157 2.4658 10.3557 2.61426 10.3564C2.76266 10.3572 2.9049 10.4186 3.00977 10.5273L4.31543 11.8809L4.40137 11.9697V2.62793C4.40143 2.47426 4.46101 2.32702 4.56641 2.21875C4.67176 2.11054 4.8145 2.04988 4.96289 2.0498Z" fill="#374151" stroke="white" stroke-width="0.1"/>
                                          </svg>
                                          h2 Сортировать по
                                        <button class="button button-with-icon-full sm" type="button" aria-label="button">
                                          <span>Клиенту</span>
                                        </button>
                                        <button class="button button-with-icon-full sm" type="button" aria-label="button">
                                          <span>Бренду</span>
                                        </button>
                                        <button class="button button-with-icon-full sm" type="button" aria-label="button">
                                          <span>Одобренным спискам</span>
                                        </button>
                                        <button class="button button-with-icon-full sm" type="button" aria-label="button">
                                          <span>Дате начала</span>
                                        </button>
                                        <button class="button button-with-icon-full sm" type="button" aria-label="button">
                                          <span>Дате окончания</span>
                                        </button>
                                        <button class="button button-with-icon-full sm" type="button" aria-label="button">
                                          <span>Автору</span>
                                        </button>
                                        <button class="button button-with-icon-full sm" type="button" aria-label="button">
                                          <span>Дате создания</span>
                                        </button>
                                    </div>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>
                        <button class="button button-with-icon filter__toggle" type="button" aria-label="button" data-filter-name="campaign-bills">
                          <svg viewBox="0 0 20 20" width="20" height="20">
                            <use xlink:href="#other-controls-icon"></use>
                          </svg>
                          <svg class="button-clear filter-clear" viewBox="0 0 9 9" width="9" height="9">
                            <use xlink:href="#other-close-icon"></use>
                          </svg>
                        </button>
                        <div class="dropdown dropdown-with-icon header__dropdown bills-action">
                          <div class="dropdown__container">
                            <div class="dropdown__button button-with-icon-blue">
                              <div class="dropdown__inner">
                                <div class="dropdown__title">Действия со счетами</div>
                              </div>
                              <button class="button button-icon sm" type="button" aria-label="button">
                                <svg viewBox="0 0 10 6" width="10" height="6">
                                  <use xlink:href="#other-angle-down-icon"></use>
                                </svg>
                              </button>
                            </div>
                            <div class="dropdown__list">
                              <button class="button button-with-icon-full sm disabled bill-generate" type="button" aria-label="button" data-popup-name="generate-bill">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <g clip-path="url(#clip0_3256_14477)">
                                    <path d="M8.31055 0.400391C8.92342 0.400521 9.50545 0.668443 9.9043 1.13379L12.0947 3.68848C12.4208 4.06901 12.5996 4.55361 12.5996 5.05469V7.5498L12.4199 7.30957C12.2078 7.02719 11.8709 6.84961 11.5 6.84961H11.4004V5.09961H10C9.11635 5.09961 8.40039 4.38365 8.40039 3.5V1.60449C8.37069 1.6015 8.34071 1.59962 8.31055 1.59961H2.5C2.00295 1.59961 1.59961 2.00294 1.59961 2.5V12.5C1.59961 12.997 2.00294 13.4004 2.5 13.4004H9.92285L9.94922 13.457C9.97503 13.5119 9.99598 13.5703 10.0098 13.6309L10.2021 14.4775L10.2295 14.5996H2.5C1.3402 14.5996 0.400391 13.6598 0.400391 12.5V2.5C0.400391 1.3402 1.3402 0.400391 2.5 0.400391H8.31055ZM9.59961 3.5C9.59961 3.72092 9.77908 3.90039 10 3.90039H10.6953L9.59961 2.62109V3.5Z" fill="#374151" stroke="#374151" stroke-width="0.2"/>
                                    <path d="M11.5 7.4502C11.7567 7.4502 11.9792 7.62764 12.0361 7.87793L12.4053 9.50195C12.529 10.0459 12.9541 10.471 13.498 10.5947L15.1221 10.9639C15.3724 11.0208 15.5498 11.2433 15.5498 11.5C15.5498 11.7567 15.3724 11.9792 15.1221 12.0361L13.498 12.4053C12.9541 12.529 12.529 12.9541 12.4053 13.498L12.0361 15.1221C11.9792 15.3724 11.7567 15.5498 11.5 15.5498C11.2433 15.5498 11.0208 15.3724 10.9639 15.1221L10.5947 13.498C10.471 12.9541 10.0459 12.529 9.50195 12.4053L7.87793 12.0361C7.62764 11.9792 7.4502 11.7567 7.4502 11.5C7.4502 11.2433 7.62764 11.0208 7.87793 10.9639L9.50195 10.5947C10.0459 10.471 10.471 10.0459 10.5947 9.50195L10.9639 7.87793C11.0208 7.62764 11.2433 7.4502 11.5 7.4502ZM11.5 10.2324C11.245 10.7949 10.7949 11.245 10.2324 11.5C10.7946 11.7549 11.2449 12.2045 11.5 12.7666C11.755 12.2048 12.2048 11.755 12.7666 11.5C12.2045 11.2449 11.7549 10.7946 11.5 10.2324Z" fill="#374151" stroke="#374151" stroke-width="0.1"/>
                                  </g>
                                  <defs>
                                    <clipPath id="clip0_3256_14477">
                                      <rect width="16" height="16" fill="white"/>
                                    </clipPath>
                                  </defs>
                                </svg>
                                <span>Сгенерировать</span>
                              </button>
                              <button class="button button-with-icon-full sm bill-create" type="button" aria-label="button" data-popup-name="create-bill">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <g clip-path="url(#clip0_3256_14482)">
                                    <path d="M6.92871 0.299805C7.71732 0.299805 8.31061 0.544248 8.70801 0.930664C9.10399 1.31575 9.28995 1.82675 9.29004 2.33105C9.29004 2.67677 9.22477 2.9382 9.13379 3.14258C9.08862 3.24396 9.03773 3.32922 8.98828 3.40137L8.85156 3.58105H10.5039C11.5618 3.58108 12.2704 4.54174 12.2705 5.74609V7.3916L12.2715 7.39355C12.2815 7.4097 12.296 7.43029 12.3145 7.44922C12.3433 7.47875 12.3705 7.49154 12.3926 7.49805C12.395 7.49632 12.3985 7.49528 12.4014 7.49316C12.435 7.46856 12.4754 7.43364 12.5264 7.38965C12.7512 7.19541 13.1324 6.8623 13.7861 6.8623C14.2713 6.86241 14.7561 7.06998 15.1162 7.49902C15.4753 7.92702 15.7002 8.5622 15.7002 9.40625C15.7002 11.0021 14.6774 11.892 13.6162 11.8926C13.2926 11.8926 13.047 11.8195 12.8555 11.7168C12.6667 11.6155 12.5383 11.4895 12.4502 11.4033V11.4023C12.4277 11.3805 12.4096 11.3635 12.3945 11.3496C12.391 11.3464 12.3877 11.3435 12.3848 11.3408C12.3646 11.3484 12.3406 11.3625 12.3154 11.3887C12.2972 11.4076 12.2824 11.4277 12.2725 11.4443C12.2717 11.4456 12.2712 11.4471 12.2705 11.4482V13.5889C12.2704 14.1883 12.0989 14.7134 11.7881 15.0928C11.4747 15.475 11.0266 15.7002 10.5039 15.7002L8.81445 15.6992H8.80566C8.56115 15.6883 8.3442 15.6071 8.1875 15.4521C8.0298 15.296 7.95119 15.0831 7.95117 14.8457C7.95117 14.6158 8.04468 14.4475 8.13477 14.3242L8.2207 14.2148C8.29129 14.1277 8.3461 14.0586 8.3877 13.9629C8.42851 13.8688 8.46094 13.7368 8.46094 13.5283C8.46091 13.1757 8.31727 12.8933 8.06152 12.6943C7.80096 12.4916 7.41037 12.3662 6.91016 12.3662C6.4099 12.3662 6.01927 12.4917 5.75879 12.6943C5.50316 12.8933 5.35941 13.1756 5.35938 13.5283C5.35938 13.7369 5.39186 13.8688 5.43262 13.9629C5.47416 14.0586 5.52889 14.1278 5.59961 14.2148C5.70292 14.3421 5.86816 14.5393 5.86816 14.8457C5.86815 15.0824 5.7875 15.2946 5.63184 15.4502C5.47703 15.6049 5.26331 15.6894 5.02344 15.7002H2.3877C1.2789 15.7002 0.300274 14.6448 0.299805 13.498V11.5684C0.309036 11.3124 0.379758 11.0836 0.518555 10.915C0.661222 10.7421 0.863841 10.6484 1.09668 10.6484C1.39087 10.6485 1.59953 10.8494 1.7334 10.9707C1.92543 11.1441 2.09862 11.2979 2.44238 11.2979C2.71324 11.2978 3.03212 11.1285 3.29102 10.792C3.54662 10.4596 3.72852 9.98009 3.72852 9.40625C3.72852 8.27804 3.02533 7.73145 2.42871 7.73145C2.07472 7.73151 1.90348 7.87455 1.71777 8.03027C1.58471 8.14249 1.38117 8.32324 1.09668 8.32324C0.863957 8.32316 0.662024 8.22981 0.519531 8.05859C0.380682 7.8915 0.310071 7.66501 0.300781 7.41309V5.65625C0.300781 4.54567 1.27349 3.58105 2.3877 3.58105H4.96875C4.88982 3.4836 4.77585 3.34467 4.68555 3.1416C4.5948 2.93735 4.53027 2.67645 4.53027 2.33105C4.53037 1.72535 4.77737 1.21117 5.20898 0.851562C5.63759 0.494505 6.23552 0.299824 6.92871 0.299805ZM6.92871 1.16895C6.43211 1.16896 6.03636 1.29755 5.76953 1.50293C5.50697 1.70512 5.35948 1.98787 5.35938 2.33105C5.35938 2.54006 5.39181 2.67246 5.43262 2.7666C5.47418 2.86242 5.52883 2.93146 5.59961 3.01855L5.68555 3.12793C5.77554 3.25131 5.86816 3.41968 5.86816 3.64941C5.86812 3.80437 5.8357 4.00184 5.70117 4.16602C5.56184 4.33589 5.34127 4.43581 5.03613 4.44824L5.03711 4.44922L5.01758 4.4502H2.3877C1.7862 4.4502 1.12891 4.9591 1.12891 5.65625V7.38867L1.13086 7.40625C1.15032 7.39054 1.17382 7.37394 1.19922 7.35254L1.3916 7.19922C1.61588 7.03555 1.94201 6.86236 2.42871 6.8623C3.48903 6.8623 4.55762 7.78864 4.55762 9.40625C4.55762 11.0065 3.51467 12.167 2.44238 12.167C1.78397 12.1669 1.41118 11.8274 1.19238 11.6289V11.6279C1.17022 11.6079 1.14908 11.5912 1.13086 11.5752C1.13055 11.5805 1.12911 11.586 1.12891 11.5918V13.498C1.12891 13.824 1.28298 14.1602 1.52734 14.417C1.77223 14.6743 2.08761 14.8311 2.3877 14.8311H4.99707C5.00123 14.8309 5.00506 14.8294 5.00879 14.8291C4.99756 14.8147 4.9848 14.7972 4.96875 14.7773C4.88954 14.6798 4.77577 14.5416 4.68555 14.3389C4.59464 14.1346 4.53032 13.8738 4.53027 13.5283C4.53027 12.9231 4.77491 12.4087 5.20312 12.0488C5.62843 11.6914 6.22208 11.4961 6.91016 11.4961C7.70466 11.4961 8.30262 11.74 8.70312 12.126C9.10249 12.511 9.29004 13.0234 9.29004 13.5283C9.29 13.8739 9.22475 14.1346 9.13379 14.3389C9.04339 14.5417 8.93039 14.681 8.85156 14.7783C8.83608 14.7975 8.82248 14.8131 8.81152 14.8271C8.81782 14.8277 8.82448 14.8307 8.83203 14.8311H10.5039C10.8253 14.831 11.0506 14.6873 11.2031 14.4658C11.3608 14.2367 11.4434 13.9188 11.4434 13.5889V11.3887C11.4434 11.3899 11.4425 11.3902 11.4424 11.3877C11.4423 11.3869 11.4426 11.3783 11.4424 11.373C11.4419 11.3617 11.4413 11.3392 11.4453 11.3125H11.4443C11.4711 11.1159 11.5885 10.908 11.75 10.751C11.9139 10.5917 12.1447 10.4649 12.415 10.4648C12.7153 10.4648 12.9046 10.6594 13.0156 10.7676C13.0959 10.8459 13.1569 10.9037 13.2402 10.9473C13.3201 10.989 13.4333 11.0234 13.6162 11.0234C13.9124 11.0234 14.2227 10.9034 14.46 10.6475C14.6962 10.3925 14.8711 9.98938 14.8711 9.40625C14.8711 8.86317 14.7508 8.43748 14.5566 8.1543C14.3668 7.87754 14.1045 7.73156 13.7861 7.73145C13.5249 7.73145 13.3562 7.81814 13.2041 7.93457L13.0537 8.05957C12.9085 8.18484 12.7036 8.37305 12.415 8.37305C12.1448 8.37299 11.9138 8.24607 11.75 8.08691C11.5908 7.93226 11.4755 7.72806 11.4463 7.53418V7.53516C11.4405 7.50419 11.4418 7.47752 11.4424 7.46484C11.4426 7.45958 11.4423 7.45096 11.4424 7.4502C11.4425 7.44761 11.4434 7.44787 11.4434 7.44922V5.74609C11.4433 5.40613 11.3528 5.07352 11.1885 4.83203C11.0276 4.59564 10.8002 4.45021 10.5039 4.4502H8.81152V4.44922C8.79779 4.44927 8.78416 4.44859 8.77051 4.44727V4.44824C8.46929 4.43069 8.25202 4.32862 8.11523 4.16016C7.98278 3.99698 7.95117 3.80231 7.95117 3.64941C7.95121 3.343 8.11752 3.1457 8.2207 3.01855C8.29127 2.93145 8.34606 2.86253 8.3877 2.7666C8.42861 2.67233 8.46094 2.53981 8.46094 2.33105C8.46084 1.97764 8.3179 1.69565 8.06543 1.49707C7.80821 1.29481 7.42293 1.16895 6.92871 1.16895Z" fill="#374151" stroke="#374151" stroke-width="0.4"/>
                                  </g>
                                  <defs>
                                    <clipPath id="clip0_3256_14482">
                                      <rect width="16" height="16" fill="white"/>
                                    </clipPath>
                                  </defs>
                                </svg>
                                <span>Сформировать ручной</span>
                              </button>
                              <button class="button button-with-icon-full sm disabled bill-restore" type="button" aria-label="button" data-popup-name="bill-restore">
                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <g clip-path="url(#clip0_3347_11963)">
                                    <path d="M6.70605 4.01465C6.88697 4.05149 7.02344 4.21154 7.02344 4.40332V6.30176C7.02336 6.49994 6.91744 6.68525 6.74707 6.78613C6.5768 6.88724 6.37031 6.89065 6.19727 6.7959C6.0729 6.72769 5.93012 6.70301 5.78418 6.72656C5.51537 6.77021 5.29454 7.00271 5.26367 7.27637C5.24285 7.46143 5.299 7.637 5.4209 7.77344C5.54112 7.9077 5.71317 7.98526 5.89258 7.98535C5.999 7.98535 6.09938 7.95924 6.19238 7.90918C6.36889 7.81378 6.57957 7.81766 6.75195 7.9209C6.92169 8.02243 7.02328 8.20271 7.02344 8.40039V9.88574H8.52246C8.72133 9.88586 8.9017 9.98897 9.00293 10.1602C9.10533 10.3335 9.1079 10.544 9.01074 10.7207C8.95977 10.8133 8.93262 10.919 8.93262 11.0254C8.9327 11.2051 9.01003 11.3778 9.14453 11.498C9.28092 11.62 9.45752 11.675 9.6416 11.6543C9.91698 11.6233 10.1499 11.401 10.1924 11.1299C10.2095 11.0199 10.1993 10.9125 10.1641 10.8135L10.1201 10.7168C10.0229 10.5436 10.0259 10.3363 10.126 10.165C10.2266 9.99313 10.412 9.88578 10.6113 9.88574H12.5068C12.7257 9.88588 12.9028 10.0636 12.9033 10.2822V10.2832C12.9033 10.2906 12.9028 10.2967 12.9023 10.3008C12.9019 10.3046 12.9014 10.3085 12.9014 10.3086C12.9013 10.3089 12.9021 10.307 12.9023 10.3047V13.7148C12.9021 15.2835 11.6259 16.5594 10.0566 16.5596H6.64062L6.62695 16.5615L6.6123 16.5596H3.19629C1.62714 16.5594 0.350837 15.2836 0.350586 13.7148V10.2959L0.348633 10.2832L0.350586 10.2686V6.85352C0.350586 5.28395 1.62674 4.00697 3.19629 4.00684H6.6084C6.61261 4.00637 6.61931 4.00586 6.62695 4.00586L6.70605 4.01465ZM1.14355 13.7139C1.14355 14.8449 2.06432 15.7655 3.19629 15.7656H6.23047V14.2812C6.23047 14.0833 6.33161 13.9024 6.50195 13.8008C6.67415 13.6981 6.88386 13.6949 7.06055 13.79C7.15337 13.84 7.254 13.8652 7.36035 13.8652C7.54003 13.8652 7.7127 13.7879 7.83301 13.6533L7.91211 13.5439C7.97813 13.4285 8.00583 13.2949 7.99023 13.1562C7.9593 12.8826 7.73775 12.65 7.46875 12.6064C7.35913 12.589 7.25218 12.5985 7.15332 12.6328L7.05664 12.6758C6.88369 12.7704 6.67705 12.7669 6.50684 12.666C6.33649 12.565 6.23048 12.3801 6.23047 12.1816V10.6797H5.07031C5.11655 10.8649 5.12613 11.0585 5.0957 11.2529C4.9971 11.8825 4.48471 12.3707 3.85059 12.4424C3.49544 12.4825 3.14048 12.389 2.85449 12.1836L2.73633 12.0889C2.43349 11.8184 2.2598 11.4309 2.25977 11.0254C2.25977 10.9084 2.27555 10.7924 2.30371 10.6797H1.14355V13.7139ZM7.02344 11.8457C7.20848 11.8007 7.40176 11.7916 7.5957 11.8232C8.22123 11.9248 8.70725 12.4364 8.77832 13.0674C8.82393 13.4726 8.69458 13.879 8.42383 14.1816C8.15321 14.4843 7.766 14.6582 7.36035 14.6582C7.24639 14.6582 7.13356 14.642 7.02344 14.6152V15.7656H10.0566C11.1883 15.7654 12.109 14.8454 12.1094 13.7139V10.6787H10.9502C10.9966 10.8641 11.006 11.0583 10.9756 11.2529C10.8768 11.8824 10.3646 12.371 9.73047 12.4424C9.67663 12.4485 9.6226 12.4512 9.56934 12.4512C9.21925 12.4512 8.87889 12.3237 8.61621 12.0889C8.31339 11.8185 8.13978 11.4309 8.13965 11.0254C8.13965 10.9082 8.15628 10.7917 8.18457 10.6787H7.02344V11.8457ZM3.19629 4.7998C2.06442 4.79994 1.14355 5.72164 1.14355 6.85352V9.88574H2.6416C2.84077 9.88574 3.02175 9.98861 3.12305 10.1602C3.22562 10.3337 3.22808 10.5441 3.13086 10.7207C3.0801 10.8129 3.05273 10.9187 3.05273 11.0254C3.05286 11.2049 3.13036 11.3769 3.26465 11.4971C3.40105 11.6191 3.57744 11.675 3.76172 11.6543C4.03706 11.6233 4.26905 11.4009 4.31152 11.1299C4.33448 10.983 4.30966 10.8408 4.24023 10.7168C4.14304 10.5435 4.14603 10.3364 4.24609 10.165V10.1641C4.34677 9.99255 4.53227 9.88574 4.73145 9.88574H6.22949V8.73535C6.11936 8.76216 6.00644 8.77832 5.89258 8.77832C5.48694 8.77828 5.09969 8.60442 4.8291 8.30176C4.55847 7.99921 4.42913 7.59354 4.47461 7.18848L4.49316 7.07129C4.60722 6.49464 5.07066 6.03856 5.65723 5.94336C5.85097 5.91204 6.04434 5.92082 6.22949 5.96582V4.7998H3.19629Z" fill="#374151" stroke="#374151" stroke-width="0.3"/>
                                    <path d="M10.8442 0.826172C12.2163 0.0340321 13.9769 0.505921 14.769 1.87793L16.5005 4.87695C16.6102 5.06744 16.5449 5.31093 16.354 5.4209L16.355 5.42187L14.9917 6.20801C15.1265 6.34708 15.2327 6.51216 15.3042 6.69824L15.3423 6.81152C15.4986 7.3433 15.3291 7.92276 14.9106 8.29004L14.8169 8.36621C14.5657 8.55119 14.2632 8.64844 13.9575 8.64844C13.8601 8.64841 13.7623 8.63934 13.6655 8.61914C13.3148 8.54584 13.0044 8.3443 12.7954 8.05762L12.7124 7.92871C12.6531 7.82587 12.608 7.71632 12.5757 7.60352L11.2124 8.38965C11.1807 8.40819 11.1502 8.42022 11.1245 8.42773L11.1216 8.42871C11.1112 8.43153 11.0984 8.43316 11.0962 8.43359L11.0972 8.43457C11.0755 8.43935 11.0534 8.44145 11.0308 8.44238C11.037 8.44207 11.0424 8.44172 11.0444 8.44141H11.0454C11.0441 8.44164 11.0403 8.44274 11.0356 8.44336C11.0306 8.44403 11.0226 8.44433 11.0132 8.44434C11.0037 8.44434 10.9958 8.44406 10.9907 8.44336C10.9861 8.44272 10.982 8.44141 10.9819 8.44141C10.9817 8.44137 10.984 8.44199 10.9868 8.44238C10.9894 8.44274 10.9938 8.44213 10.9985 8.44238L10.9292 8.43457C10.9305 8.43477 10.9316 8.43548 10.9321 8.43555H10.9302L10.9185 8.43262H10.9175L10.9165 8.43164H10.9106C10.8774 8.42298 10.8483 8.40998 10.8247 8.39746L10.8228 8.39551C10.8164 8.392 10.8111 8.38864 10.8081 8.38672C10.8072 8.38617 10.8049 8.38521 10.8042 8.38477L10.8022 8.38281C10.7829 8.37072 10.7647 8.35713 10.7476 8.3418C10.7419 8.3368 10.735 8.3312 10.728 8.32422L10.7261 8.32227C10.7071 8.30253 10.686 8.27707 10.6675 8.24512L9.88428 6.88965C9.80122 6.96941 9.71012 7.04082 9.60986 7.09863C9.2554 7.30343 8.82874 7.348 8.43994 7.21973C8.05068 7.09151 7.73406 6.80097 7.56982 6.42383C7.31297 5.83701 7.47918 5.1453 7.9751 4.74121L8.14014 4.62402C8.24891 4.55739 8.3652 4.50617 8.48682 4.4707L7.69873 3.10352C7.58866 2.91275 7.65335 2.66788 7.84424 2.55762L10.8442 0.826172ZM14.0767 2.27637C13.5048 1.28586 12.2331 0.945826 11.2427 1.51758L8.58838 3.04883L9.34814 4.36426C9.44763 4.53678 9.44778 4.75111 9.3501 4.9248C9.26466 5.07666 9.11767 5.17813 8.94873 5.2041L8.87549 5.21094C8.73092 5.2144 8.59425 5.26462 8.47998 5.3584V5.35938C8.26516 5.53439 8.18864 5.8495 8.30029 6.10449H8.30127C8.37672 6.27764 8.51368 6.40291 8.68896 6.46094C8.86273 6.51809 9.05311 6.49898 9.21045 6.4082L9.27686 6.36426C9.33969 6.31688 9.39284 6.25897 9.43506 6.19043L9.43604 6.18945C9.54406 6.01622 9.72838 5.91749 9.92822 5.91797H9.93018C10.1291 5.92143 10.3081 6.02801 10.4077 6.2002L11.1577 7.5L12.4712 6.74316C12.6452 6.64269 12.8543 6.6417 13.0288 6.74023C13.2054 6.84019 13.3131 7.02326 13.3169 7.22656C13.319 7.3307 13.3484 7.43598 13.4028 7.53027C13.4941 7.68807 13.6489 7.80048 13.8276 7.83789C14.0084 7.87566 14.1908 7.83613 14.3423 7.72461C14.5404 7.57823 14.6352 7.31998 14.5884 7.08496L14.5591 6.98633C14.5048 6.84505 14.4112 6.73267 14.2876 6.65918C14.1164 6.55817 14.0144 6.37653 14.0151 6.17676C14.0159 5.97528 14.1239 5.78802 14.2983 5.6875L15.6089 4.92969L14.0767 2.27637Z" fill="#374151" stroke="#374151" stroke-width="0.3"/>
                                  </g>
                                  <defs>
                                    <clipPath id="clip0_3347_11963">
                                      <rect width="17" height="17" fill="white"/>
                                    </clipPath>
                                  </defs>
                                </svg>
                                <span>Расформировать ручной</span>
                              </button>
                              <button class="button button-with-icon-full sm disabled bill-cancel" type="button" aria-label="button" data-popup-name="bill-cancel">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <g clip-path="url(#clip0_3256_14485)">
                                    <path d="M8.5 1.90039C11.8651 1.9005 14.5996 4.63484 14.5996 8C14.5996 11.3652 11.8651 14.0995 8.5 14.0996C8.2216 14.0996 7.94033 14.0799 7.66504 14.042L7.3916 13.998C7.06671 13.9379 6.85129 13.6205 6.91113 13.2969L6.91211 13.2949C6.97767 12.9735 7.28229 12.7566 7.6123 12.8164H7.61328C7.9077 12.8704 8.20655 12.9004 8.50488 12.9004C11.2046 12.9003 13.4053 10.6997 13.4053 8C13.4053 5.30026 11.2046 3.09966 8.50488 3.09961C5.80511 3.09961 3.60449 5.30023 3.60449 8C3.60449 8.57922 3.70211 9.14298 3.90039 9.68164L3.99219 9.91113L4.07031 10.0889C4.23288 10.4369 4.43571 10.7608 4.67676 11.0605L4.91211 9.88086V9.87988C4.97825 9.55579 5.29616 9.34612 5.62012 9.41211C5.94412 9.47832 6.15387 9.79622 6.08789 10.1201L5.58789 12.6191V12.6211C5.52807 12.9017 5.28239 13.0995 5 13.0996C4.97981 13.0996 4.96152 13.0979 4.94824 13.0967C4.93416 13.0954 4.92475 13.0947 4.91504 13.0947H4.90625L4.89844 13.0938L1.89844 12.5938C1.57375 12.5396 1.35221 12.2276 1.40625 11.9033C1.4604 11.5792 1.76645 11.3574 2.0957 11.4111L3.63086 11.6641C3.37535 11.3262 3.15208 10.9681 2.97168 10.5811L2.88281 10.3789C2.56254 9.62645 2.39941 8.82324 2.39941 8C2.39941 4.63477 5.13477 1.90039 8.5 1.90039Z" fill="#374151" stroke="#374151" stroke-width="0.2"/>
                                  </g>
                                  <defs>
                                    <clipPath id="clip0_3256_14485">
                                      <rect width="16" height="16" fill="white"/>
                                    </clipPath>
                                  </defs>
                                </svg>
                                <span>Отменить и вернуть в <i>Сгенерирован</i></span>
                              </button>
                              <button class="button button-with-icon-full sm disabled bill-annul" type="button" aria-label="button" data-popup-name="bill-annul">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <g clip-path="url(#clip0_3347_11971)">
                                    <path d="M6.51758 0.545898C7.99169 0.252737 9.51962 0.403382 10.9082 0.978516C12.2969 1.55372 13.4842 2.5276 14.3193 3.77734C15.1544 5.02716 15.5996 6.49686 15.5996 8C15.5996 10.0156 14.7993 11.9487 13.374 13.374C11.9487 14.7993 10.0156 15.5996 8 15.5996C6.49686 15.5996 5.02716 15.1544 3.77734 14.3193C2.5276 13.4842 1.55372 12.2969 0.978516 10.9082C0.403382 9.51962 0.252737 7.99169 0.545898 6.51758C0.839146 5.04332 1.5631 3.68886 2.62598 2.62598C3.68886 1.5631 5.04332 0.839146 6.51758 0.545898ZM8 1.53711C6.72184 1.53711 5.47193 1.91685 4.40918 2.62695C3.34665 3.33705 2.51836 4.34665 2.0293 5.52734C1.54031 6.7081 1.41278 8.00729 1.66211 9.26074C1.91147 10.5143 2.52688 11.6656 3.43066 12.5693C4.33445 13.4731 5.48568 14.0885 6.73926 14.3379C7.99271 14.5872 9.2919 14.4597 10.4727 13.9707C11.6534 13.4816 12.663 12.6534 13.373 11.5908C14.0832 10.5281 14.4629 9.27816 14.4629 8C14.4629 6.28604 13.7813 4.64262 12.5693 3.43066C11.3574 2.21871 9.71396 1.53711 8 1.53711Z" fill="#374151" stroke="#374151" stroke-width="0.2"/>
                                    <path d="M12.8535 2.40039C12.9985 2.40039 13.1378 2.45769 13.2402 2.56055C13.3426 2.66339 13.3994 2.803 13.3994 2.94824C13.3994 3.09348 13.3426 3.2331 13.2402 3.33594L3.63867 12.9346L3.6377 12.9336C3.58845 12.9861 3.52998 13.0291 3.46387 13.0576C3.39674 13.0865 3.32403 13.1005 3.25098 13.0996V13.0986C3.17858 13.0992 3.10657 13.0863 3.04004 13.0576C2.97477 13.0295 2.91704 12.9872 2.86816 12.9355V12.9365L2.86328 12.9316V12.9307C2.81281 12.8817 2.77105 12.8244 2.74316 12.7598C2.71428 12.6927 2.7002 12.6199 2.7002 12.5469C2.70024 12.474 2.71437 12.4018 2.74316 12.335C2.77165 12.2689 2.8132 12.2088 2.86523 12.1592L12.4668 2.56055C12.5692 2.45769 12.7085 2.4004 12.8535 2.40039Z" fill="#374151" stroke="#374151" stroke-width="0.2"/>
                                  </g>
                                  <defs>
                                    <clipPath id="clip0_3347_11971">
                                      <rect width="16" height="16" fill="white"/>
                                    </clipPath>
                                  </defs>
                                </svg>
                                <span>Аннулировать</span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  .in-container.mt-4
                    .content.content-collapsed
                      .content-scroll
                        include ../components/campaign/bills/table-bills
                    include ../components/campaign/bills/filter-bills
          .selectors
            .content.content-not-collapsed
              .selector__buttons
                .selector__scroll
                  button.selector__button(data-id="comments") Комментарии (2)
                  button.selector__button(data-id="actions").active Все действия (2)
              .selector__containers
                .selector__container(data-id="comments")
                  include ../components/campaign/messages
                .selector__container(data-id="actions").active
                  include ../components/campaign/actions
                .messages__bottom
                  .messages__footer
                    form(action="#").messages__form.default
                      +input({
                        class: 'messages__upload',
                        isFileUpload: true,
                        isMultiple: true,
                        isRequired: true,
                        isTextarea: true,
                        label: '',
                        name: 'comment',
                        placeholder: 'Отправить комментарий...',
                      })
                      +button({
                        class: 'button-icon-round messages__submit',
                        icon: 'other-send-icon',
                        isDisabled: true,
                        isOnlyIcon: true,
                        type: 'submit',
                        view: 'button',
                      })
        include ../components/campaign/aside
  include ../components/upload-alert