extends ../layouts/master

block title
  title Топ Трафик | Кампания

block basicSeo
  meta(content="Кампания" name="description")
  meta(content="Кампания" name="keywords")
  meta(content="Кампания" property="og:title")
  meta(content="Кампания" name="twitter:title")

block content
  main.page
    include ../components/sidebar
    include ../components/header
    .wrapper
      +heading({
        image: {
          alt: 'avatar',
          enabled: true,
          src: '/assets/images/avatar.png',
        },
        isRk: true,
        title: 'Test_MTC_September',
      })
      .campaign__info
        table.table
          tr
            th.text-black-200 Клиент
            td Мтс
        table.table
          tr
            th.text-black-200 Период
            td 01.01.2024 - 31.01.2024
        table.table
          tr
            th.text-black-200 Куратор
            td
              +dropdown({
                buttons: [
                  {
                    class: 'cancel-all',
                    isChecked: true,
                    name: 'curator',
                    title: '—',
                  },
                  {
                    class: '',
                    image: {
                      alt: 'image',
                      enabled: true,
                      src: '/assets/images/user-image.png',
                    },
                    name: 'curator',
                    title: 'ООО “ИП”',
                  },
                  {
                    class: '',
                    image: {
                      alt: 'image',
                      enabled: true,
                      src: '/assets/images/avatar.png',
                    },
                    name: 'curator',
                    title: 'ООО “ИП”',
                  },
                ],
                class: 'dropdown-radios dropdown-copy-image',
                isRadios: true,
                isSearch: true,
                title: '—',
              })
      .inner.in-container
        .content.content-sm
          .selectors
            .content.content-not-collapsed
              .widgets.widgets-no-controls
                +widget({
                  color: 'blue',
                  icon: 'widget-tablet-icon',
                  tip: {
                    content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                    enabled: true,
                  },
                  title: 'Опрошено',
                  values: [
                    {
                      awaiting: '15/20',
                      progress: {
                        awaiting: '65',
                        content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                        enabled: true,
                        reality: '100',
                        value: '65',
                      },
                      reality: '20/20',
                      value: '15/20',
                    },
                  ],
                })
                +widget({
                  color: 'blue',
                  icon: 'widget-tablet-icon',
                  tip: {
                    content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                    enabled: true,
                  },
                  title: 'Подтверждено',
                  values: [
                    {
                      awaiting: '12/20',
                      progress: {
                        awaiting: '65',
                        content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                        enabled: true,
                        reality: '100',
                        value: '65',
                      },
                      reality: '20/20',
                      value: '12/20',
                    },
                  ],
                })
                +widget({
                  color: 'blue',
                  icon: 'widget-tablet-icon',
                  tip: {
                    content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                    enabled: true,
                  },
                  title: 'Проверено каналов',
                  values: [
                    {
                      awaiting: '15/20',
                      progress: {
                        awaiting: '65',
                        content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                        enabled: true,
                        reality: '100',
                        value: '65',
                      },
                      reality: '20/20',
                      value: '15/20',
                    },
                  ],
                })
                +widget({
                  buttons: [
                    {
                      href: '#',
                      icon: 'other-attachment-icon',
                      view: 'link',
                    },
                    {
                      href: '#',
                      icon: 'other-download-icon',
                      isDownload: true,
                      view: 'link',
                    },
                  ],
                  color: 'blue',
                  icon: 'widget-check-icon',
                  tip: {
                    content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                    enabled: true,
                  },
                  title: 'Медиаплан готов',
                  values: [
                    {
                      value: '157 каналов',
                    },
                  ],
                })
                +widget({
                  color: 'blue',
                  icon: 'widget-check-icon',
                  tip: {
                    content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                    enabled: true,
                  },
                  title: 'Согласовано каналов',
                  values: [
                    {
                      awaiting: '15/20',
                      progress: {
                        awaiting: '65',
                        content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                        enabled: true,
                        reality: '100',
                        value: '65',
                      },
                      reality: '20/20',
                      value: '15/20',
                    },
                  ],
                })
                +widget({
                  color: 'blue',
                  icon: 'widget-list-plus-icon',
                  tip: {
                    content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                    enabled: true,
                  },
                  title: 'Новых каналов',
                  values: [
                    {
                      value: '15',
                    },
                  ],
                })
                +widget({
                  color: 'blue',
                  icon: 'widget-check-icon',
                  tip: {
                    content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                    enabled: true,
                  },
                  title: 'Оплачено каналов',
                  values: [
                    {
                      awaiting: '10/20',
                      progress: {
                        awaiting: '65',
                        content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                        enabled: true,
                        reality: '100',
                        value: '65',
                      },
                      reality: '20/20',
                      value: '10/20',
                    },
                  ],
                })
                +widget({
                  color: 'blue',
                  icon: 'widget-awaiting-icon',
                  tip: {
                    content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                    enabled: true,
                  },
                  title: 'Ожидают оплаты',
                  values: [
                    {
                      awaiting: '5/20',
                      progress: {
                        awaiting: '65',
                        content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                        enabled: true,
                        reality: '100',
                        value: '65',
                      },
                      reality: '20/20',
                      value: '5/20',
                    },
                  ],
                })
                +widget({
                  color: 'blue',
                  icon: 'widget-warning-icon',
                  tip: {
                    content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                    enabled: true,
                  },
                  title: 'Отсутствует счет',
                  values: [
                    {
                      awaiting: '5/20',
                      progress: {
                        awaiting: '65',
                        content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                        enabled: true,
                        reality: '100',
                        value: '65',
                      },
                      reality: '20/20',
                      value: '5/20',
                    },
                  ],
                })
                +widget({
                  color: 'blue',
                  icon: 'widget-grid-icon',
                  tip: {
                    content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                    enabled: true,
                  },
                  title: 'Размещено постов',
                  values: [
                    {
                      awaiting: '10/20',
                      progress: {
                        awaiting: '65',
                        content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                        enabled: true,
                        reality: '100',
                        value: '65',
                      },
                      reality: '20/20',
                      value: '10/20',
                    },
                  ],
                })
                +widget({
                  color: 'blue',
                  icon: 'widget-pulse-icon',
                  tip: {
                    content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                    enabled: true,
                  },
                  title: 'Постов в работе',
                  values: [
                    {
                      awaiting: '5/20',
                      progress: {
                        awaiting: '65',
                        content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                        enabled: true,
                        reality: '100',
                        value: '65',
                      },
                      reality: '20/20',
                      value: '5/20',
                    },
                  ],
                })
                +widget({
                  color: 'blue',
                  icon: 'widget-check-icon',
                  tip: {
                    content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                    enabled: true,
                  },
                  title: 'Завершено сделок',
                  values: [
                    {
                      awaiting: '5/20',
                      progress: {
                        awaiting: '65',
                        content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                        enabled: true,
                        reality: '100',
                        value: '65',
                      },
                      reality: '20/20',
                      value: '5/20',
                    },
                  ],
                })
              .selector__buttons
                .selector__scroll
                  button.selector__button(data-id="campaign-analytics").active Аналитика
                  button.selector__button(data-id="campaign-statistics") Статистика
                  button.selector__button(data-id="campaign-employees") Сотрудники
                label.selector__toggle
                  input(type="checkbox" name="selector-toggle")
                  p.awaiting Ожидание
                  span
                  p.reality Реальность
              .selector__containers
                .selector__container(data-id="campaign-analytics").active
                  .widgets
                    +widget({
                      icon: 'widget-wallet-plus-icon',
                      isProgresses: true,
                      isRows: true,
                      progresses: [
                        {
                          awaiting: '0',
                          content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                          reality: '100',
                          title: 'плана',
                          value: '0',
                        },
                        {
                          awaiting: '0',
                          content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                          reality: '100',
                          title: 'прогноза',
                          value: '0',
                        },
                      ],
                      subtitle: 'Выполнение',
                      tip: {
                        content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                        enabled: true,
                      },
                      title: 'Текущая выручка',
                      values: [
                        {
                          awaiting: '0 ₽',
                          reality: '100 ₽',
                          value: '0 ₽',
                        },
                      ],
                    })
                    +widget({
                      icon: 'widget-money-icon',
                      isProgresses: true,
                      isRows: true,
                      progresses: [
                        {
                          awaiting: '0',
                          content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                          reality: '100',
                          title: 'плана',
                          value: '0',
                        },
                        {
                          awaiting: '0',
                          content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                          reality: '100',
                          title: 'прогноза',
                          value: '0',
                        },
                      ],
                      subtitle: 'Выполнение',
                      tip: {
                        content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                        enabled: true,
                      },
                      title: 'Текущая маржа',
                      values: [
                        {
                          awaiting: '0 ₽',
                          reality: '100 ₽',
                          value: '0 ₽',
                        },
                      ],
                    })
                    +widget({
                      icon: 'widget-money-icon',
                      tip: {
                        content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                        enabled: true,
                      },
                      title: 'Маржинальность',
                      values: [
                        {
                          awaiting: '0%',
                          reality: '100%',
                          value: '0%',
                        },
                      ],
                    })
                    +widget({
                      icon: 'widget-discount-icon',
                      tip: {
                        content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                        enabled: true,
                      },
                      title: 'Скидка',
                      values: [
                        {
                          awaiting: '0 ₽ (0%)',
                          progress: {
                            awaiting: '0',
                            content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                            enabled: true,
                            reality: '100',
                            value: '0',
                          },
                          reality: '100 ₽ (100%)',
                          value: '0 ₽ (0%)',
                        },
                      ],
                    })
                    +widget({
                      icon: 'widget-consumption-icon',
                      tip: {
                        content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                        enabled: true,
                      },
                      title: 'Расход',
                      values: [
                        {
                          awaiting: '0 ₽',
                          reality: '100 ₽',
                          value: '0 ₽',
                        },
                      ],
                    })
                .selector__container(data-id="campaign-statistics")
                  .widgets
                    +widget({
                      icon: 'widget-eye-icon',
                      tip: {
                        content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                        enabled: true,
                        isHidden: true,
                      },
                      title: 'Просмотры (в среднем)',
                      values: [
                        {
                          awaiting: '20 000 000',
                          reality: '40 000 000',
                          value: '20 000 000',
                        },
                      ],
                    })
                    +widget({
                      icon: 'widget-users-connected-icon',
                      isFourValues: true,
                      isRows: true,
                      mainValue: {
                        awaiting: '99 803',
                        reality: '100 000',
                        value: '99 803',
                      },
                      tip: {
                        content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                        enabled: true,
                      },
                      title: 'Охват',
                      values: [
                        {
                          awaiting: '99 803',
                          reality: '100 000',
                          title: '12 часов',
                          value: '99 803',
                        },
                        {
                          awaiting: '99 803',
                          reality: '100 000',
                          title: '48 часов',
                          value: '99 803',
                        },
                        {
                          awaiting: '99 803',
                          reality: '100 000',
                          title: '24 часов',
                          value: '99 803',
                        },
                        {
                          awaiting: '99 803',
                          reality: '100 000',
                          title: '72 часов',
                          value: '99 803',
                        },
                      ],
                    })
                    +widget({
                      icon: 'widget-favorites-icon',
                      tip: {
                        content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                        enabled: true,
                      },
                      title: 'ERR',
                      values: [
                        {
                          awaiting: '35.59%',
                          reality: '100.59%',
                          value: '35.59%',
                        },
                      ],
                    })
                    +widget({
                      icon: 'widget-eye-icon',
                      position: 'col-end-2',
                      tip: {
                        content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                        enabled: true,
                      },
                      title: 'Просмотры (всего)',
                      values: [
                        {
                          awaiting: '20 000 000',
                          reality: '40 000 000',
                          value: '20 000 000',
                        },
                      ],
                    })
                    +widget({
                      icon: 'widget-reply-icon',
                      tip: {
                        content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                        enabled: true,
                      },
                      title: 'ER',
                      values: [
                        {
                          awaiting: '35.59%',
                          reality: '100.59%',
                          value: '35.59%',
                        },
                      ],
                    })
                .selector__container(data-id="campaign-employees")
          .selectors
            .content.content-not-collapsed
              .selector__buttons
                .selector__scroll
                  button.selector__button(data-id="campaign-channels").active Каналы
                    span 0
              .selector__containers
                .selector__container(data-id="campaign-channels").active
                  +heading-table({
                    isSearch: true,
                    isRows: true,
                    searchClass: 'min-w-[243px] max-w-[243px]',
                    buttons: [
                      {
                        view: 'button',
                        class: 'button-with-icon-blue',
                        icon: 'other-plus-icon',
                        isDisabled: true,
                        title: 'Добавить канал',
                        dataPopupName: 'add-channel',
                      },
                      {
                        view: 'button',
                        class: 'button-with-icon filter__toggle',
                        icon: 'other-controls-icon',
                        isDisabled: true,
                        title: 'Фильтр',
                        isClose: true,
                        dataFilterName: 'campaign',
                      },
                    ],
                  })
                  .in-container.mt-4
                    .content.content-collapsed
                      .content-scroll
                        include ../components/campaign/table
                    include ../components/campaign/filter
          .selectors
            .content.content-not-collapsed
              .selector__buttons
                .selector__scroll
                  button.selector__button(data-id="campaign-channels").active Каналы
                    span 6
              .selector__containers
                .selector__container(data-id="campaign-channels").active
                  +heading-table({
                    isSearch: true,
                    isRows: true,
                    searchClass: 'min-w-[243px] max-w-[243px]',
                    buttons: [
                      {
                        view: 'button',
                        class: 'button-with-icon-blue',
                        icon: 'other-plus-icon',
                        title: 'Добавить канал',
                        dataPopupName: 'add-channel',
                      }
                    ],
                  })
                  .in-container.mt-4
                    .content.content-collapsed
                      .content-scroll
                        include ../components/campaign/approval/table-approval
          .selectors
            .content.content-not-collapsed
              .selector__buttons
                .selector__scroll
                  button.selector__button(data-id="campaign-channels").active Каналы
                    span 6
              .selector__containers
                .selector__container(data-id="campaign-channels").active
                  +heading-table({
                    isSearch: true,
                    isRows: true,
                    searchClass: 'min-w-[243px] max-w-[243px]',
                    buttons: [
                      {
                        view: 'button',
                        class: 'button-with-icon-blue',
                        icon: 'other-plus-icon',
                        title: 'Добавить канал',
                        dataPopupName: 'add-channel',
                      },
                      {
                        view: 'button',
                        class: 'button-with-icon filter__toggle',
                        icon: 'other-controls-icon',
                        title: 'Фильтр',
                        isClose: true,
                        dataFilterName: 'campaign-survey',
                      },
                    ],
                  })
                  .in-container.mt-4
                    .content.content-collapsed
                      .content-scroll
                        include ../components/campaign/survey/table-survey
                    include ../components/campaign/survey/filter-survey
          .selectors
            .content.content-not-collapsed
              .selector__buttons
                .selector__scroll
                  button.selector__button(data-id="campaign-channels").active Каналы
                    span 6
              .selector__containers
                .selector__container(data-id="campaign-channels").active
                  +heading-table({
                    isSearch: true,
                    isRows: true,
                    searchClass: 'min-w-[243px] max-w-[243px]',
                    buttons: [
                      {
                        view: 'button',
                        class: 'button-with-icon-blue',
                        icon: 'other-plus-icon',
                        title: 'Добавить канал',
                        dataPopupName: 'add-channel',
                      },
                      {
                        view: 'button',
                        class: 'button-with-icon filter__toggle',
                        icon: 'other-controls-icon',
                        title: 'Фильтр',
                        isClose: true,
                        dataFilterName: 'campaign-coordination',
                      },
                    ],
                  })
                  .in-container.mt-4
                    .content.content-collapsed
                      .content-scroll
                        include ../components/campaign/coordination/table-coordination
                    include ../components/campaign/coordination/filter-coordination
          .selectors
            .content.content-not-collapsed
              .selector__buttons
                .selector__scroll
                  button.selector__button(data-id="campaign-channels").active Каналы
                    span 6
              .selector__containers
                .selector__container(data-id="campaign-channels").active
                  +heading-table({
                    isSearch: true,
                    isRows: true,
                    searchClass: 'min-w-[243px] max-w-[243px]',
                    buttons: [
                      {
                        view: 'button',
                        class: 'button-with-icon-blue',
                        icon: 'other-plus-icon',
                        title: 'Добавить канал',
                        dataPopupName: 'add-channel',
                      },
                      {
                        view: 'button',
                        class: 'button-with-icon filter__toggle',
                        icon: 'other-controls-icon',
                        title: 'Фильтр',
                        isClose: true,
                        dataFilterName: 'campaign-approval-client',
                      },
                    ],
                  })
                  .in-container.mt-4
                    .content.content-collapsed
                      .content-scroll
                        include ../components/campaign/approval-client/table-approval-client
                    include ../components/campaign/approval-client/filter-approval-client
          .selectors
            .content.content-not-collapsed
              .selector__buttons
                .selector__scroll
                  button.selector__button(data-id="campaign-channels").active Каналы
                    span 6
              .selector__containers
                .selector__container(data-id="campaign-channels").active
                  +heading-table({
                    isSearch: true,
                    isRows: true,
                    searchClass: 'min-w-[243px] max-w-[243px]',
                    buttons: [
                      {
                        view: 'button',
                        class: 'button-with-icon-blue',
                        icon: 'other-plus-icon',
                        title: 'Добавить канал',
                        dataPopupName: 'add-channel',
                      },
                      {
                        view: 'button',
                        class: 'button-with-icon filter__toggle',
                        icon: 'other-controls-icon',
                        title: 'Фильтр',
                        isClose: true,
                        dataFilterName: 'campaign-mediaplan',
                      },
                    ],
                  })
                  .in-container.mt-4
                    .content.content-collapsed
                      .content-scroll
                        include ../components/campaign/mediaplan/table-mediaplan
                    include ../components/campaign/mediaplan/filter-mediaplan
          .selectors
            .content.content-not-collapsed
              .selector__buttons
                .selector__scroll
                  button.selector__button(data-id="campaign-channels").active Каналы
                    span 6
              .selector__containers
                .selector__container(data-id="campaign-channels").active
                  +heading-table({
                    isSearch: true,
                    isRows: true,
                    searchClass: 'min-w-[243px] max-w-[243px]',
                    buttons: [
                      {
                        view: 'button',
                        class: 'button-with-icon-blue',
                        icon: 'other-plus-icon',
                        title: 'Добавить канал',
                        dataPopupName: 'add-channel',
                      },
                      {
                        view: 'button',
                        class: 'button-with-icon filter__toggle',
                        icon: 'other-controls-icon',
                        title: 'Фильтр',
                        isClose: true,
                        dataFilterName: 'campaign-mediaplan-agreed',
                      },
                    ],
                  })
                  .in-container.mt-4
                    .content.content-collapsed
                      .content-scroll
                        include ../components/campaign/mediaplan-agreed/table-mediaplan-agreed
                    include ../components/campaign/mediaplan-agreed/filter-mediaplan-agreed
          .selectors
            .content.content-not-collapsed
              .selector__buttons
                .selector__scroll
                  button.selector__button(data-id="campaign-channels").active Каналы
                    span 6
                  button.selector__button(data-id="campaign-posts") Посты
                    span 6
              .selector__containers
                .selector__container(data-id="campaign-channels").active
                  +heading-table({
                    isSearch: true,
                    isRows: true,
                    searchClass: 'min-w-[243px] max-w-[243px]',
                    buttons: [
                      {
                        view: 'button',
                        class: 'button-with-icon-blue',
                        icon: 'other-plus-icon',
                        title: 'Добавить канал',
                        dataPopupName: 'add-channel',
                      },
                      {
                        view: 'button',
                        class: 'button-with-icon filter__toggle',
                        icon: 'other-controls-icon',
                        title: 'Фильтр',
                        isClose: true,
                        dataFilterName: 'campaign-process-channels',
                      },
                    ],
                  })
                  .in-container.mt-4
                    .content.content-collapsed
                      .content-scroll
                        include ../components/campaign/process-channels/table-process-channels
                    include ../components/campaign/process-channels/filter-process-channels
                .selector__container(data-id="campaign-posts")
                  +heading-table({
                    isSearch: true,
                    isRows: true,
                    searchClass: 'min-w-[243px] max-w-[243px]',
                    buttons: [
                      {
                        view: 'button',
                        class: 'button-with-icon-blue',
                        icon: 'other-plus-icon',
                        title: 'Добавить канал',
                        dataPopupName: 'add-channel',
                      },
                      {
                        view: 'button',
                        class: 'button-with-icon filter__toggle',
                        icon: 'other-controls-icon',
                        title: 'Фильтр',
                        isClose: true,
                        dataFilterName: 'campaign-process',
                      },
                    ],
                  })
                  .in-container.mt-4
                    .content.content-collapsed
                      .content-scroll
                        include ../components/campaign/process/table-process
                    include ../components/campaign/process/filter-process
          .selectors
            .content.content-not-collapsed
              .selector__buttons
                .selector__scroll
                  button.selector__button(data-id="comments") Комментарии (2)
                  button.selector__button(data-id="actions").active Все действия (2)
              .selector__containers
                .selector__container(data-id="comments")
                  include ../components/campaign/messages
                .selector__container(data-id="actions").active
                  include ../components/campaign/actions
                .messages__bottom
                  .messages__footer
                    form(action="#").messages__form.default
                      +input({
                        class: 'messages__upload',
                        isFileUpload: true,
                        isMultiple: true,
                        isRequired: true,
                        isTextarea: true,
                        label: '',
                        name: 'comment',
                        placeholder: 'Отправить комментарий...',
                      })
                      +button({
                        class: 'button-icon-round messages__submit',
                        icon: 'other-send-icon',
                        isDisabled: true,
                        isOnlyIcon: true,
                        type: 'submit',
                        view: 'button',
                      })
        include ../components/campaign/aside