extends ../layouts/master

block title
  title Топ Трафик | Канал

block basicSeo
  meta(content="Канал" name="description")
  meta(content="Канал" name="keywords")
  meta(content="Канал" property="og:title")
  meta(content="Канал" name="twitter:title")

block content
  main.page
    include ../components/sidebar
    include ../components/header
    .wrapper
      +heading({
        image: {
          alt: 'avatar',
          enabled: true,
          src: '/assets/images/avatar.png',
        },
        isChannel: true,
        tg: '@cybersec_academy',
        title: 'ZeroDay | Кибербезопасность',
      })
      .inner.in-container
        .content.content-sm
          .selectors
            .content.content-not-collapsed
              .selector__buttons
                .selector__scroll
                  button.selector__button(data-id="channel-about").active О канале
                  button.selector__button(data-id="channel-analytics") Аналитика
              .selector__containers
                .selector__container(data-id="channel-about").active
                  .widgets
                    +widget({
                      icon: 'widget-clock-icon',
                      tip: {
                        content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                        enabled: true,
                      },
                      title: 'Возраст канала',
                      values: [
                        {
                          value: '2 года 11 месяцев',
                        },
                      ],
                    })
                    +widget({
                      icon: 'widget-layout-icon',
                      tip: {
                        content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                        enabled: true,
                      },
                      title: 'Кол-во размещений',
                      values: [
                        {
                          title: 'Активные',
                          value: '1',
                        },
                        {
                          title: 'Всего',
                          value: '25',
                        },
                      ],
                    })
                    +widget({
                      icon: 'widget-users-subscribed-icon',
                      tip: {
                        content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                        enabled: true,
                      },
                      title: 'Подписчики',
                      values: [
                        {
                          class: 'discount',
                          title: '+15% за месяц',
                          value: '22 000 000',
                        },
                      ],
                    })
                    +widget({
                      icon: 'widget-users-icon',
                      tip: {
                        content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                        enabled: true,
                      },
                      title: 'Аудитория',
                      values: [
                        {
                          class: 'male',
                          title: 'М',
                          value: '65%',
                        },
                        {
                          class: 'female',
                          title: 'Ж',
                          value: '35%',
                        },
                      ],
                    })
                .selector__container(data-id="channel-analytics")
                  .widgets
                    +widget({
                      icon: 'widget-consumption-icon',
                      tip: {
                        content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                        enabled: true,
                      },
                      title: 'Общий расход',
                      values: [
                        {
                          value: '20 000 000 ₽',
                        },
                      ],
                    })
                    +widget({
                      icon: 'widget-eye-icon',
                      tip: {
                        content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                        enabled: true,
                        isHidden: true,
                      },
                      title: 'Просмотры (в среднем)',
                      values: [
                        {
                          value: '20 000 000',
                        },
                      ],
                    })
                    +widget({
                      icon: 'widget-users-connected-icon',
                      isFourValues: true,
                      isRows: true,
                      mainValue: '99 803',
                      tip: {
                        content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                        enabled: true,
                      },
                      title: 'Охват',
                      values: [
                        {
                          title: '12 часов',
                          value: '99 803',
                        },
                        {
                          title: '48 часов',
                          value: '99 803',
                        },
                        {
                          title: '24 часов',
                          value: '99 803',
                        },
                        {
                          title: '72 часов',
                          value: '99 803',
                        },
                      ],
                    })
                    +widget({
                      icon: 'widget-favorites-icon',
                      tip: {
                        content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                        enabled: true,
                      },
                      title: 'ERR',
                      values: [
                        {
                          value: '35.59%',
                        },
                      ],
                    })
                    +widget({
                      icon: 'widget-discount-icon',
                      tip: {
                        content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                        enabled: true,
                      },
                      title: 'Последняя скидка',
                      values: [
                        {
                          value: '5%',
                        },
                      ],
                    })
                    +widget({
                      icon: 'widget-eye-icon',
                      tip: {
                        content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                        enabled: true,
                        isHidden: true,
                      },
                      title: 'Просмотры (всего)',
                      values: [
                        {
                          value: '20 000 000',
                        },
                      ],
                    })
                    +widget({
                      icon: 'widget-reply-icon',
                      tip: {
                        content: 'Введенные данные не соответствуют автоматике. Обновите данные',
                        enabled: true,
                      },
                      title: 'ER',
                      values: [
                        {
                          value: '35.59%',
                        },
                      ],
                    })
          .selectors
            .content.content-not-collapsed
              .selector__buttons
                .selector__scroll
                  button.selector__button(data-id="channel-statistics").active Статистика канала
                  button.selector__button(data-id="publication-statistics") Статистика публикаций
                  button.selector__button(data-id="administration-history") История администрирования
                    span 4
                  button.selector__button(data-id="advertising-campaigns") Рекламные кампании
                    span 20
                  button.selector__button(data-id="transactions-for-payment") Сделки на оплату
                    span 20
              .selector__containers.selector__content
                .selector__container(data-id="channel-statistics").active
                  +heading-table({
                    isSearch: true,
                    searchClass: 'min-w-[243px] max-w-[243px]',
                  })
                  .content-scroll.mt-4
                    include ../components/channel/channel-statistics/table
                .selector__container(data-id="publication-statistics")
                  +heading-table({
                    isSearch: true,
                    isMonthPicker: false,
                    searchClass: 'min-w-[294px] max-w-[294px]',
                    isCalendar: true,
                    isDatePicker: true,
                    isCheckboxes: true,
                    isRows: true,
                    buttons: [
                      {
                        view: 'link',
                        class: 'button-with-icon',
                        icon: 'other-download-icon',
                        title: 'Скачать',
                        isDownload: true,
                      }
                    ],
                  })
                  .in-container.mt-4
                    .content.content-collapsed
                      .content-scroll
                        include ../components/channel/publication-statistics/table
                      .mt-12
                        include ../components/pagination
                .selector__container(data-id="administration-history")
                  +heading-table({
                    isSearch: true,
                    isRows: true,
                    searchClass: 'min-w-[243px] max-w-[243px]',
                    buttons: [
                      {
                        view: 'button',
                        class: 'button-with-icon-blue',
                        icon: 'other-plus-icon',
                        title: 'Добавить запись',
                        dataPopupName: 'add-administration-history-post',
                      },
                      {
                        view: 'button',
                        class: 'button-with-icon filter__toggle',
                        icon: 'other-controls-icon',
                        title: 'Фильтр',
                        isClose: true,
                        dataFilterName: 'administration-history',
                      },
                    ],
                  })
                  .in-container.mt-4
                    .content.content-collapsed
                      .content-scroll
                        include ../components/channel/administration-history/table
                    include ../components/channel/administration-history/filter
                .selector__container(data-id="advertising-campaigns")
                  +heading-table({
                    isSearch: true,
                    isRows: true,
                    searchClass: 'min-w-[243px] max-w-[243px]',
                    buttons: [
                      {
                        view: 'button',
                        class: 'button-with-icon filter__toggle',
                        icon: 'other-controls-icon',
                        title: 'Фильтр',
                        isClose: true,
                        dataFilterName: 'advertising-campaigns',
                      },
                    ],
                  })
                  .in-container.mt-4
                    .content.content-collapsed
                      .content-scroll
                        include ../components/channel/advertising-campaigns/table
                      .mt-12
                        include ../components/pagination
                    include ../components/channel/advertising-campaigns/filter
                .selector__container(data-id="transactions-for-payment")
                  +heading-table({
                    isSearch: true,
                    isRows: true,
                    searchClass: 'min-w-[243px] max-w-[243px]',
                    buttons: [
                      {
                        view: 'button',
                        class: 'button-with-icon filter__toggle',
                        icon: 'other-controls-icon',
                        title: 'Фильтр',
                        isClose: true,
                        dataFilterName: 'transactions-for-payment',
                      },
                    ],
                  })
                  .in-container.mt-4
                    .content.content-collapsed
                      .content-scroll
                        include ../components/channel/transactions-for-payment/table
                      .mt-12
                        include ../components/pagination
                    include ../components/channel/transactions-for-payment/filter
        include ../components/channel/aside