extends ../layouts/master

block title
  title Топ Трафик | Справочник каналов

block basicSeo
  meta(content="Справочник каналов страница" name="description")
  meta(content="Справочник каналов, страница" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main.page
    include ../components/sidebar
    include ../components/header
    .content