extends ../layouts/master

block title
  title Топ Трафик | Компоненты

block basicSeo
  meta(content="Компоненты" name="description")
  meta(content="Компоненты" name="keywords")
  meta(content="Компоненты" property="og:title")
  meta(content="Компоненты" name="twitter:title")

block content
  main.components.p-4
    .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
      h2.text-2xl.font-bold.pb-4.border-b.w-full Кнопки
      +button({
        view: 'button',
        title: 'Да',
        class: 'button-confirm',
      })
      +button({
        view: 'link',
        class: 'button-with-icon',
        icon: 'other-download-icon',
        title: 'Скачать',
        isDownload: true,
      })
      +button({
        view: 'button',
        class: 'button-with-icon',
        icon: 'other-controls-icon',
        title: 'Фильтр',
      })
      +button({
        view: 'button',
        class: 'button-with-icon',
        icon: 'other-controls-icon',
        title: 'Фильтр',
        isClose: true,
      })
      +button({
        view: 'button',
        class: 'button-with-icon-blue',
        icon: 'other-plus-icon',
        title: 'Добавить канал',
      })
      +button({
        view: 'button',
        class: 'button-base',
        title: 'Применить',
      })
      +button({
        view: 'link',
        icon: 'aside-channels-icon',
        title: 'Каналы',
        class: 'button-with-icon-full',
      })
      +breadcrumbs({ values: [ { title: 'Условия', href: '#' }, { title: 'Конфиденциальность', href: ''} ]})
      +breadcrumbs
      +button({
        view: 'button',
        class: 'button-icon',
        icon: 'other-expand-menu-icon',
        isOnlyIcon: true,
      })
      +button({
        view: 'link',
        class: 'button-icon-round',
        icon: 'other-arrow-up-icon',
        isOnlyIcon: true,
      })
      +button({
        view: 'button',
        class: 'button-with-icon-full-lg',
        icon: 'other-arrow-right-icon',
        title: 'Войти',
      })
      +button({
        view: 'link',
        class: 'button-with-icon-full-google',
        icon: 'other-google-icon',
        title: 'Войти с учетной записью Google',
      })
      include ../components/pagination
    .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
      h2.text-2xl.font-bold.pb-4.border-b.w-full Иконки
      .flex.flex-wrap.gap-4
        include ../components/icons/_icons
    .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
      h2.text-2xl.font-bold.pb-4.border-b.w-full Цвета
      .flex.flex-wrap.gap-4
        .py-2.px-12.rounded-md.text-12-r-md.bg-black-000.text-white-000 #000000
        .py-2.px-12.rounded-md.text-12-r-md.bg-black-050.text-white-000 #222222
        .py-2.px-12.rounded-md.text-12-r-md.bg-black-100.text-white-000 #374151
        .py-2.px-12.rounded-md.text-12-r-md.bg-black-200 #959BA4
        .py-2.px-12.rounded-md.text-12-r-md.bg-black-300 #CACDD1
        .py-2.px-12.rounded-md.text-12-r-md.bg-black-400 #C8CBCF
        .py-2.px-12.rounded-md.text-12-r-md.bg-black-500 #E3E5EB
        .py-2.px-12.rounded-md.text-12-r-md.bg-black-600 #F4F5F6
        .py-2.px-12.rounded-md.text-12-r-md.bg-black-700.border.border-black-000 #FBFBFB
        .py-2.px-12.rounded-md.text-12-r-md.bg-white-000.border.border-black-000 #FFFFFF
        .py-2.px-12.rounded-md.text-12-r-md.bg-blue-000 #005CFF
        .py-2.px-12.rounded-md.text-12-r-md.bg-blue-050 #004BCF
        .py-2.px-12.rounded-md.text-12-r-md.bg-blue-100 #4673D2
        .py-2.px-12.rounded-md.text-12-r-md.bg-blue-200 #5893FF
        .py-2.px-12.rounded-md.text-12-r-md.bg-blue-300 #C7D5F1
        .py-2.px-12.rounded-md.text-12-r-md.bg-green-000 #84C9A9
        .py-2.px-12.rounded-md.text-12-r-md.bg-green-100 #DAEFE5
        .py-2.px-12.rounded-md.text-12-r-md.bg-green-200 #50AF1D
        .py-2.px-12.rounded-md.text-12-r-md.bg-red-000 #FF3333
        .py-2.px-12.rounded-md.text-12-r-md.bg-red-050 #E62D2D
        .py-2.px-12.rounded-md.text-12-r-md.bg-red-100 #DE350B
        .py-2.px-12.rounded-md.text-12-r-md.bg-red-200 #F06A6A
        .py-2.px-12.rounded-md.text-12-r-md.bg-red-300 #FBD2D2
        .py-2.px-12.rounded-md.text-12-r-md.bg-red-400 #F2E1DD
        .py-2.px-12.rounded-md.text-12-r-md.bg-purple-000 #BD6AF0
        .py-2.px-12.rounded-md.text-12-r-md.bg-purple-050 #AD84C9
        .py-2.px-12.rounded-md.text-12-r-md.bg-purple-100 #EBD2FB
        .py-2.px-12.rounded-md.text-12-r-md.bg-purple-200 #E5E4FC
        .py-2.px-12.rounded-md.text-12-r-md.bg-purple-300 #E6EFFE
    .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
      h2.text-2xl.font-bold.pb-4.border-b.w-full Дропдаун
      .w-full.flex.flex-col.gap-y-4.items-start
        +dropdown
        +dropdown({
          image: {
            enabled: true,
            src: '/assets/images/user-image.png',
            alt: 'icon',
          },
          class: 'dropdown-with-icon',
          title: 'Максим Амбиндер',
          isLinks: true,
          links: [
            { title: 'Настройки', href: '#', icon: 'other-settings-icon' },
            { title: 'Выйти', href: '#', icon: 'other-logout-icon' }
          ],
        })
        +dropdown({
          class: 'dropdown-status',
          color: 'status-transparent',
          isStatus: true,
          isButtons: true,
          title: '––',
          buttons: [
            { title: '––', color: 'status-transparent', isChecked: true },
            { title: 'Активный', color: 'status-green'},
            { title: 'Неактивный', color: 'status-gray' },
            { title: 'Новая РК', color: 'status-blue' },
            { title: 'Подбор каналов', color: 'status-purple' },
          ],
        })
        +dropdown({
          class: 'dropdown-checkboxes',
          title: 'Выберите фильтр',
          isCheckboxes: true,
          checkboxes: [
            { title: 'Все' },
            { title: 'Банки' },
            { title: 'Банки' },
            { title: 'Автомобили' },
            { title: 'Банки' },
            { title: 'Банки' },
            { title: 'Автомобили' },
            { title: 'Автомобили' },
            { title: 'Автомобили' },
            { title: 'Автомобили' },
            { title: 'Автомобили' },
            { title: 'Автомобили' },
            { title: 'Автомобили' },
            { title: 'Автомобили' },
            { title: 'Автомобили' },
            { title: 'Автомобили' },
          ],
        })
        +dropdown({
          class: 'dropdown-priority',
          color: 'priority-transparent',
          isPriority: true,
          isButtons: true,
          title: '––',
          buttons: [
            { title: '––', color: 'priority-transparent', isChecked: true },
            { title: 'Очень высокий', color: 'priority-red' },
            { title: 'Высокий', color: 'priority-pink' },
            { title: 'Средний', color: 'priority-orange' },
            { title: 'Низкий', color: 'priority-peach' },
            { title: 'Очень низкий', color: 'priority-yellow' },
          ],
        })
    .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
      h2.text-2xl.font-bold.pb-4.border-b.w-full Типографика (Inter)
      .text-30-m-p 30, Medium, 120% LH
      .text-24-sb 24, Semibold, 30 LH
      .text-18-sb 18, Semibold, 24 LH
      .text-14-m-md 14, Medium, 20 LH
      .text-14-sb 14, Semibold, 18 LH
      .text-14-sb-p 14, Semibold, 16 LH
      .text-14-m 14, Medium, 18 LH
      .text-14-r 14, Regular, 18 LH
      .text-14-m-p 14, Medium, 120% LH
      .text-12-sb-p 12, Semibold, 120% LH
      .text-12-sb 12, Semibold, 16 LH
      .text-12-m-md 12, Medium, 18 LH
      .text-12-r-md 12, Regular, 18 LH
      .text-12-m 12, Medium, 16 LH
      .text-12-m-p 12, Medium, 120% LH
      .text-12-r 12, Regular, 16 LH
      .text-12-r-p 12, Regular, 120% LH
      .text-10-m 10, Medium, 14 LH
      .text-10-r 10, Regular, 14 LH
      .text-10-m-sm 10, Medium, 12 LH
      .text-10-r-sm 10, Regular, 12 LH
      .text-10-r-p 10, Regular, 120% LH
    .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
      h2.text-2xl.font-bold.pb-4.border-b.w-full Логотип
      include ../components/logo
    .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
      h2.text-2xl.font-bold.pb-4.border-b.w-full Поиск
      +search
      +search({
        class: 'transparent',
      })
    .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
      h2.text-2xl.font-bold.pb-4.border-b.w-full Календарь
      .flex.items-center.gap-x-4
        +button({
          view: 'button',
          class: 'button-with-icon',
          icon: 'other-calendar-icon',
          isCalendar: true,
          isMonthPicker: true,
          isDatePicker: false,
        })
        +button({
          view: 'button',
          class: 'button-with-icon',
          icon: 'other-calendar-icon',
          isCalendar: true,
          isMonthPicker: false,
          isDatePicker: true,
        })
    .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
      h2.text-2xl.font-bold.pb-4.border-b.w-full Поля ввода значений
      form(action="#").w-full
        +input({
          type: 'email',
          placeholder: 'Почта',
          isRequired: true,
          name: 'email',
        })
      form(action="#").w-full
        +input({
          type: 'password',
          placeholder: 'Пароль',
          isRequired: true,
          name: 'password',
        })
      form(action="#").w-full
        +input({
          label: 'Наименование',
          type: 'text',
          placeholder: 'Введите наименование',
          isRequired: true,
          isLabel: true,
          name: 'name',
        })
      form(action="#").w-full
        +input({
          label: 'Наименование',
          isLabel: true,
          type: 'text',
          placeholder: 'Введите наименование',
          isRequired: true,
          name: 'name',
          class: 'error',
        })
      form(action="#").w-full
        +input({
          min: '0',
          max: '100',
        })
    .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
      h2.text-2xl.font-bold.pb-4.border-b.w-full Чекбокс
      form(action="#").w-full.flex.gap-x-4.items-center
        +input({
          type: 'checkbox',
          value: 'Запомнить меня',
        })
        +input({
          type: 'checkbox',
          isChecked: true,
          value: 'Запомнить меня',
        })
        +input({
          type: 'checkbox',
          class: 'lg',
          value: 'Запомнить меня',
        })
        +input({
          type: 'checkbox',
          class: 'input-checkbox-with-label lg',
          isLabel: true,
          label: 'Запомнить меня',
          value: 'Запомнить меня',
        })
    .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
      h2.text-2xl.font-bold.pb-4.border-b.w-full Кнопка закрытия
      +button({
        view: 'button',
        class: 'button-close',
        icon: 'other-close-icon',
        ariaLabel: 'close',
        isOnlyIcon: true,
      })
    .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
      h2.text-2xl.font-bold.pb-4.border-b.w-full Боковое меню
      include ../components/sidebar
    .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
      h2.text-2xl.font-bold.pb-4.border-b.w-full Верхнее меню
      include ../components/header
    .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
      h2.text-2xl.font-bold.pb-4.border-b.w-full Виджеты
      .widgets
        +widget({
          title: 'Возраст канала',
          values: [
            { value: '2 года 11 месяцев' },
          ],
          icon: 'widget-clock-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
        })
        +widget({
          title: 'Кол-во размещений',
          values: [
            { value: '1', title: 'Активные' },
            { value: '25', title: 'Всего' },
          ],
          icon: 'widget-layout-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
        })
        +widget({
          title: 'Подписчики',
          values: [
            { value: '22 000 000', title: '+15% за месяц', class: 'discount' },
          ],
          icon: 'widget-users-subscribed-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
        })
        +widget({
          title: 'Аудитория',
          values: [
            { value: '65%', title: 'М', class: 'male' },
            { value: '35%', title: 'Ж', class: 'female' },
          ],
          icon: 'widget-users-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
        })
        +widget({
          title: 'Общий расход',
          values: [
            { value: '20 000 000 ₽' },
          ],
          icon: 'widget-consumption-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
        })
        +widget({
          title: 'Просмотры (в среднем)',
          values: [
            { value: '20 000 000' },
          ],
          icon: 'widget-eye-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
        })
        +widget({
          title: 'Охват',
          mainValue: '99 803',
          isRows: true,
          isFourValues: true,
          values: [
            { value: '99 803', title: '12 часов' },
            { value: '99 803', title: '48 часов' },
            { value: '99 803', title: '24 часов' },
            { value: '99 803', title: '72 часов' },
          ],
          icon: 'widget-users-connected-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
        })
        +widget({
          title: 'ERR',
          values: [
            { value: '35.59%' },
          ],
          icon: 'widget-favorites-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
        })
        +widget({
          title: 'Последняя скидка',
          values: [
            { value: '5%' },
          ],
          icon: 'widget-discount-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
        })
        +widget({
          title: 'Просмотры (всего)',
          values: [
            { value: '20 000 000' },
          ],
          icon: 'widget-eye-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
        })
        +widget({
          title: 'ER',
          values: [
            { value: '35.59%' },
          ],
          icon: 'widget-reply-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
        })
        +widget({
          title: 'Каналов в РК',
          values: [
            { value: '25' },
          ],
          icon: 'widget-screen-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
        })
        +widget({
          title: 'Кол-во размещений',
          values: [
            { value: '1', title: 'Активные' },
            { value: '25', title: 'Всего' },
          ],
          icon: 'widget-layout-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
        })
        +widget({
          title: 'Общий расход',
          values: [
            { value: '20 000 000 ₽' },
          ],
          icon: 'widget-consumption-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
        })
        +widget({
          title: 'Текущая выручка',
          isRows: true,
          isProgresses: true,
          values: [
            { value: '0 ₽' },
          ],
          progresses: [
            {
              title: 'плана',
              value: '0'
            },
            {
              title: 'прогноза',
              value: '0'
            },
          ],
          icon: 'widget-wallet-plus-icon',
          subtitle: 'Выполнение',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
        })
        +widget({
          title: 'Текущая маржа',
          isRows: true,
          isProgresses: true,
          values: [
            { value: '0 ₽' },
          ],
          progresses: [
            {
              title: 'плана',
              value: '0'
            },
            {
              title: 'прогноза',
              value: '0'
            },
          ],
          icon: 'widget-money-icon',
          subtitle: 'Выполнение',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
        })
        +widget({
          title: 'Маржинальность',
          values: [
            { value: '0%' },
          ],
          icon: 'widget-money-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
        })
        +widget({
          title: 'Скидка',
          values: [
            {
              value: '0 ₽ (0%)',
              progress: {
                enabled: true,
                value: '10',
              }
            },
          ],
          icon: 'widget-discount-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
        })
        +widget({
          title: 'Расход',
          values: [
            { value: '0 ₽' },
          ],
          icon: 'widget-consumption-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
        })
        +widget({
          title: 'Подобрано каналов',
          values: [
            { value: '0' },
          ],
          icon: 'widget-tablet-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
          color: 'blue',
        })
        +widget({
          title: 'Проверено каналов',
          values: [
            {
              value: '15/20',
              progress: {
                enabled: true,
                value: '65',
              }
            },
          ],
          icon: 'widget-tablet-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
          color: 'blue',
        })
        +widget({
          title: 'Опрошено',
          values: [
            {
              value: '15/20',
              progress: {
                enabled: true,
                value: '65',
              }
            },
          ],
          icon: 'widget-tablet-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
          color: 'blue',
        })
        +widget({
          title: 'Подтверждено',
          values: [
            {
              value: '12/20',
              progress: {
                enabled: true,
                value: '65',
              }
            },
          ],
          icon: 'widget-tablet-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
          color: 'blue',
        })
        +widget({
          title: 'Медиаплан готов',
          values: [
            {
              value: '157 каналов',
            },
          ],
          icon: 'widget-check-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
          buttons: [
            {
              view: 'button',
              icon: 'other-link-icon',
            },
            {
              view: 'link',
              href: '#',
              icon: 'other-download-icon',
              isDownload: true,
            },
          ],
          color: 'blue',
        })
        +widget({
          title: 'Согласовано каналов',
          values: [
            {
              value: '15/20',
              progress: {
                enabled: true,
                value: '65',
              }
            },
          ],
          icon: 'widget-check-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
          color: 'blue',
        })
        +widget({
          title: 'Новых каналов',
          values: [
            {
              value: '15',
            },
          ],
          icon: 'widget-list-plus-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
          color: 'blue',
        })
        +widget({
          title: 'Оплачено каналов',
          values: [
            {
              value: '10/20',
              progress: {
                enabled: true,
                value: '65',
              }
            },
          ],
          icon: 'widget-check-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
          color: 'blue',
        })
        +widget({
          title: 'Ожидают оплаты',
          values: [
            {
              value: '5/20',
              progress: {
                enabled: true,
                value: '65',
              }
            },
          ],
          icon: 'widget-awaiting-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
          color: 'blue',
        })
        +widget({
          title: 'Отсутствует счет',
          values: [
            {
              value: '5/20',
              progress: {
                enabled: true,
                value: '65',
              }
            },
          ],
          icon: 'widget-warning-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
          color: 'blue',
        })
        +widget({
          title: 'Размещено постов',
          values: [
            {
              value: '10/20',
              progress: {
                enabled: true,
                value: '65',
              }
            },
          ],
          icon: 'widget-grid-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
          color: 'blue',
        })
        +widget({
          title: 'Постов в работе',
          values: [
            {
              value: '5/20',
              progress: {
                enabled: true,
                value: '65',
              }
            },
          ],
          icon: 'widget-pulse-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
          color: 'blue',
        })
        +widget({
          title: 'Завершено сделок',
          values: [
            {
              value: '5/20',
              progress: {
                enabled: true,
                value: '65',
              }
            },
          ],
          icon: 'widget-check-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
          color: 'blue',
        })
        +widget({
          title: 'Каналы в предложении',
          values: [
            {
              value: '125',
            },
          ],
          icon: 'widget-screen-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
        })
        +widget({
          title: 'Согласованные каналы',
          values: [
            {
              value: '125',
              progress: {
                enabled: true,
                value: '65',
              }
            },
          ],
          icon: 'widget-check-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
        })
        +widget({
          title: 'Бюджет предложения',
          values: [
            {
              value: '2 050 000 ₽',
            },
          ],
          icon: 'widget-wallet-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
        })
        +widget({
          title: 'Согласованный бюджет',
          values: [
            {
              value: '50 000 ₽',
              progress: {
                enabled: true,
                value: '65',
              }
            },
          ],
          icon: 'widget-check-icon',
          tip: {
            enabled: true,
            content: 'Введенные данные не соответствуют автоматике. Обновите данные',
          },
        })