extends ../layouts/master

block title
  title Топ Трафик | Компоненты

block basicSeo
  meta(content="Компоненты страница" name="description")
  meta(content="Компоненты, страница" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main.p-4
    .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
      h2.text-2xl.font-bold.pb-4.border-b.w-full Кнопки
      +button({
        model: 'confirm',
        title: 'Да',
      })
      +link({
        model: 'with-icon',
        icon: 'other-download-icon',
        title: 'Скачать',
        download: true,
      })
      +button({
        model: 'with-icon',
        icon: 'other-controls-icon',
        title: 'Фильтр',
      })
      +button({
        model: 'with-icon-blue',
        icon: 'other-plus-icon',
        title: 'Добавить канал',
      })
      +button({
        model: 'base',
        title: 'Применить',
      })
      +link({
        model: 'with-icon-full',
        icon: 'aside-channels-icon',
        title: 'Каналы',
      })
      +breadcrumbs([ { title: 'Условия', href: '#' }, { title: 'Конфиденциальность', href: ''} ])
      +breadcrumbs()
      +button({
        model: 'icon',
        icon: 'other-expand-menu-icon',
      })
      +link({
        model: 'icon-round',
        icon: 'other-arrow-up-icon',
      })
      +button({
        model: 'with-icon-full-lg',
        icon: 'other-arrow-right-icon',
        title: 'Войти',
      })
      +link({
        model: 'with-icon-full-google',
        icon: 'other-google-icon',
        title: 'Войти с учетной записью Google',
      })
      include ../components/pagination
    .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
      h2.text-2xl.font-bold.pb-4.border-b.w-full Иконки
      .flex.flex-wrap.gap-4
        include ../components/icons/_icons
    .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
      h2.text-2xl.font-bold.pb-4.border-b.w-full Цвета
      .flex.flex-wrap.gap-4
        .py-2.px-12.rounded-md.text-12-r-md.bg-black-000.text-white-000 #000000
        .py-2.px-12.rounded-md.text-12-r-md.bg-black-050.text-white-000 #222222
        .py-2.px-12.rounded-md.text-12-r-md.bg-black-100.text-white-000 #374151
        .py-2.px-12.rounded-md.text-12-r-md.bg-black-200 #959BA4
        .py-2.px-12.rounded-md.text-12-r-md.bg-black-300 #CACDD1
        .py-2.px-12.rounded-md.text-12-r-md.bg-black-400 #C8CBCF
        .py-2.px-12.rounded-md.text-12-r-md.bg-black-500 #E3E5EB
        .py-2.px-12.rounded-md.text-12-r-md.bg-black-600 #F4F5F6
        .py-2.px-12.rounded-md.text-12-r-md.bg-black-700.border.border-black-000 #FBFBFB
        .py-2.px-12.rounded-md.text-12-r-md.bg-white-000.border.border-black-000 #FFFFFF
        .py-2.px-12.rounded-md.text-12-r-md.bg-blue-000 #005CFF
        .py-2.px-12.rounded-md.text-12-r-md.bg-blue-050 #004BCF
        .py-2.px-12.rounded-md.text-12-r-md.bg-blue-100 #4673D2
        .py-2.px-12.rounded-md.text-12-r-md.bg-blue-200 #5893FF
        .py-2.px-12.rounded-md.text-12-r-md.bg-blue-300 #C7D5F1
        .py-2.px-12.rounded-md.text-12-r-md.bg-green-000 #84C9A9
        .py-2.px-12.rounded-md.text-12-r-md.bg-green-100 #DAEFE5
        .py-2.px-12.rounded-md.text-12-r-md.bg-red-000 #FF3333
        .py-2.px-12.rounded-md.text-12-r-md.bg-red-050 #E62D2D
        .py-2.px-12.rounded-md.text-12-r-md.bg-red-100 #DE350B
        .py-2.px-12.rounded-md.text-12-r-md.bg-red-200 #F06A6A
        .py-2.px-12.rounded-md.text-12-r-md.bg-red-300 #FBD2D2
        .py-2.px-12.rounded-md.text-12-r-md.bg-red-400 #F2E1DD
        .py-2.px-12.rounded-md.text-12-r-md.bg-purple-000 #BD6AF0
        .py-2.px-12.rounded-md.text-12-r-md.bg-purple-100 #EBD2FB
        .py-2.px-12.rounded-md.text-12-r-md.bg-purple-200 #E5E4FC
        .py-2.px-12.rounded-md.text-12-r-md.bg-purple-300 #E6EFFE
    .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
      h2.text-2xl.font-bold.pb-4.border-b.w-full Типографика (Inter)
      .text-30-m-p 30, Medium, 120% LH
      .text-24-sb 24, Semi Bold, 124% LH
      .text-18-sb 18, Semi Bold, 24 LH
      .text-14-m-md 14, Semi Bold, 20 LH
      .text-14-m 14, Medium, 18 LH
      .text-14-m-p 14, Medium, 120% LH
      .text-12-sb-p 12, Semi Bold, 120% LH
      .text-12-sb 12, Semi Bold, 16 LH
      .text-12-m-md 12, Medium, 18 LH
      .text-12-r-md 12, Regular, 18 LH
      .text-12-m 12, Medium, 16 LH
      .text-12-m-p 12, Medium, 120% LH
      .text-12-r 12, Regular, 16 LH
      .text-12-r-p 12, Regular, 120% LH
      .text-10-m 10, Medium, 14 LH
      .text-10-r 10, Regular, 14 LH
      .text-10-r-sm 10, Regular, 14 LH
      .text-10-r-p 10, Regular, 120% LH
    .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
      h2.text-2xl.font-bold.pb-4.border-b.w-full Логотип
      img(src="/assets/images/logo.png", alt="logo")
    .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
      h2.text-2xl.font-bold.pb-4.border-b.w-full Поиск
      +search()
      +search({
        class: 'transparent',
      })
    .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
      h2.text-2xl.font-bold.pb-4.border-b.w-full Поля ввода значений
      +input({
        type: 'email',
        placeholder: 'Почта',
        model: 'base',
        disabled: false,
        required: true,
        name: 'email',
      })
      +input({
        type: 'password',
        placeholder: 'Пароль',
        model: 'base',
        disabled: false,
        required: true,
        name: 'password',
      })
      +input({
        label: 'Наименование',
        type: 'text',
        placeholder: 'Введите наименование...',
        model: 'label',
        disabled: false,
        required: true,
        name: 'name',
      })