extends ../layouts/master

block title
  title Топ Трафик | Компоненты

block basicSeo
  meta(content="Компоненты" name="description")
  meta(content="Компоненты" name="keywords")
  meta(content="Компоненты" property="og:title")
  meta(content="Компоненты" name="twitter:title")

block content
  main.page.components
    include ../components/sidebar
    include ../components/header
    .wrapper
      .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
        h2.text-2xl.font-bold.pb-4.border-b.w-full Календарь
        .flex.items-center.gap-x-4
          +button({
            class: 'button-with-icon calendar-month',
            icon: 'other-calendar-icon',
            isCalendar: true,
            isDatePicker: false,
            isMonthPicker: true,
            value: 'Все',
            view: 'button',
          })
          +button({
            class: 'button-with-icon calendar-range',
            icon: 'other-calendar-icon',
            isCalendar: true,
            isDatePicker: true,
            isRangePicker: true,
            isSingleicker: false,
            isDateTimePicker: true,
            view: 'button',
          })
      .mt-6.flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
        h2.text-2xl.font-bold.pb-4.border-b.w-full Кнопки
        +button({
          class: 'button-confirm',
          title: 'Да',
          view: 'button',
        })
        +button({
          class: 'button-with-icon',
          icon: 'other-download-icon',
          isDownload: true,
          title: 'Скачать',
          view: 'link',
        })
        +button({
          class: 'button-with-icon',
          icon: 'other-controls-icon',
          title: 'Фильтр',
          view: 'button',
        })
        +button({
          class: 'button-with-icon',
          icon: 'other-controls-icon',
          isClose: true,
          title: 'Фильтр',
          view: 'button',
        })
        +button({
          class: 'button-with-icon-blue',
          icon: 'other-plus-icon',
          title: 'Добавить канал',
          view: 'button',
        })
        +button({
          class: 'button-base',
          title: 'Применить',
          view: 'button',
        })
        +button({
          class: 'button-with-icon-full',
          icon: 'aside-channels-icon',
          title: 'Каналы',
          view: 'link',
        })
        +breadcrumbs({
          values: [
            {
              href: '#',
              title: 'Условия',
            },
            {
              href: '',
              title: 'Конфиденциальность',
            },
          ],
        })
        +breadcrumbs
        +button({
          class: 'button-icon',
          icon: 'other-expand-menu-icon',
          isOnlyIcon: true,
          view: 'button',
        })
        +button({
          class: 'button-icon-round',
          icon: 'other-arrow-up-icon',
          isOnlyIcon: true,
          view: 'link',
        })
        +button({
          class: 'button-with-icon-full-lg',
          icon: 'other-arrow-right-icon',
          title: 'Войти',
          view: 'button',
        })
        +button({
          class: 'button-with-icon-full-google',
          icon: 'other-google-icon',
          title: 'Войти с учетной записью Google',
          view: 'link',
        })
        include ../components/pagination
      .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
        h2.text-2xl.font-bold.pb-4.border-b.w-full Иконки
        .flex.flex-wrap.gap-4
          include ../components/icons/_icons
      .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
        h2.text-2xl.font-bold.pb-4.border-b.w-full Цвета
        .grid.gap-4.w-full(class="grid-cols-[repeat(auto-fit,_minmax(170px,_1fr))]")
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-black-000.text-white-000 #000000
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-black-025.text-white-000 #19161D
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-black-050.text-white-000 #222222
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-black-100.text-white-000 #374151
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-black-200.text-white-000 #959BA4
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-black-300 #CACDD1
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-black-400 #C8CBCF
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-black-500 #E3E5EB
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-black-550 #F1F1F2
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-black-600 #F4F5F6
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-black-700.border.border-black-000 #FBFBFB
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-white-000.border.border-black-000 #FFFFFF
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-blue-000.text-white-000 #005CFF
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-blue-025.text-white-000 #0556E4
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-blue-050.text-white-000 #004BCF
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-blue-100.text-white-000 #4673D2
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-blue-200.text-white-000 #5893FF
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-blue-300 #C7D5F1
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-green-000 #84C9A9
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-green-025 #A9FF58
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-green-050 #1CDE0B
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-green-075 #1A8754
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-green-100 #DAEFE5
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-green-200 #50AF1D
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-green-300 #4CC125
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-green-400 #E4FCE5
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-green-900 #28834C
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-red-000.text-white-000 #FF3333
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-red-050.text-white-000 #E62D2D
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-red-075.text-white-000 #C23636
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-red-100.text-white-000 #DE350B
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-red-150.text-white-000 #F1779C
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-red-200.text-white-000 #F06A6A
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-red-250 #FFCCCC
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-red-300 #FBD2D2
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-red-400 #F2E1DD
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-purple-000 #BD6AF0
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-purple-050 #AD84C9
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-purple-100 #EBD2FB
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-purple-200 #E5E4FC
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-purple-300 #E6EFFE
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-purple-400 #8077F1
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-pink-000 #F26FB2
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-pink-100 #F958FF
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-orange-000 #EC8E71
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-peach-000 #F1BD6C
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-yellow-000 #F8DF72
          .py-2.px-12.rounded-md.text-center.text-12-r-md.bg-yellow-100 #FFC658
      .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
        h2.text-2xl.font-bold.pb-4.border-b.w-full Дропдаун
        .w-full.flex.flex-col.gap-y-4.items-start
          +dropdown
          +dropdown({
            buttons: [
              {
                class: '',
                image: {
                  alt: 'image',
                  enabled: true,
                  src: '/assets/images/user-image.png',
                },
                name: 'organization',
                title: 'ООО “ИП”',
              },
              {
                class: '',
                image: {
                  alt: 'image',
                  enabled: true,
                  src: '/assets/images/avatar.png',
                },
                name: 'organization',
                title: 'ООО “ИП”',
              },
            ],
            class: 'dropdown-radios dropdown-copy-image',
            isRadios: true,
            isSearch: true,
          })
          +dropdown({
            class: 'dropdown-with-icon',
            image: {
              alt: 'icon',
              enabled: true,
              src: '/assets/images/user-image.png',
            },
            isLinks: true,
            links: [
              {
                href: '#',
                icon: 'other-settings-icon',
                title: 'Настройки',
              },
              {
                href: '#',
                icon: 'other-logout-icon',
                title: 'Выйти',
              },
            ],
            title: 'Максим Амбиндер',
          })
          +dropdown({
            buttons: [
              {
                class: 'check-all',
                color: 'status-transparent',
                isChecked: true,
                title: 'Все',
              },
              {
                color: 'status-green',
                title: 'Активный',
              },
              {
                color: 'status-gray',
                title: 'Неактивный',
              },
              {
                color: 'status-blue',
                title: 'Новая РК',
              },
              {
                color: 'status-purple',
                title: 'Подбор каналов',
              },
            ],
            class: 'dropdown-status',
            color: 'status-transparent',
            isButtons: true,
            isStatus: true,
          })
          +dropdown({
            checkboxes: [
              {
                class: 'check-all',
                title: 'Все',
              },
              {
                class: '',
                title: 'Банки',
              },
              {
                class: '',
                title: 'Банки',
              },
              {
                class: '',
                title: 'Автомобили',
              },
              {
                class: '',
                title: 'Банки',
              },
              {
                class: '',
                title: 'Банки',
              },
              {
                class: '',
                title: 'Автомобили',
              },
              {
                class: '',
                title: 'Автомобили',
              },
              {
                class: '',
                title: 'Автомобили',
              },
              {
                class: '',
                title: 'Автомобили',
              },
              {
                class: '',
                title: 'Автомобили',
              },
              {
                class: '',
                title: 'Автомобили',
              },
              {
                class: '',
                title: 'Автомобили',
              },
              {
                class: '',
                title: 'Автомобили',
              },
              {
                class: '',
                title: 'Автомобили',
              },
              {
                class: '',
                title: 'Автомобили',
              },
            ],
            class: 'dropdown-checkboxes',
            isAll: true,
            isCheckboxes: true,
          })
          +dropdown({
            buttons: [
              {
                color: 'priority-transparent',
                isChecked: true,
                title: 'Все',
              },
              {
                color: 'priority-red',
                title: 'Очень высокий',
              },
              {
                color: 'priority-pink',
                title: 'Высокий',
              },
              {
                color: 'priority-orange',
                title: 'Средний',
              },
              {
                color: 'priority-peach',
                title: 'Низкий',
              },
              {
                color: 'priority-yellow',
                title: 'Очень низкий',
              },
            ],
            class: 'dropdown-priority',
            color: 'priority-transparent',
            isButtons: true,
            isPriority: true,
          })
      .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
        h2.text-2xl.font-bold.pb-4.border-b.w-full Типографика (Inter)
        .text-30-m-p 30, Medium, 120% LH
        .text-24-sb 24, Semibold, 30 LH
        .text-18-sb 18, Semibold, 24 LH
        .text-16-sb-p 16, Semibold, 140% LH
        .text-14-sb-md 14, Semibold, 20 LH
        .text-14-m-md 14, Medium, 20 LH
        .text-14-sb 14, Semibold, 18 LH
        .text-14-sb-p 14, Semibold, 16 LH
        .text-14-m 14, Medium, 18 LH
        .text-14-r 14, Regular, 18 LH
        .text-14-m-p 14, Medium, 120% LH
        .text-12-sb-p 12, Semibold, 120% LH
        .text-12-sb 12, Semibold, 16 LH
        .text-12-m-md 12, Medium, 18 LH
        .text-12-r-md 12, Regular, 18 LH
        .text-12-m 12, Medium, 16 LH
        .text-12-m-p 12, Medium, 120% LH
        .text-12-r 12, Regular, 16 LH
        .text-12-r-p 12, Regular, 120% LH
        .text-10-m 10, Medium, 14 LH
        .text-10-r 10, Regular, 14 LH
        .text-10-m-sm 10, Medium, 12 LH
        .text-10-r-sm 10, Regular, 12 LH
        .text-10-r-m 10, Medium, 120% LH
        .text-10-r-p 10, Regular, 120% LH
      .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
        h2.text-2xl.font-bold.pb-4.border-b.w-full Логотип
        include ../components/logo
      .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
        h2.text-2xl.font-bold.pb-4.border-b.w-full Поиск
        +search
        +search({
          class: 'transparent',
        })
      .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
        h2.text-2xl.font-bold.pb-4.border-b.w-full Поля ввода значений
        form(action="#").w-full
          +input({
            isRequired: true,
            name: 'email',
            placeholder: 'Почта',
            type: 'email',
          })
        form(action="#").w-full
          +input({
            isRequired: true,
            name: 'password',
            placeholder: 'Пароль',
            type: 'password',
          })
        form(action="#").w-full
          +input({
            isLabel: true,
            isRequired: true,
            label: 'Наименование',
            name: 'name',
            placeholder: 'Введите наименование',
            type: 'text',
          })
        form(action="#").w-full
          +input({
            class: 'error',
            isLabel: true,
            isRequired: true,
            label: 'Наименование',
            name: 'name',
            placeholder: 'Введите наименование',
            type: 'text',
          })
        form(action="#").w-full
          +input({
            max: '100',
            min: '0',
          })
      .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
        h2.text-2xl.font-bold.pb-4.border-b.w-full Чекбокс
        form(action="#").w-full.flex.gap-x-4.items-center
          +input({
            type: 'checkbox',
            value: 'Запомнить меня',
          })
          +input({
            isChecked: true,
            type: 'checkbox',
            value: 'Запомнить меня',
          })
          +input({
            class: 'lg',
            type: 'checkbox',
            value: 'Запомнить меня',
          })
          +input({
            class: 'input-checkbox-with-label lg',
            isLabel: true,
            label: 'Запомнить меня',
            type: 'checkbox',
            value: 'Запомнить меня',
          })
      .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
        h2.text-2xl.font-bold.pb-4.border-b.w-full Кнопка закрытия
        +button({
          ariaLabel: 'close',
          class: 'button-close',
          icon: 'other-close-icon',
          isOnlyIcon: true,
          view: 'button',
        })
      .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
        h2.text-2xl.font-bold.pb-4.border-b.w-full Боковое меню
        include ../components/sidebar
      .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md.mb-4
        h2.text-2xl.font-bold.pb-4.border-b.w-full Верхнее меню
        include ../components/header
      .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md
        h2.text-2xl.font-bold.pb-4.border-b.w-full Виджеты
        .widgets
          +widget({
            icon: 'widget-clock-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Возраст канала',
            values: [
              {
                value: '2 года 11 месяцев',
              },
            ],
          })
          +widget({
            icon: 'widget-layout-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Кол-во размещений',
            values: [
              {
                title: 'Активные',
                value: '1',
              },
              {
                title: 'Всего',
                value: '25',
              },
            ],
          })
          +widget({
            icon: 'widget-users-subscribed-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Подписчики',
            values: [
              {
                class: 'discount',
                title: '+15% за месяц',
                value: '22 000 000',
              },
            ],
          })
          +widget({
            icon: 'widget-users-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Аудитория',
            values: [
              {
                class: 'male',
                title: 'М',
                value: '65%',
              },
              {
                class: 'female',
                title: 'Ж',
                value: '35%',
              },
            ],
          })
          +widget({
            icon: 'widget-consumption-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Общий расход',
            values: [
              {
                value: '20 000 000 ₽',
              },
            ],
          })
          +widget({
            icon: 'widget-eye-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Просмотры (в среднем)',
            titleClass: 'widget__title-sm',
            values: [
              {
                value: '20 000 000',
              },
            ],
          })
          +widget({
            icon: 'widget-users-connected-icon',
            isFourValues: true,
            isRows: true,
            mainValue: '99 803',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Охват',
            values: [
              {
                title: '12 часов',
                value: '99 803',
              },
              {
                title: '48 часов',
                value: '99 803',
              },
              {
                title: '24 часов',
                value: '99 803',
              },
              {
                title: '72 часов',
                value: '99 803',
              },
            ],
          })
          +widget({
            icon: 'widget-favorites-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'ERR',
            values: [
              {
                value: '35.59%',
              },
            ],
          })
          +widget({
            icon: 'widget-discount-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Последняя скидка',
            values: [
              {
                value: '5%',
              },
            ],
          })
          +widget({
            icon: 'widget-eye-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Просмотры (всего)',
            values: [
              {
                value: '20 000 000',
              },
            ],
          })
          +widget({
            icon: 'widget-reply-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'ER',
            values: [
              {
                value: '35.59%',
              },
            ],
          })
          +widget({
            icon: 'widget-screen-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Каналов в РК',
            values: [
              {
                value: '25',
              },
            ],
          })
          +widget({
            icon: 'widget-layout-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Кол-во размещений',
            values: [
              {
                title: 'Активные',
                value: '1',
              },
              {
                title: 'Всего',
                value: '25',
              },
            ],
          })
          +widget({
            icon: 'widget-consumption-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Общий расход',
            values: [
              {
                value: '20 000 000 ₽',
              },
            ],
          })
          +widget({
            icon: 'widget-wallet-plus-icon',
            isProgresses: true,
            isRows: true,
            progresses: [
              {
                content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                title: 'плана',
                value: '0',
              },
              {
                content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                title: 'прогноза',
                value: '0',
              },
            ],
            subtitle: 'Выполнение',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Текущая выручка',
            values: [
              {
                value: '0 ₽',
              },
            ],
          })
          +widget({
            icon: 'widget-money-icon',
            isProgresses: true,
            isRows: true,
            progresses: [
              {
                content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                title: 'плана',
                value: '0',
              },
              {
                content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                title: 'прогноза',
                value: '0',
              },
            ],
            subtitle: 'Выполнение',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Текущая маржа',
            values: [
              {
                value: '0 ₽',
              },
            ],
          })
          +widget({
            icon: 'widget-money-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Маржинальность',
            values: [
              {
                value: '0%',
              },
            ],
          })
          +widget({
            icon: 'widget-discount-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Скидка',
            values: [
              {
                progress: {
                  content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                  enabled: true,
                  value: '0',
                },
                value: '0 ₽ (0%)',
              },
            ],
          })
          +widget({
            icon: 'widget-consumption-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Расход',
            values: [
              {
                value: '0 ₽',
              },
            ],
          })
          +widget({
            color: 'blue',
            icon: 'widget-tablet-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Подобрано каналов',
            values: [
              {
                value: '0',
              },
            ],
          })
          +widget({
            color: 'blue',
            icon: 'widget-tablet-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Проверено каналов',
            values: [
              {
                progress: {
                  content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                  enabled: true,
                  value: '65',
                },
                value: '15/20',
              },
            ],
          })
          +widget({
            color: 'blue',
            icon: 'widget-tablet-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Опрошено',
            values: [
              {
                progress: {
                  content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                  enabled: true,
                  value: '65',
                },
                value: '15/20',
              },
            ],
          })
          +widget({
            color: 'blue',
            icon: 'widget-tablet-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Подтверждено',
            values: [
              {
                progress: {
                  content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                  enabled: true,
                  value: '65',
                },
                value: '12/20',
              },
            ],
          })
          +widget({
            buttons: [
              {
                href: '#',
                icon: 'other-download-icon',
                isDownload: true,
                view: 'link',
              },
            ],
            color: 'blue',
            icon: 'widget-check-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Медиаплан готов',
            values: [
              {
                value: '157 каналов',
              },
            ],
          })
          +widget({
            color: 'blue',
            icon: 'widget-check-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Согласовано каналов',
            values: [
              {
                progress: {
                  content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                  enabled: true,
                  value: '65',
                },
                value: '15/20',
              },
            ],
          })
          +widget({
            color: 'blue',
            icon: 'widget-list-plus-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Новых каналов',
            values: [
              {
                value: '15',
              },
            ],
          })
          +widget({
            color: 'blue',
            icon: 'widget-check-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Оплачено каналов',
            values: [
              {
                progress: {
                  content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                  enabled: true,
                  value: '65',
                },
                value: '10/20',
              },
            ],
          })
          +widget({
            color: 'blue',
            icon: 'widget-awaiting-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Ожидают оплаты',
            values: [
              {
                progress: {
                  content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                  enabled: true,
                  value: '65',
                },
                value: '5/20',
              },
            ],
          })
          +widget({
            color: 'blue',
            icon: 'widget-warning-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Отсутствует счет',
            values: [
              {
                progress: {
                  content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                  enabled: true,
                  value: '65',
                },
                value: '5/20',
              },
            ],
          })
          +widget({
            color: 'blue',
            icon: 'widget-grid-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Размещено постов',
            values: [
              {
                progress: {
                  content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                  enabled: true,
                  value: '65',
                },
                value: '10/20',
              },
            ],
          })
          +widget({
            color: 'blue',
            icon: 'widget-pulse-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Постов в работе',
            values: [
              {
                progress: {
                  content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                  enabled: true,
                  value: '65',
                },
                value: '5/20',
              },
            ],
          })
          +widget({
            color: 'blue',
            icon: 'widget-check-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Завершено сделок',
            values: [
              {
                progress: {
                  content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                  enabled: true,
                  value: '65',
                },
                value: '5/20',
              },
            ],
          })
          +widget({
            icon: 'widget-screen-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Каналы в предложении',
            titleClass: 'widget__title-sm',
            values: [
              {
                value: '125',
              },
            ],
          })
          +widget({
            icon: 'widget-check-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Согласованные каналы',
            titleClass: 'widget__title-sm',
            values: [
              {
                progress: {
                  content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                  enabled: true,
                  value: '65',
                },
                value: '125',
              },
            ],
          })
          +widget({
            icon: 'widget-wallet-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Бюджет предложения',
            titleClass: 'widget__title-sm',
            values: [
              {
                value: '2 050 000 ₽',
              },
            ],
          })
          +widget({
            icon: 'widget-check-icon',
            tip: {
              content: 'Введенные данные не соответствуют автоматике. Обновите данные',
              enabled: true,
            },
            title: 'Согласованный бюджет',
            titleClass: 'widget__title-sm',
            values: [
              {
                progress: {
                  content: '<strong>Плановое значение:</strong><br><span>25 000 000</span>',
                  enabled: true,
                  value: '65',
                },
                value: '50 000 ₽',
              },
            ],
          })
      .flex.flex-col.gap-y-4.items-start.p-4.border.rounded-md
        h2.text-2xl.font-bold.pb-4.border-b.w-full Автоматика
        .flex.gap-4
          label.calendar-automatic
            +input({
              isChecked: true,
              type: 'checkbox',
              class: 'lg',
            })
            .calendar-automatic__content 
              .calendar-automatic__title Установить автоматику
                .automatic-icon
                  <svg width="12" height="12" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.2418 0H2.06003C1.51344 0.000672308 0.98947 0.218274 0.603213 0.605007C0.216956 0.991739 -4.13473e-07 1.51598 0 2.06256V10.2443C0 10.7913 0.217305 11.316 0.60411 11.7028C0.990916 12.0896 1.51554 12.3069 2.06256 12.3069H10.2418C10.7884 12.3069 11.3126 12.0899 11.6993 11.7037C12.0861 11.3174 12.3037 10.7934 12.3043 10.2468V2.06256C12.3043 1.51554 12.087 0.990916 11.7002 0.60411C11.3134 0.217305 10.7888 0 10.2418 0ZM8.65617 8.72213C8.61961 8.76038 8.57543 8.79054 8.52648 8.81064C8.47754 8.83074 8.42492 8.84035 8.37202 8.83883C8.31712 8.841 8.26245 8.83059 8.2122 8.80838C8.17072 8.78789 8.13433 8.75842 8.10564 8.72213C8.05499 8.6505 8.01324 8.57298 7.98133 8.49126C7.9289 8.36949 7.88323 8.26209 7.84433 8.16907L7.50438 7.27605H4.73907L4.39912 8.18175C4.33871 8.38107 4.25348 8.57199 4.14542 8.75003C4.1302 8.77033 4.08453 8.82868 3.91202 8.82868C3.86143 8.82878 3.81134 8.81873 3.76472 8.79912C3.71809 8.77951 3.67587 8.75074 3.64056 8.71451C3.60497 8.68506 3.57612 8.64829 3.55599 8.60671C3.53585 8.56512 3.5249 8.51969 3.52386 8.4735C3.52482 8.40626 3.53594 8.33954 3.55684 8.27562C3.5839 8.19105 3.62788 8.07266 3.68876 7.92044L5.38854 3.55177C5.43576 3.42649 5.49614 3.30659 5.56866 3.19405C5.62251 3.11394 5.6947 3.04784 5.77923 3.00124C5.88043 2.94991 5.99313 2.92545 6.1065 2.93021C6.22154 2.92503 6.33598 2.94949 6.43885 3.00124C6.52369 3.04726 6.59666 3.11241 6.65195 3.19152C6.71565 3.28358 6.76924 3.38225 6.81178 3.48581C6.85914 3.60251 6.92003 3.75895 6.99445 3.95515L8.59274 7.90268C8.68345 8.08399 8.74183 8.27974 8.76526 8.48111C8.7641 8.52654 8.75385 8.57127 8.73512 8.61267C8.71638 8.65406 8.68954 8.69128 8.65617 8.72213Z" fill="#374151"/>
                    <path d="M4.91797 6.75352H7.32302L6.11035 3.43262L4.91797 6.75352Z" fill="#374151"/>
                  </svg>
              .calendar-automatic__tip Значение: ожидается
          label.calendar-automatic
            +input({
              isChecked: true,
              type: 'checkbox',
              class: 'lg',
            })
            .calendar-automatic__content 
              .calendar-automatic__title Установить автоматику
                .automatic-icon
                  <svg width="12" height="12" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.2418 0H2.06003C1.51344 0.000672308 0.98947 0.218274 0.603213 0.605007C0.216956 0.991739 -4.13473e-07 1.51598 0 2.06256V10.2443C0 10.7913 0.217305 11.316 0.60411 11.7028C0.990916 12.0896 1.51554 12.3069 2.06256 12.3069H10.2418C10.7884 12.3069 11.3126 12.0899 11.6993 11.7037C12.0861 11.3174 12.3037 10.7934 12.3043 10.2468V2.06256C12.3043 1.51554 12.087 0.990916 11.7002 0.60411C11.3134 0.217305 10.7888 0 10.2418 0ZM8.65617 8.72213C8.61961 8.76038 8.57543 8.79054 8.52648 8.81064C8.47754 8.83074 8.42492 8.84035 8.37202 8.83883C8.31712 8.841 8.26245 8.83059 8.2122 8.80838C8.17072 8.78789 8.13433 8.75842 8.10564 8.72213C8.05499 8.6505 8.01324 8.57298 7.98133 8.49126C7.9289 8.36949 7.88323 8.26209 7.84433 8.16907L7.50438 7.27605H4.73907L4.39912 8.18175C4.33871 8.38107 4.25348 8.57199 4.14542 8.75003C4.1302 8.77033 4.08453 8.82868 3.91202 8.82868C3.86143 8.82878 3.81134 8.81873 3.76472 8.79912C3.71809 8.77951 3.67587 8.75074 3.64056 8.71451C3.60497 8.68506 3.57612 8.64829 3.55599 8.60671C3.53585 8.56512 3.5249 8.51969 3.52386 8.4735C3.52482 8.40626 3.53594 8.33954 3.55684 8.27562C3.5839 8.19105 3.62788 8.07266 3.68876 7.92044L5.38854 3.55177C5.43576 3.42649 5.49614 3.30659 5.56866 3.19405C5.62251 3.11394 5.6947 3.04784 5.77923 3.00124C5.88043 2.94991 5.99313 2.92545 6.1065 2.93021C6.22154 2.92503 6.33598 2.94949 6.43885 3.00124C6.52369 3.04726 6.59666 3.11241 6.65195 3.19152C6.71565 3.28358 6.76924 3.38225 6.81178 3.48581C6.85914 3.60251 6.92003 3.75895 6.99445 3.95515L8.59274 7.90268C8.68345 8.08399 8.74183 8.27974 8.76526 8.48111C8.7641 8.52654 8.75385 8.57127 8.73512 8.61267C8.71638 8.65406 8.68954 8.69128 8.65617 8.72213Z" fill="#374151"/>
                    <path d="M4.91797 6.75352H7.32302L6.11035 3.43262L4.91797 6.75352Z" fill="#374151"/>
                  </svg>
              .calendar-automatic__tip Значение: 12.12.2024 12:32
          label.calendar-automatic.automatic-error
            +input({
              isChecked: true,
              type: 'checkbox',
              class: 'lg',
            })
            .calendar-automatic__content 
              .calendar-automatic__title Установить автоматику
                .automatic-icon
                  <svg width="12" height="12" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.2418 0H2.06003C1.51344 0.000672308 0.98947 0.218274 0.603213 0.605007C0.216956 0.991739 -4.13473e-07 1.51598 0 2.06256V10.2443C0 10.7913 0.217305 11.316 0.60411 11.7028C0.990916 12.0896 1.51554 12.3069 2.06256 12.3069H10.2418C10.7884 12.3069 11.3126 12.0899 11.6993 11.7037C12.0861 11.3174 12.3037 10.7934 12.3043 10.2468V2.06256C12.3043 1.51554 12.087 0.990916 11.7002 0.60411C11.3134 0.217305 10.7888 0 10.2418 0ZM8.65617 8.72213C8.61961 8.76038 8.57543 8.79054 8.52648 8.81064C8.47754 8.83074 8.42492 8.84035 8.37202 8.83883C8.31712 8.841 8.26245 8.83059 8.2122 8.80838C8.17072 8.78789 8.13433 8.75842 8.10564 8.72213C8.05499 8.6505 8.01324 8.57298 7.98133 8.49126C7.9289 8.36949 7.88323 8.26209 7.84433 8.16907L7.50438 7.27605H4.73907L4.39912 8.18175C4.33871 8.38107 4.25348 8.57199 4.14542 8.75003C4.1302 8.77033 4.08453 8.82868 3.91202 8.82868C3.86143 8.82878 3.81134 8.81873 3.76472 8.79912C3.71809 8.77951 3.67587 8.75074 3.64056 8.71451C3.60497 8.68506 3.57612 8.64829 3.55599 8.60671C3.53585 8.56512 3.5249 8.51969 3.52386 8.4735C3.52482 8.40626 3.53594 8.33954 3.55684 8.27562C3.5839 8.19105 3.62788 8.07266 3.68876 7.92044L5.38854 3.55177C5.43576 3.42649 5.49614 3.30659 5.56866 3.19405C5.62251 3.11394 5.6947 3.04784 5.77923 3.00124C5.88043 2.94991 5.99313 2.92545 6.1065 2.93021C6.22154 2.92503 6.33598 2.94949 6.43885 3.00124C6.52369 3.04726 6.59666 3.11241 6.65195 3.19152C6.71565 3.28358 6.76924 3.38225 6.81178 3.48581C6.85914 3.60251 6.92003 3.75895 6.99445 3.95515L8.59274 7.90268C8.68345 8.08399 8.74183 8.27974 8.76526 8.48111C8.7641 8.52654 8.75385 8.57127 8.73512 8.61267C8.71638 8.65406 8.68954 8.69128 8.65617 8.72213Z" fill="#374151"/>
                    <path d="M4.91797 6.75352H7.32302L6.11035 3.43262L4.91797 6.75352Z" fill="#374151"/>
                  </svg>
                  <svg class="table-input-new__automatic-error" width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_4157_14542)">
                    <path d="M7.59774 8.35686H1.40334C1.21233 8.35695 1.02471 8.30362 0.859595 8.2023C0.69448 8.10099 0.55777 7.95532 0.463391 7.78012C0.369012 7.60493 0.320337 7.40647 0.322324 7.20497C0.324311 7.00346 0.376889 6.80612 0.474703 6.63303L3.48703 1.25187C3.59132 1.06622 3.73963 0.912421 3.91736 0.805589C4.09508 0.698757 4.29611 0.642578 4.50067 0.642578C4.70522 0.642578 4.90625 0.698757 5.08398 0.805589C5.26171 0.912421 5.41002 1.06622 5.51431 1.25187L8.52768 6.63523C8.62749 6.81081 8.67995 7.01182 8.6794 7.21655C8.67906 7.51901 8.56496 7.80897 8.36216 8.02276C8.15936 8.23656 7.88443 8.35672 7.59774 8.35686Z" fill="#FFC658"/>
                    <path d="M4.5 6.1123C4.77442 6.1123 4.99707 6.33496 4.99707 6.60938C4.99707 6.88379 4.77442 7.10645 4.5 7.10645C4.22558 7.10645 4.00293 6.88379 4.00293 6.60938C4.00293 6.33496 4.22558 6.1123 4.5 6.1123Z" fill="#374151" stroke="#374151" stroke-width="0.15"/>
                    <path d="M4.5 2.45605C4.59448 2.45605 4.68514 2.49374 4.75195 2.56055C4.81876 2.62736 4.85645 2.71802 4.85645 2.8125V5.34375C4.85645 5.43823 4.81876 5.52889 4.75195 5.5957C4.68514 5.66251 4.59448 5.7002 4.5 5.7002C4.40552 5.7002 4.31486 5.66251 4.24805 5.5957C4.18124 5.52889 4.14355 5.43823 4.14355 5.34375V2.8125C4.14355 2.71802 4.18124 2.62736 4.24805 2.56055C4.31486 2.49374 4.40552 2.45605 4.5 2.45605Z" fill="#374151" stroke="#374151" stroke-width="0.15"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_4157_14542">
                    <rect width="9" height="9" fill="white"/>
                    </clipPath>
                    </defs>
                  </svg>
              .calendar-automatic__tip Значение: не найдено
          label.calendar-automatic
            +input({
              type: 'checkbox',
              class: 'lg',
            })
            .calendar-automatic__content 
              .calendar-automatic__title Установить автоматику
                .automatic-icon
                  <svg width="12" height="12" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.2418 0H2.06003C1.51344 0.000672308 0.98947 0.218274 0.603213 0.605007C0.216956 0.991739 -4.13473e-07 1.51598 0 2.06256V10.2443C0 10.7913 0.217305 11.316 0.60411 11.7028C0.990916 12.0896 1.51554 12.3069 2.06256 12.3069H10.2418C10.7884 12.3069 11.3126 12.0899 11.6993 11.7037C12.0861 11.3174 12.3037 10.7934 12.3043 10.2468V2.06256C12.3043 1.51554 12.087 0.990916 11.7002 0.60411C11.3134 0.217305 10.7888 0 10.2418 0ZM8.65617 8.72213C8.61961 8.76038 8.57543 8.79054 8.52648 8.81064C8.47754 8.83074 8.42492 8.84035 8.37202 8.83883C8.31712 8.841 8.26245 8.83059 8.2122 8.80838C8.17072 8.78789 8.13433 8.75842 8.10564 8.72213C8.05499 8.6505 8.01324 8.57298 7.98133 8.49126C7.9289 8.36949 7.88323 8.26209 7.84433 8.16907L7.50438 7.27605H4.73907L4.39912 8.18175C4.33871 8.38107 4.25348 8.57199 4.14542 8.75003C4.1302 8.77033 4.08453 8.82868 3.91202 8.82868C3.86143 8.82878 3.81134 8.81873 3.76472 8.79912C3.71809 8.77951 3.67587 8.75074 3.64056 8.71451C3.60497 8.68506 3.57612 8.64829 3.55599 8.60671C3.53585 8.56512 3.5249 8.51969 3.52386 8.4735C3.52482 8.40626 3.53594 8.33954 3.55684 8.27562C3.5839 8.19105 3.62788 8.07266 3.68876 7.92044L5.38854 3.55177C5.43576 3.42649 5.49614 3.30659 5.56866 3.19405C5.62251 3.11394 5.6947 3.04784 5.77923 3.00124C5.88043 2.94991 5.99313 2.92545 6.1065 2.93021C6.22154 2.92503 6.33598 2.94949 6.43885 3.00124C6.52369 3.04726 6.59666 3.11241 6.65195 3.19152C6.71565 3.28358 6.76924 3.38225 6.81178 3.48581C6.85914 3.60251 6.92003 3.75895 6.99445 3.95515L8.59274 7.90268C8.68345 8.08399 8.74183 8.27974 8.76526 8.48111C8.7641 8.52654 8.75385 8.57127 8.73512 8.61267C8.71638 8.65406 8.68954 8.69128 8.65617 8.72213Z" fill="#374151"/>
                    <path d="M4.91797 6.75352H7.32302L6.11035 3.43262L4.91797 6.75352Z" fill="#374151"/>
                  </svg>
              .calendar-automatic__tip Значение: 12.12.2024 12:32