extends ../layouts/master

block title
  title Топ Трафик | Авторизация

block basicSeo
  meta(content="Авторизация страница" name="description")
  meta(content="Авторизация, страница" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main
    include ../components/icons/widget/awaiting.pug
    include ../components/icons/widget/check.pug
    include ../components/icons/widget/consumption.pug
    include ../components/icons/widget/discount.pug
    include ../components/icons/widget/eye.pug
    include ../components/icons/widget/favorites.pug
    include ../components/icons/widget/grid.pug
    include ../components/icons/widget/layout.pug
    include ../components/icons/widget/list-plus.pug
    include ../components/icons/widget/money.pug
    include ../components/icons/widget/pulse.pug
    include ../components/icons/widget/reply.pug
    include ../components/icons/widget/screen.pug
    include ../components/icons/widget/tablet.pug
    include ../components/icons/widget/users-connected.pug
    include ../components/icons/widget/users-subscribed.pug
    include ../components/icons/widget/users.pug
    include ../components/icons/widget/wallet-plus.pug
    include ../components/icons/widget/wallet.pug
    include ../components/icons/widget/warning.pug

    include ../components/icons/other/add-file.pug
    include ../components/icons/other/arrow-right.pug
    include ../components/icons/other/arrow-up.pug
    include ../components/icons/other/attachment.pug
    include ../components/icons/other/calendar.pug
    include ../components/icons/other/comment.pug
    include ../components/icons/other/controls.pug
    include ../components/icons/other/copy.pug
    include ../components/icons/other/download.pug
    include ../components/icons/other/edit.pug
    include ../components/icons/other/expand-menu.pug
    include ../components/icons/other/eye-closed.pug
    include ../components/icons/other/eye.pug
    include ../components/icons/other/google.pug
    include ../components/icons/other/image.pug
    include ../components/icons/other/info.pug
    include ../components/icons/other/link.pug
    include ../components/icons/other/logout.pug
    include ../components/icons/other/mail.pug
    include ../components/icons/other/notification.pug
    include ../components/icons/other/phone.pug
    include ../components/icons/other/pin.pug
    include ../components/icons/other/unpin.pug
    include ../components/icons/other/pinned.pug
    include ../components/icons/other/plus.pug
    include ../components/icons/other/reply.pug
    include ../components/icons/other/search.pug
    include ../components/icons/other/send.pug
    include ../components/icons/other/settings.pug
    include ../components/icons/other/share.pug
    include ../components/icons/other/telegram.pug
    include ../components/icons/other/thumbs-up.pug
    include ../components/icons/other/trash.pug