extends ../layouts/master

block title
  title Топ Трафик | Авторизация

block basicSeo
  meta(content="Авторизация" name="description")
  meta(content="Авторизация" name="keywords")
  meta(content="Авторизация" property="og:title")
  meta(content="Авторизация" name="twitter:title")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main
    include ../components/login