extends ../layouts/master

block title
  title Топ Трафик | Публикация

block basicSeo
  meta(content="Публикация" name="description")
  meta(content="Публикация" name="keywords")
  meta(content="Публикация" property="og:title")
  meta(content="Публикация" name="twitter:title")

block content
  main.page
    include ../components/sidebar
    include ../components/header