extends ../layouts/master

block title
  title Топ Трафик | Публикации

block basicSeo
  meta(content="Публикации" name="description")
  meta(content="Публикации" name="keywords")
  meta(content="Публикации" property="og:title")
  meta(content="Публикации" name="twitter:title")

block content
  main.page
    include ../components/sidebar
    include ../components/header