extends ../layouts/master

block title
  title Топ Трафик | Профиль

block basicSeo
  meta(content="Профиль" name="description")
  meta(content="Профиль" name="keywords")
  meta(content="Профиль" property="og:title")
  meta(content="Профиль" name="twitter:title")

block content
  main.page
    include ../components/sidebar
    include ../components/header
    .wrapper
      form(action="#").profile
        +heading-table({
          buttons: [
            {
              class: 'button-with-icon-blue',
              title: 'Сохранить изменения',
              type: 'submit',
              view: 'button',
            },
            {
              class: 'button-base',
              title: 'Отмена',
              type: 'button',
              view: 'button',
            },
          ],
          title: 'Профиль',
        })
        .profile__block
          h3 Аватар
          .profile__upload
            .profile__avatar
              img(src="")
              span
              .profile__remove
                svg
                  use(xlink:href="#other-close-icon")
            .profile__button
              label.profile__container
                input(type="file")
                <div class="button button-with-icon-blue" type="button" aria-label="button"><svg viewBox="0 0 16 16" width="16" height="16"><use xlink:href="#other-upload-icon"></use></svg><span>Загрузить</span></div>
              p Аватар виден вам и вашей команде
        .profile__block
          h3 Персональные данные
          .profile__fields
            +input({
              isButtonClear: true,
              isLabel: true,
              label: 'Имя',
              name: 'name',
              placeholder: 'Введите имя',
              type: 'text',
            })
            +input({
              isButtonClear: true,
              isLabel: true,
              label: 'Фамилия',
              name: 'surname',
              placeholder: 'Введите фамилию',
              type: 'text',
            })
            +input({
              alert: 'Для изменения обратитесь к администратору',
              isDisabled: true,
              isLabel: true,
              label: 'Почта',
              name: 'email',
              placeholder: 'Введите почту',
              type: 'email',
              value: 'alexxxtop@toptraffic.ru',
            })
            +input({
              isButtonClear: true,
              isLabel: true,
              label: 'Telegram',
              name: 'telegram',
              placeholder: 'Введите никнейм',
              type: 'text',
            })
            +input({
              isButtonClear: true,
              isLabel: true,
              label: 'Должность',
              name: 'role',
              placeholder: 'Введите должность',
              type: 'text',
            })
      .profile__block.profile__block-password
        h3 Смена пароля
        form(action="#").profile__fields
          .profile__field.profile__field-password
            +input({
              class: 'sm',
              isLabel: true,
              label: 'Новый пароль',
              name: 'password',
              placeholder: 'Пароль',
              type: 'password',
            })
          .profile__field.profile__field-password
            +input({
              class: 'sm error',
              isLabel: true,
              label: 'Введите пароль еще раз',
              name: 'password',
              placeholder: 'Пароль',
              type: 'password',
            })
      .profile__block.profile__block-google
        h3 Google services
        p Google access token type is Bearer created at 28/9/24 20:39
      .profile__alert
        svg
          use(xlink:href="#other-check-icon")
        span Изменения сохранены