extends ../layouts/master

block title
  title Топ Трафик | Профиль

block basicSeo
  meta(content="Профиль" name="description")
  meta(content="Профиль" name="keywords")
  meta(content="Профиль" property="og:title")
  meta(content="Профиль" name="twitter:title")

block content
  main.page
    include ../components/sidebar
    include ../components/header
    .wrapper
      +heading-table({
        buttons: [
          {
            view: 'button',
            class: 'button-with-icon-blue',
            icon: 'other-plus-icon',
            title: 'Добавить пользователя',
            dataPopupName: 'add-user',
          },
        ],
        isSearch: true,
        searchClass: 'min-w-[243px] max-w-[243px]',
        title: 'Пользователи',
      })
      .users__block.users__block-awaiting
        .users__heading
          h3 Ожидают одобрения
          button(type="button") Подтвердить все
        .inner.in-container
          .content.content-collapsed
            .content-scroll
              include ../components/users/awaiting/table
      .users__block
        .selectors
          .content.content-not-collapsed
            .selector__buttons.users__buttons
              .selector__scroll
                button.selector__button.users__button.active(data-id="users-all") Все
                  span (26)
                button.selector__button.users__button(data-id="users-inner") Внутренние пользователи
                  span (25)
                button.selector__button.users__button(data-id="users-guests") Гости
                  span (1)
            .selector__containers.selector__content.users__tables
              .selector__container(data-id="users-all").active
                .in-container.mt-4
                  .content.content-collapsed
                    .content-scroll
                      include ../components/users/all/table
              .selector__container(data-id="users-inner")
                .in-container.mt-4
                  .content.content-collapsed
                    .content-scroll
                      include ../components/users/inner/table
              .selector__container(data-id="users-guests")
                .in-container.mt-4
                  .content.content-collapsed
                    .content-scroll
                      include ../components/users/guests/table