table.table.table-default.table-coordination
  thead
    tr
      th.border-r.border-black-500(style="min-width: 76px;")
        .table__sort.flex.gap-x-3.items-center
          +input({
            class: 'md table__checkbox pointer-events-none table__checkbox-accept',
            isChecked: true,
            type: 'checkbox',
          })
          +input({
            class: 'md table__checkbox pointer-events-none table__checkbox-decline',
            isChecked: true,
            type: 'checkbox',
          })
      th(style="min-width: 280px;")
        .table__sort.flex.gap-x-2.items-center
          p Канал
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Категория
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Администратор
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p.text-right Подписчики
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center.justify-end
          p.text-right Охват
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center.justify-end
          p.text-right Последняя ставка
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center.justify-end
          p.text-right Последняя скидка
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center.justify-end
          p.text-right Себестоимость
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center.justify-end
          p.text-right Скидка
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Ближайшая дата поста
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Менеджер
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Комментарий
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
  tbody
    +row-coordination({
      isRadio: true,
      accept: true,
      decline: false,
      name: 'coordination-1'
    })
    +row-coordination({
      isRadio: true,
      accept: false,
      decline: true,
      name: 'coordination-2'
    })
    +row-coordination({
      isRadio: true,
      accept: true,
      decline: false,
      name: 'coordination-3'
    })
    +row-coordination({
      isRadio: true,
      accept: false,
      decline: true,
      name: 'coordination-4'
    })
    +row-coordination({
      isRadio: true,
      accept: true,
      decline: false,
      name: 'coordination-5'
    })
    +row-coordination({
      isRadio: true,
      accept: false,
      decline: true,
      name: 'coordination-6'
    })
    +row-coordination({
      isRadio: true,
      accept: false,
      decline: true,
      name: 'coordination-7'
    })