aside.filter.visible-bottom
  .filter__container
    .filter__title 
      h2 Фильтр
      button(type="button").filter__clear Сбросить
    form(action="#")
      h3.filter__subtitle Администратор
      +dropdown({
        class: 'dropdown-checkboxes',
        label: 'Выберите администратора',
        isCheckboxes: true,
        checkboxes: [
          { title: 'Все' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
        ]
      })
      h3.filter__subtitle Канал
      +dropdown({
        class: 'dropdown-checkboxes',
        label: 'Выберите канал',
        isCheckboxes: true,
        checkboxes: [
          { title: 'Все' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
        ]
      })
      h3.filter__subtitle Организация
      +dropdown({
        class: 'dropdown-checkboxes',
        label: 'Выберите организацию',
        isCheckboxes: true,
        checkboxes: [
          { title: 'Все' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/tg-channel.png', alt: 'image' }, telegram: 'andreym' },
        ]
      })
      +button({
        view: 'button',
        class: 'button-base filter__button',
        type: 'submit',
        title: 'Применить'
      })