tr
  td.border-r.border-black-500(style="min-width:234px")
    .flex.items-center(class="gap-x-[6px]")
      img.rounded.object-cover(class="w-[30px] h-[30px]" src="/assets/images/avatar.png" alt="tg-channel")
      .flex.flex-col.items-start.line-clamp-1
        h3(class="max-w-[149.5px]") Андрей Миронов
        a(href="https://t.me/andreym" target="_blank") @andreym
  td
    .table__channels
      a(href="#")
        img(src="/assets/images/avatar.png" alt="tg-channel")
        span ZeroDay | Кибербезопасность
      a(href="#")
        img(src="/assets/images/avatar.png" alt="tg-channel")
        span Топор 18+
      a(href="#")
        img(src="/assets/images/avatar.png" alt="tg-channel")
        span ZeroDay | Кибербезопасность
      a(href="#")
        img(src="/assets/images/avatar.png" alt="tg-channel")
        span ZeroDay | Кибербезопасность
      a(href="#")
        img(src="/assets/images/avatar.png" alt="tg-channel")
        span Топор 18+
      a(href="#")
        img(src="/assets/images/avatar.png" alt="tg-channel")
        span ZeroDay | Кибербезопасность
      +button({
        class: 'table__channels-toggle',
        icon: 'other-angle-down-icon',
        isOnlyIcon: true,
      })
  td.only-text ООО "Медиа Кар"
  td.only-text 21.03.2023