table.table.table-fixed-cols
  thead
    tr
      th(style="min-width: 234px;").fixed-th.fixed-th-border
        .table__sort.flex.gap-x-2.items-center
          p Администратор
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Каналы
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Организация
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Дата добавления
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
  tbody
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row