table.table
  thead
    tr 
      th.border-r.border-black-500(width="234px")
        .flex.gap-x-2.items-center.text-blue-000
          p Администратор
          button(type="button")
            svg
              use(xlink:href="#other-sort-icon")
      th(width="576px")
        p Каналы
      th
        p Организация
      th 
        p Дата добавления
  tbody
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row