table.table.table-fixed-cols
  thead
    tr
      th.border-r.border-black-500(width="234px")
        .table__sort.flex.gap-x-2.items-center
          p Администратор
          button(type="button").table__sortbutton
            svg
              use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Каналы
          button(type="button").table__sortbutton
            svg
              use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Организация
          button(type="button").table__sortbutton
            svg
              use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Дата добавления
          button(type="button").table__sortbutton
            svg
              use(xlink:href="#other-sort-icon")
  tbody
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row
    include row