mixin admin-advertising-campaigns-row(data)
  tr
    td.only-text Test_MTC_September
    td
      .table__channels
        .table__channels__items
          a(href="#")
            img(src="/assets/images/avatar.png" alt="tg-channel")
            span ZeroDay | Кибербезопасность
          a(href="#")
            img(src="/assets/images/avatar.png" alt="tg-channel")
            span Топор 18+
          a(href="#")
            img(src="/assets/images/avatar.png" alt="tg-channel")
            span ZeroDay | Кибербезопасность
          a(href="#")
            img(src="/assets/images/avatar.png" alt="tg-channel")
            span ZeroDay | Кибербезопасность
          a(href="#")
            img(src="/assets/images/avatar.png" alt="tg-channel")
            span Топор 18+
          a(href="#")
            img(src="/assets/images/avatar.png" alt="tg-channel")
            span ZeroDay | Кибербезопасность
        +button({
          class: 'table__channels-toggle',
          icon: 'other-angle-down-icon',
          isOnlyIcon: true,
        })
    td.only-text МТС
    td.only-text Январь 2024
    td
      span.status(class="" + data.color)= data.status