mixin search(data = {})
  - const { defaults, mergeConfig } = require('/assets/js/_defaults/search/_defaults');
  - const modefied = mergeConfig(data, defaults);
  
  if modefied.isForm
    form(action="#" class=`search ${modefied.containerClass == false ? '' : modefied.containerClass}`)
      label.search__label
        input(class=`search__input ${modefied.class == false ? '' : modefied.class}` required type="search" autocomplete="on" placeholder="Поиск..." name="search")
        svg
          use(xlink:href="#other-search-icon")
  else
    div(class=`search ${modefied.containerClass == false ? '' : modefied.containerClass}`)
      label.search__label
        input(class=`search__input ${modefied.class == false ? '' : modefied.class}` type="search" autocomplete="on" placeholder="Поиск..." name="search")
        svg
          use(xlink:href="#other-search-icon")