tr
  td(style="padding-left: 12px; min-width: 288px; padding-top: 6.5px; padding-bottom: 6.5px;").fixed-td.fixed-td-border
    .flex.items-center.w-full(class="gap-x-3 h-[33px]")
      +input({
        class: 'md table__checkbox',
        type: 'checkbox',
      })
      .flex.items-center(class="gap-x-1.5")
        img.rounded.object-cover(class="w-[30px] h-[30px]" src="/assets/images/avatar.png" alt="tg-channel")
        .flex.flex-col.items-start
          h3
            a(href="#").table__channel ZeroDay | Кибербезопасность
          a(href="https://t.me/andreym" target="_blank").table__link @cybersec_academy
  td.only-text Интернет технологии
  td.only-text.text-right 9 999 999
  td.only-text 15.12.2023
  td.only-text 15.12.2023
  td(class="pr-2.5")
    +button({
      class: 'button-icon text-black-200 table__remove',
      dataPopupName: 'delete-admin-post',
      icon: 'other-trash-icon',
      isOnlyIcon: true,
      view: 'button',
    })