tr
  td(colspan="17")
    .flex.items-center(class="gap-x-1.5")
      img.rounded.object-cover(class="w-[30px] h-[30px]" src="/assets/images/avatar.png" alt="tg-channel")
      .flex.items-center
        h3
          a(href="#").table__channel ZeroDay | Кибербезопасность
          span / Подписчики: 9 999 999
tr
  td.only-text Концепция
  td.only-text Медведева Валерия
  td
    +input({
      class: 'table__comment sm',
      name: 'token',
      placeholder: 'Добавить токен...',
      value: 'TeST134',
    })
  td
    +dropdown({
      buttons: [
        {
          color: 'status-transparent',
          title: '—',
        },
        {
          color: 'status-green',
          isChecked: true,
          title: 'Размещено',
        },
      ],
      class: 'dropdown-status',
      color: 'status-green',
      isButtons: true,
      isStatus: true,
      title: 'Размещено',
    })
  td.only-text Стандартный
  td.only-text
    +dropdown({
      class: 'dropdown-new-format',
      isNewFormat: true,
    })
  td.only-text
    +button({
      class: 'button-with-icon only-input start-day',
      isCalendar: true,
      isDatePicker: true,
      isMonthPicker: false,
      isSinglePicker: true,
      value: 'дд.мм.гггг',
      view: 'button',
    })
  td.only-text
    +button({
      class: 'button-with-icon only-input start-day',
      isCalendar: true,
      isDatePicker: true,
      isMonthPicker: false,
      isSinglePicker: true,
      value: 'дд.мм.гггг',
      view: 'button',
    })
  td.table__post
    .table__post__wrapper
      +input({
        class: 'table__post__input',
        isTextarea: true,
        label: false,
        name: 'post_link',
        placeholder: 'Ссылка...',
      })
      +button({
        class: 'button-icon',
        icon: 'other-external-link',
        isOnlyIcon: true,
        view: 'button',
      })
  //- td.only-text
  //-   .table__attachedlink
  //-     label.table__attachedlink__container.button(data-popup-name="add-link-table")
  //-       .table__icon
  //-         svg
  //-           use(xlink:href="#other-attachment-icon")
  //-       span.table__attachedlink__value Добавить
  //-     +dropdown({
  //-       buttons: [
  //-         {
  //-           class: 'table__attachedlink__edit',
  //-           dataPopupName: 'add-link-table',
  //-           icon: 'other-edit-icon',
  //-           title: 'Изменить',
  //-         },
  //-         {
  //-           class: 'table__attachedlink__remove',
  //-           dataPopupName: 'delete-attachedlink',
  //-           icon: 'other-trash-icon',
  //-           title: 'Удалить',
  //-         },
  //-       ],
  //-       class: 'table__attachedlink__dropdown',
  //-       isButtons: true,
  //-       title: '',
  //-     })
  td.only-text
    .table__attachedfile
      label.table__attachedfile__container
        .table__icon
          input(type="file")
          svg
            use(xlink:href="#other-file-icon")
        span.table__attachedfile__value Прикрепить
      +dropdown({
        buttons: [
          {
            class: 'table__attachedfile__edit',
            icon: 'other-link-icon',
            title: 'Заменить',
          },
          {
            class: 'table__attachedfile__remove',
            dataPopupName: 'delete-attachedfile',
            icon: 'other-trash-icon',
            title: 'Удалить',
          },
        ],
        class: 'table__attachedfile__dropdown',
        isButtons: true,
        title: '',
      })
  td.only-text
    .table__attachedfile
      label.table__attachedfile__container
        .table__icon
          input(type="file")
          svg
            use(xlink:href="#other-file-icon")
        span.table__attachedfile__value Прикрепить
      +dropdown({
        buttons: [
          {
            class: 'table__attachedfile__edit',
            icon: 'other-link-icon',
            title: 'Заменить',
          },
          {
            class: 'table__attachedfile__remove',
            dataPopupName: 'delete-attachedfile',
            icon: 'other-trash-icon',
            title: 'Удалить',
          },
        ],
        class: 'table__attachedfile__dropdown',
        isButtons: true,
        title: '',
      })
  td.only-text
    .table__attachedfile
      label.table__attachedfile__container
        .table__icon
          input(type="file")
          svg
            use(xlink:href="#other-file-icon")
        span.table__attachedfile__value Прикрепить
      +dropdown({
        buttons: [
          {
            class: 'table__attachedfile__edit',
            icon: 'other-link-icon',
            title: 'Заменить',
          },
          {
            class: 'table__attachedfile__remove',
            dataPopupName: 'delete-attachedfile',
            icon: 'other-trash-icon',
            title: 'Удалить',
          },
        ],
        class: 'table__attachedfile__dropdown',
        isButtons: true,
        title: '',
      })
  td.only-text
    .table__attachedfile
      label.table__attachedfile__container
        .table__icon
          input(type="file")
          svg
            use(xlink:href="#other-file-icon")
        span.table__attachedfile__value Прикрепить
      +dropdown({
        buttons: [
          {
            class: 'table__attachedfile__edit',
            icon: 'other-link-icon',
            title: 'Заменить',
          },
          {
            class: 'table__attachedfile__remove',
            dataPopupName: 'delete-attachedfile',
            icon: 'other-trash-icon',
            title: 'Удалить',
          },
        ],
        class: 'table__attachedfile__dropdown',
        isButtons: true,
        title: '',
      })
  td.only-text.text-right 22 505
  td.only-text.text-right 22 505
  td.only-text.text-right 22 505
  td.only-text.text-right 22 505
  td.only-text.text-right 22 505
  td
    +input({
      class: 'table__comment',
      name: 'comment',
      placeholder: 'Добавить комментарий...',
    })