table.table.table-fixed-cols.table-process
  thead
    tr
      th
        .table__sort.flex.gap-x-2.items-center
          p Концепция
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Менеджер
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Токен
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Статус размещения
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Тип размещения
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Формат размещения
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Адаптация
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Кнопка
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Тег
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-1.items-center
          <svg width="12" height="12" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.2418 0H2.06003C1.51344 0.000672308 0.98947 0.218274 0.603213 0.605007C0.216956 0.991739 -4.13473e-07 1.51598 0 2.06256V10.2443C0 10.7913 0.217305 11.316 0.60411 11.7028C0.990916 12.0896 1.51554 12.3069 2.06256 12.3069H10.2418C10.7884 12.3069 11.3126 12.0899 11.6993 11.7037C12.0861 11.3174 12.3037 10.7934 12.3043 10.2468V2.06256C12.3043 1.51554 12.087 0.990916 11.7002 0.60411C11.3134 0.217305 10.7888 0 10.2418 0ZM8.65617 8.72213C8.61961 8.76038 8.57543 8.79054 8.52648 8.81064C8.47754 8.83074 8.42492 8.84035 8.37202 8.83883C8.31712 8.841 8.26245 8.83059 8.2122 8.80838C8.17072 8.78789 8.13433 8.75842 8.10564 8.72213C8.05499 8.6505 8.01324 8.57298 7.98133 8.49126C7.9289 8.36949 7.88323 8.26209 7.84433 8.16907L7.50438 7.27605H4.73907L4.39912 8.18175C4.33871 8.38107 4.25348 8.57199 4.14542 8.75003C4.1302 8.77033 4.08453 8.82868 3.91202 8.82868C3.86143 8.82878 3.81134 8.81873 3.76472 8.79912C3.71809 8.77951 3.67587 8.75074 3.64056 8.71451C3.60497 8.68506 3.57612 8.64829 3.55599 8.60671C3.53585 8.56512 3.5249 8.51969 3.52386 8.4735C3.52482 8.40626 3.53594 8.33954 3.55684 8.27562C3.5839 8.19105 3.62788 8.07266 3.68876 7.92044L5.38854 3.55177C5.43576 3.42649 5.49614 3.30659 5.56866 3.19405C5.62251 3.11394 5.6947 3.04784 5.77923 3.00124C5.88043 2.94991 5.99313 2.92545 6.1065 2.93021C6.22154 2.92503 6.33598 2.94949 6.43885 3.00124C6.52369 3.04726 6.59666 3.11241 6.65195 3.19152C6.71565 3.28358 6.76924 3.38225 6.81178 3.48581C6.85914 3.60251 6.92003 3.75895 6.99445 3.95515L8.59274 7.90268C8.68345 8.08399 8.74183 8.27974 8.76526 8.48111C8.7641 8.52654 8.75385 8.57127 8.73512 8.61267C8.71638 8.65406 8.68954 8.69128 8.65617 8.72213Z" fill="#374151"/>
            <path d="M4.91797 6.75352H7.32302L6.11035 3.43262L4.91797 6.75352Z" fill="#374151"/>
          </svg>
          p Дата поста (план)
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-1.items-center
          <svg width="12" height="12" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.2418 0H2.06003C1.51344 0.000672308 0.98947 0.218274 0.603213 0.605007C0.216956 0.991739 -4.13473e-07 1.51598 0 2.06256V10.2443C0 10.7913 0.217305 11.316 0.60411 11.7028C0.990916 12.0896 1.51554 12.3069 2.06256 12.3069H10.2418C10.7884 12.3069 11.3126 12.0899 11.6993 11.7037C12.0861 11.3174 12.3037 10.7934 12.3043 10.2468V2.06256C12.3043 1.51554 12.087 0.990916 11.7002 0.60411C11.3134 0.217305 10.7888 0 10.2418 0ZM8.65617 8.72213C8.61961 8.76038 8.57543 8.79054 8.52648 8.81064C8.47754 8.83074 8.42492 8.84035 8.37202 8.83883C8.31712 8.841 8.26245 8.83059 8.2122 8.80838C8.17072 8.78789 8.13433 8.75842 8.10564 8.72213C8.05499 8.6505 8.01324 8.57298 7.98133 8.49126C7.9289 8.36949 7.88323 8.26209 7.84433 8.16907L7.50438 7.27605H4.73907L4.39912 8.18175C4.33871 8.38107 4.25348 8.57199 4.14542 8.75003C4.1302 8.77033 4.08453 8.82868 3.91202 8.82868C3.86143 8.82878 3.81134 8.81873 3.76472 8.79912C3.71809 8.77951 3.67587 8.75074 3.64056 8.71451C3.60497 8.68506 3.57612 8.64829 3.55599 8.60671C3.53585 8.56512 3.5249 8.51969 3.52386 8.4735C3.52482 8.40626 3.53594 8.33954 3.55684 8.27562C3.5839 8.19105 3.62788 8.07266 3.68876 7.92044L5.38854 3.55177C5.43576 3.42649 5.49614 3.30659 5.56866 3.19405C5.62251 3.11394 5.6947 3.04784 5.77923 3.00124C5.88043 2.94991 5.99313 2.92545 6.1065 2.93021C6.22154 2.92503 6.33598 2.94949 6.43885 3.00124C6.52369 3.04726 6.59666 3.11241 6.65195 3.19152C6.71565 3.28358 6.76924 3.38225 6.81178 3.48581C6.85914 3.60251 6.92003 3.75895 6.99445 3.95515L8.59274 7.90268C8.68345 8.08399 8.74183 8.27974 8.76526 8.48111C8.7641 8.52654 8.75385 8.57127 8.73512 8.61267C8.71638 8.65406 8.68954 8.69128 8.65617 8.72213Z" fill="#374151"/>
            <path d="M4.91797 6.75352H7.32302L6.11035 3.43262L4.91797 6.75352Z" fill="#374151"/>
          </svg>
          p Дата поста (факт)
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-1.items-center
          <svg width="12" height="12" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.2418 0H2.06003C1.51344 0.000672308 0.98947 0.218274 0.603213 0.605007C0.216956 0.991739 -4.13473e-07 1.51598 0 2.06256V10.2443C0 10.7913 0.217305 11.316 0.60411 11.7028C0.990916 12.0896 1.51554 12.3069 2.06256 12.3069H10.2418C10.7884 12.3069 11.3126 12.0899 11.6993 11.7037C12.0861 11.3174 12.3037 10.7934 12.3043 10.2468V2.06256C12.3043 1.51554 12.087 0.990916 11.7002 0.60411C11.3134 0.217305 10.7888 0 10.2418 0ZM8.65617 8.72213C8.61961 8.76038 8.57543 8.79054 8.52648 8.81064C8.47754 8.83074 8.42492 8.84035 8.37202 8.83883C8.31712 8.841 8.26245 8.83059 8.2122 8.80838C8.17072 8.78789 8.13433 8.75842 8.10564 8.72213C8.05499 8.6505 8.01324 8.57298 7.98133 8.49126C7.9289 8.36949 7.88323 8.26209 7.84433 8.16907L7.50438 7.27605H4.73907L4.39912 8.18175C4.33871 8.38107 4.25348 8.57199 4.14542 8.75003C4.1302 8.77033 4.08453 8.82868 3.91202 8.82868C3.86143 8.82878 3.81134 8.81873 3.76472 8.79912C3.71809 8.77951 3.67587 8.75074 3.64056 8.71451C3.60497 8.68506 3.57612 8.64829 3.55599 8.60671C3.53585 8.56512 3.5249 8.51969 3.52386 8.4735C3.52482 8.40626 3.53594 8.33954 3.55684 8.27562C3.5839 8.19105 3.62788 8.07266 3.68876 7.92044L5.38854 3.55177C5.43576 3.42649 5.49614 3.30659 5.56866 3.19405C5.62251 3.11394 5.6947 3.04784 5.77923 3.00124C5.88043 2.94991 5.99313 2.92545 6.1065 2.93021C6.22154 2.92503 6.33598 2.94949 6.43885 3.00124C6.52369 3.04726 6.59666 3.11241 6.65195 3.19152C6.71565 3.28358 6.76924 3.38225 6.81178 3.48581C6.85914 3.60251 6.92003 3.75895 6.99445 3.95515L8.59274 7.90268C8.68345 8.08399 8.74183 8.27974 8.76526 8.48111C8.7641 8.52654 8.75385 8.57127 8.73512 8.61267C8.71638 8.65406 8.68954 8.69128 8.65617 8.72213Z" fill="#374151"/>
            <path d="M4.91797 6.75352H7.32302L6.11035 3.43262L4.91797 6.75352Z" fill="#374151"/>
          </svg>
          p Ссылка на пост
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-1.items-center
          <svg width="12" height="12" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.2418 0H2.06003C1.51344 0.000672308 0.98947 0.218274 0.603213 0.605007C0.216956 0.991739 -4.13473e-07 1.51598 0 2.06256V10.2443C0 10.7913 0.217305 11.316 0.60411 11.7028C0.990916 12.0896 1.51554 12.3069 2.06256 12.3069H10.2418C10.7884 12.3069 11.3126 12.0899 11.6993 11.7037C12.0861 11.3174 12.3037 10.7934 12.3043 10.2468V2.06256C12.3043 1.51554 12.087 0.990916 11.7002 0.60411C11.3134 0.217305 10.7888 0 10.2418 0ZM8.65617 8.72213C8.61961 8.76038 8.57543 8.79054 8.52648 8.81064C8.47754 8.83074 8.42492 8.84035 8.37202 8.83883C8.31712 8.841 8.26245 8.83059 8.2122 8.80838C8.17072 8.78789 8.13433 8.75842 8.10564 8.72213C8.05499 8.6505 8.01324 8.57298 7.98133 8.49126C7.9289 8.36949 7.88323 8.26209 7.84433 8.16907L7.50438 7.27605H4.73907L4.39912 8.18175C4.33871 8.38107 4.25348 8.57199 4.14542 8.75003C4.1302 8.77033 4.08453 8.82868 3.91202 8.82868C3.86143 8.82878 3.81134 8.81873 3.76472 8.79912C3.71809 8.77951 3.67587 8.75074 3.64056 8.71451C3.60497 8.68506 3.57612 8.64829 3.55599 8.60671C3.53585 8.56512 3.5249 8.51969 3.52386 8.4735C3.52482 8.40626 3.53594 8.33954 3.55684 8.27562C3.5839 8.19105 3.62788 8.07266 3.68876 7.92044L5.38854 3.55177C5.43576 3.42649 5.49614 3.30659 5.56866 3.19405C5.62251 3.11394 5.6947 3.04784 5.77923 3.00124C5.88043 2.94991 5.99313 2.92545 6.1065 2.93021C6.22154 2.92503 6.33598 2.94949 6.43885 3.00124C6.52369 3.04726 6.59666 3.11241 6.65195 3.19152C6.71565 3.28358 6.76924 3.38225 6.81178 3.48581C6.85914 3.60251 6.92003 3.75895 6.99445 3.95515L8.59274 7.90268C8.68345 8.08399 8.74183 8.27974 8.76526 8.48111C8.7641 8.52654 8.75385 8.57127 8.73512 8.61267C8.71638 8.65406 8.68954 8.69128 8.65617 8.72213Z" fill="#374151"/>
            <path d="M4.91797 6.75352H7.32302L6.11035 3.43262L4.91797 6.75352Z" fill="#374151"/>
          </svg>
          p Ссылка на пост
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sorts
          <svg width="12" height="12" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.2418 0H2.06003C1.51344 0.000672308 0.98947 0.218274 0.603213 0.605007C0.216956 0.991739 -4.13473e-07 1.51598 0 2.06256V10.2443C0 10.7913 0.217305 11.316 0.60411 11.7028C0.990916 12.0896 1.51554 12.3069 2.06256 12.3069H10.2418C10.7884 12.3069 11.3126 12.0899 11.6993 11.7037C12.0861 11.3174 12.3037 10.7934 12.3043 10.2468V2.06256C12.3043 1.51554 12.087 0.990916 11.7002 0.60411C11.3134 0.217305 10.7888 0 10.2418 0ZM8.65617 8.72213C8.61961 8.76038 8.57543 8.79054 8.52648 8.81064C8.47754 8.83074 8.42492 8.84035 8.37202 8.83883C8.31712 8.841 8.26245 8.83059 8.2122 8.80838C8.17072 8.78789 8.13433 8.75842 8.10564 8.72213C8.05499 8.6505 8.01324 8.57298 7.98133 8.49126C7.9289 8.36949 7.88323 8.26209 7.84433 8.16907L7.50438 7.27605H4.73907L4.39912 8.18175C4.33871 8.38107 4.25348 8.57199 4.14542 8.75003C4.1302 8.77033 4.08453 8.82868 3.91202 8.82868C3.86143 8.82878 3.81134 8.81873 3.76472 8.79912C3.71809 8.77951 3.67587 8.75074 3.64056 8.71451C3.60497 8.68506 3.57612 8.64829 3.55599 8.60671C3.53585 8.56512 3.5249 8.51969 3.52386 8.4735C3.52482 8.40626 3.53594 8.33954 3.55684 8.27562C3.5839 8.19105 3.62788 8.07266 3.68876 7.92044L5.38854 3.55177C5.43576 3.42649 5.49614 3.30659 5.56866 3.19405C5.62251 3.11394 5.6947 3.04784 5.77923 3.00124C5.88043 2.94991 5.99313 2.92545 6.1065 2.93021C6.22154 2.92503 6.33598 2.94949 6.43885 3.00124C6.52369 3.04726 6.59666 3.11241 6.65195 3.19152C6.71565 3.28358 6.76924 3.38225 6.81178 3.48581C6.85914 3.60251 6.92003 3.75895 6.99445 3.95515L8.59274 7.90268C8.68345 8.08399 8.74183 8.27974 8.76526 8.48111C8.7641 8.52654 8.75385 8.57127 8.73512 8.61267C8.71638 8.65406 8.68954 8.69128 8.65617 8.72213Z" fill="#374151"/>
            <path d="M4.91797 6.75352H7.32302L6.11035 3.43262L4.91797 6.75352Z" fill="#374151"/>
          </svg>
          .flex.gap-x-2.items-center
            svg
              use(xlink:href="#other-screenshot-icon")
            p Старт
          .table__sort__separator /
          .flex.gap-x-2.items-center
            p 24 ч
          .table__sort__separator /
          .flex.gap-x-2.items-center
            p 48 ч
          .table__sort__separator /
          .flex.gap-x-2.items-center
            p 72 ч
      th
        .table__sort.flex.gap-x-1.items-center
          <svg width="12" height="12" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.2418 0H2.06003C1.51344 0.000672308 0.98947 0.218274 0.603213 0.605007C0.216956 0.991739 -4.13473e-07 1.51598 0 2.06256V10.2443C0 10.7913 0.217305 11.316 0.60411 11.7028C0.990916 12.0896 1.51554 12.3069 2.06256 12.3069H10.2418C10.7884 12.3069 11.3126 12.0899 11.6993 11.7037C12.0861 11.3174 12.3037 10.7934 12.3043 10.2468V2.06256C12.3043 1.51554 12.087 0.990916 11.7002 0.60411C11.3134 0.217305 10.7888 0 10.2418 0ZM8.65617 8.72213C8.61961 8.76038 8.57543 8.79054 8.52648 8.81064C8.47754 8.83074 8.42492 8.84035 8.37202 8.83883C8.31712 8.841 8.26245 8.83059 8.2122 8.80838C8.17072 8.78789 8.13433 8.75842 8.10564 8.72213C8.05499 8.6505 8.01324 8.57298 7.98133 8.49126C7.9289 8.36949 7.88323 8.26209 7.84433 8.16907L7.50438 7.27605H4.73907L4.39912 8.18175C4.33871 8.38107 4.25348 8.57199 4.14542 8.75003C4.1302 8.77033 4.08453 8.82868 3.91202 8.82868C3.86143 8.82878 3.81134 8.81873 3.76472 8.79912C3.71809 8.77951 3.67587 8.75074 3.64056 8.71451C3.60497 8.68506 3.57612 8.64829 3.55599 8.60671C3.53585 8.56512 3.5249 8.51969 3.52386 8.4735C3.52482 8.40626 3.53594 8.33954 3.55684 8.27562C3.5839 8.19105 3.62788 8.07266 3.68876 7.92044L5.38854 3.55177C5.43576 3.42649 5.49614 3.30659 5.56866 3.19405C5.62251 3.11394 5.6947 3.04784 5.77923 3.00124C5.88043 2.94991 5.99313 2.92545 6.1065 2.93021C6.22154 2.92503 6.33598 2.94949 6.43885 3.00124C6.52369 3.04726 6.59666 3.11241 6.65195 3.19152C6.71565 3.28358 6.76924 3.38225 6.81178 3.48581C6.85914 3.60251 6.92003 3.75895 6.99445 3.95515L8.59274 7.90268C8.68345 8.08399 8.74183 8.27974 8.76526 8.48111C8.7641 8.52654 8.75385 8.57127 8.73512 8.61267C8.71638 8.65406 8.68954 8.69128 8.65617 8.72213Z" fill="#374151"/>
            <path d="M4.91797 6.75352H7.32302L6.11035 3.43262L4.91797 6.75352Z" fill="#374151"/>
          </svg>
          p Показы
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-1.items-center
          <svg width="12" height="12" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.2418 0H2.06003C1.51344 0.000672308 0.98947 0.218274 0.603213 0.605007C0.216956 0.991739 -4.13473e-07 1.51598 0 2.06256V10.2443C0 10.7913 0.217305 11.316 0.60411 11.7028C0.990916 12.0896 1.51554 12.3069 2.06256 12.3069H10.2418C10.7884 12.3069 11.3126 12.0899 11.6993 11.7037C12.0861 11.3174 12.3037 10.7934 12.3043 10.2468V2.06256C12.3043 1.51554 12.087 0.990916 11.7002 0.60411C11.3134 0.217305 10.7888 0 10.2418 0ZM8.65617 8.72213C8.61961 8.76038 8.57543 8.79054 8.52648 8.81064C8.47754 8.83074 8.42492 8.84035 8.37202 8.83883C8.31712 8.841 8.26245 8.83059 8.2122 8.80838C8.17072 8.78789 8.13433 8.75842 8.10564 8.72213C8.05499 8.6505 8.01324 8.57298 7.98133 8.49126C7.9289 8.36949 7.88323 8.26209 7.84433 8.16907L7.50438 7.27605H4.73907L4.39912 8.18175C4.33871 8.38107 4.25348 8.57199 4.14542 8.75003C4.1302 8.77033 4.08453 8.82868 3.91202 8.82868C3.86143 8.82878 3.81134 8.81873 3.76472 8.79912C3.71809 8.77951 3.67587 8.75074 3.64056 8.71451C3.60497 8.68506 3.57612 8.64829 3.55599 8.60671C3.53585 8.56512 3.5249 8.51969 3.52386 8.4735C3.52482 8.40626 3.53594 8.33954 3.55684 8.27562C3.5839 8.19105 3.62788 8.07266 3.68876 7.92044L5.38854 3.55177C5.43576 3.42649 5.49614 3.30659 5.56866 3.19405C5.62251 3.11394 5.6947 3.04784 5.77923 3.00124C5.88043 2.94991 5.99313 2.92545 6.1065 2.93021C6.22154 2.92503 6.33598 2.94949 6.43885 3.00124C6.52369 3.04726 6.59666 3.11241 6.65195 3.19152C6.71565 3.28358 6.76924 3.38225 6.81178 3.48581C6.85914 3.60251 6.92003 3.75895 6.99445 3.95515L8.59274 7.90268C8.68345 8.08399 8.74183 8.27974 8.76526 8.48111C8.7641 8.52654 8.75385 8.57127 8.73512 8.61267C8.71638 8.65406 8.68954 8.69128 8.65617 8.72213Z" fill="#374151"/>
            <path d="M4.91797 6.75352H7.32302L6.11035 3.43262L4.91797 6.75352Z" fill="#374151"/>
          </svg>
          p Реакции
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-1.items-center
          <svg width="12" height="12" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.2418 0H2.06003C1.51344 0.000672308 0.98947 0.218274 0.603213 0.605007C0.216956 0.991739 -4.13473e-07 1.51598 0 2.06256V10.2443C0 10.7913 0.217305 11.316 0.60411 11.7028C0.990916 12.0896 1.51554 12.3069 2.06256 12.3069H10.2418C10.7884 12.3069 11.3126 12.0899 11.6993 11.7037C12.0861 11.3174 12.3037 10.7934 12.3043 10.2468V2.06256C12.3043 1.51554 12.087 0.990916 11.7002 0.60411C11.3134 0.217305 10.7888 0 10.2418 0ZM8.65617 8.72213C8.61961 8.76038 8.57543 8.79054 8.52648 8.81064C8.47754 8.83074 8.42492 8.84035 8.37202 8.83883C8.31712 8.841 8.26245 8.83059 8.2122 8.80838C8.17072 8.78789 8.13433 8.75842 8.10564 8.72213C8.05499 8.6505 8.01324 8.57298 7.98133 8.49126C7.9289 8.36949 7.88323 8.26209 7.84433 8.16907L7.50438 7.27605H4.73907L4.39912 8.18175C4.33871 8.38107 4.25348 8.57199 4.14542 8.75003C4.1302 8.77033 4.08453 8.82868 3.91202 8.82868C3.86143 8.82878 3.81134 8.81873 3.76472 8.79912C3.71809 8.77951 3.67587 8.75074 3.64056 8.71451C3.60497 8.68506 3.57612 8.64829 3.55599 8.60671C3.53585 8.56512 3.5249 8.51969 3.52386 8.4735C3.52482 8.40626 3.53594 8.33954 3.55684 8.27562C3.5839 8.19105 3.62788 8.07266 3.68876 7.92044L5.38854 3.55177C5.43576 3.42649 5.49614 3.30659 5.56866 3.19405C5.62251 3.11394 5.6947 3.04784 5.77923 3.00124C5.88043 2.94991 5.99313 2.92545 6.1065 2.93021C6.22154 2.92503 6.33598 2.94949 6.43885 3.00124C6.52369 3.04726 6.59666 3.11241 6.65195 3.19152C6.71565 3.28358 6.76924 3.38225 6.81178 3.48581C6.85914 3.60251 6.92003 3.75895 6.99445 3.95515L8.59274 7.90268C8.68345 8.08399 8.74183 8.27974 8.76526 8.48111C8.7641 8.52654 8.75385 8.57127 8.73512 8.61267C8.71638 8.65406 8.68954 8.69128 8.65617 8.72213Z" fill="#374151"/>
            <path d="M4.91797 6.75352H7.32302L6.11035 3.43262L4.91797 6.75352Z" fill="#374151"/>
          </svg>
          p Комментарии
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-1.items-center
          <svg width="12" height="12" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.2418 0H2.06003C1.51344 0.000672308 0.98947 0.218274 0.603213 0.605007C0.216956 0.991739 -4.13473e-07 1.51598 0 2.06256V10.2443C0 10.7913 0.217305 11.316 0.60411 11.7028C0.990916 12.0896 1.51554 12.3069 2.06256 12.3069H10.2418C10.7884 12.3069 11.3126 12.0899 11.6993 11.7037C12.0861 11.3174 12.3037 10.7934 12.3043 10.2468V2.06256C12.3043 1.51554 12.087 0.990916 11.7002 0.60411C11.3134 0.217305 10.7888 0 10.2418 0ZM8.65617 8.72213C8.61961 8.76038 8.57543 8.79054 8.52648 8.81064C8.47754 8.83074 8.42492 8.84035 8.37202 8.83883C8.31712 8.841 8.26245 8.83059 8.2122 8.80838C8.17072 8.78789 8.13433 8.75842 8.10564 8.72213C8.05499 8.6505 8.01324 8.57298 7.98133 8.49126C7.9289 8.36949 7.88323 8.26209 7.84433 8.16907L7.50438 7.27605H4.73907L4.39912 8.18175C4.33871 8.38107 4.25348 8.57199 4.14542 8.75003C4.1302 8.77033 4.08453 8.82868 3.91202 8.82868C3.86143 8.82878 3.81134 8.81873 3.76472 8.79912C3.71809 8.77951 3.67587 8.75074 3.64056 8.71451C3.60497 8.68506 3.57612 8.64829 3.55599 8.60671C3.53585 8.56512 3.5249 8.51969 3.52386 8.4735C3.52482 8.40626 3.53594 8.33954 3.55684 8.27562C3.5839 8.19105 3.62788 8.07266 3.68876 7.92044L5.38854 3.55177C5.43576 3.42649 5.49614 3.30659 5.56866 3.19405C5.62251 3.11394 5.6947 3.04784 5.77923 3.00124C5.88043 2.94991 5.99313 2.92545 6.1065 2.93021C6.22154 2.92503 6.33598 2.94949 6.43885 3.00124C6.52369 3.04726 6.59666 3.11241 6.65195 3.19152C6.71565 3.28358 6.76924 3.38225 6.81178 3.48581C6.85914 3.60251 6.92003 3.75895 6.99445 3.95515L8.59274 7.90268C8.68345 8.08399 8.74183 8.27974 8.76526 8.48111C8.7641 8.52654 8.75385 8.57127 8.73512 8.61267C8.71638 8.65406 8.68954 8.69128 8.65617 8.72213Z" fill="#374151"/>
            <path d="M4.91797 6.75352H7.32302L6.11035 3.43262L4.91797 6.75352Z" fill="#374151"/>
          </svg>
          p Репосты
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Комментарий
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
  tbody
    include row-process
    include row-process
    include row-process