table.table.table-default
  thead
    tr
      th
        .table__sort.flex.gap-x-2.items-center
          p Рекламная кампания
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Клиент
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Администратор
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Период
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center.justify-end
          p Кол-во постов
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center.justify-end
          p Ставка
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Статус РК
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
  tbody
    +advertising-campaigns-row({
      color: 'status-green',
      status: 'В работу',
    })
    include ./row-content
    +advertising-campaigns-row({
      color: 'status-blue',
      status: 'В работе',
    })
    include ./row-content
    +advertising-campaigns-row({
      color: 'status-red',
      status: 'Пауза',
    })
    include ./row-content
    +advertising-campaigns-row({
      color: 'status-gray',
      status: 'Завершено',
    })
    include ./row-content
    +advertising-campaigns-row({
      color: 'status-purple',
      status: 'Согласование',
    })
    include ./row-content
    +advertising-campaigns-row({
      color: 'status-red',
      status: 'Пауза',
    })
    include ./row-content
    +advertising-campaigns-row({
      color: 'status-gray',
      status: 'Завершено',
    })
    include ./row-content
    +advertising-campaigns-row({
      color: 'status-purple',
      status: 'Согласование',
    })
    include ./row-content
    +advertising-campaigns-row({
      color: 'status-purple',
      status: 'Согласование',
    })
    include ./row-content
    +advertising-campaigns-row({
      color: 'status-blue',
      status: 'В работе',
    })
    include ./row-content
    +advertising-campaigns-row({
      color: 'status-red',
      status: 'Пауза',
    })
    include ./row-content
    +advertising-campaigns-row({
      color: 'status-gray',
      status: 'Завершено',
    })
    include ./row-content
    +advertising-campaigns-row({
      color: 'status-purple',
      status: 'Согласование',
    })
    include ./row-content
    +advertising-campaigns-row({
      color: 'status-red',
      status: 'Пауза',
    })
    include ./row-content
    +advertising-campaigns-row({
      color: 'status-gray',
      status: 'Завершено',
    })
    include ./row-content
    +advertising-campaigns-row({
      color: 'status-purple',
      status: 'Согласование',
    })
    include ./row-content
    +advertising-campaigns-row({
      color: 'status-purple',
      status: 'Согласование',
    })
    include ./row-content
    +advertising-campaigns-row({
      color: 'status-red',
      status: 'Пауза',
    })
    include ./row-content
    +advertising-campaigns-row({
      color: 'status-gray',
      status: 'Завершено',
    })
    include ./row-content
    +advertising-campaigns-row({
      color: 'status-purple',
      status: 'Согласование',
    })
    include ./row-content