aside.content-aside
    .selectors
      .selector__buttons
        .selector__scroll
          button.selector__button(data-id="information").active Информация
          button.selector__button(data-id="chat") Чат
      .selector__containers.selector__content
        .selector__container(data-id="information").active
          .content-aside__container
            .content-aside__subtitle Общая информация
            table.table
              tr.text-black-200
                th Роль
                td Администратор
              tr
                th.text-black-200 Организация
                td
                  +dropdown({
                    buttons: [
                      {
                        class: 'cancel-all',
                        isChecked: true,
                        name: 'curator',
                        title: '—',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/user-image.png',
                        },
                        name: 'curator',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'curator',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'curator',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'curator',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'curator',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'curator',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'curator',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'curator',
                        title: 'ООО “ИП”',
                      },
                    ],
                    class: 'dropdown-radios dropdown-copy-image',
                    isRadios: true,
                    isSearch: true,
                    title: '—',
                  })
              tr
                th.text-black-200 Почта
                td
                  +input({
                    autocomplete: 'off',
                    class: '',
                    name: 'email',
                    placeholder: 'Введите почту...',
                    type: 'email',
                    value: 'andreykarp@gmail.com',
                  })
              tr
                th.text-black-200 Телефон
                td
                  +input({
                    autocomplete: 'off',
                    class: '',
                    name: 'phone',
                    placeholder: '+7',
                    type: 'tel',
                    value: '+7 (916)-317-04-69',
                  })
            .content-aside__subtitle Внутренняя информация
            table.table
              tr.text-black-200
                th Менеджер
                td
                  +dropdown({
                    checkboxes: [
                      {
                        class: 'check-all',
                        title: 'Все',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/user-image.png',
                        },
                        name: 'manager',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'manager',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'manager',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'manager',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'manager',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'manager',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'manager',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'manager',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'manager',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'manager',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'manager',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'manager',
                        title: 'ООО “ИП”',
                      },
                      {
                        class: '',
                        image: {
                          alt: 'image',
                          enabled: true,
                          src: '/assets/images/avatar.png',
                        },
                        name: 'manager',
                        title: 'ООО “ИП”',
                      },
                    ],
                    class: 'dropdown-checkboxes-images',
                    isCheckboxes: true,
                    title: '—',
                  })
              tr.text-black-200
                th Автор
                td
                  .flex.items-center(class="gap-x-1.5")
                    img.rounded(class="w-6 h-6" src="/assets/images/avatar.png" alt="tg-channel")
                    .text-12-r-p Андрей Миронов
              tr.text-black-200
                th Дата создания
                td 12.12.2023 в 16:45
              tr.text-black-200
                th Приоритет
                td
                  +dropdown({
                    buttons: [
                      {
                        color: 'priority-transparent',
                        isChecked: true,
                        name: 'priority',
                        title: '—',
                      },
                      {
                        color: 'priority-red',
                        name: 'priority',
                        title: 'Очень высокий',
                      },
                      {
                        color: 'priority-pink',
                        name: 'priority',
                        title: 'Высокий',
                      },
                      {
                        color: 'priority-orange',
                        name: 'priority',
                        title: 'Средний',
                      },
                      {
                        color: 'priority-peach',
                        name: 'priority',
                        title: 'Низкий',
                      },
                      {
                        color: 'priority-yellow',
                        name: 'priority',
                        title: 'Очень низкий',
                      },
                    ],
                    class: 'dropdown-priority',
                    color: 'priority-transparent',
                    isButtons: true,
                    isPriority: true,
                    title: '—',
                  })
            .content-aside__subtitle Поле для комментария
            +input({
              class: 'content-aside__textarea',
              isTextarea: true,
              label: '',
              name: 'comment',
              placeholder: 'Добавить комментарий...',
            })
            .content-aside__subtitle Дополнительные материалы
              +dropdown({
                buttons: [
                  {
                    dataPopupName: 'add-link-links',
                    icon: 'other-attachment-icon',
                    title: 'Ссылка',
                  },
                  {
                    dataIdFile: 'add-upload-files',
                    icon: 'other-new-file-icon',
                    isFileUpload: true,
                    title: 'Файл',
                  },
                ],
                class: 'dropdown-singleselect',
                icon: 'other-add-file-icon',
                isButtons: true,
                isSingleSelect: true,
                subtitle: 'Добавить',
              })
            .accordions
              .accordion
                .accordion__button(data-id="links")
                  p Ссылки
                    span.accordion__count 2
                  +button({
                    class: 'button-icon sm',
                    icon: 'other-angle-down-icon',
                    isOnlyIcon: true,
                    view: 'button',
                  })
                .accordion__container(data-id="links")
                  .accordion__item
                    .accordion__left
                      .accordion__left__container
                        .accordion__icon.accordion__icon-sm
                          svg
                            use(xlink:href="#other-attachment-icon")
                        a(href="https://app.asana.com/" target="_blank") https://app.asana.com/
                        time 24 янв. 15:10
                    .accordion__right
                      +button({
                        class: 'button-icon accordion__action accordion__copy',
                        icon: 'other-copy-icon',
                        isOnlyIcon: true,
                        view: 'button',
                      })
                      +button({
                        class: 'button-icon accordion__action',
                        dataPopupName: 'delete-link',
                        icon: 'other-trash-icon',
                        isOnlyIcon: true,
                        view: 'button',
                      })
                  .accordion__item
                    .accordion__left
                      .accordion__left__container
                        .accordion__icon.accordion__icon-sm
                          svg
                            use(xlink:href="#other-attachment-icon")
                        a(href="https://app.asana.com/" target="_blank") https://app.asana.com/
                        time 24 янв. 15:10
                    .accordion__right
                      +button({
                        class: 'button-icon accordion__action accordion__copy',
                        icon: 'other-copy-icon',
                        isOnlyIcon: true,
                        view: 'button',
                      })
                      +button({
                        class: 'button-icon accordion__action',
                        dataPopupName: 'delete-link',
                        icon: 'other-trash-icon',
                        isOnlyIcon: true,
                        view: 'button',
                      })
              .accordion
                .accordion__button(data-id="files")
                  p Файлы
                    span.accordion__count 2
                  +button({
                    class: 'button-icon sm',
                    icon: 'other-angle-down-icon',
                    isOnlyIcon: true,
                    view: 'button',
                  })
                .accordion__container(data-id="files")
                  .accordion__item
                    .accordion__left
                      .accordion__left__container
                        .accordion__icon.accordion__icon-sm
                          svg
                            use(xlink:href="#other-file-icon")
                        a(href="#" download) Креативы.zip
                        time 54 KB • 24 янв. 15:10
                    .accordion__right
                      +button({
                        class: 'button-icon accordion__action',
                        href: '#',
                        icon: 'other-download-icon',
                        isDownload: true,
                        isOnlyIcon: true,
                        view: 'link',
                      })
                      +button({
                        class: 'button-icon accordion__action',
                        dataPopupName: 'delete-file',
                        icon: 'other-trash-icon',
                        isOnlyIcon: true,
                        view: 'button',
                      })
                  .accordion__item
                    .accordion__left
                      .accordion__left__container
                        .accordion__icon.accordion__icon-sm
                          svg
                            use(xlink:href="#other-file-icon")
                        a(href="#" download) Креативы new.zip
                        time 54 KB • 24 янв. 15:10
                    .accordion__right
                      +button({
                        class: 'button-icon accordion__action',
                        href: '#',
                        icon: 'other-download-icon',
                        isDownload: true,
                        isOnlyIcon: true,
                        view: 'link',
                      })
                      +button({
                        class: 'button-icon accordion__action',
                        dataPopupName: 'delete-file',
                        icon: 'other-trash-icon',
                        isOnlyIcon: true,
                        view: 'button',
                      })
        .selector__container(data-id="chat")
          .my-6.text-14-sb-p.text-black-400 В разработке