tr
  td.only-text 20.04.2024
  td.only-text 15:26
  td.only-text-sm(class="min-w-[311px]")
    .table__publication__text
      span
        .button(data-popup-name="post")
          <div class="table__categories"><svg viewBox="0 0 16 16" width="16" height="16"><use xlink:href="#label-policy-icon"></use></svg><svg viewBox="0 0 16 16" width="16" height="16"><use xlink:href="#label-policy-icon"></use></svg><svg viewBox="0 0 16 16" width="16" height="16"><use xlink:href="#label-policy-icon"></use></svg></div> 🥤 Белую колу со вкусом пломбира и ванили изобрели в России. И её уже мо в России. И её уже мо в России. И её уже мо
  td.only-text
    .flex.gap-x-1.items-center
      svg
        use(xlink:href="#other-video-icon")
      svg
        use(xlink:href="#other-illustration-icon")
      svg
        use(xlink:href="#other-survey-icon")
  td.only-text
    .grid(class="grid-cols-[78px_90px_78px]")
      span.flex-1.text-center.border-r.border-black-500 0,1%
      span.flex-1.text-center.border-r.border-black-500 11,01%
      span.flex-1.text-center 5%