extends ./layouts/master

block title
  title Топ Трафик | Список страниц

block basicSeo
  meta(content="Список страниц" name="description")
  meta(content="Список страниц" name="keywords")
  meta(content="Список страниц" property="og:title")
  meta(content="Список страниц" name="twitter:title")

block manifestBrowserconfigFiles
  link(href="./manifest.json" rel="manifest" crossorigin)
  meta(content="./browserconfig.xml" name="msapplication-config")

block content
  main.p-4
    .flex.flex-col.gap-y-2.items-start.p-4.border.rounded-md.mb-4
      h2.text-2xl.font-bold.pb-4.border-b.w-full.mb-2 Список страниц
      .flex.gap-x-2.text-sm
        span Компоненты
        span -
        a(href="/components/" target="_blank").text-blue-200 /components/
      .flex.gap-x-2.text-sm
        span Авторизация
        span -
        a(href="/login/" target="_blank").text-blue-200 /login/
      .flex.gap-x-2.text-sm
        span Справочник каналов
        span -
        a(href="/channels/" target="_blank").text-blue-200 /channels/
      .flex.gap-x-2.text-sm
        span Администраторы
        span -
        a(href="/admins/" target="_blank").text-blue-200 /admins/
      .flex.gap-x-2.text-sm
        span Рекламные кампании
        span -
        a(href="/companies/" target="_blank").text-blue-200 /companies/