tr(class="z-[3] relative").bills-group
  td.fixed-td.fixed-td-border
    .flex.items-center.gap-4(class="pr-2.5").bg-white-000.pl-3.-ml-3
      .bills-group__toggle(class="min-w-[177px] h-[46px]")
        label
          input(type="checkbox" name="bills-group")
          span
        p Счет ИП Смирнов (краткий)
      div(class="min-w-[147px]")
        <a href="#" class="status status-brown need-details">Требуется договор<i data-status-tip="Для краткой формы счета нужен договор.&#10;Скачайте шаблон по клику.&#10;Подписанный договор приложите&#10;в карточку контрагента в Мегаплане."></i></a>
      <div class="dropdown dropdown-base">
        <div class="dropdown__container">
          <div class="dropdown__button">
            <div class="dropdown__inner">
              <a href="#" class="dropdown__inner-formlink">
                <svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.8125 16.125H2.8125C2.06682 16.1242 1.35191 15.8276 0.824639 15.3004C0.297365 14.7731 0.00079412 14.0582 0 13.3125V2.8125C0.00079412 2.06682 0.297365 1.35191 0.824639 0.824639C1.35191 0.297365 2.06682 0.00079412 2.8125 0H9.2625C9.67432 7.8943e-05 10.0811 0.0908357 10.4539 0.265824C10.8266 0.440813 11.1563 0.69574 11.4195 1.0125L13.9733 4.077C14.394 4.58252 14.6245 5.21931 14.625 5.877V13.3125C14.6242 14.0582 14.3276 14.7731 13.8004 15.3004C13.2731 15.8276 12.5582 16.1242 11.8125 16.125ZM2.8125 1.125C2.36507 1.1254 1.93608 1.30331 1.6197 1.6197C1.30331 1.93608 1.1254 2.36507 1.125 2.8125V13.3125C1.1254 13.7599 1.30331 14.1889 1.6197 14.5053C1.93608 14.8217 2.36507 14.9996 2.8125 15H11.8125C12.2599 14.9996 12.6889 14.8217 13.0053 14.5053C13.3217 14.1889 13.4996 13.7599 13.5 13.3125V5.877C13.4998 5.48243 13.3615 5.10037 13.1093 4.797L10.5548 1.7325C10.3972 1.54254 10.1997 1.38962 9.97638 1.28462C9.75303 1.17963 9.5093 1.12513 9.2625 1.125H2.8125Z" fill="#959BA4"/>
                  <path d="M13.9125 5.62422H11.8125C11.2657 5.62362 10.7414 5.40613 10.3548 5.01947C9.96809 4.6328 9.7506 4.10854 9.75 3.56172V0.824219C9.75 0.675034 9.80926 0.53196 9.91475 0.426471C10.0202 0.320982 10.1633 0.261719 10.3125 0.261719C10.4617 0.261719 10.6048 0.320982 10.7102 0.426471C10.8157 0.53196 10.875 0.675034 10.875 0.824219V3.56172C10.8754 3.81024 10.9743 4.04846 11.15 4.22419C11.3258 4.39992 11.564 4.49882 11.8125 4.49922H13.9125C14.0617 4.49922 14.2048 4.55848 14.3102 4.66397C14.4157 4.76946 14.475 4.91253 14.475 5.06172C14.475 5.2109 14.4157 5.35398 14.3102 5.45947C14.2048 5.56495 14.0617 5.62422 13.9125 5.62422ZM10.3125 8.62422H4.3125C4.16332 8.62422 4.02024 8.56495 3.91475 8.45947C3.80926 8.35398 3.75 8.2109 3.75 8.06172C3.75 7.91253 3.80926 7.76946 3.91475 7.66397C4.02024 7.55848 4.16332 7.49922 4.3125 7.49922H10.3125C10.4617 7.49922 10.6048 7.55848 10.7102 7.66397C10.8157 7.76946 10.875 7.91253 10.875 8.06172C10.875 8.2109 10.8157 8.35398 10.7102 8.45947C10.6048 8.56495 10.4617 8.62422 10.3125 8.62422ZM7.3125 11.6242H4.3125C4.16332 11.6242 4.02024 11.565 3.91475 11.4595C3.80926 11.354 3.75 11.2109 3.75 11.0617C3.75 10.9125 3.80926 10.7695 3.91475 10.664C4.02024 10.5585 4.16332 10.4992 4.3125 10.4992H7.3125C7.46168 10.4992 7.60476 10.5585 7.71025 10.664C7.81574 10.7695 7.875 10.9125 7.875 11.0617C7.875 11.2109 7.81574 11.354 7.71025 11.4595C7.60476 11.565 7.46168 11.6242 7.3125 11.6242Z" fill="#959BA4"/>
                </svg>
              </a>
              <div class="dropdown__title">Краткая (для договора)</div>
            </div>
            <button class="button button-icon sm" type="button" aria-label="button">
              <svg viewBox="0 0 10 6" width="10" height="6">
                <use xlink:href="#other-angle-down-icon"></use>
              </svg>
            </button>
          </div>
          <div class="dropdown__list">
            <div class="dropdown__items">
              <label class="dropdown__item">
                <input type="radio" name="radio-bill-format" checked="">
                <p>Краткая (для договора)</p>
                <span></span>
              </label>
              <label class="dropdown__item">
                <input type="radio" name="radio-bill-format">
                <p>Счет-оферта (полн.)</p>
                <span></span>
              </label>
              <label class="dropdown__item">
                <input type="radio" name="radio-bill-format">
                <p>Счет-оферта (сокр.)</p>
                <span></span>
              </label>
            </div>
          </div>
        </div>
      </div>
  td.only-text Декабрь 2025
  td.only-text 210 520 ₽
  td.only-text 20%
  td.only-text.text-right 2
  td.only-text
    .flex.items-center.gap-x-1 Информационный, Рекламный
      button(type="button" class="-mt-1").table-alert
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M13.5055 14.8569H2.4932C2.15362 14.857 1.82008 14.7622 1.52654 14.5821C1.233 14.402 0.989964 14.143 0.822179 13.8315C0.654394 13.5201 0.56786 13.1673 0.571393 12.809C0.574926 12.4508 0.668398 12.1 0.842289 11.7923L6.19753 2.22576C6.38294 1.89573 6.6466 1.6223 6.96256 1.43238C7.27852 1.24245 7.63591 1.14258 7.99956 1.14258C8.36321 1.14258 8.7206 1.24245 9.03656 1.43238C9.35252 1.6223 9.61618 1.89573 9.80159 2.22576L15.1587 11.7962C15.3361 12.1083 15.4294 12.4657 15.4284 12.8296C15.4278 13.3673 15.225 13.8828 14.8644 14.2629C14.5039 14.643 14.0151 14.8566 13.5055 14.8569Z" fill="#FFC658"/>
          <path d="M7.99902 10.9248C8.45466 10.9248 8.82422 11.2944 8.82422 11.75C8.82422 12.2056 8.45466 12.5752 7.99902 12.5752C7.54339 12.5752 7.17383 12.2056 7.17383 11.75C7.17383 11.2944 7.54339 10.9248 7.99902 10.9248Z" fill="#374151" stroke="#374151" stroke-width="0.15"/>
          <path d="M8 4.4248C8.1525 4.4248 8.29842 4.48592 8.40625 4.59375C8.51408 4.70158 8.5752 4.8475 8.5752 5V9.5C8.5752 9.6525 8.51408 9.79842 8.40625 9.90625C8.29842 10.0141 8.1525 10.0752 8 10.0752C7.8475 10.0752 7.70158 10.0141 7.59375 9.90625C7.48592 9.79842 7.4248 9.6525 7.4248 9.5V5C7.4248 4.8475 7.48592 4.70158 7.59375 4.59375C7.70158 4.48592 7.8475 4.4248 8 4.4248Z" fill="#374151" stroke="#374151" stroke-width="0.15"/>
        </svg>
        i(data-status-tip="Некорректно заполнены данные")
  td.only-text 01.10.2025 15:35
  td.only-text 05.10.2025
  td
    .grid.items-center(class="gap-x-1.5 grid-cols-[30px_1fr]")
      img.rounded.object-cover(class="w-[30px] h-[30px]" src="/assets/images/avatar.png" alt="tg-channel")
      span Илья Сорокин
  td.only-text ИП Смирнов
  td.only-text
    button(type="button").table-alert
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.5055 14.8569H2.4932C2.15362 14.857 1.82008 14.7622 1.52654 14.5821C1.233 14.402 0.989964 14.143 0.822179 13.8315C0.654394 13.5201 0.56786 13.1673 0.571393 12.809C0.574926 12.4508 0.668398 12.1 0.842289 11.7923L6.19753 2.22576C6.38294 1.89573 6.6466 1.6223 6.96256 1.43238C7.27852 1.24245 7.63591 1.14258 7.99956 1.14258C8.36321 1.14258 8.7206 1.24245 9.03656 1.43238C9.35252 1.6223 9.61618 1.89573 9.80159 2.22576L15.1587 11.7962C15.3361 12.1083 15.4294 12.4657 15.4284 12.8296C15.4278 13.3673 15.225 13.8828 14.8644 14.2629C14.5039 14.643 14.0151 14.8566 13.5055 14.8569Z" fill="#FFC658"/>
        <path d="M7.99902 10.9248C8.45466 10.9248 8.82422 11.2944 8.82422 11.75C8.82422 12.2056 8.45466 12.5752 7.99902 12.5752C7.54339 12.5752 7.17383 12.2056 7.17383 11.75C7.17383 11.2944 7.54339 10.9248 7.99902 10.9248Z" fill="#374151" stroke="#374151" stroke-width="0.15"/>
        <path d="M8 4.4248C8.1525 4.4248 8.29842 4.48592 8.40625 4.59375C8.51408 4.70158 8.5752 4.8475 8.5752 5V9.5C8.5752 9.6525 8.51408 9.79842 8.40625 9.90625C8.29842 10.0141 8.1525 10.0752 8 10.0752C7.8475 10.0752 7.70158 10.0141 7.59375 9.90625C7.48592 9.79842 7.4248 9.6525 7.4248 9.5V5C7.4248 4.8475 7.48592 4.70158 7.59375 4.59375C7.70158 4.48592 7.8475 4.4248 8 4.4248Z" fill="#374151" stroke="#374151" stroke-width="0.15"/>
      </svg>
      i(data-status-tip="Некорректно заполнены данные")
  td.only-text АО «Т-Банк»
  td.only-text 01619892840817810500
  td.only-text 00009743010181014525
  td.only-text 044525974
  td.only-text 59722
  td.only-text ООО “Медиаагентство ТТ”
  td
    +input({
      class: 'table__comment',
      name: 'comment',
      placeholder: 'Добавить комментарий...',
    })
include row-content-popup-generated
tr(class="z-[2] relative").bills-group
  td.fixed-td.fixed-td-border
    .flex.items-center.gap-4(class="pr-2.5").bg-white-000.pl-3.-ml-3
      .bills-group__toggle(class="min-w-[177px] h-[46px]")
        label
          input(type="checkbox" name="bills-group")
          span
        p Счет ИП Смирнов (краткий)
      div(class="min-w-[147px]")
        <a href="#" class="status status-blue loaded">№1233333</a>
      <div class="dropdown dropdown-base">
        <div class="dropdown__container">
          <div class="dropdown__button">
            <div class="dropdown__inner">
              <a href="#" class="dropdown__inner-formlink">
                <svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.8125 16.125H2.8125C2.06682 16.1242 1.35191 15.8276 0.824639 15.3004C0.297365 14.7731 0.00079412 14.0582 0 13.3125V2.8125C0.00079412 2.06682 0.297365 1.35191 0.824639 0.824639C1.35191 0.297365 2.06682 0.00079412 2.8125 0H9.2625C9.67432 7.8943e-05 10.0811 0.0908357 10.4539 0.265824C10.8266 0.440813 11.1563 0.69574 11.4195 1.0125L13.9733 4.077C14.394 4.58252 14.6245 5.21931 14.625 5.877V13.3125C14.6242 14.0582 14.3276 14.7731 13.8004 15.3004C13.2731 15.8276 12.5582 16.1242 11.8125 16.125ZM2.8125 1.125C2.36507 1.1254 1.93608 1.30331 1.6197 1.6197C1.30331 1.93608 1.1254 2.36507 1.125 2.8125V13.3125C1.1254 13.7599 1.30331 14.1889 1.6197 14.5053C1.93608 14.8217 2.36507 14.9996 2.8125 15H11.8125C12.2599 14.9996 12.6889 14.8217 13.0053 14.5053C13.3217 14.1889 13.4996 13.7599 13.5 13.3125V5.877C13.4998 5.48243 13.3615 5.10037 13.1093 4.797L10.5548 1.7325C10.3972 1.54254 10.1997 1.38962 9.97638 1.28462C9.75303 1.17963 9.5093 1.12513 9.2625 1.125H2.8125Z" fill="#959BA4"/>
                  <path d="M13.9125 5.62422H11.8125C11.2657 5.62362 10.7414 5.40613 10.3548 5.01947C9.96809 4.6328 9.7506 4.10854 9.75 3.56172V0.824219C9.75 0.675034 9.80926 0.53196 9.91475 0.426471C10.0202 0.320982 10.1633 0.261719 10.3125 0.261719C10.4617 0.261719 10.6048 0.320982 10.7102 0.426471C10.8157 0.53196 10.875 0.675034 10.875 0.824219V3.56172C10.8754 3.81024 10.9743 4.04846 11.15 4.22419C11.3258 4.39992 11.564 4.49882 11.8125 4.49922H13.9125C14.0617 4.49922 14.2048 4.55848 14.3102 4.66397C14.4157 4.76946 14.475 4.91253 14.475 5.06172C14.475 5.2109 14.4157 5.35398 14.3102 5.45947C14.2048 5.56495 14.0617 5.62422 13.9125 5.62422ZM10.3125 8.62422H4.3125C4.16332 8.62422 4.02024 8.56495 3.91475 8.45947C3.80926 8.35398 3.75 8.2109 3.75 8.06172C3.75 7.91253 3.80926 7.76946 3.91475 7.66397C4.02024 7.55848 4.16332 7.49922 4.3125 7.49922H10.3125C10.4617 7.49922 10.6048 7.55848 10.7102 7.66397C10.8157 7.76946 10.875 7.91253 10.875 8.06172C10.875 8.2109 10.8157 8.35398 10.7102 8.45947C10.6048 8.56495 10.4617 8.62422 10.3125 8.62422ZM7.3125 11.6242H4.3125C4.16332 11.6242 4.02024 11.565 3.91475 11.4595C3.80926 11.354 3.75 11.2109 3.75 11.0617C3.75 10.9125 3.80926 10.7695 3.91475 10.664C4.02024 10.5585 4.16332 10.4992 4.3125 10.4992H7.3125C7.46168 10.4992 7.60476 10.5585 7.71025 10.664C7.81574 10.7695 7.875 10.9125 7.875 11.0617C7.875 11.2109 7.81574 11.354 7.71025 11.4595C7.60476 11.565 7.46168 11.6242 7.3125 11.6242Z" fill="#959BA4"/>
                </svg>
              </a>
              <div class="dropdown__title">Краткая (для договора)</div>
            </div>
            <button class="button button-icon sm" type="button" aria-label="button">
              <svg viewBox="0 0 10 6" width="10" height="6">
                <use xlink:href="#other-angle-down-icon"></use>
              </svg>
            </button>
          </div>
          <div class="dropdown__list">
            <div class="dropdown__items">
              <label class="dropdown__item">
                <input type="radio" name="radio-bill-format" checked="">
                <p>Краткая (для договора)</p>
                <span></span>
              </label>
              <label class="dropdown__item">
                <input type="radio" name="radio-bill-format">
                <p>Счет-оферта (полн.)</p>
                <span></span>
              </label>
              <label class="dropdown__item">
                <input type="radio" name="radio-bill-format">
                <p>Счет-оферта (сокр.)</p>
                <span></span>
              </label>
            </div>
          </div>
        </div>
      </div>
  td.only-text Декабрь 2025
  td.only-text 210 520 ₽
  td.only-text 20%
  td.only-text.text-right 2
  td.only-text
    .flex.items-center.gap-x-1 Рекламный
  td.only-text 01.10.2025 15:35
  td.only-text 05.10.2025
  td
    .grid.items-center(class="gap-x-1.5 grid-cols-[30px_1fr]")
      img.rounded.object-cover(class="w-[30px] h-[30px]" src="/assets/images/avatar.png" alt="tg-channel")
      span Илья Сорокин
  td.only-text ИП Смирнов
  td.only-text 7731772837
  td.only-text АО «Т-Банк»
  td.only-text 01619892840817810500
  td.only-text 00009743010181014525
  td.only-text 044525974
  td.only-text 59722
  td.only-text ООО “Медиаагентство ТТ”
  td
    +input({
      class: 'table__comment',
      name: 'comment',
      placeholder: 'Добавить комментарий...',
    })
include row-content-popup-generated
tr(class="z-[1] relative").bills-group
  td.fixed-td.fixed-td-border
    .flex.items-center.gap-4(class="pr-2.5").bg-white-000.pl-3.-ml-3
      .bills-group__toggle(class="min-w-[177px] h-[46px]")
        label
          input(type="checkbox" name="bills-group")
          span
        p Счет ИП Смирнов (краткий)
      div(class="min-w-[147px]")
        <a href="#" class="status status-blue no-contract">Нет договора<i data-status-tip="Скачайте шаблон по клику.&#10;Подписанный договор приложите&#10;в карточку контрагента в Мегаплане."></i></a>
      <div class="dropdown dropdown-base">
        <div class="dropdown__container">
          <div class="dropdown__button">
            <div class="dropdown__inner">
              <a href="#" class="dropdown__inner-formlink">
                <svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.8125 16.125H2.8125C2.06682 16.1242 1.35191 15.8276 0.824639 15.3004C0.297365 14.7731 0.00079412 14.0582 0 13.3125V2.8125C0.00079412 2.06682 0.297365 1.35191 0.824639 0.824639C1.35191 0.297365 2.06682 0.00079412 2.8125 0H9.2625C9.67432 7.8943e-05 10.0811 0.0908357 10.4539 0.265824C10.8266 0.440813 11.1563 0.69574 11.4195 1.0125L13.9733 4.077C14.394 4.58252 14.6245 5.21931 14.625 5.877V13.3125C14.6242 14.0582 14.3276 14.7731 13.8004 15.3004C13.2731 15.8276 12.5582 16.1242 11.8125 16.125ZM2.8125 1.125C2.36507 1.1254 1.93608 1.30331 1.6197 1.6197C1.30331 1.93608 1.1254 2.36507 1.125 2.8125V13.3125C1.1254 13.7599 1.30331 14.1889 1.6197 14.5053C1.93608 14.8217 2.36507 14.9996 2.8125 15H11.8125C12.2599 14.9996 12.6889 14.8217 13.0053 14.5053C13.3217 14.1889 13.4996 13.7599 13.5 13.3125V5.877C13.4998 5.48243 13.3615 5.10037 13.1093 4.797L10.5548 1.7325C10.3972 1.54254 10.1997 1.38962 9.97638 1.28462C9.75303 1.17963 9.5093 1.12513 9.2625 1.125H2.8125Z" fill="#959BA4"/>
                  <path d="M13.9125 5.62422H11.8125C11.2657 5.62362 10.7414 5.40613 10.3548 5.01947C9.96809 4.6328 9.7506 4.10854 9.75 3.56172V0.824219C9.75 0.675034 9.80926 0.53196 9.91475 0.426471C10.0202 0.320982 10.1633 0.261719 10.3125 0.261719C10.4617 0.261719 10.6048 0.320982 10.7102 0.426471C10.8157 0.53196 10.875 0.675034 10.875 0.824219V3.56172C10.8754 3.81024 10.9743 4.04846 11.15 4.22419C11.3258 4.39992 11.564 4.49882 11.8125 4.49922H13.9125C14.0617 4.49922 14.2048 4.55848 14.3102 4.66397C14.4157 4.76946 14.475 4.91253 14.475 5.06172C14.475 5.2109 14.4157 5.35398 14.3102 5.45947C14.2048 5.56495 14.0617 5.62422 13.9125 5.62422ZM10.3125 8.62422H4.3125C4.16332 8.62422 4.02024 8.56495 3.91475 8.45947C3.80926 8.35398 3.75 8.2109 3.75 8.06172C3.75 7.91253 3.80926 7.76946 3.91475 7.66397C4.02024 7.55848 4.16332 7.49922 4.3125 7.49922H10.3125C10.4617 7.49922 10.6048 7.55848 10.7102 7.66397C10.8157 7.76946 10.875 7.91253 10.875 8.06172C10.875 8.2109 10.8157 8.35398 10.7102 8.45947C10.6048 8.56495 10.4617 8.62422 10.3125 8.62422ZM7.3125 11.6242H4.3125C4.16332 11.6242 4.02024 11.565 3.91475 11.4595C3.80926 11.354 3.75 11.2109 3.75 11.0617C3.75 10.9125 3.80926 10.7695 3.91475 10.664C4.02024 10.5585 4.16332 10.4992 4.3125 10.4992H7.3125C7.46168 10.4992 7.60476 10.5585 7.71025 10.664C7.81574 10.7695 7.875 10.9125 7.875 11.0617C7.875 11.2109 7.81574 11.354 7.71025 11.4595C7.60476 11.565 7.46168 11.6242 7.3125 11.6242Z" fill="#959BA4"/>
                </svg>
              </a>
              <div class="dropdown__title">Краткая (для договора)</div>
            </div>
            <button class="button button-icon sm" type="button" aria-label="button">
              <svg viewBox="0 0 10 6" width="10" height="6">
                <use xlink:href="#other-angle-down-icon"></use>
              </svg>
            </button>
          </div>
          <div class="dropdown__list">
            <div class="dropdown__items">
              <label class="dropdown__item">
                <input type="radio" name="radio-bill-format" checked="">
                <p>Краткая (для договора)</p>
                <span></span>
              </label>
              <label class="dropdown__item">
                <input type="radio" name="radio-bill-format">
                <p>Счет-оферта (полн.)</p>
                <span></span>
              </label>
              <label class="dropdown__item">
                <input type="radio" name="radio-bill-format">
                <p>Счет-оферта (сокр.)</p>
                <span></span>
              </label>
            </div>
          </div>
        </div>
      </div>
  td.only-text Декабрь 2025
  td.only-text 210 520 ₽
  td.only-text 20%
  td.only-text.text-right 1
  td.only-text
    .flex.items-center.gap-x-1 Информационный, Рекламный
      button(type="button" class="-mt-1").table-alert
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M13.5055 14.8569H2.4932C2.15362 14.857 1.82008 14.7622 1.52654 14.5821C1.233 14.402 0.989964 14.143 0.822179 13.8315C0.654394 13.5201 0.56786 13.1673 0.571393 12.809C0.574926 12.4508 0.668398 12.1 0.842289 11.7923L6.19753 2.22576C6.38294 1.89573 6.6466 1.6223 6.96256 1.43238C7.27852 1.24245 7.63591 1.14258 7.99956 1.14258C8.36321 1.14258 8.7206 1.24245 9.03656 1.43238C9.35252 1.6223 9.61618 1.89573 9.80159 2.22576L15.1587 11.7962C15.3361 12.1083 15.4294 12.4657 15.4284 12.8296C15.4278 13.3673 15.225 13.8828 14.8644 14.2629C14.5039 14.643 14.0151 14.8566 13.5055 14.8569Z" fill="#FFC658"/>
          <path d="M7.99902 10.9248C8.45466 10.9248 8.82422 11.2944 8.82422 11.75C8.82422 12.2056 8.45466 12.5752 7.99902 12.5752C7.54339 12.5752 7.17383 12.2056 7.17383 11.75C7.17383 11.2944 7.54339 10.9248 7.99902 10.9248Z" fill="#374151" stroke="#374151" stroke-width="0.15"/>
          <path d="M8 4.4248C8.1525 4.4248 8.29842 4.48592 8.40625 4.59375C8.51408 4.70158 8.5752 4.8475 8.5752 5V9.5C8.5752 9.6525 8.51408 9.79842 8.40625 9.90625C8.29842 10.0141 8.1525 10.0752 8 10.0752C7.8475 10.0752 7.70158 10.0141 7.59375 9.90625C7.48592 9.79842 7.4248 9.6525 7.4248 9.5V5C7.4248 4.8475 7.48592 4.70158 7.59375 4.59375C7.70158 4.48592 7.8475 4.4248 8 4.4248Z" fill="#374151" stroke="#374151" stroke-width="0.15"/>
        </svg>
        i(data-status-tip="Некорректно заполнены данные")
  td.only-text 01.10.2025 15:35
  td.only-text 05.10.2025
  td
    .grid.items-center(class="gap-x-1.5 grid-cols-[30px_1fr]")
      img.rounded.object-cover(class="w-[30px] h-[30px]" src="/assets/images/avatar.png" alt="tg-channel")
      span Илья Сорокин
  td.only-text ИП Смирнов
  td.only-text 7731772837
  td.only-text АО «Т-Банк»
  td.only-text 01619892840817810500
  td.only-text 00009743010181014525
  td.only-text 044525974
  td.only-text 59722
  td.only-text ООО “Медиаагентство ТТ”
  td
    +input({
      class: 'table__comment',
      name: 'comment',
      placeholder: 'Добавить комментарий...',
    })
include row-content-popup-generated