tr.bills-row
  td.bills-group__table(colspan="5")
    .table-outer
      table.table.table-default.table-blue
        thead
          tr
            th
              .table__sort.grid(class="grid-cols-[31px_1fr]")
                p Канал
                  button(type="button").table__sortbutton
                    svg
                      use(xlink:href="#other-sort-icon")
            th
              .table__sort.flex.gap-x-2.items-center
                p Администратор
                  button(type="button").table__sortbutton
                    svg
                      use(xlink:href="#other-sort-icon")
            th
              .table__sort.flex.gap-x-2.items-center.justify-end
                p Кол-во постов
                  button(type="button").table__sortbutton
                    svg
                      use(xlink:href="#other-sort-icon")
            th
              .table__sort.flex.gap-x-2.items-center
                p Дата старта
                  button(type="button").table__sortbutton
                    svg
                      use(xlink:href="#other-sort-icon")
            th
              .table__sort.flex.gap-x-2.items-center
                p Тип размещения
                  button(type="button").table__sortbutton
                    svg
                      use(xlink:href="#other-sort-icon")
        tbody(class="relative")
          tr
            td
              .flex.items-center.w-full(class="gap-x-3 h-[33px]")
                .flex.items-center(class="gap-x-1.5")
                  img.rounded.object-cover(class="w-[30px] h-[30px]" src="/assets/images/avatar.png" alt="tg-channel")
                  .flex.flex-col.items-start
                    h3
                      a(href="#").table__channel ZeroDay | Кибербезопасность
                    a(href="https://t.me/andreym" target="_blank").table__link @cybersec_academy
            td
              .flex.items-center(class="gap-x-1.5")
                img.rounded.object-cover(class="w-[30px] h-[30px]" src="/assets/images/avatar.png" alt="tg-channel")
                span Андрей Миронов
            td.only-text.text-right 1
            td.only-text 01.10.2025
            td.only-text.text-right Инф. Стандартный без марк.
          tr
            td
              .flex.items-center(class="gap-x-1.5")
                img.rounded.object-cover(class="w-[30px] h-[30px]" src="/assets/images/avatar.png" alt="tg-channel")
                span Андрей Миронов
            td
              .flex.items-center(class="gap-x-1.5")
                img.rounded.object-cover(class="w-[30px] h-[30px]" src="/assets/images/avatar.png" alt="tg-channel")
                span Андрей Миронов
            td.only-text.text-right 1
            td.only-text 01.10.2025
            td.only-text.text-right Инф. Стандартный без марк.