tr(class="z-[3] relative").bills-group
  td.fixed-td.fixed-td-border
    .flex.items-center(class="pr-2.5")
      .bills-group__toggle(class="min-w-[177px] h-[46px]")
        label
          input(type="checkbox" name="bills-group")
          span
        p Счет ИП Смирнов
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5208 4.22246C13.8704 4.63027 14.0625 5.14966 14.0625 5.68673V7.71238C13.6998 7.63467 13.3234 7.59375 12.9375 7.59375V5.68673C12.9375 5.66612 12.9369 5.6455 12.9358 5.625H11.25C10.318 5.625 9.5625 4.86948 9.5625 3.9375V1.70796C9.49267 1.69446 9.42117 1.6875 9.34886 1.6875H2.8125C2.19118 1.6875 1.6875 2.19118 1.6875 2.8125V14.0625C1.6875 14.6838 2.19118 15.1875 2.8125 15.1875H8.08912C8.27744 15.5926 8.51504 15.9702 8.79421 16.3125H2.8125C1.56986 16.3125 0.5625 15.3051 0.5625 14.0625V2.8125C0.5625 1.56986 1.56986 0.5625 2.8125 0.5625H9.34886C10.0057 0.5625 10.6297 0.849516 11.0572 1.34822L13.5208 4.22246ZM10.6875 2.64558L12.277 4.5H11.25C10.9393 4.5 10.6875 4.24817 10.6875 3.9375V2.64558Z" fill="#959BA4"/>
          <path d="M11.7168 8.40039C13.0144 8.40039 14.0618 8.89071 14.8535 9.48633L15.1768 9.74609V9.74707C15.7812 10.2734 16.2974 10.8938 16.7041 11.585V11.5859C16.8541 11.8433 16.8541 12.1567 16.7041 12.4141V12.415C16.2974 13.1062 15.7812 13.7266 15.1768 14.2529V14.2539C14.3563 14.9597 13.2001 15.5996 11.7168 15.5996C10.2345 15.5995 9.07802 14.9596 8.25684 14.2539L8.25586 14.2529C7.65157 13.7266 7.13611 13.106 6.72949 12.415V12.4141C6.65597 12.2884 6.61719 12.1456 6.61719 12C6.61719 11.8544 6.65597 11.7116 6.72949 11.5859V11.585C7.13611 10.894 7.65157 10.2734 8.25586 9.74707L8.25684 9.74609C9.07875 9.04043 10.2344 8.40046 11.7168 8.40039ZM11.7168 9.37793C10.6804 9.37799 9.83254 9.76635 9.16699 10.2676L8.89355 10.4883C8.52568 10.8091 8.19527 11.1703 7.90918 11.5645C7.72022 11.8251 7.72007 12.1753 7.90918 12.4355C8.14213 12.756 8.47125 13.1482 8.89355 13.5117C9.59466 14.1154 10.5325 14.6219 11.7158 14.6221C12.8999 14.6221 13.8388 14.1146 14.54 13.5117C14.9071 13.1917 15.2368 12.8316 15.5225 12.4385C15.7127 12.1765 15.7127 11.8235 15.5225 11.5615C15.2368 11.1684 14.9071 10.8083 14.54 10.4883V10.4873C13.8389 9.88385 12.8999 9.37793 11.7168 9.37793Z" fill="#959BA4" stroke="#959BA4" stroke-width="0.2"/>
          <path d="M11.958 10.4082C12.3242 10.4446 12.6691 10.6056 12.9316 10.8682C13.2317 11.1682 13.3994 11.5757 13.3994 12C13.3994 12.4243 13.2317 12.8318 12.9316 13.1318C12.6316 13.4319 12.2242 13.5996 11.7998 13.5996C11.3755 13.5996 10.968 13.4319 10.668 13.1318C10.3679 12.8318 10.2002 12.4243 10.2002 12C10.2002 11.5757 10.3679 11.1682 10.668 10.8682C10.968 10.5681 11.3755 10.4004 11.7998 10.4004L11.958 10.4082ZM11.7998 11.3496C11.6274 11.3496 11.4617 11.4181 11.3398 11.54C11.2179 11.6619 11.1494 11.8276 11.1494 12C11.1494 12.1724 11.2179 12.3381 11.3398 12.46C11.4617 12.5819 11.6274 12.6504 11.7998 12.6504C11.9722 12.6504 12.1379 12.5819 12.2598 12.46C12.3817 12.3381 12.4502 12.1724 12.4502 12C12.4502 11.8276 12.3817 11.6619 12.2598 11.54C12.1379 11.4181 11.9722 11.3496 11.7998 11.3496Z" fill="#959BA4" stroke="#959BA4" stroke-width="0.2"/>
        </svg>
      +dropdown({
        buttons: [
          {
            isChecked: true,
            name: 'bill-format',
            title: 'Полная',
          },
          {
            name: 'bill-format',
            title: 'Сокращенная',
          },
        ],
        isRadios: true,
        title: 'Полная',
      })
  td.only-text Декабрь 2025
  td.only-text 210 520 ₽
  td.only-text 20%
  td.only-text.text-right 2
  td.only-text
    .flex.items-center.gap-x-1 Информационный, Рекламный
      button(type="button" class="-mt-1").table-alert
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M13.5055 14.8569H2.4932C2.15362 14.857 1.82008 14.7622 1.52654 14.5821C1.233 14.402 0.989964 14.143 0.822179 13.8315C0.654394 13.5201 0.56786 13.1673 0.571393 12.809C0.574926 12.4508 0.668398 12.1 0.842289 11.7923L6.19753 2.22576C6.38294 1.89573 6.6466 1.6223 6.96256 1.43238C7.27852 1.24245 7.63591 1.14258 7.99956 1.14258C8.36321 1.14258 8.7206 1.24245 9.03656 1.43238C9.35252 1.6223 9.61618 1.89573 9.80159 2.22576L15.1587 11.7962C15.3361 12.1083 15.4294 12.4657 15.4284 12.8296C15.4278 13.3673 15.225 13.8828 14.8644 14.2629C14.5039 14.643 14.0151 14.8566 13.5055 14.8569Z" fill="#FFC658"/>
          <path d="M7.99902 10.9248C8.45466 10.9248 8.82422 11.2944 8.82422 11.75C8.82422 12.2056 8.45466 12.5752 7.99902 12.5752C7.54339 12.5752 7.17383 12.2056 7.17383 11.75C7.17383 11.2944 7.54339 10.9248 7.99902 10.9248Z" fill="#374151" stroke="#374151" stroke-width="0.15"/>
          <path d="M8 4.4248C8.1525 4.4248 8.29842 4.48592 8.40625 4.59375C8.51408 4.70158 8.5752 4.8475 8.5752 5V9.5C8.5752 9.6525 8.51408 9.79842 8.40625 9.90625C8.29842 10.0141 8.1525 10.0752 8 10.0752C7.8475 10.0752 7.70158 10.0141 7.59375 9.90625C7.48592 9.79842 7.4248 9.6525 7.4248 9.5V5C7.4248 4.8475 7.48592 4.70158 7.59375 4.59375C7.70158 4.48592 7.8475 4.4248 8 4.4248Z" fill="#374151" stroke="#374151" stroke-width="0.15"/>
        </svg>
        i(data-status-tip="Некорректно заполнены данные")
  td.only-text 01.10.2025 15:35
  td.only-text 05.10.2025
  td
    .grid.items-center(class="gap-x-1.5 grid-cols-[30px_1fr]")
      img.rounded.object-cover(class="w-[30px] h-[30px]" src="/assets/images/avatar.png" alt="tg-channel")
      span Илья Сорокин
  td.only-text ИП Смирнов
  td.only-text
    button(type="button").table-alert
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.5055 14.8569H2.4932C2.15362 14.857 1.82008 14.7622 1.52654 14.5821C1.233 14.402 0.989964 14.143 0.822179 13.8315C0.654394 13.5201 0.56786 13.1673 0.571393 12.809C0.574926 12.4508 0.668398 12.1 0.842289 11.7923L6.19753 2.22576C6.38294 1.89573 6.6466 1.6223 6.96256 1.43238C7.27852 1.24245 7.63591 1.14258 7.99956 1.14258C8.36321 1.14258 8.7206 1.24245 9.03656 1.43238C9.35252 1.6223 9.61618 1.89573 9.80159 2.22576L15.1587 11.7962C15.3361 12.1083 15.4294 12.4657 15.4284 12.8296C15.4278 13.3673 15.225 13.8828 14.8644 14.2629C14.5039 14.643 14.0151 14.8566 13.5055 14.8569Z" fill="#FFC658"/>
        <path d="M7.99902 10.9248C8.45466 10.9248 8.82422 11.2944 8.82422 11.75C8.82422 12.2056 8.45466 12.5752 7.99902 12.5752C7.54339 12.5752 7.17383 12.2056 7.17383 11.75C7.17383 11.2944 7.54339 10.9248 7.99902 10.9248Z" fill="#374151" stroke="#374151" stroke-width="0.15"/>
        <path d="M8 4.4248C8.1525 4.4248 8.29842 4.48592 8.40625 4.59375C8.51408 4.70158 8.5752 4.8475 8.5752 5V9.5C8.5752 9.6525 8.51408 9.79842 8.40625 9.90625C8.29842 10.0141 8.1525 10.0752 8 10.0752C7.8475 10.0752 7.70158 10.0141 7.59375 9.90625C7.48592 9.79842 7.4248 9.6525 7.4248 9.5V5C7.4248 4.8475 7.48592 4.70158 7.59375 4.59375C7.70158 4.48592 7.8475 4.4248 8 4.4248Z" fill="#374151" stroke="#374151" stroke-width="0.15"/>
      </svg>
      i(data-status-tip="Некорректно заполнены данные")
  td.only-text АО «Т-Банк»
  td.only-text 01619892840817810500
  td.only-text 00009743010181014525
  td.only-text 044525974
  td.only-text 59722
  td.only-text ООО “Медиаагентство ТТ”
  td
    +input({
      class: 'table__comment',
      name: 'comment',
      placeholder: 'Добавить комментарий...',
    })
include row-content-popup-generated
tr(class="z-[2] relative").bills-group
  td.fixed-td.fixed-td-border
    .flex.items-center(class="pr-2.5")
      .bills-group__toggle(class="min-w-[177px] h-[46px]")
        label
          input(type="checkbox" name="bills-group")
          span
        p Счет ИП Смирнов
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5208 4.22246C13.8704 4.63027 14.0625 5.14966 14.0625 5.68673V7.71238C13.6998 7.63467 13.3234 7.59375 12.9375 7.59375V5.68673C12.9375 5.66612 12.9369 5.6455 12.9358 5.625H11.25C10.318 5.625 9.5625 4.86948 9.5625 3.9375V1.70796C9.49267 1.69446 9.42117 1.6875 9.34886 1.6875H2.8125C2.19118 1.6875 1.6875 2.19118 1.6875 2.8125V14.0625C1.6875 14.6838 2.19118 15.1875 2.8125 15.1875H8.08912C8.27744 15.5926 8.51504 15.9702 8.79421 16.3125H2.8125C1.56986 16.3125 0.5625 15.3051 0.5625 14.0625V2.8125C0.5625 1.56986 1.56986 0.5625 2.8125 0.5625H9.34886C10.0057 0.5625 10.6297 0.849516 11.0572 1.34822L13.5208 4.22246ZM10.6875 2.64558L12.277 4.5H11.25C10.9393 4.5 10.6875 4.24817 10.6875 3.9375V2.64558Z" fill="#959BA4"/>
          <path d="M11.7168 8.40039C13.0144 8.40039 14.0618 8.89071 14.8535 9.48633L15.1768 9.74609V9.74707C15.7812 10.2734 16.2974 10.8938 16.7041 11.585V11.5859C16.8541 11.8433 16.8541 12.1567 16.7041 12.4141V12.415C16.2974 13.1062 15.7812 13.7266 15.1768 14.2529V14.2539C14.3563 14.9597 13.2001 15.5996 11.7168 15.5996C10.2345 15.5995 9.07802 14.9596 8.25684 14.2539L8.25586 14.2529C7.65157 13.7266 7.13611 13.106 6.72949 12.415V12.4141C6.65597 12.2884 6.61719 12.1456 6.61719 12C6.61719 11.8544 6.65597 11.7116 6.72949 11.5859V11.585C7.13611 10.894 7.65157 10.2734 8.25586 9.74707L8.25684 9.74609C9.07875 9.04043 10.2344 8.40046 11.7168 8.40039ZM11.7168 9.37793C10.6804 9.37799 9.83254 9.76635 9.16699 10.2676L8.89355 10.4883C8.52568 10.8091 8.19527 11.1703 7.90918 11.5645C7.72022 11.8251 7.72007 12.1753 7.90918 12.4355C8.14213 12.756 8.47125 13.1482 8.89355 13.5117C9.59466 14.1154 10.5325 14.6219 11.7158 14.6221C12.8999 14.6221 13.8388 14.1146 14.54 13.5117C14.9071 13.1917 15.2368 12.8316 15.5225 12.4385C15.7127 12.1765 15.7127 11.8235 15.5225 11.5615C15.2368 11.1684 14.9071 10.8083 14.54 10.4883V10.4873C13.8389 9.88385 12.8999 9.37793 11.7168 9.37793Z" fill="#959BA4" stroke="#959BA4" stroke-width="0.2"/>
          <path d="M11.958 10.4082C12.3242 10.4446 12.6691 10.6056 12.9316 10.8682C13.2317 11.1682 13.3994 11.5757 13.3994 12C13.3994 12.4243 13.2317 12.8318 12.9316 13.1318C12.6316 13.4319 12.2242 13.5996 11.7998 13.5996C11.3755 13.5996 10.968 13.4319 10.668 13.1318C10.3679 12.8318 10.2002 12.4243 10.2002 12C10.2002 11.5757 10.3679 11.1682 10.668 10.8682C10.968 10.5681 11.3755 10.4004 11.7998 10.4004L11.958 10.4082ZM11.7998 11.3496C11.6274 11.3496 11.4617 11.4181 11.3398 11.54C11.2179 11.6619 11.1494 11.8276 11.1494 12C11.1494 12.1724 11.2179 12.3381 11.3398 12.46C11.4617 12.5819 11.6274 12.6504 11.7998 12.6504C11.9722 12.6504 12.1379 12.5819 12.2598 12.46C12.3817 12.3381 12.4502 12.1724 12.4502 12C12.4502 11.8276 12.3817 11.6619 12.2598 11.54C12.1379 11.4181 11.9722 11.3496 11.7998 11.3496Z" fill="#959BA4" stroke="#959BA4" stroke-width="0.2"/>
        </svg>
      +dropdown({
        buttons: [
          {
            name: 'bill-format',
            title: 'Полная',
          },
          {
            isChecked: true,
            name: 'bill-format',
            title: 'Сокращенная',
          },
        ],
        isRadios: true,
        title: 'Сокращенная',
      })
  td.only-text Декабрь 2025
  td.only-text 210 520 ₽
  td.only-text 20%
  td.only-text.text-right 2
  td.only-text
    .flex.items-center.gap-x-1 Рекламный
  td.only-text 01.10.2025 15:35
  td.only-text 05.10.2025
  td
    .grid.items-center(class="gap-x-1.5 grid-cols-[30px_1fr]")
      img.rounded.object-cover(class="w-[30px] h-[30px]" src="/assets/images/avatar.png" alt="tg-channel")
      span Илья Сорокин
  td.only-text ИП Смирнов
  td.only-text 7731772837
  td.only-text АО «Т-Банк»
  td.only-text 01619892840817810500
  td.only-text 00009743010181014525
  td.only-text 044525974
  td.only-text 59722
  td.only-text ООО “Медиаагентство ТТ”
  td
    +input({
      class: 'table__comment',
      name: 'comment',
      placeholder: 'Добавить комментарий...',
    })
include row-content-popup-generated
tr(class="z-[1] relative").bills-group
  td.fixed-td.fixed-td-border
    .flex.items-center(class="pr-2.5")
      .bills-group__toggle(class="min-w-[177px] h-[46px]")
        label
          input(type="checkbox" name="bills-group")
          span
        p Счет ИП Смирнов
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5208 4.22246C13.8704 4.63027 14.0625 5.14966 14.0625 5.68673V7.71238C13.6998 7.63467 13.3234 7.59375 12.9375 7.59375V5.68673C12.9375 5.66612 12.9369 5.6455 12.9358 5.625H11.25C10.318 5.625 9.5625 4.86948 9.5625 3.9375V1.70796C9.49267 1.69446 9.42117 1.6875 9.34886 1.6875H2.8125C2.19118 1.6875 1.6875 2.19118 1.6875 2.8125V14.0625C1.6875 14.6838 2.19118 15.1875 2.8125 15.1875H8.08912C8.27744 15.5926 8.51504 15.9702 8.79421 16.3125H2.8125C1.56986 16.3125 0.5625 15.3051 0.5625 14.0625V2.8125C0.5625 1.56986 1.56986 0.5625 2.8125 0.5625H9.34886C10.0057 0.5625 10.6297 0.849516 11.0572 1.34822L13.5208 4.22246ZM10.6875 2.64558L12.277 4.5H11.25C10.9393 4.5 10.6875 4.24817 10.6875 3.9375V2.64558Z" fill="#959BA4"/>
          <path d="M11.7168 8.40039C13.0144 8.40039 14.0618 8.89071 14.8535 9.48633L15.1768 9.74609V9.74707C15.7812 10.2734 16.2974 10.8938 16.7041 11.585V11.5859C16.8541 11.8433 16.8541 12.1567 16.7041 12.4141V12.415C16.2974 13.1062 15.7812 13.7266 15.1768 14.2529V14.2539C14.3563 14.9597 13.2001 15.5996 11.7168 15.5996C10.2345 15.5995 9.07802 14.9596 8.25684 14.2539L8.25586 14.2529C7.65157 13.7266 7.13611 13.106 6.72949 12.415V12.4141C6.65597 12.2884 6.61719 12.1456 6.61719 12C6.61719 11.8544 6.65597 11.7116 6.72949 11.5859V11.585C7.13611 10.894 7.65157 10.2734 8.25586 9.74707L8.25684 9.74609C9.07875 9.04043 10.2344 8.40046 11.7168 8.40039ZM11.7168 9.37793C10.6804 9.37799 9.83254 9.76635 9.16699 10.2676L8.89355 10.4883C8.52568 10.8091 8.19527 11.1703 7.90918 11.5645C7.72022 11.8251 7.72007 12.1753 7.90918 12.4355C8.14213 12.756 8.47125 13.1482 8.89355 13.5117C9.59466 14.1154 10.5325 14.6219 11.7158 14.6221C12.8999 14.6221 13.8388 14.1146 14.54 13.5117C14.9071 13.1917 15.2368 12.8316 15.5225 12.4385C15.7127 12.1765 15.7127 11.8235 15.5225 11.5615C15.2368 11.1684 14.9071 10.8083 14.54 10.4883V10.4873C13.8389 9.88385 12.8999 9.37793 11.7168 9.37793Z" fill="#959BA4" stroke="#959BA4" stroke-width="0.2"/>
          <path d="M11.958 10.4082C12.3242 10.4446 12.6691 10.6056 12.9316 10.8682C13.2317 11.1682 13.3994 11.5757 13.3994 12C13.3994 12.4243 13.2317 12.8318 12.9316 13.1318C12.6316 13.4319 12.2242 13.5996 11.7998 13.5996C11.3755 13.5996 10.968 13.4319 10.668 13.1318C10.3679 12.8318 10.2002 12.4243 10.2002 12C10.2002 11.5757 10.3679 11.1682 10.668 10.8682C10.968 10.5681 11.3755 10.4004 11.7998 10.4004L11.958 10.4082ZM11.7998 11.3496C11.6274 11.3496 11.4617 11.4181 11.3398 11.54C11.2179 11.6619 11.1494 11.8276 11.1494 12C11.1494 12.1724 11.2179 12.3381 11.3398 12.46C11.4617 12.5819 11.6274 12.6504 11.7998 12.6504C11.9722 12.6504 12.1379 12.5819 12.2598 12.46C12.3817 12.3381 12.4502 12.1724 12.4502 12C12.4502 11.8276 12.3817 11.6619 12.2598 11.54C12.1379 11.4181 11.9722 11.3496 11.7998 11.3496Z" fill="#959BA4" stroke="#959BA4" stroke-width="0.2"/>
        </svg>
      +dropdown({
        buttons: [
          {
            name: 'bill-format',
            title: 'Полная',
          },
          {
            isChecked: true,
            name: 'bill-format',
            title: 'Сокращенная',
          },
        ],
        isRadios: true,
        title: 'Сокращенная',
      })
  td.only-text Декабрь 2025
  td.only-text 210 520 ₽
  td.only-text 20%
  td.only-text.text-right 1
  td.only-text
    .flex.items-center.gap-x-1 Информационный, Рекламный
      button(type="button" class="-mt-1").table-alert
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M13.5055 14.8569H2.4932C2.15362 14.857 1.82008 14.7622 1.52654 14.5821C1.233 14.402 0.989964 14.143 0.822179 13.8315C0.654394 13.5201 0.56786 13.1673 0.571393 12.809C0.574926 12.4508 0.668398 12.1 0.842289 11.7923L6.19753 2.22576C6.38294 1.89573 6.6466 1.6223 6.96256 1.43238C7.27852 1.24245 7.63591 1.14258 7.99956 1.14258C8.36321 1.14258 8.7206 1.24245 9.03656 1.43238C9.35252 1.6223 9.61618 1.89573 9.80159 2.22576L15.1587 11.7962C15.3361 12.1083 15.4294 12.4657 15.4284 12.8296C15.4278 13.3673 15.225 13.8828 14.8644 14.2629C14.5039 14.643 14.0151 14.8566 13.5055 14.8569Z" fill="#FFC658"/>
          <path d="M7.99902 10.9248C8.45466 10.9248 8.82422 11.2944 8.82422 11.75C8.82422 12.2056 8.45466 12.5752 7.99902 12.5752C7.54339 12.5752 7.17383 12.2056 7.17383 11.75C7.17383 11.2944 7.54339 10.9248 7.99902 10.9248Z" fill="#374151" stroke="#374151" stroke-width="0.15"/>
          <path d="M8 4.4248C8.1525 4.4248 8.29842 4.48592 8.40625 4.59375C8.51408 4.70158 8.5752 4.8475 8.5752 5V9.5C8.5752 9.6525 8.51408 9.79842 8.40625 9.90625C8.29842 10.0141 8.1525 10.0752 8 10.0752C7.8475 10.0752 7.70158 10.0141 7.59375 9.90625C7.48592 9.79842 7.4248 9.6525 7.4248 9.5V5C7.4248 4.8475 7.48592 4.70158 7.59375 4.59375C7.70158 4.48592 7.8475 4.4248 8 4.4248Z" fill="#374151" stroke="#374151" stroke-width="0.15"/>
        </svg>
        i(data-status-tip="Некорректно заполнены данные")
  td.only-text 01.10.2025 15:35
  td.only-text 05.10.2025
  td
    .grid.items-center(class="gap-x-1.5 grid-cols-[30px_1fr]")
      img.rounded.object-cover(class="w-[30px] h-[30px]" src="/assets/images/avatar.png" alt="tg-channel")
      span Илья Сорокин
  td.only-text ИП Смирнов
  td.only-text 7731772837
  td.only-text АО «Т-Банк»
  td.only-text 01619892840817810500
  td.only-text 00009743010181014525
  td.only-text 044525974
  td.only-text 59722
  td.only-text ООО “Медиаагентство ТТ”
  td
    +input({
      class: 'table__comment',
      name: 'comment',
      placeholder: 'Добавить комментарий...',
    })
include row-content-popup-generated