include ./add-file.pug
include ./angle-down.pug
include ./angle-left.pug
include ./angle-right.pug
include ./arrow-right.pug
include ./arrow-up.pug
include ./attachment.pug
include ./calendar.pug
include ./close.pug
include ./comment.pug
include ./controls.pug
include ./copy.pug
include ./download.pug
include ./edit.pug
include ./edit2.pug
include ./error.pug
include ./expand-menu.pug
include ./eye-closed.pug
include ./eye.pug
include ./file.pug
include ./google.pug
include ./image.pug
include ./info.pug
include ./link.pug
include ./logout.pug
include ./mail.pug
include ./new-file.pug
include ./notification.pug
include ./phone.pug
include ./pin.pug
include ./pinned.pug
include ./plus.pug
include ./reply.pug
include ./search.pug
include ./send.pug
include ./settings.pug
include ./share.pug
include ./sort.pug
include ./telegram.pug
include ./thumbs-up.pug
include ./trash.pug
include ./unpin.pug