svg#other-angle-down-lg-icon(width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg")
  line(x1="0.5", y1="-0.5", x2="7.98528", y2="-0.5", transform="matrix(0.707114 0.7071 -0.707114 0.7071 0 1)" stroke="currentColor" stroke-linecap="round")
  line(x1="0.5", y1="-0.5", x2="7.98528", y2="-0.5", transform="matrix(0.707114 -0.7071 0.707114 0.7071 6 7)" stroke="currentColor" stroke-linecap="round")