svg#other-angle-down-icon(width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg")
  line(x1="0.75", y1="-0.75", x2="6.32106", y2="-0.75", transform="matrix(0.707114 0.7071 -0.707114 0.7071 0 1)" stroke="#374151" stroke-width="1.5" stroke-linecap="round")
  line(x1="0.75", y1="-0.75", x2="6.32106", y2="-0.75", transform="matrix(0.707114 -0.7071 0.707114 0.7071 5 6)" stroke="#374151" stroke-width="1.5" stroke-linecap="round")