svg#other-attachment-icon(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
  g(clip-path="url(#clip0_2_3097)")
    path(d="M13.6532 5.8671L13.6532 13.4485C13.6533 14.3772 13.2843 15.268 12.6276 15.9247C11.9708 16.5815 11.0801 16.9504 10.1513 16.9504C9.22256 16.9504 8.33181 16.5814 7.67507 15.9247C7.01832 15.268 6.64939 14.3772 6.64937 13.4484L6.64936 5.86711C6.64938 5.24791 6.89536 4.65408 7.33316 4.21628C7.77101 3.77843 8.36484 3.53245 8.98399 3.53248C9.60319 3.53247 10.197 3.77842 10.6349 4.21625C11.0727 4.65407 11.3186 5.24791 11.3186 5.86711L11.3145 13.4526C11.3145 13.7622 11.1915 14.0591 10.9726 14.278C10.7537 14.4969 10.4568 14.6199 10.1472 14.6199C9.83759 14.6199 9.54072 14.4969 9.32177 14.278C9.10287 14.0591 8.97988 13.7622 8.97988 13.4526L8.98399 6.45283" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round")
  defs
    clipPath#clip0_2_3097
      rect(width="14" height="14" fill="white" transform="translate(0 9.89954) rotate(-45)")