svg#other-clip-icon(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
  g(clip-path="url(#clip0_675_23400)")
    path(d="M13.7553 5.96952L13.7553 13.5509C13.7553 14.4797 13.3864 15.3704 12.7296 16.0271C12.0729 16.6839 11.1822 17.0528 10.2534 17.0528C9.32461 17.0528 8.43387 16.6839 7.77712 16.0271C7.12037 15.3704 6.75144 14.4797 6.75142 13.5509L6.75141 5.96953C6.75143 5.35033 6.99741 4.7565 7.43521 4.31869C7.87306 3.88085 8.46689 3.63487 9.08604 3.6349C9.70524 3.63488 10.2991 3.88084 10.7369 4.31866C11.1747 4.75649 11.4207 5.35033 11.4207 5.96953L11.4166 13.555C11.4166 13.8646 11.2936 14.1615 11.0747 14.3804C10.8557 14.5993 10.5588 14.7223 10.2492 14.7223C9.93964 14.7223 9.64277 14.5994 9.42382 14.3804C9.20492 14.1615 9.08194 13.8646 9.08193 13.555L9.08604 6.55525" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round")
  defs
    clipPath#clip0_675_23400
      rect(width="14" height="14" fill="white" transform="translate(0.101562 10.002) rotate(-45)")