svg#other-controls-icon(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
  line(x1="2.55", y1="14.95", x2="17.45", y2="14.95", stroke="currentColor" stroke-width="1.1" stroke-linecap="round")
  line(x1="2.55", y1="9.95", x2="17.45", y2="9.95", stroke="currentColor" stroke-width="1.1" stroke-linecap="round")
  line(x1="2.55", y1="4.95", x2="17.45", y2="4.95", stroke="currentColor" stroke-width="1.1" stroke-linecap="round")
  circle(cx="8" cy="5" r="1.45" fill="white" stroke="currentColor" stroke-width="1.1")
  circle(cx="14" cy="10" r="1.45" fill="white" stroke="currentColor" stroke-width="1.1")
  circle(cx="6" cy="15" r="1.45" fill="white" stroke="currentColor" stroke-width="1.1")
