svg#other-copy-icon(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
  path(d="M14.345 15.7498H3.59389C2.86086 15.7498 2.25 15.1376 2.25 14.4029V4.51515C2.25 3.78046 2.73869 3.16821 3.38009 3.16821H4.05204V4.05597H3.38009C3.28846 4.05597 3.16629 4.23964 3.16629 4.51515V14.4029C3.16629 14.6478 3.38009 14.8621 3.62443 14.8621H14.3756C14.6199 14.8621 14.8337 14.6478 14.8337 14.4029V4.51515C14.8337 4.23964 14.681 4.05597 14.6199 4.05597H13.948V3.16821H14.6199C15.2308 3.16821 15.75 3.78046 15.75 4.51515V14.4029C15.6889 15.1376 15.0781 15.7498 14.345 15.7498Z" fill="currentColor")
  path(d="M5.39589 4.97449C5.15155 4.97449 4.93774 4.7602 4.93774 4.5153V2.70918C4.93774 2.46429 5.15155 2.25 5.39589 2.25C5.64023 2.25 5.85403 2.46429 5.85403 2.70918V4.5153C5.82349 4.7602 5.64023 4.97449 5.39589 4.97449Z" fill="currentColor")
  path(d="M12.5431 4.97449C12.2988 4.97449 12.085 4.7602 12.085 4.5153V2.70918C12.085 2.46429 12.2988 2.25 12.5431 2.25C12.7874 2.25 13.0013 2.46429 13.0013 2.70918V4.5153C13.0013 4.7602 12.7874 4.97449 12.5431 4.97449Z" fill="currentColor")
  path(d="M6.74023 3.16821H11.1995V4.08658H6.74023V3.16821Z" fill="currentColor")
  path(d="M3.13501 5.8623H14.8024V6.78067H3.13501V5.8623Z" fill="currentColor")
  path(d="M13.0007 7.66833H13.8865V8.55609H13.0007V7.66833Z" fill="currentColor")
  path(d="M11.199 7.66833H12.1153V8.55609H11.199V7.66833Z" fill="currentColor")
  path(d="M9.42725 7.66833H10.313V8.55609H9.42725V7.66833Z" fill="currentColor")
  path(d="M7.62549 7.66833H8.51123V8.55609H7.62549V7.66833Z" fill="currentColor")
  path(d="M5.82373 7.66833H6.74002V8.55609H5.82373V7.66833Z" fill="currentColor")
  path(d="M13.0007 9.47461H13.8865V10.3624H13.0007V9.47461Z" fill="currentColor")
  path(d="M11.199 9.47461H12.1153V10.3624H11.199V9.47461Z" fill="currentColor")
  path(d="M9.42725 9.47461H10.313V10.3624H9.42725V9.47461Z" fill="currentColor")
  path(d="M7.62549 9.47461H8.51123V10.3624H7.62549V9.47461Z" fill="currentColor")
  path(d="M5.82373 9.47461H6.74002V10.3624H5.82373V9.47461Z" fill="currentColor")
  path(d="M4.05176 9.47461H4.9375V10.3624H4.05176V9.47461Z" fill="currentColor")
  path(d="M13.0007 11.2501H13.8865V12.1685H13.0007V11.2501Z" fill="currentColor")
  path(d="M11.199 11.2501H12.1153V12.1685H11.199V11.2501Z" fill="currentColor")
  path(d="M9.42725 11.2501H10.313V12.1685H9.42725V11.2501Z" fill="currentColor")
  path(d="M7.62549 11.2501H8.51123V12.1685H7.62549V11.2501Z" fill="currentColor")
  path(d="M5.82373 11.2501H6.74002V12.1685H5.82373V11.2501Z" fill="currentColor")
  path(d="M4.05176 11.2501H4.9375V12.1685H4.05176V11.2501Z" fill="currentColor")
  path(d="M11.199 13.0562H12.1153V13.9439H11.199V13.0562Z" fill="currentColor")
  path(d="M9.42725 13.0562H10.313V13.9439H9.42725V13.0562Z" fill="currentColor")
  path(d="M7.62549 13.0562H8.51123V13.9439H7.62549V13.0562Z" fill="currentColor")
  path(d="M5.82373 13.0562H6.74002V13.9439H5.82373V13.0562Z" fill="currentColor")
  path(d="M4.05176 13.0562H4.9375V13.9439H4.05176V13.0562Z" fill="currentColor")
