svg#other-external-link(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
  path(d="M12.125 3.87549L6.875 9.12549" stroke="#374151" stroke-width="0.999999" stroke-linecap="round" stroke-linejoin="round")
  path(d="M10.0443 3.5L12.0109 3.58088C12.2499 3.5895 12.4911 3.62555 12.5 3.875V5.95572" stroke="#374151" stroke-width="0.999999" stroke-linecap="round" stroke-linejoin="round")
  path(d="M12.5 8.5L12.5 11C12.5 11.831 11.831 12.5 11 12.5H5C4.169 12.5 3.5 11.831 3.5 11V4.99999C3.5 4.16899 4.169 3.5 5 3.5H7.5" stroke="#374151" stroke-linecap="round" stroke-linejoin="round")