svg#other-illustration-icon(width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg")
  g(clip-path="url(#clip0_508_6282)")
    path(d="M3.28822 19.6H19.7102C21.2469 19.6 22.5242 18.5079 22.5242 17.14V2.86C22.5242 1.49211 21.2469 0.4 19.7102 0.4H3.28822C1.75157 0.4 0.474219 1.49211 0.474219 2.86V17.14C0.474219 18.5079 1.75157 19.6 3.28822 19.6ZM2.35322 2.86C2.35322 2.42789 2.75487 2.06 3.28822 2.06H19.7102C20.2436 2.06 20.6452 2.42789 20.6452 2.86V13.1905L17.9818 10.8745C17.6116 10.5526 17.0263 10.5508 16.6655 10.875C16.6653 10.8753 16.665 10.8755 16.6648 10.8757L12.9827 14.0676L7.53984 9.34454C7.35779 9.18624 7.11477 9.11 6.87622 9.11C6.63632 9.11 6.40525 9.18702 6.2241 9.34454L2.35322 12.7009V2.86Z" fill="#959BA4" stroke="white" stroke-width="0.2")
    path(d="M12.5 9C13.878 9 15 7.87795 15 6.5C15 5.12205 13.878 4 12.5 4C11.122 4 10 5.12205 10 6.5C10.0098 7.87795 11.1319 9 12.5 9Z" fill="#959BA4")
  defs
    clipPath#clip0_508_6282
      rect(width="23" height="20" fill="white")