svg#other-info-icon(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
  g(clip-path="url(#clip0_2_2912)")
    path(d="M8.5 0.25C3.95948 0.25 0.265625 3.72656 0.265625 8C0.265625 12.2734 3.95948 15.75 8.5 15.75C13.0405 15.75 16.7344 12.2734 16.7344 8C16.7344 3.72656 13.0405 0.25 8.5 0.25ZM8.5 14.25C4.83832 14.25 1.85938 11.4463 1.85938 8C1.85938 4.55371 4.83832 1.75 8.5 1.75C12.1617 1.75 15.1406 4.55371 15.1406 8C15.1406 11.4463 12.1617 14.25 8.5 14.25Z" fill="#374151")
    path(d="M8.5 5.55029C8.0598 5.55029 7.70312 5.88623 7.70312 6.30029V11.8369C7.70312 12.251 8.0598 12.5869 8.5 12.5869C8.9402 12.5869 9.29688 12.251 9.29688 11.8369V6.30029C9.29688 5.88623 8.9402 5.55029 8.5 5.55029Z" fill="#374151")
    path(d="M8.5 3.41309C8.0598 3.41309 7.70312 3.74903 7.70312 4.16309V4.16553C7.70312 4.57959 8.0598 4.91455 8.5 4.91455C8.9402 4.91455 9.29688 4.57715 9.29688 4.16309C9.29688 3.74902 8.9402 3.41309 8.5 3.41309Z" fill="#374151")
  defs
    clipPath#clip0_2_2912
      rect(width="17" height="16" fill="white")
