svg#other-info-blue(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
  g(clip-path="url(#clip0_2229_9975)")
    path(d="M9 0.28125C4.19239 0.28125 0.28125 4.19239 0.28125 9C0.28125 13.8076 4.19239 17.7188 9 17.7188C13.8076 17.7188 17.7188 13.8076 17.7188 9C17.7188 4.19238 13.8076 0.28125 9 0.28125ZM9 16.0312C5.12292 16.0312 1.96875 12.8771 1.96875 9C1.96875 5.12292 5.12292 1.96875 9 1.96875C12.8771 1.96875 16.0312 5.12292 16.0312 9C16.0312 12.8771 12.8771 16.0312 9 16.0312Z" fill="#5893FF")
    path(d="M9 6.24408C8.53391 6.24408 8.15625 6.62202 8.15625 7.08783V13.3165C8.15625 13.7824 8.53391 14.1603 9 14.1603C9.46609 14.1603 9.84375 13.7823 9.84375 13.3165V7.08783C9.84375 6.62201 9.46609 6.24408 9 6.24408Z" fill="#5893FF")
    path(d="M9 3.83972C8.53391 3.83972 8.15625 4.21765 8.15625 4.68347V4.68622C8.15625 5.15204 8.53391 5.52887 9 5.52887C9.46609 5.52887 9.84375 5.14929 9.84375 4.68347C9.84375 4.21765 9.46609 3.83972 9 3.83972Z" fill="#5893FF")
  defs
    clipPath#clip0_2229_9975
      rect(width="18" height="18" fill="white")