svg#other-link-icon(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
  g(clip-path="url(#clip0_675_24265)")
    path(d="M13.6537 5.86796L13.6537 13.4493C13.6538 14.3781 13.2848 15.2688 12.6281 15.9256C11.9713 16.5823 11.0806 16.9513 10.1518 16.9512C9.22305 16.9513 8.3323 16.5823 7.67555 15.9256C7.0188 15.2688 6.64988 14.3781 6.64986 13.4493L6.64985 5.86796C6.64987 5.24877 6.89584 4.65494 7.33365 4.21713C7.7715 3.77929 8.36532 3.53331 8.98448 3.53333C9.60368 3.53332 10.1975 3.77927 10.6353 4.2171C11.0732 4.65493 11.3191 5.24877 11.3191 5.86796L11.315 13.4534C11.315 13.763 11.192 14.0599 10.9731 14.2788C10.7542 14.4978 10.4573 14.6208 10.1477 14.6207C9.83808 14.6207 9.5412 14.4978 9.32226 14.2788C9.10336 14.0599 8.98037 13.763 8.98036 13.4534L8.98448 6.45368" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round")
  defs
    clipPath#clip0_675_24265
      rect(width="14" height="14" fill="white" transform="translate(0 9.90039) rotate(-45)")