svg#other-link-icon(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
  g(clip-path="url(#clip0_2_3052)")
    path(d="M12 0.75H3C2.17125 0.75 1.5 1.42125 1.5 2.25V12.75H3V2.25H12V0.75ZM14.25 3.75H6C5.17125 3.75 4.5 4.42125 4.5 5.25V15.75C4.5 16.5787 5.17125 17.25 6 17.25H14.25C15.0787 17.25 15.75 16.5787 15.75 15.75V5.25C15.75 4.42125 15.0787 3.75 14.25 3.75ZM14.25 15.75H6V5.25H14.25V15.75Z" fill="#374151")
  defs
    clipPath#clip0_2_3052
      rect(width="18" height="18" fill="white")
