svg#other-reply-icon(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
  path(fill-rule="evenodd" clip-rule="evenodd" d="M4.06077 7.50006H8.25011C14.1518 7.50006 16.5001 9.94228 16.5001 15.7501H15.0001C15.0001 10.7578 13.3099 9.00006 8.25011 9.00006H4.06077L7.28044 12.2197L6.21978 13.2804L1.18945 8.25006L6.21978 3.21973L7.28044 4.28039L4.06077 7.50006Z" fill="#374151")
