svg#other-sort-icon(width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg")
  path(d="M5 3L3.14142 1.14142C3.06332 1.06332 2.93668 1.06332 2.85858 1.14142L1 3" stroke="#005CFF" stroke-linecap="round")
  path(d="M1 6L2.85858 7.85858C2.93668 7.93668 3.06332 7.93668 3.14142 7.85858L5 6" stroke="#005CFF" stroke-linecap="round")
