svg#other-unpin-icon(width="17" height="19" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg")
  g(clip-path="url(#clip0_2_3104)")
    path(d="M9.49166 13.2326H15.3452L11.8927 9.56317V5.30265H13.2206C13.807 5.30265 14.3927 4.79477 14.3927 4.20255V3.13093C14.3927 2.53871 13.807 2.05859 13.2206 2.05859L3.66023 2.05859C3.0738 2.05859 2.60702 2.53871 2.60702 3.13093V4.20291C2.60702 4.79477 3.0738 5.30265 3.66023 5.30265H5.10702V9.60427L1.57666 13.2326H7.43023L8.46095 19.1086L9.49166 13.2326Z" fill="currentColor")
    rect(x="3.67847" y="3.11743" width="9.64286" height="1.05882" rx="0.3" fill="#FBFBFB")
    path(d="M5.82125 10.5292H11.1784L12.7855 12.1174H4.21411L5.82125 10.5292Z" fill="#FBFBFB")
    rect(x="6.08911" y="5.23511" width="4.82143" height="4.23529" rx="0.3" fill="#FBFBFB")
  path(d="M1 1L16 15.8235" stroke="currentColor" stroke-linecap="round")
  defs
    clipPath#clip0_2_3104
      rect(width="13.9286" height="16.9412" fill="white" transform="translate(1.53564 2.05859)")
