svg#other-upload-icon(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
  g(clip-path="url(#clip0_1470_12663)")
    path(d="M9.95728 11.3941C9.95728 11.3941 12.4229 11.3941 12.656 11.3941C13.9508 11.3941 15 10.2426 15 8.82177C15 7.40097 13.9508 6.24909 12.656 6.24909C12.6501 6.24909 12.6448 6.25007 12.6388 6.25007C12.6569 6.08923 12.6694 5.92645 12.6694 5.7604C12.6694 3.57581 11.056 1.80469 9.06531 1.80469C7.51422 1.80469 6.19629 2.88201 5.68787 4.39007C5.36543 4.03552 4.9193 3.81575 4.42689 3.81575C3.44237 3.81575 2.64443 4.69155 2.64443 5.7718C2.64443 5.79947 2.6474 5.82617 2.64829 5.85352C1.56114 6.18332 0.761719 7.27367 0.761719 8.57173C0.761719 10.1306 1.91294 11.3941 3.33351 11.3941C3.57882 11.3941 5.80444 11.3941 5.80444 11.3941" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
    path(d="M6.39746 9.10834L7.88061 7.48047L9.36377 9.10834" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round")
    path(d="M7.88086 13.9988V7.5957" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round")
  defs
    clipPath#clip0_1470_12663
      rect(width="16" height="16" fill="currentColor")