mixin heading-table(data = {})
  - const { defaults, mergeConfig } = require('/assets/js/_defaults/heading/_defaults-heading-table');
  - const modefied = mergeConfig(data, defaults);

  .heading.heading-table(class=modefied.isRows ? 'heading-table-rows' : '')
    if modefied.title
      .heading__title
        h1= modefied.title
        if modefied.count
          sup= modefied.count
    .heading__buttons
      if modefied.isCalendar || modefied.isSearch
        .heading__left
          if modefied.isSearch
            +search({
              isForm: true,
              containerClass: 'min-w-[240px] max-w-[240px]',
            })
          if modefied.isCalendar
            +button({
              view: 'button',
              class: 'button-with-icon',
              icon: 'other-calendar-icon',
              isCalendar: true,
              isMonthPicker: true,
              isDatePicker: false,
            })
      if modefied.buttons.length
        .heading__right
          each button in modefied.buttons
            +button({
              view: button.view,
              class: button.class,
              icon: button.icon,
              title: button.title,
              isDownload: button.isDownload,
              isClose: button.isClose,
              dataPopupName: button.dataPopupName,
              dataFilterName: button.dataFilterName,
            })