mixin heading(data = {})
  - const { defaults, mergeConfig } = require('/assets/js/_defaults/heading/_defaults-heading');
  - const modefied = mergeConfig(data, defaults);

  .heading
    .heading__container
      .heading__left
        if modefied.isChannel || modefied.isAdmin
          .heading__avatar
            if modefied.image
              img(src=modefied.src, alt=modefied.alt)
            else
              span
        .heading__content
          .heading__top
            h1.heading__title= modefied.title

            if modefied.isChannel || modefied.isAdmin
              +dropdown({
                buttons: [
                  {
                    dataPopupName: 'edit-mode',
                    icon: 'other-edit2-icon',
                    title: 'Режим редактирования',
                  },
                  {
                    dataPopupName: 'delete-post',
                    icon: 'other-trash-icon',
                    title: 'Удалить',
                  },
                ],
                class: 'dropdown-base heading__dropdown-base',
                isButtons: true,
              })

            if modefied.isRk
              +dropdown({
                buttons: [
                  {
                    dataPopupName: 'delete-post',
                    icon: 'other-trash-icon',
                    title: 'Удалить',
                  },
                ],
                class: 'dropdown-base heading__dropdown-base',
                isButtons: true,
              })

            if modefied.isChannel || modefied.isAdmin
              +button({
                class: 'heading__addtofavotites',
                icon: 'aside-favorites-icon',
                isOnlyIcon: true,
                view: 'button',
              })

            if modefied.isChannel || modefied.isAdmin
              .heading__status.status(class="status-green") Активный

            if modefied.isRk
              +dropdown({
                buttons: [
                  {
                    color: 'status-blue',
                    title: 'Новая РК',
                  },
                  {
                    color: 'status-purple',
                    title: 'Подбор каналов',
                  },
                  {
                    color: 'status-gray',
                    title: 'Отказ',
                  },
                  {
                    color: 'status-blue',
                    title: 'Подтверждение подбора',
                  },
                  {
                    color: 'status-blue',
                    title: 'Опрос канала',
                  },
                  {
                    color: 'status-blue',
                    title: 'Согласование куратором',
                  },
                  {
                    color: 'status-blue',
                    title: 'Согласование клиентом',
                  },
                  {
                    color: 'status-blue',
                    title: 'Медиаплан подтвержден',
                  },
                  {
                    color: 'status-blue',
                    title: 'Медиаплан согласован',
                  },
                  {
                    color: 'status-blue',
                    title: 'В процессе',
                  },
                  {
                    color: 'status-blue',
                    title: 'Завершено',
                  },
                ],
                class: 'dropdown-status heading__dropdown-status',
                color: 'status-blue',
                isButtons: true,
                isSelected: true,
                isStatus: true,
                title: 'Новая РК',
              })

          if modefied.isChannel || modefied.isAdmin
            .heading__bottom
              a(href="https://t.me/" + modefied.tg target="_blank").heading__channel= modefied.tg
              if modefied.isChannel
                .heading__icons
                  svg
                    use(xlink:href="#label-verification-icon")
                  svg
                    use(xlink:href="#label-warning-icon")
                  svg
                    use(xlink:href="#label-scam-icon")
      .heading__right
        .heading__lastupdate
          svg
            use(xlink:href="#other-info-icon")
          span Последнее обновление: 12.12.2023