mixin heading-table(data = {})
  - const { defaults, mergeConfig } = require('/assets/js/_defaults/heading/_defaults-heading-table');
  - const modefied = mergeConfig(data, defaults);

  .heading.heading-table(class=modefied.isRows ? 'heading-table-rows ' + modefied.class : '' + modefied.class)
    if modefied.title
      .heading__title
        span= modefied.title
        if modefied.count
          sup= modefied.count
    .heading__buttons
      if modefied.isCalendar || modefied.isSearch || modefied.checkboxes
        .heading__left(class=modefied.isCheckboxes || modefied.isCheckboxPosts ? 'heading__left__checkboxes' : false)
          .heading__left__inner
            if modefied.isSearch
              +search({
                containerClass: modefied.searchClass,
                isForm: true,
              })
            if modefied.isCalendar
              +button({
                class: 'button-with-icon',
                icon: 'other-calendar-icon',
                isCalendar: true,
                isDatePicker: modefied.isDatePicker,
                isMonthPicker: modefied.isMonthPicker,
                value: modefied.value,
                view: 'button',
                placeholder: modefied.placeholder,
              })
          if modefied.isCheckboxes
            .heading__checkboxes
              +input({
                class: 'input-checkbox-with-label',
                isLabel: true,
                label: 'точное совпадение',
                type: 'checkbox',
                value: 'точное совпадение',
              })
              +input({
                class: 'input-checkbox-with-label',
                isLabel: true,
                label: 'скрывать удаленные',
                type: 'checkbox',
                value: 'скрывать удаленные',
              })
          if modefied.isCheckboxPosts
            .heading__checkboxes
              +input({
                class: 'input-checkbox-with-label',
                isLabel: true,
                label: 'точное совпадение',
                type: 'checkbox',
                value: 'точное совпадение',
              })
      if modefied.buttons.length
        if modefied.isPosts
          .heading__posts
            .heading__posts__title Показывать посты
            label
              input(type="checkbox" name="show-posts")
              p
                span
        .heading__right
          each button in modefied.buttons
            +button({
              view: button.view,
              class: button.class,
              icon: button.icon,
              title: button.title,
              isDownload: button.isDownload,
              isDisabled: button.isDisabled,
              isClose: button.isClose,
              dataPopupName: button.dataPopupName,
              dataFilterName: button.dataFilterName,
            })