aside.filter.filter-sm(data-filter-name="transactions-for-payment")
  .filter__container
    .filter__title
      h2 Фильтр
      button(type="button").filter__clear Сбросить
    form(action="#")
      h3.filter__subtitle Сделка
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
      })
      h3.filter__subtitle Клиент
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
      })
      h3.filter__subtitle Период
      +button({
        calendarClass: 'opensleft',
        class: 'button-with-icon',
        icon: 'other-calendar-icon',
        isCalendar: true,
        isDatePicker: false,
        isMonthPicker: true,
        value: 'Все',
        view: 'button',
      })
      +button({
        class: 'button-base filter__button',
        title: 'Применить',
        type: 'submit',
        view: 'button',
      })