mixin transactions-for-payment-row(data)
  tr
    td.only-text Test_MTC_September
    td.only-text МТС
    td.only-text Январь 2024
    td.only-text.text-right 2
    td.only-text.text-right 20 500 ₽
    td.only-text.text-right 20 500 ₽
    td
      span.status(class="" + data.color)= data.status