include ./awaiting.pug
include ./check.pug
include ./consumption.pug
include ./discount.pug
include ./eye.pug
include ./favorites.pug
include ./grid.pug
include ./layout.pug
include ./list-plus.pug
include ./money.pug
include ./pulse.pug
include ./reply.pug
include ./screen.pug
include ./tablet.pug
include ./users-connected.pug
include ./users-subscribed.pug
include ./users.pug
include ./wallet-plus.pug
include ./wallet.pug
include ./warning.pug