svg#widget-consumption-icon(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
  path(d="M9.20089 3.43848H2.76084C2.16782 3.43848 1.6875 3.92034 1.6875 4.51526V16.3599C1.6875 16.9548 2.16782 17.4367 2.76084 17.4367H12.4209C13.0139 17.4367 13.4943 16.9548 13.4943 16.3599V10.4376" stroke="currentColor" stroke-width="1.1" stroke-miterlimit="10" stroke-linejoin="round")
  path(d="M4.90753 8.28394H1.6875V12.5911H4.90753C6.09303 12.5911 7.05421 11.6268 7.05421 10.4375C7.05421 9.2482 6.09303 8.28394 4.90753 8.28394Z" stroke="currentColor" stroke-width="1.1" stroke-miterlimit="10" stroke-linejoin="round")
  path(d="M4.90728 10.976C5.20367 10.976 5.44395 10.7349 5.44395 10.4376C5.44395 10.1402 5.20367 9.89917 4.90728 9.89917C4.61088 9.89917 4.37061 10.1402 4.37061 10.4376C4.37061 10.7349 4.61088 10.976 4.90728 10.976Z" fill="currentColor")
  path(d="M13.4944 9.36166V1.28577" stroke="currentColor" stroke-width="1.1" stroke-miterlimit="10" stroke-linejoin="round")
  path(d="M16.7145 4.51612L13.4944 1.28577L10.2744 4.51612" stroke="currentColor" stroke-width="1.1" stroke-miterlimit="10" stroke-linejoin="round")