svg#widget-money-icon(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
  g(clip-path="url(#clip0_2_3012)")
    path(d="M17.036 9.98071V13.241C17.036 14.6532 14.1325 16.5012 10.5507 16.5012C6.96899 16.5012 4.06543 14.6532 4.06543 13.241C4.06543 12.7763 4.06543 11.8707 4.06543 10.5241" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round")
    path(d="M4.33789 10.8046C5.1391 12.0525 7.61759 13.2225 10.5509 13.2225C14.1327 13.2225 17.0362 11.478 17.0362 9.97754C17.0362 9.13557 16.122 8.21276 14.6867 7.56494" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round")
    path(d="M14.2562 4.54651V7.80675C14.2562 9.21897 11.3527 11.067 7.77094 11.067C4.18921 11.067 1.28564 9.21897 1.28564 7.80675C1.28564 7.10984 1.28564 5.24342 1.28564 4.54651" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round")
    path(fill-rule="evenodd" clip-rule="evenodd" d="M7.77094 7.78846C11.3527 7.78846 14.2562 6.04397 14.2562 4.54349C14.2562 3.043 11.3527 1.28577 7.77094 1.28577C4.18921 1.28577 1.28564 3.043 1.28564 4.54349C1.28564 6.04397 4.18921 7.78846 7.77094 7.78846Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round")
  defs
    clipPath#clip0_2_3012
      rect(width="18" height="18" fill="white")