svg#widget-wallet-plus-icon(width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
  g(clip-path="url(#clip0_675_22359)")
    path(d="M9.80014 5.4V1.8C9.80014 1.358 9.44213 1 9.00012 1H1.80001C1.35801 1 1 1.358 1 1.8V10.6C1 11.042 1.35801 11.4 1.80001 11.4H5.40007" stroke="#374151" stroke-width="1.1" stroke-miterlimit="10" stroke-linejoin="round")
    path(d="M3.40004 4.59961H1V7.79961H3.40004C4.28365 7.79961 5.00006 7.08321 5.00006 6.19961C5.00006 5.31601 4.28365 4.59961 3.40004 4.59961Z" stroke="#374151" stroke-width="1.1" stroke-miterlimit="10" stroke-linejoin="round")
    path(d="M3.40001 6.60078C3.62092 6.60078 3.80001 6.4217 3.80001 6.20078C3.80001 5.97987 3.62092 5.80078 3.40001 5.80078C3.17909 5.80078 3 5.97987 3 6.20078C3 6.4217 3.17909 6.60078 3.40001 6.60078Z" fill="#374151")
    path(d="M9.79966 12.9996C11.567 12.9996 12.9997 11.5669 12.9997 9.79961C12.9997 8.0323 11.567 6.59961 9.79966 6.59961C8.03232 6.59961 6.59961 8.0323 6.59961 9.79961C6.59961 11.5669 8.03232 12.9996 9.79966 12.9996Z" stroke="#374151" stroke-width="1.1" stroke-miterlimit="10" stroke-linejoin="round")
    path(d="M7.7998 9.80078H11.7999" stroke="#374151" stroke-width="1.1" stroke-miterlimit="10" stroke-linejoin="round")
    path(d="M9.7998 7.80078V11.8008" stroke="#374151" stroke-width="1.1" stroke-miterlimit="10" stroke-linejoin="round")
  defs
    clipPath#clip0_675_22359
      rect(width="14" height="14" fill="white")