svg#widget-warning-icon(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
  circle(cx="9" cy="9" r="8.5" stroke="#374151")
  path(d="M10.125 10.6873V4.5C10.125 3.87868 9.62132 3.375 9 3.375C8.37868 3.375 7.875 3.87868 7.875 4.5V10.6873C7.875 11.3087 8.37868 11.8123 9 11.8123C9.62132 11.8123 10.125 11.3087 10.125 10.6873Z" fill="#374151")
  path(d="M9.42189 13.2188H8.57811C8.18979 13.2188 7.875 13.5335 7.875 13.9219C7.875 14.3102 8.18979 14.625 8.57811 14.625H9.42189C9.81021 14.625 10.125 14.3102 10.125 13.9219C10.125 13.5335 9.81021 13.2188 9.42189 13.2188Z" fill="#374151")