.popup__bg(data-popup-name="edit-mode")
.popup(data-popup-name="edit-mode")
  .popup__wrapper(data-scroll-lock-scrollable)
    .popup__apply__bg
    .popup__apply.popup__apply-confirm
      h3 Подтвердить действие
      p Сохранить изменения?
      .popup__buttons
        +button({
          class: 'button-base popup-edit-mode-cancel',
          title: 'Нет',
          view: 'button',
        })
        +button({
          class: 'button-with-icon-blue lg popup-edit-mode-save',
          title: 'Да',
          view: 'button',
        })
    .popup__apply.popup__apply-nosave
      h3 Вы внесли изменения
      p Выйти из режима редактирования <br>без сохранения?
      .popup__buttons
        +button({
          class: 'button-base popup-edit-mode-cancel',
          title: 'Нет',
          view: 'button',
        })
        +button({
          class: 'button-with-icon-blue lg popup-edit-mode-nosave',
          title: 'Да',
          view: 'button',
        })
    .popup__heading
      .popup__icon
        svg
          use(xlink:href="#other-edit-mode")
      h2 Режим редактирования
    form(action="#").popup__container
      .popup__controls
        .popup__alert
          svg
            use(xlink:href="#other-warning-icon")
          span Введенные данные не соответствуют автоматике. Обновите данные
        button(type="button" data-popup-name="confirm-changes").button.popup__refresh
          svg
            use(xlink:href="#other-refresh-icon")
          span Сбросить данные
      .popup__block
        h2 Основная информация
        .popup__items
          +input({
            isLabel: true,
            label: 'Наименование',
            name: 'name',
            placeholder: 'Введите наименование',
            type: 'text',
            value: 'ZeroDay | Кибербезопасность',
          })
          +input({
            isLabel: true,
            label: 'Тег в Telegram',
            name: 'tag',
            placeholder: 'Введите тег',
            type: 'text',
            value: '@cybersec_academy',
          })
          +dropdown({
            checkboxes: [
              {
                class: 'check-all',
                title: 'Все',
              },
              {
                title: 'Спорт',
              },
              {
                title: 'Фитнес',
              },
              {
                title: 'Спорт',
              },
              {
                title: 'Фитнес',
              },
              {
                title: 'Банки',
              },
              {
                title: 'Фитнес',
              },
              {
                title: 'Спорт',
              },
              {
                title: 'Фитнес',
              },
              {
                title: 'Спорт',
              },
              {
                title: 'Фитнес',
              },
              {
                title: 'Спорт',
              },
              {
                title: 'Фитнес',
              },
              {
                title: 'Спорт',
              },
              {
                title: 'Фитнес',
              },
              {
                title: 'Спорт',
              },
            ],
            class: 'dropdown-checkboxes error',
            errorText: 'Автоматическое значение: Автомобили',
            isAll: true,
            isCheckboxes: true,
            isError: true,
            isLabel: true,
            isResults: true,
            label: 'Категория',
          })
          +dropdown({
            checkboxes: [
              {
                class: 'check-all',
                title: 'Все',
              },
              {
                title: 'Россия',
              },
              {
                title: 'США',
              },
              {
                title: 'Россия',
              },
              {
                title: 'США',
              },
              {
                title: 'Россия',
              },
              {
                title: 'США',
              },
              {
                title: 'Россия',
              },
              {
                title: 'США',
              },
              {
                title: 'Россия',
              },
              {
                title: 'США',
              },
              {
                title: 'Россия',
              },
              {
                title: 'США',
              },
              {
                title: 'Россия',
              },
              {
                title: 'США',
              },
              {
                title: 'Россия',
              },
            ],
            class: 'dropdown-checkboxes error',
            errorText: 'Автоматическое значение: Болгария, Россия',
            isAll: true,
            isCheckboxes: true,
            isError: true,
            isLabel: true,
            isResults: true,
            label: 'ГЕО',
          })
          +dropdown({
            checkboxes: [
              {
                class: 'check-all',
                title: 'Все',
              },
              {
                title: 'Русский',
              },
              {
                title: 'Английский',
              },
              {
                title: 'Русский',
              },
              {
                title: 'Английский',
              },
              {
                title: 'Русский',
              },
              {
                title: 'Английский',
              },
              {
                title: 'Русский',
              },
              {
                title: 'Английский',
              },
              {
                title: 'Русский',
              },
              {
                title: 'Английский',
              },
              {
                title: 'Русский',
              },
              {
                title: 'Английский',
              },
              {
                title: 'Русский',
              },
              {
                title: 'Английский',
              },
              {
                title: 'Русский',
              },
            ],
            class: 'dropdown-checkboxes',
            isAll: true,
            isCheckboxes: true,
            isLabel: true,
            isResults: true,
            label: 'Язык канала',
          })
          .input.input-with-label.input__checkes
            span.input__label Наличие меток
            .input__container
              .input__check
                label
                  input.input__el.input.error(type="checkbox" name="verification")
                  span Верификация
                  svg
                    use(xlink:href="#label-verification-icon")
                  .error__text Верификация: есть
              .input__check
                label
                  input.input__el.input(type="checkbox" name="mark")
                  span Красная метка
                  svg
                    use(xlink:href="#label-warning-icon")
                  .error__text Метка: есть
              .input__check
                label
                  input.input__el.input(type="checkbox" name="mark")
                  span SCAM/FAKE
                  svg
                    use(xlink:href="#label-scam-icon")
                  .error__text Верификация: есть
      .popup__block
        h2 Статистика
        .popup__items
          +input({
            isLabel: true,
            label: 'Подписчики',
            name: 'subscribers',
            placeholder: 'Введите значение',
            type: 'text',
            value: '82 918',
          })
          .input.input-with-label.input__sexes.error
            span.input__label Аудитория
            .input__container
              label.input__sex.input-male
                p М
                input.input__el.input(type="text" name="male" value="52")
                span %
              label.input__sex.input-female
                p Ж
                input.input__el.input(type="text" name="female" value="48")
                span %
            .error__text Автоматическое значение: М (53%), Ж (47%)
          +input({
            isLabel: true,
            label: 'Индекс цитирования (ИЦ)',
            name: 'quote-intex',
            placeholder: 'Введите значение',
            type: 'text',
            value: '2.6',
          })
          .input.input-with-label.input__datas
            span.input__label Уровень вовлеченности
            .input__container
              label.input__data
                p ERR
                input.input__el.input(type="text" name="err")
                span %
              label.input__data
                p ER
                input.input__el.input(type="text" name="er")
                span %
          +input({
            isLabel: true,
            label: 'Охват',
            name: 'count',
            placeholder: 'Введите значение',
            type: 'text',
          })
      .popup__save
        svg
          use(xlink:href="#other-check-icon")
        span Изменения сохранены
      .popup__buttons
        +button({
          class: 'button-base edit-mode-cancel',
          title: 'Отменить',
          view: 'button',
        })
        +button({
          class: 'button-with-icon-blue lg edit-mode-save',
          title: 'Сохранить',
          type: 'submit',
          view: 'button',
        })