.popup__bg(data-popup-name="delete-stoplist-item")
.popup(data-popup-name="delete-stoplist-item")
  .popup__wrapper(data-scroll-lock-scrollable)
    .popup__title Подтвердить действие
    .popup__subtitle Удалить запись?
    .popup__form
      .popup__buttons
        +button({
          class: 'button-base',
          dataPopupName: 'delete-stoplist-item',
          title: 'Отмена',
          view: 'button',
        })
        +button({
          class: 'button-with-icon-blue',
          dataPopupName: 'delete-stoplist-item',
          title: 'Удалить',
          type: 'submit',
          view: 'button',
        })