.popup__bg(data-popup-name="delete-post")
.popup(data-popup-name="delete-post")
  .popup__wrapper(data-scroll-lock-scrollable)
    .popup__title Подтвердить действие
    .popup__subtitle Удалить запись?
    form(action="#")
      .popup__form
        .popup__buttons
          +button({
            class: 'button-confirm',
            dataPopupName: 'delete-post',
            title: 'Да',
            type: 'submit',
            view: 'button',
          })
          +button({
            class: 'button-base',
            dataPopupName: 'delete-post',
            title: 'Нет',
            view: 'button',
          })