.popup__bg(data-popup-name="add-channels-campaign")
.popup(data-popup-name="add-channels-campaign")
  .popup__wrapper(data-scroll-lock-scrollable)
    .popup__title Добавление каналов
      .popup__icon 
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.0002 4.43723C10.6731 4.43723 11.2185 3.89175 11.2185 3.21886C11.2185 2.54597 10.6731 2.00049 10.0002 2.00049C9.32728 2.00049 8.7818 2.54597 8.7818 3.21886C8.7818 3.89175 9.32728 4.43723 10.0002 4.43723Z" fill="#161616"/>
          <path d="M6.609 5.34397C7.28189 5.34397 7.82737 4.79849 7.82737 4.1256C7.82737 3.45271 7.28189 2.90723 6.609 2.90723C5.93611 2.90723 5.39062 3.45271 5.39062 4.1256C5.39062 4.79849 5.93611 5.34397 6.609 5.34397Z" fill="#0F0F0F"/>
          <path d="M4.12731 7.82883C4.8002 7.82883 5.34568 7.28335 5.34568 6.61046C5.34568 5.93757 4.8002 5.39209 4.12731 5.39209C3.45442 5.39209 2.90894 5.93757 2.90894 6.61046C2.90894 7.28335 3.45442 7.82883 4.12731 7.82883Z" fill="#3A3A3A"/>
          <path d="M3.21837 11.2185C3.89126 11.2185 4.43674 10.673 4.43674 10.0001C4.43674 9.32722 3.89126 8.78174 3.21837 8.78174C2.54548 8.78174 2 9.32722 2 10.0001C2 10.673 2.54548 11.2185 3.21837 11.2185Z" fill="#414141"/>
          <path d="M4.12731 14.6101C4.8002 14.6101 5.34568 14.0646 5.34568 13.3917C5.34568 12.7188 4.8002 12.1733 4.12731 12.1733C3.45442 12.1733 2.90894 12.7188 2.90894 13.3917C2.90894 14.0646 3.45442 14.6101 4.12731 14.6101Z" fill="#484848"/>
          <path d="M6.609 17.093C7.28189 17.093 7.82737 16.5475 7.82737 15.8746C7.82737 15.2017 7.28189 14.6562 6.609 14.6562C5.93611 14.6562 5.39062 15.2017 5.39062 15.8746C5.39062 16.5475 5.93611 17.093 6.609 17.093Z" fill="#727272"/>
          <path d="M10.0002 17.9997C10.6731 17.9997 11.2185 17.4542 11.2185 16.7814C11.2185 16.1085 10.6731 15.563 10.0002 15.563C9.32728 15.563 8.7818 16.1085 8.7818 16.7814C8.7818 17.4542 9.32728 17.9997 10.0002 17.9997Z" fill="#737373"/>
          <path d="M13.3907 17.093C14.0636 17.093 14.6091 16.5475 14.6091 15.8746C14.6091 15.2017 14.0636 14.6562 13.3907 14.6562C12.7178 14.6562 12.1724 15.2017 12.1724 15.8746C12.1724 16.5475 12.7178 17.093 13.3907 17.093Z" fill="#959595"/>
          <path d="M15.8735 14.6101C16.5464 14.6101 17.0919 14.0646 17.0919 13.3917C17.0919 12.7188 16.5464 12.1733 15.8735 12.1733C15.2006 12.1733 14.6552 12.7188 14.6552 13.3917C14.6552 14.0646 15.2006 14.6101 15.8735 14.6101Z" fill="#A6A6A6"/>
          <path d="M16.7819 11.2185C17.4548 11.2185 18.0003 10.673 18.0003 10.0001C18.0003 9.32722 17.4548 8.78174 16.7819 8.78174C16.109 8.78174 15.5635 9.32722 15.5635 10.0001C15.5635 10.673 16.109 11.2185 16.7819 11.2185Z" fill="#BFBFBF"/>
          <path d="M15.8735 7.82883C16.5464 7.82883 17.0919 7.28335 17.0919 6.61046C17.0919 5.93757 16.5464 5.39209 15.8735 5.39209C15.2006 5.39209 14.6552 5.93757 14.6552 6.61046C14.6552 7.28335 15.2006 7.82883 15.8735 7.82883Z" fill="#CFCFCF"/>
          <path d="M13.3907 5.34397C14.0636 5.34397 14.6091 4.79849 14.6091 4.1256C14.6091 3.45271 14.0636 2.90723 13.3907 2.90723C12.7178 2.90723 12.1724 3.45271 12.1724 4.1256C12.1724 4.79849 12.7178 5.34397 13.3907 5.34397Z" fill="#DFDFDF"/>
        </svg>
      .popup__status Обработка завершена
    .popup__subtitle.popup__subtitle-default Введите username или вставьте ссылку - канал/каналы будут добавлены в справочник и станут доступны для подбора
    .popup__subtitle.popup__subtitle-buffering Обрабатывается каналов: 
      span 0
    .popup__content
      .popup__textarea(contenteditable="true")
      .popup__placeholder Введите username или ссылку
    .popup__table 
      .popup__table__heading
        .popup__table__head
          p Новых:
            span.new 3
        .popup__table__head
          p Из базы:
            span.base 35
        .popup__table__head
          p Не найдено :
            span.not-found 2
      .popup__table__body
        table 
          thead
            tr 
              th 
              th(colspan="3") Канал
              th Статус
          tbody 
            tr 
              td 1
              td(colspan="3") https://t.me/dukaliti
              td 
                .status.status-green 
                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="7" cy="7" r="7" fill="#57CB74"/><path d="M4.5 6.77778L6.12981 8.80599C6.20987 8.90562 6.36156 8.90562 6.44162 8.80599L9.5 5" stroke="white" stroke-width="1.2" stroke-linecap="round"/></svg>
                  span Добавлен новый
            tr 
              td 2
              td(colspan="3") https://t.me/dukaliti
              td 
                .status.status-green 
                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="7" cy="7" r="7" fill="#57CB74"/><path d="M4.5 6.77778L6.12981 8.80599C6.20987 8.90562 6.36156 8.90562 6.44162 8.80599L9.5 5" stroke="white" stroke-width="1.2" stroke-linecap="round"/></svg>
                  span Добавлен новый
            tr 
              td 3
              td(colspan="3") @bbbreaking
              td 
                .status.status-green 
                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="7" cy="7" r="7" fill="#57CB74"/><path d="M4.5 6.77778L6.12981 8.80599C6.20987 8.90562 6.36156 8.90562 6.44162 8.80599L9.5 5" stroke="white" stroke-width="1.2" stroke-linecap="round"/></svg>
                  span Добавлен новый
            tr 
              td 4
              td(colspan="3") https://t.me/dukaliti
              td 
                .status.status-green 
                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="7" cy="7" r="7" fill="#57CB74"/><path d="M4.5 6.77778L6.12981 8.80599C6.20987 8.90562 6.36156 8.90562 6.44162 8.80599L9.5 5" stroke="white" stroke-width="1.2" stroke-linecap="round"/></svg>
                  span Добавлен новый
            tr 
              td 5
              td(colspan="3") https://t.me/dukaliti
              td 
                .status.status-blue 
                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="7" cy="7" r="7" fill="#5893FF"/><path d="M4.5 6.77778L6.12981 8.80599C6.20987 8.90562 6.36156 8.90562 6.44162 8.80599L9.5 5" stroke="white" stroke-width="1.2" stroke-linecap="round"/></svg>
                  span Добавлен из базы
            tr 
              td 6
              td(colspan="3") @bbbreaking
              td 
                .status.status-blue 
                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="7" cy="7" r="7" fill="#5893FF"/><path d="M4.5 6.77778L6.12981 8.80599C6.20987 8.90562 6.36156 8.90562 6.44162 8.80599L9.5 5" stroke="white" stroke-width="1.2" stroke-linecap="round"/></svg>
                  span Добавлен из базы
            tr 
              td 7
              td(colspan="3") @bbbreaking
              td 
                .status.status-blue 
                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="7" cy="7" r="7" fill="#5893FF"/><path d="M4.5 6.77778L6.12981 8.80599C6.20987 8.90562 6.36156 8.90562 6.44162 8.80599L9.5 5" stroke="white" stroke-width="1.2" stroke-linecap="round"/></svg>
                  span Добавлен из базы
            tr 
              td 8
              td(colspan="3") https://t.me/dukaliti
              td 
                .status.status-blue 
                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="7" cy="7" r="7" fill="#5893FF"/><path d="M4.5 6.77778L6.12981 8.80599C6.20987 8.90562 6.36156 8.90562 6.44162 8.80599L9.5 5" stroke="white" stroke-width="1.2" stroke-linecap="round"/></svg>
                  span Добавлен из базы
            tr 
              td 9
              td(colspan="3") https://t.me/dukaliti
              td 
                .status.status-red 
                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="7" cy="7" r="7" fill="#E26E5D"/><path d="M8.85474 4.5332C9.02396 4.364 9.29783 4.36398 9.46704 4.5332C9.63606 4.70244 9.63617 4.97634 9.46704 5.14551L7.61255 6.99902L9.46704 8.85352C9.63626 9.02274 9.63626 9.29758 9.46704 9.4668C9.29782 9.63602 9.02298 9.63602 8.85376 9.4668L6.99927 7.6123L5.14575 9.4668C4.97659 9.6359 4.70267 9.6358 4.53345 9.4668C4.36422 9.29758 4.36422 9.02274 4.53345 8.85352L6.38696 6.99902L4.53345 5.14551C4.36422 4.97628 4.36422 4.70243 4.53345 4.5332C4.70268 4.36398 4.97652 4.36398 5.14575 4.5332L6.99927 6.38672L8.85474 4.5332Z" fill="white" stroke="white" stroke-width="0.2"/></svg>
                  span Не найден
            tr 
              td 10
              td(colspan="3") @bbbreaking
              td 
                .status.status-red 
                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="7" cy="7" r="7" fill="#E26E5D"/><path d="M8.85474 4.5332C9.02396 4.364 9.29783 4.36398 9.46704 4.5332C9.63606 4.70244 9.63617 4.97634 9.46704 5.14551L7.61255 6.99902L9.46704 8.85352C9.63626 9.02274 9.63626 9.29758 9.46704 9.4668C9.29782 9.63602 9.02298 9.63602 8.85376 9.4668L6.99927 7.6123L5.14575 9.4668C4.97659 9.6359 4.70267 9.6358 4.53345 9.4668C4.36422 9.29758 4.36422 9.02274 4.53345 8.85352L6.38696 6.99902L4.53345 5.14551C4.36422 4.97628 4.36422 4.70243 4.53345 4.5332C4.70268 4.36398 4.97652 4.36398 5.14575 4.5332L6.99927 6.38672L8.85474 4.5332Z" fill="white" stroke="white" stroke-width="0.2"/></svg>
                  span Не найден
            tr 
              td 11
              td(colspan="3") @bbbreaking
              td 
                .status.status-red 
                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="7" cy="7" r="7" fill="#E26E5D"/><path d="M8.85474 4.5332C9.02396 4.364 9.29783 4.36398 9.46704 4.5332C9.63606 4.70244 9.63617 4.97634 9.46704 5.14551L7.61255 6.99902L9.46704 8.85352C9.63626 9.02274 9.63626 9.29758 9.46704 9.4668C9.29782 9.63602 9.02298 9.63602 8.85376 9.4668L6.99927 7.6123L5.14575 9.4668C4.97659 9.6359 4.70267 9.6358 4.53345 9.4668C4.36422 9.29758 4.36422 9.02274 4.53345 8.85352L6.38696 6.99902L4.53345 5.14551C4.36422 4.97628 4.36422 4.70243 4.53345 4.5332C4.70268 4.36398 4.97652 4.36398 5.14575 4.5332L6.99927 6.38672L8.85474 4.5332Z" fill="white" stroke="white" stroke-width="0.2"/></svg>
                  span Не найден
    .popup__counter Будет обработано каналов: 
      span 0
    .popup__buttons.popup__buttons-default
      +button({
        class: 'button-base lg popup-hide-buffer',
        dataPopupName: 'add-channels-campaign',
        title: 'Отмена',
        view: 'button',
      })
      +button({
        class: 'button-with-icon-blue lg popup-buffer',
        isDisabled: true,
        title: 'Добавить',
        type: 'button',
        view: 'button',
      })
    .popup__buttons.popup__buttons-buffer
      +button({
        class: 'button-base lg popup-done',
        title: 'Готово',
        dataPopupName: 'add-channels-campaign',
        type: 'button',
        view: 'button',
      })