.popup(data-popup-name="add-admin")
  .popup__bg
  .popup__wrapper
    .popup__title Добавление администратора
      form(action="#")
        .popup__form.popup__form-two-cols
          .popup__col
            +input({
              label: 'Наименование',
              type: 'text',
              placeholder: 'Введите наименование...',
              isRequired: true,
              isLabel: true,
              name: 'name',
            })
            +input({
              label: 'Контакт в Телеграм',
              type: 'text',
              placeholder: 'Введите тег...',
              isRequired: true,
              isLabel: true,
              name: 'telegram',
            })
            +dropdown({
              class: 'dropdown-checkboxes',
              title: 'Выберите каналы',
              label: 'Каналы',
              isRequired: true,
              isCheckboxes: true,
              checkboxes: [
                { title: 'Все' },
                { title: 'Банки' },
                { title: 'Банки' },
                { title: 'Автомобили' },
                { title: 'Банки' },
                { title: 'Банки' },
                { title: 'Автомобили' },
                { title: 'Автомобили' },
                { title: 'Автомобили' },
                { title: 'Автомобили' },
                { title: 'Автомобили' },
                { title: 'Автомобили' },
                { title: 'Автомобили' },
                { title: 'Автомобили' },
                { title: 'Автомобили' },
                { title: 'Автомобили' },
              ],
            })
            +dropdown({
              class: 'dropdown-checkboxes',
              title: 'Выберите организацию',
              label: 'Организация',
              isCheckboxes: true,
              checkboxes: [
                { title: 'Все' },
                { title: 'Банки' },
                { title: 'Банки' },
                { title: 'Автомобили' },
                { title: 'Банки' },
                { title: 'Банки' },
                { title: 'Автомобили' },
                { title: 'Автомобили' },
                { title: 'Автомобили' },
                { title: 'Автомобили' },
                { title: 'Автомобили' },
                { title: 'Автомобили' },
                { title: 'Автомобили' },
                { title: 'Автомобили' },
                { title: 'Автомобили' },
                { title: 'Автомобили' },
              ],
            })
          .popup__col
            +dropdown({
              class: 'dropdown-priority',
              title: '––',
              label: 'Приоритет',
              isPriority: true,
              isButtons: true,
              buttons: [ 
                { title: 'Очень высокий', color: 'red' },
                { title: 'Высокий', color: 'pink' },
                { title: 'Средний', color: 'orange' },
                { title: 'Низкий', color: 'peach' },
                { title: 'Очень низкий', color: 'yellow' },
              ],
            })
        .popup__buttons
          +button({
            view: 'button',
            class: 'button-with-icon-blue lg popup-close',
            type: 'submit',
            title: 'Сохранить',
            dataPopupName: 'add-admin',
          })
          +button({
            view: 'button',
            class: 'button-base lg popup-close',
            title: 'Отмена',
            dataPopupName: 'add-admin',
          })
