.popup__bg(data-popup-name="add-channel")
.popup(data-popup-name="add-channel")
  .popup__wrapper(data-scroll-lock-scrollable)
    .popup__apply__bg
    .popup__apply.popup__apply-top
      h3 Подтвердить действие
      p Выйти без сохранения?
      .popup__buttons
        +button({
          class: 'button-with-icon-blue lg popup-nosave',
          dataPopupName: 'add-channel',
          title: 'Да',
          view: 'button',
        })
        +button({
          class: 'button-base popup-cancel',
          title: 'Нет',
          view: 'button',
        })
    .popup__apply.popup__apply-bottom
      h3 Подтвердить действие
      p Сохранить изменения?
      .popup__buttons
        +button({
          class: 'button-with-icon-blue lg popup-save',
          dataPopupName: 'add-channel',
          isDisabled: true,
          title: 'Сохранить',
          view: 'button',
        })
        +button({
          class: 'button-base popup-cancel',
          title: 'Отменить',
          view: 'button',
        })
    .popup__apply.popup__apply-cancel
      h3 Подтвердить действие
      p Выйти без сохранения?
      .popup__buttons
        +button({
          class: 'button-with-icon-blue lg popup-nosave',
          dataPopupName: 'add-channel',
          title: 'Да',
          view: 'button',
        })
        +button({
          class: 'button-base popup-cancel',
          title: 'Нет',
          view: 'button',
        })
    .popup__close
      +button({
        ariaLabel: 'close',
        class: 'button-close popup-save-top',
        icon: 'other-close-icon',
        isOnlyIcon: true,
        view: 'button',
      })
    .popup__title Подбор каналов
    .popup__subtitle В каталоге 93 461 открытых каналов
    +heading-table({
      title: 'Найдено каналов: 93 461',
      class: 'heading-table-popup',
      buttons: [
        {
          view: 'button',
          class: 'button-with-icon filter__toggle',
          icon: 'other-controls-icon',
          title: 'Фильтр',
          isClose: true,
          dataFilterName: 'add-channel',
        },
      ],
    })
    .inner.in-container
      .content.content-collapsed
        .table__selected
          p Выбрано каналов:
            span 0
            +button({
              ariaLabel: 'close',
              class: 'table__clear',
              icon: 'other-close-icon',
              isOnlyIcon: true,
              view: 'button',
            })
          .table__right
            +button({
              ariaLabel: 'toggle',
              class: 'table__toggle',
              icon: 'other-angle-down-icon',
              isOnlyIcon: true,
              view: 'button',
            })
        .content-scroll
          include ../campaign/popup/table-popup
        .mt-12
          include ../pagination
      include ../campaign/popup/filter-popup
    .popup__buttons.popup__buttons-selected
      +button({
        class: 'button-with-icon-blue lg popup-save-bottom',
        isDisabled: true,
        title: 'Сохранить',
        type: 'submit',
        view: 'button',
      })
      +button({
        class: 'button-base popup-cancel-bottom',
        title: 'Отмена',
        view: 'button',
      })