.popup__bg(data-popup-name="add-tag")
.popup(data-popup-name="add-tag")
  .popup__wrapper(data-scroll-lock-scrollable)
    .input__label Наличие тега
    form(action="#")
      .popup__labels
        label.popup__label
          input(type="radio" name="tag" value="required")
          span Обязательно
        label.popup__label
          input(type="radio" name="tag" value="none")
          span Отсутствует
        label.popup__label
          input(type="radio" name="tag" value="depends")
          span Зависит от поста
    .input__label Тег
    .popup__content
      .popup__textarea(contenteditable="false").disabled
      .popup__placeholder Введите тег
    .popup__buttons
      +button({
        class: 'button-base lg',
        dataPopupName: 'add-tag',
        title: 'Отмена',
        view: 'button',
      })
      +button({
        class: 'button-with-icon-blue lg',
        dataPopupName: 'add-tag',
        isDisabled: true,
        title: 'Сохранить',
        type: 'submit',
        view: 'button',
      })