.popup__bg(data-popup-name="edit-approved-lists")
.popup(data-popup-name="edit-approved-lists")
  .popup__wrapper(data-scroll-lock-scrollable)
    .popup__title Редактирование записи о канале в списке
    form(action="#")
      .popup__form.popup__form-two-cols
        .popup__col
          +input({
            isLabel: true,
            label: 'Рекламный канал',
            name: 'telegram',
            placeholder: 'Telegram',
            type: 'text',
          })
        .popup__col
          +input({
            isLabel: true,
            label: 'Рекламный канал',
            name: 'telegram',
            placeholder: 'Telegram',
            type: 'text',
          })
        +input({
          isLabel: true,
          isTextarea: true,
          label: 'Комментарии',
          name: 'description',
          placeholder: 'Добавить комментарий...',
        })
      .popup__buttons
        +button({
          class: 'button-base lg',
          dataPopupName: 'edit-approved-lists',
          title: 'Отмена',
          view: 'button',
        })
        +button({
          class: 'button-with-icon-blue lg',
          dataPopupName: 'edit-approved-lists',
          title: 'Добавить',
          type: 'submit',
          view: 'button',
        })