.popup__bg(data-popup-name="add-tag-fact")
.popup(data-popup-name="add-tag-fact")
  .popup__wrapper(data-scroll-lock-scrollable)
    .input__label Фактическое наличие тега
    form(action="#")
      .popup__labels
        label.popup__label
          input(type="radio" name="add-tag-fact" value="added")
          span Добавлен
        label.popup__label
          input(type="radio" name="add-tag-fact" value="none")
          span Не добавлен
    <div class="input__label">Тег
      <div class="button">
        <svg viewBox="0 0 17 16" width="17" height="16"><use xlink:href="#other-info-icon"></use></svg>
        <span>Ввод тегов доступен для вариантов<br>
          <ul>
            <li>Обязательно</li>
            <li>Зависит от поста</li>
          </ul>
        </span>
      </div>
    </div>
    .popup__content
      .popup__textarea(contenteditable="false").disabled
      .popup__placeholder Введите тег
    .popup__error
      svg
        use(xlink:href="#other-error-icon")
      span Не более 15 тегов
    .popup__buttons
      +button({
        class: 'button-base lg',
        dataPopupName: 'add-tag-fact',
        title: 'Отмена',
        view: 'button',
      })
      +button({
        class: 'button-with-icon-blue lg',
        dataPopupName: 'add-tag-fact',
        isDisabled: true,
        title: 'Сохранить',
        type: 'submit',
        view: 'button',
      })