.popup__bg(data-popup-name="bill-annul")
.popup(data-popup-name="bill-annul")
  .popup__wrapper(data-scroll-lock-scrollable)
    .popup__title Подтвердить действие
    .popup__subtitle Аннулировать счет? <br> Загруженный файл счета будет удален
    .popup__form
      .popup__buttons
        +button({
          class: 'button-base',
          dataPopupName: 'bill-annul',
          title: 'Нет',
          view: 'button',
        })
        +button({
          class: 'button-confirm button-with-icon-blue',
          dataPopupName: 'bill-annul',
          title: 'Аннулировать',
          view: 'button',
        })