.popup__bg(data-popup-name="check-button-channels")
.popup(data-popup-name="check-button-channels")
  .popup__wrapper(data-scroll-lock-scrollable)
    .input__label Интеграция кнопки
    form(action="#")
      .popup__labels
        label.popup__label
          input(type="radio" name="check-button-channels" value="avalible")
          span Доступна
        label.popup__label
          input(type="radio" name="check-button-channels" value="depends")
          span Зависит от поста
        label.popup__label
          input(type="radio" name="check-button-channels" value="none")
          span Недоступна
      .popup__form
        .popup__col
          +input({
            class: 'only-numbers',
            isDisabled: true,
            isLabel: true,
            label: 'Доплата за интеграцию',
            smallLabel: '% от себестоимости',
            name: 'check-button-channels',
            placeholder: '0',
            type: 'text',
            isTip: true,
            tip: `
              Ввод доплаты доступен для вариантов<br>
              <ul>
                <li>Доступна</li>
                <li>Зависит от поста</li>
              </ul>
            `
          })
          label.mp
            input(type="checkbox" name="mp")
            span Включить в цену МП
    .popup__buttons
      +button({
        class: 'button-base lg',
        dataPopupName: 'check-button-channels',
        title: 'Отмена',
        view: 'button',
      })
      +button({
        class: 'button-with-icon-blue lg',
        dataPopupName: 'check-button-channels',
        isDisabled: true,
        title: 'Сохранить',
        type: 'submit',
        view: 'button',
      })