.popup__bg(data-popup-name="confirm-changes")
.popup(data-popup-name="confirm-changes")
  .popup__wrapper(data-scroll-lock-scrollable)
    .popup__heading
      .popup__icon
        svg
          use(xlink:href="#other-refresh-icon")
      h2 Подтвердите сброс данных
    .popup__content
      h2 Будут внесены следующие изменения
      .popup__block
        h3 Наименование
        .popup__changes
          .popup__change.old
            span ZeroDay | Кибербезопасность
          <svg width="27" height="8" viewBox="0 0 27 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M26.3536 4.35355C26.5488 4.15829 26.5488 3.84171 26.3536 3.64645L23.1716 0.464466C22.9763 0.269204 22.6597 0.269204 22.4645 0.464466C22.2692 0.659728 22.2692 0.976311 22.4645 1.17157L25.2929 4L22.4645 6.82843C22.2692 7.02369 22.2692 7.34027 22.4645 7.53553C22.6597 7.7308 22.9763 7.7308 23.1716 7.53553L26.3536 4.35355ZM0 4.5H26V3.5H0V4.5Z" fill="#374151"/></svg>
          .popup__change
            span ZeroDay | Кибербезопасность 2025
      .popup__block
        h3 Категория
        .popup__changes
          .popup__change.old
            .dropdown__values
              .dropdown__value
                span Спорт
              .dropdown__value
                span Спорт
          <svg width="27" height="8" viewBox="0 0 27 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M26.3536 4.35355C26.5488 4.15829 26.5488 3.84171 26.3536 3.64645L23.1716 0.464466C22.9763 0.269204 22.6597 0.269204 22.4645 0.464466C22.2692 0.659728 22.2692 0.976311 22.4645 1.17157L25.2929 4L22.4645 6.82843C22.2692 7.02369 22.2692 7.34027 22.4645 7.53553C22.6597 7.7308 22.9763 7.7308 23.1716 7.53553L26.3536 4.35355ZM0 4.5H26V3.5H0V4.5Z" fill="#374151"/></svg>
          .popup__change
            .dropdown__values
              .dropdown__value
                span Собаки
              .dropdown__value
                span Кошки
      .popup__block
        h3 Наличие меток
        .popup__changes
          .popup__change.old
            .input__check
              label
                input.input__el.input(type="checkbox" name="mark")
                span Красная метка
                svg
                  use(xlink:href="#label-warning-icon")
          <svg width="27" height="8" viewBox="0 0 27 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M26.3536 4.35355C26.5488 4.15829 26.5488 3.84171 26.3536 3.64645L23.1716 0.464466C22.9763 0.269204 22.6597 0.269204 22.4645 0.464466C22.2692 0.659728 22.2692 0.976311 22.4645 1.17157L25.2929 4L22.4645 6.82843C22.2692 7.02369 22.2692 7.34027 22.4645 7.53553C22.6597 7.7308 22.9763 7.7308 23.1716 7.53553L26.3536 4.35355ZM0 4.5H26V3.5H0V4.5Z" fill="#374151"/></svg>
          .popup__change
            .input__check
              label
                input.input__el.input(type="checkbox" name="mark" checked)
                span Красная метка
                svg
                  use(xlink:href="#label-warning-icon")
      .popup__block
        h3 Аудитория
        .popup__changes
          .popup__change.old
            .input__sexes
              .input__container
                label.input__sex.input-male
                  p М
                  input.input__el.input(type="text" name="male" value="45")
                  span %
                label.input__sex.input-female
                  p Ж
                  input.input__el.input(type="text" name="female" value="55")
                  span %
          <svg width="27" height="8" viewBox="0 0 27 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M26.3536 4.35355C26.5488 4.15829 26.5488 3.84171 26.3536 3.64645L23.1716 0.464466C22.9763 0.269204 22.6597 0.269204 22.4645 0.464466C22.2692 0.659728 22.2692 0.976311 22.4645 1.17157L25.2929 4L22.4645 6.82843C22.2692 7.02369 22.2692 7.34027 22.4645 7.53553C22.6597 7.7308 22.9763 7.7308 23.1716 7.53553L26.3536 4.35355ZM0 4.5H26V3.5H0V4.5Z" fill="#374151"/></svg>
          .popup__change
            .input__sexes
              .input__container
                label.input__sex.input-male
                  p М
                  input.input__el.input(type="text" name="male" value="45")
                  span %
                label.input__sex.input-female
                  p Ж
                  input.input__el.input(type="text" name="female" value="55")
                  span %
      .popup__container
        .popup__buttons
          +button({
            class: 'button-base popup-confirm-changes-cancel',
            title: 'Отменить',
            view: 'button',
          })
          +button({
            class: 'button-with-icon-blue lg popup-confirm-changes-reset',
            title: 'Сбросить',
            view: 'button',
          })