mixin breadcrumbs(data = {})
  - const { defaults, mergeConfig } = require('./_config');
  - const config = mergeConfig(data, defaults);
  
  .breadcrumbs
    each link in config.data
      if link.href == ''
        span= link.title
      else
        a(href=link.href)= link.title
        span /