mixin breadcrumbs(data = {})
  - const { defaults, mergeConfig } = require('/assets/js/_defaults/breadcrumbs/_defaults');
  - const modefied = mergeConfig(data, defaults);

  .breadcrumbs
    each link in modefied.values
      if link.href == ''
        span= link.title
        
      else
        a(href=link.href)= link.title
        span /