mixin breadcrumbs(data = {})
  - const { defaults, mergeConfig } = require('./_defaults');
  - const modefied = mergeConfig(data, defaults);
  
  .breadcrumbs
    each link in modefied.data
      if link.href == ''
        span= link.title
        
      else
        a(href=link.href)= link.title
        span /