mixin row-coordination(data)
  tr
    td(style="min-width: 76px;").fixed-td.fixed-td-border
      .table__sort.flex.gap-x-3.items-center
        +input({
          class: 'md table__checkbox table__checkbox-accept',
          isChecked: data.accept,
          isRadio: true,
          type: 'radio',
          name: data.name,
        })
        +input({
          class: 'md table__checkbox table__checkbox-decline',
          isChecked: data.decline,
          isRadio: true,
          type: 'radio',
          name: data.name,
        })
    td(style="min-width: 288px;").fixed-td.fixed-td-border.fixed-td-prev-checkbox
      .flex.items-center(class="gap-x-1.5")
        img.rounded.object-cover(class="w-[30px] h-[30px]" src="/assets/images/avatar.png" alt="tg-channel")
        .flex.flex-col.items-start
          h3
            a(href="#").table__channel ZeroDay | Кибербезопасность
          a(href="https://t.me/cybersec_academy" target="_blank").table__link @cybersec_academy
    td.only-text(style="padding-left: 32px;") Интернет технологии
    td
      .grid.items-center(class="gap-x-1.5 grid-cols-[30px_1fr]")
        img.rounded.object-cover(class="w-[30px] h-[30px]" src="/assets/images/avatar.png" alt="tg-channel")
        span Илья Сорокин
    td.only-text.text-right 999 999
    td.only-text.text-right 2 500 500
    td.only-text.text-right 200 500 ₽
    td.only-text.text-right 25,5%
    td.text-right
      .flex.items-center.justify-end
        +input({
          autocomplete: 'off',
          class: 'currency only-numbers',
          name: 'revenue',
          placeholder: '0',
          type: 'text',
        })
    td.text-right
      .flex.items-center.justify-end
        +input({
          autocomplete: 'off',
          class: 'percent only-numbers',
          name: 'revenue',
          placeholder: '0',
          type: 'text',
        })
    td.only-text
      +button({
        class: 'button-with-icon only-input start-day',
        isCalendar: true,
        isDatePicker: true,
        isMonthPicker: false,
        isSinglePicker: true,
        value: 'дд.мм.гггг',
        view: 'button',
      })
    td.only-text
      +dropdown({
        buttons: [
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
        ],
        class: 'dropdown-radios',
        isRadios: true,
        isSearch: true,
      })
    td
      +input({
        class: 'table__comment',
        name: 'comment',
        placeholder: 'Добавить комментарий...',
      })