table.table.table-default.table-coordination
  thead
    tr
      th(style="min-width: 76px;").fixed-th.fixed-th-border
        .table__sort.flex.gap-x-3.items-center
          +input({
            class: 'md table__checkbox pointer-events-none table__checkbox-accept',
            isChecked: true,
            type: 'checkbox',
          })
          +input({
            class: 'md table__checkbox pointer-events-none table__checkbox-decline',
            isChecked: true,
            type: 'checkbox',
          })
      th(style="min-width: 288px; max-width: 288px;").fixed-th.fixed-th-border.fixed-th-prev-checkbox
        .table__sort.flex.gap-x-2.items-center
          p Канал
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th(style="padding-left: 32px;")
        .table__sort.flex.gap-x-2.items-center
          p Категория
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Администратор
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p.text-right Подписчики
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center.justify-end
          p.text-right Охват
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center.justify-end
          p.text-right ERR
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center.justify-end
          p.text-right Скидка
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center.justify-end
          p.text-right Себестоимость
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Ближайшая дата поста
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Менеджер
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Адаптация
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Кнопка
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Тег
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p РКН
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Комментарий
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
  tbody
    +row-coordination({
      isRadio: true,
      accept: true,
      decline: false,
      name: 'coordination-1'
    })
    +row-coordination({
      isRadio: true,
      accept: false,
      decline: true,
      name: 'coordination-2'
    })
    +row-coordination({
      isRadio: true,
      accept: true,
      decline: false,
      name: 'coordination-3'
    })
    +row-coordination({
      isRadio: true,
      accept: false,
      decline: true,
      name: 'coordination-4'
    })
    +row-coordination({
      isRadio: true,
      accept: true,
      decline: false,
      name: 'coordination-5'
    })
    +row-coordination({
      isRadio: true,
      accept: false,
      decline: true,
      name: 'coordination-6'
    })
    +row-coordination({
      isRadio: true,
      accept: false,
      decline: true,
      name: 'coordination-7'
    })