svg#other-arrow-right-icon(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
  path(d="M9.5 3L8.785 3.6965L12.575 7.5H2.5V8.5H12.575L8.785 12.2865L9.5 13L14.5 8L9.5 3Z" fill="currentColor")