svg#other-info-icon(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
  g(clip-path="url(#clip0_44_10660)")
    path(d="M0.315625 8C0.315625 3.75699 3.98419 0.3 8.5 0.3C13.0158 0.3 16.6844 3.75699 16.6844 8C16.6844 12.243 13.0158 15.7 8.5 15.7C3.98419 15.7 0.315625 12.243 0.315625 8ZM1.80938 8C1.80938 11.4767 4.8136 14.3 8.5 14.3C12.1864 14.3 15.1906 11.4767 15.1906 8C15.1906 4.52328 12.1864 1.7 8.5 1.7C4.8136 1.7 1.80938 4.52328 1.80938 8Z" fill="currentColor" stroke="white" stroke-width="0.1")
    path(d="M8.5 5.55029C8.0598 5.55029 7.70312 5.88623 7.70312 6.30029V11.8369C7.70312 12.251 8.0598 12.5869 8.5 12.5869C8.9402 12.5869 9.29688 12.251 9.29688 11.8369V6.30029C9.29688 5.88623 8.9402 5.55029 8.5 5.55029Z" fill="currentColor")
    path(d="M8.5 3.41309C8.0598 3.41309 7.70312 3.74903 7.70312 4.16309V4.16553C7.70312 4.57959 8.0598 4.91455 8.5 4.91455C8.9402 4.91455 9.29688 4.57715 9.29688 4.16309C9.29688 3.74902 8.9402 3.41309 8.5 3.41309Z" fill="currentColor")
  defs
    clipPath#clip0_44_10660
      rect(width="17" height="16" fill="white")