svg#other-pinned-icon(width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg")
  g(clip-path="url(#clip0_2_3118)")
    path(d="M8.56804 11.8723H14.8719L11.1538 7.97362V3.44681L12.5838 3.44681C13.2153 3.44681 13.8461 2.90719 13.8461 2.27796V1.13936C13.8461 0.510128 13.2153 0 12.5838 0L2.28804 0C1.6565 0 1.1538 0.510128 1.1538 1.13936L1.1538 2.27834C1.1538 2.90719 1.6565 3.44681 2.28804 3.44681H3.84611L3.84611 8.01728L0.0441895 11.8723H6.34804L7.45804 18.1157L8.56804 11.8723Z" fill="currentColor")
  defs
    clipPath#clip0_2_3118
      rect(width="15" height="18" fill="white")