mixin row-mediaplan-agreed(data)
  tr
    td(style="min-width: 280px;")
      .flex.items-center(class="gap-x-1.5")
        img.rounded.object-cover(class="w-[30px] h-[30px]" src="/assets/images/avatar.png" alt="tg-channel")
        .flex.flex-col.items-start
          h3
            a(href="#").table__channel ZeroDay | Кибербезопасность
          a(href="https://t.me/cybersec_academy" target="_blank").table__link @cybersec_academy
    td.only-text Интернет технологии
    td
      .grid.items-center(class="gap-x-1.5 grid-cols-[30px_1fr]")
        img.rounded.object-cover(class="w-[30px] h-[30px]" src="/assets/images/avatar.png" alt="tg-channel")
        span Илья Сорокин
    td.only-text.text-right 999 999
    td.only-text.text-right 2 500 500
    td.only-text.text-right 200 500 ₽
    td.only-text.text-right 25,5%
    td.only-text.text-right 20 500 ₽
    td.only-text.text-right 25,5%
    td.only-text.text-right 24.12.2024
    td.only-text
      +dropdown({
        buttons: [
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
        ],
        class: 'dropdown-radios',
        isRadios: true,
      })
    td.only-text
      +dropdown({
        buttons: [
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
        ],
        class: 'dropdown-radios',
        isRadios: true,
      })
    td.only-text
      +dropdown({
        buttons: [
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
        ],
        class: 'dropdown-radios',
        isRadios: true,
      })
    td
      +input({
        class: 'table__comment',
        name: 'comment',
        placeholder: 'Добавить комментарий...',
      })