aside.filter.filter-popup(data-filter-name="add-channel")
  .filter__container
    .filter__title
      h2 Фильтр
      button(type="button" data-filter-name="add-channel").filter__clear Сбросить
    form(action="#")
      h3.filter__subtitle Поиск по ключевым словам
      +search
      +input({
        class: 'input-checkbox-with-label',
        isLabel: true,
        label: 'также искать в описании',
        type: 'checkbox',
        value: 'также искать в описании',
      })
      h3.filter__subtitle Канал
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        isResults: true,
      })
      h3.filter__subtitle Категория
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        isResults: true,
      })
      h3.filter__subtitle Одобренные списки
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            title: 'Приоритет',
          },
          {
            title: 'Стоп-лист',
          },
          {
            title: 'Без метки',
          },
        ],
        class: 'dropdown-checkboxes dropdown-stoplist',
        isAll: true,
        isCheckboxes: true,
      })
      h3.filter__subtitle Язык канала
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        isResults: true,
      })
      h3.filter__subtitle Организация
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        isResults: true,
      })
      h3.filter__subtitle Администратор
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        isResults: true,
      })
      h3.filter__subtitle ERR (%)
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle ER (%)
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Мужская аудитория (%)
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Женская аудитория (%)
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Подписчиков
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Политика (слова), %
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Средний охват поста
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Средний охват поста (24 часа)
      +input({
        max: '100',
        min: '0',
      })
      .filter__checkboxes
        +input({
          class: 'input-checkbox-with-label',
          icon: 'other-info-icon',
          isLabel: true,
          label: 'Верифицированный',
          type: 'checkbox',
          value: 'Верифицированный',
        })
        +input({
          class: 'input-checkbox-with-label',
          icon: 'other-info-icon',
          isLabel: true,
          label: 'Без красной метки',
          type: 'checkbox',
          value: 'Без красной метки',
        })
        +input({
          class: 'input-checkbox-with-label',
          icon: 'other-info-icon',
          isLabel: true,
          label: 'Без метки SCAM/FAKE',
          type: 'checkbox',
          value: 'Без метки SCAM/FAKE',
        })
        +input({
          class: 'input-checkbox-with-label',
          icon: 'other-info-icon',
          isLabel: true,
          label: 'Скрывать мертвые',
          type: 'checkbox',
          value: 'Скрывать мертвые',
        })
        +input({
          class: 'input-checkbox-with-label',
          icon: 'other-info-icon',
          isLabel: true,
          label: 'Есть в нашей базе',
          type: 'checkbox',
          value: 'Есть в нашей базе',
        })
      +button({
        class: 'button-base filter__button',
        title: 'Применить',
        type: 'submit',
        view: 'button',
      })