mixin subrow-process-channels(data)
  tr.subrow
    td.only-text(colspan="17")
      .fixed-subrow
        .flex.items-center(class="gap-x-2.5")
          h3= data.title
          span= data.count
        +button({
          class: 'button-icon sm',
          icon: 'other-angle-down-icon',
          isOnlyIcon: true,
          view: 'button',
        })