table.table.table-fixed-cols.table-process-channels
  thead
    tr
      th(style="min-width: 280px;")
        .table__sort.flex.gap-x-2.items-center
          p Канал
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Категория
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Администратор
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Юридическое лицо
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center.justify-end
          p.text-right Подписчики
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center.justify-end
          p.text-right Охват
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center.justify-end
          p.text-right Последняя ставка
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center.justify-end
          p.text-right Последняя скидка
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center.justify-end
          p.text-right Себестоимость
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center.justify-end
          p.text-right Скидка
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Ближайшая дата поста
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Менеджер
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Статус сделки
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Счет
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Согласование клиентом
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Согласование куратором
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Комментарий
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
  tbody
    +subrow-process-channels({
      title: 'Согласованные каналы',
      count: '4',
      class: 'active',
    })
    +row-process-channels({
      color: 'status-gray',
      status: 'Завершено',
      file: '',
    })
    +row-process-channels({
      color: 'status-blue',
      status: 'Ожидание оплаты',
      file: '',
    })
    +row-process-channels({
      color: 'status-gray',
      status: 'Завершено',
      file: '',
    })
    +row-process-channels({
      color: 'status-purple',
      status: 'На согласовании',
      file: '',
    })
    +subrow-process-channels({
      title: 'Несогласованные каналы',
      count: '3',
      class: 'active',
    })
    +row-process-channels({
      color: 'status-transparent',
      status: '––',
    })
    +row-process-channels({
      color: 'status-transparent',
      status: '––',
    })
    +row-process-channels({
      color: 'status-transparent',
      status: '––',
    })