mixin link(data = {})
  - const { defaults, mergeConfig } = require('./_config');
  - const config = mergeConfig(data, defaults);

  a(
    href=config.href || '#'
    download=config.download
    class="button " + config.class
  )
    if config.icon
      svg
        use(xlink:href="#" + config.icon)
    if data.title
      span(class=config.switchable ? 'narrowed' : '')= config.title
    if config.close
      svg.button-clear
        use(xlink:href="#other-close-icon")