aside.filter.filter-sm(data-filter-name="company-process")
  .filter__container
    .filter__title
      h2 Фильтр
      button(type="button" data-filter-name="company-survey").filter__clear Сбросить
    form(action="#")
      h3.filter__subtitle Канал
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
      })
      h3.filter__subtitle Менеджер
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
      })
      h3.filter__subtitle Токен
      +input({
        name: 'token',
        placeholder: 'Введите токен...',
      })
      h3.filter__subtitle Статус размещения
      +dropdown({
        buttons: [
          {
            color: 'status-transparent',
            isChecked: true,
            title: '—',
          },
          {
            color: 'status-green',
            title: 'Размещено',
          },
        ],
        class: 'dropdown-status',
        isButtons: true,
        isStatus: true,
        title: '—',
      })
      h3.filter__subtitle Дата поста (план)
      +button({
        calendarClass: 'opensleft',
        class: 'button-with-icon',
        icon: 'other-calendar-icon',
        isCalendar: true,
        isDatePicker: true,
        isMonthPicker: false,
        isSinglePicker: true,
        placeholder: 'дд.мм.гггг',
        view: 'button',
      })
      h3.filter__subtitle Дата поста (факт)
      +button({
        calendarClass: 'opensleft',
        class: 'button-with-icon',
        icon: 'other-calendar-icon',
        isCalendar: true,
        isDatePicker: true,
        isMonthPicker: false,
        isSinglePicker: true,
        placeholder: 'дд.мм.гггг',
        view: 'button',
      })
      h3.filter__subtitle Наличие скриншота (старт)
      +dropdown({
        buttons: [
          {
            isChecked: true,
            name: 'process-screenshot-start',
            title: 'Все',
          },
          {
            name: 'process-screenshot-start',
            title: 'Да',
          },
        ],
        class: 'dropdown-radios',
        isRadios: true,
      })
      h3.filter__subtitle Наличие скриншота (24 часа)
      +dropdown({
        buttons: [
          {
            isChecked: true,
            name: 'process-screenshot-24',
            title: 'Все',
          },
          {
            name: 'process-screenshot-24',
            title: 'Да',
          },
        ],
        class: 'dropdown-radios',
        isRadios: true,
      })
      h3.filter__subtitle Наличие скриншота (48 часов)
      +dropdown({
        buttons: [
          {
            isChecked: true,
            name: 'process-screenshot-48',
            title: 'Все',
          },
          {
            name: 'process-screenshot-48',
            title: 'Да',
          },
        ],
        class: 'dropdown-radios',
        isRadios: true,
      })
      h3.filter__subtitle Наличие скриншота (72 часа)
      +dropdown({
        buttons: [
          {
            isChecked: true,
            name: 'process-screenshot-72',
            title: 'Все',
          },
          {
            name: 'process-screenshot-72',
            title: 'Да',
          },
        ],
        class: 'dropdown-radios',
        isRadios: true,
      })
      h3.filter__subtitle Показы
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Реакции
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Комментарии
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Репосты
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Ставка
      +input({
        max: '100',
        min: '0',
      })
      +button({
        class: 'button-base filter__button',
        title: 'Применить',
        type: 'submit',
        view: 'button',
      })