aside.filter.filter-sm(data-filter-name="company-coordination")
  .filter__container
    .filter__title
      h2 Фильтр
      button(type="button" data-filter-name="company-coordination").filter__clear Сбросить
    form(action="#")
      h3.filter__subtitle Канал
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
      })
      h3.filter__subtitle Статус запроса
      +dropdown({
        buttons: [
          {
            color: 'status-transparent',
            isChecked: true,
            title: 'Все',
          },
          {
            color: 'status-green',
            title: 'Размещено',
          },
        ],
        class: 'dropdown-status',
        isButtons: true,
        isStatus: true,
      })
      h3.filter__subtitle Категория
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            title: 'ZeroDay | Кибезопасность ',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
      })
      h3.filter__subtitle Администратор
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
      })
      h3.filter__subtitle Менеджер
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
      })
      h3.filter__subtitle Подписчики
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Последняя ставка
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Последняя скидка
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Себестоимость
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Скидка,%
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Ближайшая дата поста
      +button({
        calendarClass: 'opensleft',
        class: 'button-with-icon',
        icon: 'other-calendar-icon',
        isCalendar: true,
        isDatePicker: true,
        isMonthPicker: false,
        isSinglePicker: true,
        placeholder: 'дд.мм.гггг',
        view: 'button',
      })
      h3.filter__subtitle Тип поста
      +dropdown({
        buttons: [
          {
            isChecked: true,
            name: 'coordination-post-type',
            title: 'Все',
          },
          {
            name: 'coordination-post-type',
            title: 'Да',
          },
        ],
        class: 'dropdown-radios',
        isRadios: true,
      })
      h3.filter__subtitle Охват
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Расход (GS)
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Расход, факт (GS)
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle CPV
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Охват (24ч)
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Охват (48ч)
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Охват (72ч)
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle ИЦ
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle ER,%
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle ERR,%
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle ERR (24ч),%
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle ERR (72ч),%
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Контакт (GS)
      +dropdown({
        buttons: [
          {
            isChecked: true,
            name: 'coordination-contact-gs',
            title: 'Все',
          },
          {
            name: 'coordination-contact-gs',
            title: 'Да',
          },
        ],
        class: 'dropdown-radios',
        isRadios: true,
      })
      h3.filter__subtitle Адаптация (GS)
      +dropdown({
        buttons: [
          {
            isChecked: true,
            name: 'coordination-adaptation-gs',
            title: 'Все',
          },
          {
            name: 'coordination-adaptation-gs',
            title: 'Да',
          },
        ],
        class: 'dropdown-radios',
        isRadios: true,
      })
      h3.filter__subtitle Кнопка (GS)
      +dropdown({
        buttons: [
          {
            isChecked: true,
            name: 'coordination-button-gs',
            title: 'Все',
          },
          {
            name: 'coordination-button-gs',
            title: 'Да',
          },
        ],
        class: 'dropdown-radios',
        isRadios: true,
      })
      h3.filter__subtitle Тег (GS)
      +input({
        name: 'token',
        placeholder: 'Введите тег...',
      })
      h3.filter__subtitle Мужская аудитория,%
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Женская аудитория,%
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle 18+ (посты),%
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle 18+ (слова),%
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Политика (посты),%
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Политика (слова),%
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Жесть (посты),%
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Жесть (слова),%
      +input({
        max: '100',
        min: '0',
      })
      h3.filter__subtitle Дата обновления
      +button({
        calendarClass: 'opensleft',
        class: 'button-with-icon',
        icon: 'other-calendar-icon',
        isCalendar: true,
        isDatePicker: true,
        isMonthPicker: false,
        isSinglePicker: true,
        placeholder: 'дд.мм.гггг',
        view: 'button',
      })
      +button({
        class: 'button-base filter__button',
        title: 'Применить',
        type: 'submit',
        view: 'button',
      })