tr
  td(style="padding-left: 0px;").fixed-td.fixed-td-border.users-row__user
    .flex.items-center.w-full(class="gap-x-3 h-[30px]")
      .flex.items-center(class="gap-x-1.5")
        .users__avatar
          img(src="")
          span ВМ
        .flex.flex-col.items-start
          h3
            .table__channel Валерия Медеведева
          .users__link
            .table__link valeramedved@toptraffic.ru
            button(type="button")
              svg
                use(xlink:href="#other-copy-icon")
  td.users-row__role
    +dropdown({
      buttons: [
        {
          description: 'Полный доступ к сервису, доступ к редактированию данных',
          isChecked: true,
          name: 'role',
          role: 'role-admin',
          title: 'Администратор',
        },
        {
          description: 'Полный доступ к сервису, ограниченный доступ к редактированию данных',
          name: 'role',
          role: 'role-manager',
          title: 'Менеджер',
        },
        {
          description: 'Полный доступ к сервису, доступ к редактированию данных',
          name: 'role',
          role: 'role-guest',
          title: 'Гость',
        },
      ],
      class: 'dropdown-radios dropdown-roles',
      classButton: 'role-admin',
      isRadios: true,
      title: 'Администратор',
    })
  td.users-row__status
    .text-12-m-p.text-black-200 Запрос получен 22.08.2024
  td.users-row__activity
  td.users-row__buttons
    .flex.items-center.gap-x-3.justify-between.ml-auto(class="min-w-[200px] max-w-[200px]")
      +button({
        class: 'button-with-icon-blue',
        title: 'Подтвердить',
        view: 'button',
      })
      +button({
        class: 'button-base',
        title: 'Отклонить',
        view: 'button',
      })