.daterangepicker {
  position: absolute;
  top: 100px;
  left: 20px;
  z-index: 3001;

  display: none;
  margin-top: 7px;
  padding: 0;
  width: 278px;
  max-width: none;

  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;

  font-size: 15px;
  font-family: arial;
  line-height: 1em;
  color: inherit;
}

.daterangepicker:before, .daterangepicker:after {
  content: '';

  position: absolute;

  display: inline-block;

  border-bottom-color: rgba(0, 0, 0, 0.2);
}

.daterangepicker:before {
  top: -7px;

  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.daterangepicker:after {
  top: -6px;

  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.daterangepicker.opensleft:before {
  right: 9px;
}

.daterangepicker.opensleft:after {
  right: 10px;
}

.daterangepicker.openscenter:before {
  right: 0;
  left: 0;

  margin-right: auto;
  margin-left: auto;
  width: 0;
}

.daterangepicker.openscenter:after {
  right: 0;
  left: 0;

  margin-right: auto;
  margin-left: auto;
  width: 0;
}

.daterangepicker.opensright:before {
  left: 9px;
}

.daterangepicker.opensright:after {
  left: 10px;
}

.daterangepicker.drop-up {
  margin-top: -7px;
}

.daterangepicker.drop-up:before {
  top: initial;
  bottom: -7px;

  border-top: 7px solid #ccc;
  border-bottom: initial;
}

.daterangepicker.drop-up:after {
  top: initial;
  bottom: -6px;

  border-top: 6px solid #fff;
  border-bottom: initial;
}

.daterangepicker.single .daterangepicker .ranges, .daterangepicker.single .drp-calendar {
  float: none;
}

.daterangepicker.show-calendar .drp-calendar {
  display: block;
}

.daterangepicker.show-calendar .drp-buttons {
  display: block;
}

.daterangepicker.auto-apply .drp-buttons {
  display: none;
}

.daterangepicker .drp-calendar {
  display: none;
  max-width: 270px;
}

.daterangepicker .drp-calendar.left {
  padding: 8px 0 8px 8px;
}

.daterangepicker .drp-calendar.right {
  padding: 8px;
}

.daterangepicker .drp-calendar.single .calendar-table {
  border: none;
}

.daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span {
  display: inline-block;
  padding: 3px;

  border: solid black;
  border-width: 0 2px 2px 0;
  border-radius: 0;

  color: #fff;
}

.daterangepicker .calendar-table .next span {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.daterangepicker .calendar-table .prev span {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
  width: 32px;
  min-width: 32px;
  height: 24px;

  border: 1px solid transparent;
  border-radius: 4px;

  font-size: 12px;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
}

.daterangepicker .calendar-table {
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #fff;
}

.daterangepicker .calendar-table table {
  margin: 0;
  width: 100%;

  border-collapse: collapse;
  border-spacing: 0;
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  border-color: transparent;
  background-color: #eee;

  color: inherit;
}

.daterangepicker td.week, .daterangepicker th.week {
  font-size: 80%;
  color: #ccc;
}

.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
  border-color: transparent;
  background-color: #fff;

  color: #999;
}

.daterangepicker .calendar-table td.end-date.active.today span {
  background-color: #F4F5F6;
  color: #374151;
}

.daterangepicker .calendar-table td.end-date.active.today:hover span {
  background-color: #E6EFFE;
  color: #374151;
}

.daterangepicker .calendar-table td.end-date.active.today.in-range span {
  background-color: #005CFF;
  color: #fff;
}

.daterangepicker td.in-range {
  border-color: transparent;
  border-radius: 0;
  background-color: #E6EFFE;
  
  color: #005CFF;
}

.daterangepicker td.start-date {
  border-radius: 4px 0 0 4px;
}

.daterangepicker td.end-date {
  border-radius: 0 4px 4px 0;
}

.daterangepicker td.start-date.end-date {
  border-radius: 4px;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  border-color: transparent;
  background-color: #357ebd;

  color: #fff;
}

.daterangepicker th.month {
  width: auto;
}

.daterangepicker td.disabled, .daterangepicker option.disabled {
  text-decoration: line-through;
  color: #999;
  cursor: not-allowed;
}

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
  margin: 0;
  padding: 1px;
  height: auto;

  font-size: 12px;
  cursor: default;
}

.daterangepicker select.monthselect {
  @apply mr-[2%] w-[56%];
}

.daterangepicker select.yearselect {
  @apply w-[40%];
}

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
  @apply text-12-m w-[50px] outline-0 p-1.5 rounded-md leading-none bg-black-600 transition-all duration-300 cursor-pointer bg-no-repeat appearance-none bg-[85%_50%] bg-[url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEwIDYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxsaW5lIHgxPSIwLjc1IiB5MT0iLTAuNzUiIHgyPSI2LjMyMTA2IiB5Mj0iLTAuNzUiIHRyYW5zZm9ybT0ibWF0cml4KDAuNzA3MTE0IDAuNzA3MSAtMC43MDcxMTQgMC43MDcxIDAgMSkiIHN0cm9rZT0iIzM3NDE1MSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8bGluZSB4MT0iMC43NSIgeTE9Ii0wLjc1IiB4Mj0iNi4zMjEwNiIgeTI9Ii0wLjc1IiB0cmFuc2Zvcm09Im1hdHJpeCgwLjcwNzExNCAtMC43MDcxIDAuNzA3MTE0IDAuNzA3MSA1IDYpIiBzdHJva2U9IiMzNzQxNTEiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==)];
}

.daterangepicker .calendar-time {
  position: relative;

  display: inline-flex;
  align-items: center;

  text-align: center;
  @apply gap-x-1 ml-2 text-12-m;
}

.daterangepicker .calendar-time select.disabled {
  color: #ccc;
  cursor: not-allowed;
}

.daterangepicker .drp-buttons {
  display: none;
  clear: both;
  padding: 8px;

  border-top: 1px solid #ddd;

  line-height: 12px;
  text-align: right;
  vertical-align: middle;
}

.daterangepicker .drp-selected {
  display: none;
}

.daterangepicker .drp-buttons .btn {
  margin-left: 8px;
  padding: 4px 8px;

  font-weight: bold;
  font-size: 12px;
}

.daterangepicker.show-ranges.single.rtl .drp-calendar.left {
  border-right: 1px solid #ddd;
}

.daterangepicker.show-ranges.single.ltr .drp-calendar.left {
  border-left: 1px solid #ddd;
}

.daterangepicker.show-ranges.rtl .drp-calendar.right {
  border-right: 1px solid #ddd;
}

.daterangepicker.show-ranges.ltr .drp-calendar.left {
  border-left: 1px solid #ddd;
}

.daterangepicker .ranges {
  float: none;
  margin: 0;

  text-align: left;
}

.daterangepicker.show-calendar .ranges {
  margin-top: 8px;
}

.daterangepicker .ranges ul {
  list-style: none;

  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.daterangepicker .ranges li {
  padding: 8px 12px;

  font-size: 12px;
  cursor: pointer;
}

.daterangepicker .ranges li:hover {
  background-color: #eee;
}

.daterangepicker .ranges li.active {
  background-color: #08c;

  color: #fff;
}

/*  Larger Screen Styling */
@media (min-width: 564px) {
  .daterangepicker {
    width: auto;
  }

  .daterangepicker .ranges ul {
    width: 140px;
  }

  .daterangepicker.single .ranges ul {
    width: 100%;
  }

  .daterangepicker.single .drp-calendar.left {
    clear: none;
  }

  .daterangepicker.single .ranges, .daterangepicker.single .drp-calendar {
    float: left;
  }

  .daterangepicker {
    direction: ltr;

    text-align: left;
  }

  .daterangepicker .drp-calendar.left {
    clear: left;
    margin-right: 0;
  }

  .daterangepicker .drp-calendar.left .calendar-table {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .daterangepicker .drp-calendar.right {
    margin-left: 0;
  }

  .daterangepicker .drp-calendar.right .calendar-table {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .daterangepicker .drp-calendar.left .calendar-table {
    padding-right: 8px;
  }

  .daterangepicker .ranges, .daterangepicker .drp-calendar {
    float: left;
  }
}

@media (min-width: 730px) {
  .daterangepicker .ranges {
    width: auto;
  }

  .daterangepicker .ranges {
    float: left;
  }

  .daterangepicker.rtl .ranges {
    float: right;
  }

  .daterangepicker .drp-calendar.left {
    clear: none !important;
  }
}
