svg#aside-conditions-icon(width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg")
  g(clip-path="url(#clip0_2_2777)")
    path(d="M6.5 7.5H9.3125" stroke="currentColor" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round")
    path(d="M6.5 4.75H9.3125" stroke="currentColor" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round")
    path(d="M6.5 10.25H9.3125" stroke="currentColor" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round")
    path(d="M5.375 4.0625L3.87356 5.4375L3.125 4.75" stroke="currentColor" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round")
    path(d="M5.375 6.8125L3.87356 8.1875L3.125 7.5" stroke="currentColor" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round")
    path(d="M5.375 9.5625L3.87356 10.9375L3.125 10.25" stroke="currentColor" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round")
  rect(x="1" y="1" width="13" height="15" rx="2" stroke="currentColor" stroke-width="1.4")
  defs
    clipPath#clip0_2_2777
      rect(width="9" height="11" fill="white" transform="translate(2 2)")