doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1, maximum-scale=4"
      name="viewport"
    )
    meta(content="ie=edge" http-equiv="X-UA-Compatible")

    meta(content="#ffffff" name="theme-color")

    block basicSeo
      meta(content="Описание сайта" name="description")
      meta(content="Ключевые слова" name="keywords")
      meta(content="Страница сайта" property="og:title")
      meta(content="Страница сайта" name="twitter:title")

    meta(content="wotkad" name="author")

    meta(content="summary" name="twitter:card")
    meta(content="" name="twitter:description")
    meta(content="/assets/images/favicons/favicon-96x96.png" name="twitter:image")

    meta(content="" property="og:description")
    meta(content="/assets/images/favicons/favicon-96x96.png" property="og:image")

    link(rel="icon" type="image/png" href="/assets/images/favicons/favicon-96x96.png" sizes="96x96")
    link(rel="icon" type="image/svg+xml" href="/assets/images/favicons/favicon.svg")
    link(rel="shortcut icon" href="/assets/images/favicons/favicon.ico")
    link(rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png")
    meta(name="apple-mobile-web-app-title" content="TTTG")
    link(rel="manifest" href="./../manifest.json")

    block title
      title Топ Трафик | Страница без названия

    script.
      function autorun() {}
      if (window.addEventListener) window.addEventListener("load", autorun, false);
      else window.onload = autorun;
    noscript.
      Похоже у вас отключён Javascript, поэтому вы видете это сообщение.

  body
    .render

    include ../mixins/button/button
    include ../mixins/search/search
    include ../mixins/input/input
    include ../mixins/dropdown/dropdown
    include ../mixins/widget/widget
    include ../mixins/heading/heading
    include ../mixins/heading/heading-table
    include ../components/companies/row
    include ../components/companies/subrow
    include ../components/channel/advertising-campaigns/row
    include ../components/channel/transactions-for-payment/row
    include ../components/channel/administration-history/subrow

    include ../components/company/subrow
    
    include ../components/company/survey/subrow-survey

    include ../components/company/approval-client/subrow-approval-client
    include ../components/company/approval-client/row-approval-client

    include ../components/company/mediaplan/subrow-mediaplan
    include ../components/company/mediaplan/row-mediaplan

    include ../components/company/mediaplan-agreed/subrow-mediaplan-agreed
    include ../components/company/mediaplan-agreed/row-mediaplan-agreed

    include ../components/company/approval/row-approval
    
    include ../components/company/coordination/row-coordination

    include ../components/company/process-channels/row-process-channels
    include ../components/company/process-channels/subrow-process-channels


    include ../mixins/breadcrumbs/breadcrumbs
    
    .hidden
      include ../components/icons/_icons

    block content

    include ../components/popups/popup-add-admin
    include ../components/popups/popup-add-link
    include ../components/popups/popup-add-channel
    include ../components/popups/popup-delete-post
    include ../components/popups/popup-delete-link
    include ../components/popups/popup-share-post
    include ../components/popups/popup-post
    include ../components/popups/popup-delete-admin-post
    include ../components/popups/popup-delete-table-file

    .scroll-to-top
      +button({
        class: 'button-icon-round',
        icon: 'other-arrow-up-icon',
        isOnlyIcon: true,
        view: 'link',
      })