aside.filter(data-filter-name="companies")
  .filter__container
    .filter__title
      h2 Фильтр
      button(type="button" data-filter-name="companies").filter__clear Сбросить
    form(action="#")
      h3.filter__subtitle Период
      +button({
        calendarClass: 'opensleft',
        class: 'button-with-icon',
        icon: 'other-calendar-icon',
        isCalendar: true,
        isDatePicker: false,
        isMonthPicker: true,
        value: 'Все',
        view: 'button',
      })
      h3.filter__subtitle Клиент
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        isResults: true,
      })
      h3.filter__subtitle Рекламная кампания
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Банки',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
          {
            title: 'Автомобили',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        isResults: true,
      })
      h3.filter__subtitle Аккаунт менеджер
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        isResults: true,
      })
      h3.filter__subtitle Куратор
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        isResults: true,
      })
      h3.filter__subtitle Канал
      +dropdown({
        checkboxes: [
          {
            class: 'check-all',
            title: 'Все',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
          {
            image: {
              alt: 'image',
              enabled: true,
              src: '/assets/images/avatar.png',
            },
            telegram: 'andreym',
            title: 'ZeroDay | Кибезопасность ',
          },
        ],
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        isResults: true,
      })
      h3.filter__subtitle Статус сделки
      +dropdown({
        buttons: [
          {
            class: 'check-all',
            color: 'status-transparent',
            isChecked: true,
            name: 'transaction-status',
            title: 'Все',
          },
          {
            color: 'status-green',
            name: 'transaction-status',
            title: 'В работу',
          },
          {
            color: 'status-blue',
            name: 'transaction-status',
            title: 'В работе',
          },
          {
            color: 'status-red',
            name: 'transaction-status',
            title: 'Пауза',
          },
          {
            color: 'status-gray',
            name: 'transaction-status',
            title: 'Завершено',
          },
          {
            color: 'status-purple',
            name: 'transaction-status',
            title: 'Согласование',
          },
        ],
        class: 'dropdown-status',
        isButtons: true,
        isStatus: true,
      })
      h3.filter__subtitle Статус рекламной кампании
      +dropdown({
        buttons: [
          {
            class: 'check-all',
            color: 'status-transparent',
            isChecked: true,
            name: 'advertising-campaign-status',
            title: 'Все',
          },
          {
            color: 'status-green',
            name: 'advertising-campaign-status',
            title: 'В работу',
          },
          {
            color: 'status-blue',
            name: 'advertising-campaign-status',
            title: 'В работе',
          },
          {
            color: 'status-red',
            name: 'advertising-campaign-status',
            title: 'Пауза',
          },
          {
            color: 'status-gray',
            name: 'advertising-campaign-status',
            title: 'Завершено',
          },
          {
            color: 'status-purple',
            name: 'advertising-campaign-status',
            title: 'Согласование',
          },
        ],
        class: 'dropdown-status',
        isButtons: true,
        isStatus: true,
      })
      +button({
        class: 'button-base filter__button',
        title: 'Применить',
        type: 'submit',
        view: 'button',
      })