aside.filter(data-filter-name="companies")
  .filter__container
    .filter__title
      h2 Фильтр
      button(type="button").filter__clear Сбросить
    form(action="#")
      h3.filter__subtitle Период
      +button({
        view: 'button',
        class: 'button-with-icon',
        icon: 'other-calendar-icon',
        isCalendar: true,
        calendarClass: 'opensleft',
        isMonthPicker: true,
        isDatePicker: false,
      })
      h3.filter__subtitle Клиент
      +dropdown({
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        checkboxes: [
          { title: 'Все', class: 'check-all' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
        ]
      })
      h3.filter__subtitle Рекламная кампания
      +dropdown({
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        checkboxes: [
          { title: 'Все', class: 'check-all' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
        ]
      })
      h3.filter__subtitle Аккаунт менеджер
      +dropdown({
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        checkboxes: [
          { title: 'Все', class: 'check-all' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
        ]
      })
      h3.filter__subtitle Менеджер
      +dropdown({
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        checkboxes: [
          { title: 'Все', class: 'check-all' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
        ]
      })
      h3.filter__subtitle Канал
      +dropdown({
        class: 'dropdown-checkboxes',
        isAll: true,
        isCheckboxes: true,
        checkboxes: [
          { title: 'Все', class: 'check-all' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
          { title: 'ZeroDay | Кибезопасность ', image: {enabled: true, src: '/assets/images/avatar.png', alt: 'image' }, telegram: 'andreym' },
        ]
      })
      h3.filter__subtitle Статус сделки
      +dropdown({
        class: 'dropdown-status',
        isStatus: true,
        isButtons: true,
        title: '––',
        buttons: [
          { title: '––', color: 'status-transparent' },
          { title: 'В работу', color: 'status-green' },
          { title: 'В работе', color: 'status-blue' },
          { title: 'Пауза', color: 'status-red' },
          { title: 'Завершено', color: 'status-gray' },
          { title: 'Согласование', color: 'status-purple' },
        ],
      })
      h3.filter__subtitle Статус рекламной кампании
      +dropdown({
        class: 'dropdown-status',
        isStatus: true,
        isButtons: true,
        title: '––',
        buttons: [
          { title: '––', color: 'status-transparent' },
          { title: 'В работу', color: 'status-green' },
          { title: 'В работе', color: 'status-blue' },
          { title: 'Пауза', color: 'status-red' },
          { title: 'Завершено', color: 'status-gray' },
          { title: 'Согласование', color: 'status-purple' },
        ],
      })
      +button({
        view: 'button',
        class: 'button-base filter__button',
        type: 'submit',
        title: 'Применить'
      })