
mixin companies-row(data)
  tr
    td.only-text(style="max-width:180px;")
      .flex.items-center(class="gap-x-2.5")
        svg(style="min-width: 16px;")
          use(xlink:href="#" + data.icon)
        p(style="text-overflow:ellipsis;overflow:hidden;") People & Screens People & Screens
    td.only-text(style="max-width:160px;")
      a(href="#") Test_MTC_September Test_MTC_September
    td.only-text(style="max-width:150px;") Илья Минаев
    td.only-text(style="max-width:112px;") Илья Минаев
    td
      .table__channels
        .table__channels__items
          a(href="#")
            .table__channels__avatar
              .table__channels__src
                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="5" cy="5" r="5" fill="#0077FF"/>
                  <path d="M5.26794 7C3.21797 7 2.04872 5.4985 2 3H3.02686C3.06059 4.83383 3.8176 5.61061 4.41722 5.77077V3H5.38415V4.58158C5.97628 4.51351 6.59832 3.79279 6.80819 3H7.7751C7.61395 3.97698 6.93938 4.6977 6.45968 4.99399C6.93938 5.23423 7.70768 5.86286 8 7H6.93563C6.70702 6.23924 6.13743 5.65065 5.38415 5.57057V7H5.26794Z" fill="white"/>
                </svg>
              .table__channels__img(style="border: 1.5px solid #0077FF;")
                img(src="/assets/images/avatar.png" alt="tg-channel" style="max-width: 20px; max-height: 20px;")
            span ZeroDay | Кибербезопасность
          a(href="#")
            .table__channels__avatar
              .table__channels__src
                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="5" cy="5" r="5" fill="black"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.50007 4.26023C7.50007 4.31128 7.47929 4.35893 7.44093 4.39126C7.40417 4.42359 7.35621 4.4287 7.30826 4.427C7.01095 4.41849 6.5458 4.30958 6.32681 4.08667V6.22054C6.32681 7.2041 5.57874 8.00047 4.65483 8.00047H4.4822C4.09537 8.00047 3.72773 7.85073 3.43042 7.59378C3.659 7.7146 3.90995 7.78607 4.1705 7.78607H4.34313C5.26704 7.78607 6.01511 6.98969 6.01511 6.00613V3.87226C6.2341 4.09347 6.69925 4.20408 6.99656 4.21259C7.04451 4.21259 7.09247 4.20918 7.12923 4.17685C7.166 4.14452 7.18837 4.09688 7.18837 4.04583C7.18837 3.80419 7.18837 3.4026 7.18837 3.19159C7.24912 3.21031 7.31146 3.22563 7.37379 3.24094C7.44732 3.25796 7.50007 3.32603 7.50007 3.406C7.50007 3.61701 7.50007 4.0203 7.50007 4.26023ZM4.37031 5.01407C4.33994 5.0464 4.29998 5.06342 4.25682 5.06342C3.81565 5.06342 3.45759 5.44459 3.45759 5.91424C3.45759 6.2835 3.67978 6.59491 3.98988 6.71232C3.85401 6.55917 3.76929 6.35497 3.76929 6.12865C3.76929 5.659 4.12734 5.27783 4.56852 5.27783C4.61167 5.27783 4.65164 5.26081 4.68201 5.22848C4.71238 5.19615 4.72836 5.1536 4.72836 5.10766V4.59716C4.72836 4.55292 4.71078 4.50868 4.68201 4.47634C4.65323 4.44401 4.61167 4.427 4.56852 4.427H4.4822C4.45982 4.427 4.43904 4.4338 4.41666 4.4338V4.89325C4.41666 4.9392 4.39908 4.98174 4.37031 5.01407ZM6.55539 2.85467C6.42272 2.72704 6.31083 2.55858 6.2309 2.32885C6.20693 2.26249 6.14778 2.21484 6.08065 2.21484H5.96236C6.10143 2.53986 6.30763 2.73045 6.55539 2.85296V2.85467Z" fill="#FE2C55"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M3.30082 7.47933C3.34078 7.52187 3.38874 7.55591 3.4319 7.59334C3.27045 7.50826 3.1186 7.40276 2.98913 7.26492C2.67583 6.9314 2.5 6.47876 2.5 6.0057V5.99209C2.5 5.00853 3.24807 4.21215 4.17198 4.21215H4.25829C4.30145 4.21215 4.34141 4.23087 4.37178 4.2615C4.40215 4.29383 4.41814 4.33637 4.41814 4.38232V4.43337C3.5262 4.4708 2.8117 5.24676 2.8117 6.20649V6.22011C2.8117 6.69147 2.98753 7.14411 3.30082 7.47933ZM7.18665 3.19116C7.18665 3.11118 7.1339 3.04141 7.06038 3.0261C6.88135 2.98356 6.71032 2.93251 6.55367 2.85423C6.7311 3.0244 6.94848 3.12139 7.18506 3.19116H7.18665ZM4.56839 6.98075C4.78099 6.98075 4.98399 6.89056 5.13424 6.73231C5.2845 6.57405 5.36762 6.35624 5.36762 6.12992V2.38628C5.36762 2.29268 5.43955 2.21611 5.52746 2.21611H5.96224C5.94786 2.18208 5.93187 2.15145 5.91908 2.11401C5.89511 2.04765 5.83596 2 5.76883 2H5.21577C5.12785 2 5.05592 2.07657 5.05592 2.17017V5.91381C5.05592 6.14013 4.9712 6.35624 4.82255 6.5162C4.67389 6.67615 4.46929 6.76464 4.2567 6.76464C4.16239 6.76464 4.07287 6.74422 3.98975 6.71189C4.13521 6.87525 4.33982 6.97905 4.56839 6.97905V6.98075Z" fill="#25F4EE"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.34455 7.78534C5.26845 7.78534 6.01653 6.98897 6.01653 6.00541V3.87153C6.23551 4.09275 6.70066 4.20335 6.99797 4.21186C7.04593 4.21186 7.09388 4.20846 7.13064 4.17613C7.16741 4.1438 7.18979 4.09615 7.18979 4.0451C7.18979 3.80347 7.18979 3.40187 7.18979 3.19087C6.95322 3.1211 6.73583 3.02411 6.5584 2.85394C6.31224 2.73142 6.10444 2.53914 5.96537 2.21582H5.5306C5.44268 2.21582 5.37075 2.29239 5.37075 2.38599V6.12963C5.37075 6.35595 5.28603 6.57206 5.13738 6.73202C4.98872 6.89197 4.78412 6.98046 4.57153 6.98046C4.34295 6.98046 4.13835 6.87666 3.99289 6.7133C3.68439 6.59588 3.4606 6.28448 3.4606 5.91522C3.4606 5.44556 3.81866 5.06439 4.25983 5.06439C4.30299 5.06439 4.34295 5.04738 4.37332 5.01504C4.40369 4.98271 4.41967 4.94017 4.41967 4.89423V4.43478C3.52774 4.47222 2.81323 5.24817 2.81323 6.20791V6.22152C2.81323 6.69288 2.98906 7.14552 3.30236 7.48075C3.34232 7.52329 3.39027 7.55732 3.43343 7.59476C3.66201 7.71557 3.91297 7.78704 4.17351 7.78704H4.34615L4.34455 7.78534Z" fill="white"/>
                </svg>
              .table__channels__img(style="border: 1.5px solid #FE2C55;")
                img(src="/assets/images/avatar.png" alt="tg-channel" style="max-width: 20px; max-height: 20px;")
            span Топор 18+
          a(href="#")
            .table__channels__avatar
              .table__channels__src
                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="5" cy="5" r="4.5" fill="white" stroke="#F44336"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.58828 3.43041C7.43485 3.15748 7.26833 3.10728 6.92929 3.08819C6.5906 3.06521 5.73894 3.05566 5.00111 3.05566C4.26187 3.05566 3.40985 3.06521 3.07151 3.08784C2.73318 3.10728 2.56631 3.15713 2.41146 3.43041C2.25343 3.70299 2.17212 4.17248 2.17212 4.99905V5.00188C2.17212 5.82491 2.25343 6.29794 2.41146 6.56768C2.56631 6.84061 2.73283 6.89011 3.07116 6.91309C3.40985 6.93289 4.26187 6.94455 5.00111 6.94455C5.73894 6.94455 6.5906 6.93289 6.92964 6.91344C7.26868 6.89046 7.4352 6.84097 7.58863 6.56804C7.74808 6.29829 7.82868 5.82526 7.82868 5.00223V4.9994C7.82868 4.17248 7.74808 3.70299 7.58828 3.43041Z" fill="#F44336"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.29272 6.06067V3.93945L6.0604 5.00006L4.29272 6.06067Z" fill="#FAFAFA"/>
                </svg>
              .table__channels__img(style="border: 1.5px solid #FE2C55;")
                img(src="/assets/images/avatar.png" alt="tg-channel" style="max-width: 20px; max-height: 20px;")
            span ZeroDay | Кибербезопасность
          a(href="#")
            .table__channels__avatar
              .table__channels__src
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_4429_14015)">
                <path d="M22.5096 0H7.49043C3.35358 0 0 3.35358 0 7.49043V22.5096C0 26.6464 3.35358 30 7.49043 30H22.5096C26.6464 30 30 26.6464 30 22.5096V7.49043C30 3.35358 26.6464 0 22.5096 0Z" fill="url(#paint0_linear_4429_14015)"></path>
                <path d="M22.5096 0H7.49043C3.35358 0 0 3.35358 0 7.49043V22.5096C0 26.6464 3.35358 30 7.49043 30H22.5096C26.6464 30 30 26.6464 30 22.5096V7.49043C30 3.35358 26.6464 0 22.5096 0Z" fill="url(#paint1_radial_4429_14015)"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.1934 23.9486C13.4269 23.9486 12.606 23.6896 11.1791 22.6536C10.2765 23.8191 7.41835 24.73 7.29369 23.1716C7.29369 22.0018 7.03581 21.0133 6.74355 19.9342C6.39542 18.6046 6 17.124 6 14.9786C6 9.85477 10.1862 6 15.1461 6C20.1103 6 23.9999 10.0447 23.9999 15.0261C24.0166 19.9305 20.0765 23.9225 15.1934 23.9486ZM15.2664 10.4289C12.851 10.3037 10.9685 11.9829 10.5516 14.616C10.2077 16.796 10.818 19.4507 11.3381 19.5888C11.5874 19.6493 12.2149 19.1399 12.606 18.7471C13.2527 19.1958 14.0058 19.4653 14.7894 19.5284C17.2922 19.6493 19.4308 17.7356 19.5988 15.2247C19.6966 12.7084 17.7696 10.5772 15.2664 10.4332V10.4289Z" fill="white"></path>
                </g>
                <defs>
                <linearGradient id="paint0_linear_4429_14015" x1="3.53541" y1="22.8161" x2="30" y2="15" gradientUnits="userSpaceOnUse">
                <stop stop-color="#44CCFF"></stop>
                <stop offset="0.662" stop-color="#5533EE"></stop>
                <stop offset="1" stop-color="#9933DD"></stop>
                </linearGradient>
                <radialGradient id="paint1_radial_4429_14015" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(-0.713724 -13.1756) rotate(51.356) scale(36.4055 15)">
                <stop stop-color="#0000FF"></stop>
                <stop offset="1" stop-opacity="0"></stop>
                </radialGradient>
                <clipPath id="clip0_4429_14015">
                <rect width="30" height="30" rx="15" fill="white"></rect>
                </clipPath>
                </defs>
                </svg>
              .table__channels__img.table__channels__img-max
                img(src="/assets/images/avatar.png" alt="tg-channel" style="max-width: 21px; max-height: 21px;")
            span ZeroDay | Кибербезопасность
          a(href="#")
            .table__channels__avatar
              .table__channels__src
                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="5" cy="5" r="5" fill="#E3E5EB"/>
                  <g clip-path="url(#clip0_3958_18077)">
                  <path d="M5 10C7.76142 10 10 7.76142 10 5C10 2.23858 7.76142 0 5 0C2.23858 0 0 2.23858 0 5C0 7.76142 2.23858 10 5 10Z" fill="#00A3E3"/>
                  <path d="M1.86218 5.24498C2.44668 4.92302 3.09914 4.65431 3.70876 4.38423C4.75756 3.94185 5.81051 3.50714 6.8741 3.10243C7.08101 3.03348 7.45285 2.96606 7.48931 3.27273C7.46931 3.70681 7.38722 4.13835 7.33089 4.56989C7.18793 5.51889 7.02264 6.46464 6.86151 7.41052C6.80597 7.72556 6.41131 7.88868 6.15876 7.68706C5.55185 7.27706 4.94026 6.87114 4.3411 6.45164C4.14485 6.25223 4.32685 5.96581 4.5021 5.82339C5.00197 5.33077 5.5321 4.91223 6.00585 4.39414C6.13364 4.08556 5.75606 4.34564 5.63151 4.42535C4.94718 4.89693 4.2796 5.39731 3.5581 5.81177C3.18956 6.01464 2.76001 5.84127 2.39164 5.72802C2.06135 5.59131 1.57735 5.45352 1.86214 5.24502L1.86218 5.24498Z" fill="white"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_3958_18077">
                  <rect width="10" height="10" fill="white"/>
                  </clipPath>
                  </defs>
                </svg>
              .table__channels__img(style="border: 1.5px solid #00A3E3;")
                img(src="/assets/images/avatar.png" alt="tg-channel" style="max-width: 20px; max-height: 20px;")
            span ZeroDay | Кибербезопасность
          a(href="#")
            .table__channels__avatar
              .table__channels__img
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="12" cy="12" r="12" fill="#E3E5EB"/>
                  <g clip-path="url(#clip0_3958_18082)">
                  <path d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z" fill="#00A3E3"/>
                  <path d="M4.46909 12.5872C5.87189 11.8145 7.43779 11.1696 8.90089 10.5214C11.418 9.45966 13.9451 8.41636 16.4977 7.44506C16.9943 7.27956 17.8867 7.11776 17.9742 7.85376C17.9262 8.89556 17.7292 9.93126 17.594 10.967C17.2509 13.2446 16.8542 15.5144 16.4675 17.7845C16.3342 18.5406 15.387 18.9321 14.7809 18.4482C13.3243 17.4642 11.8565 16.49 10.4185 15.4832C9.94749 15.0046 10.3843 14.3172 10.8049 13.9754C12.0046 12.7931 13.2769 11.7886 14.4139 10.5452C14.7206 9.80456 13.8144 10.4288 13.5155 10.6201C11.8731 11.7519 10.2709 12.9528 8.53929 13.9475C7.65479 14.4344 6.62389 14.0183 5.73979 13.7465C4.94709 13.4184 3.78549 13.0877 4.46899 12.5873L4.46909 12.5872Z" fill="white"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_3958_18082">
                  <rect width="24" height="24" fill="white"/>
                  </clipPath>
                  </defs>
                </svg>
            span Топор 18+
          a(href="#")
            .table__channels__avatar
              .table__channels__img
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="12" cy="12" r="12" fill="#0077FF"/>
                  <path d="M12.6698 17C7.54493 17 4.6218 13.2462 4.5 7H7.06715C7.15147 11.5846 9.04399 13.5265 10.5431 13.9269V7H12.9604V10.954C14.4407 10.7838 15.9958 8.98198 16.5205 7H18.9378C18.5349 9.44244 16.8484 11.2442 15.6492 11.985C16.8484 12.5856 18.7692 14.1572 19.5 17H16.8391C16.2676 15.0981 14.8436 13.6266 12.9604 13.4264V17H12.6698Z" fill="white"/>
                </svg>
            span ZeroDay | Кибербезопасность
          a(href="#")
            .table__channels__avatar
              .table__channels__img
                <svg width="24" height="24" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_4429_16451)">
                <path d="M13.5057 0H4.49426C2.01215 0 0 2.01215 0 4.49426V13.5057C0 15.9879 2.01215 18 4.49426 18H13.5057C15.9879 18 18 15.9879 18 13.5057V4.49426C18 2.01215 15.9879 0 13.5057 0Z" fill="url(#paint0_linear_4429_16451)"/>
                <path d="M13.5057 0H4.49426C2.01215 0 0 2.01215 0 4.49426V13.5057C0 15.9879 2.01215 18 4.49426 18H13.5057C15.9879 18 18 15.9879 18 13.5057V4.49426C18 2.01215 15.9879 0 13.5057 0Z" fill="url(#paint1_radial_4429_16451)"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.10743 13.9715C8.12606 13.9715 7.67 13.8276 6.87726 13.252C6.37583 13.8995 4.78797 14.4055 4.71872 13.5398C4.71872 12.8899 4.57545 12.3407 4.41308 11.7412C4.21968 11.0026 4 10.18 4 8.98813C4 6.14154 6.32569 4 9.08117 4C11.839 4 14 6.24706 14 9.01451C14.0092 11.7392 11.8203 13.9569 9.10743 13.9715ZM9.14803 6.46049C7.80611 6.39095 6.76026 7.32382 6.52865 8.78669C6.33762 9.99775 6.67669 11.4726 6.9656 11.5493C7.1041 11.5829 7.45271 11.2999 7.67 11.0817C8.02929 11.331 8.44769 11.4807 8.88299 11.5158C10.2734 11.5829 11.4615 10.5198 11.5549 9.12484C11.6092 7.72691 10.5387 6.54289 9.14803 6.46289V6.46049Z" fill="white"/>
                </g>
                <defs>
                <linearGradient id="paint0_linear_4429_16451" x1="2.12125" y1="13.6896" x2="18" y2="9" gradientUnits="userSpaceOnUse">
                <stop stop-color="#44CCFF"/>
                <stop offset="0.662" stop-color="#5533EE"/>
                <stop offset="1" stop-color="#9933DD"/>
                </linearGradient>
                <radialGradient id="paint1_radial_4429_16451" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(-0.428234 -7.90534) rotate(51.356) scale(21.8433 9)">
                <stop stop-color="#0000FF"/>
                <stop offset="1" stop-opacity="0"/>
                </radialGradient>
                <clipPath id="clip0_4429_16451">
                <rect width="18" height="18" rx="9" fill="white"/>
                </clipPath>
                </defs>
                </svg>
            span ZeroDay | Кибербезопасность
          a(href="#")
            .table__channels__avatar
              .table__channels__img
                <svg width="24" height="24" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="7" cy="7" r="7" fill="black"></circle>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5 6.01283C10.5 6.0809 10.4709 6.14443 10.4172 6.18754C10.3657 6.23064 10.2986 6.23745 10.2315 6.23518C9.81523 6.22384 9.16402 6.07863 8.85744 5.78141V8.62658C8.85744 9.93799 7.81013 10.9998 6.51667 10.9998H6.27498C5.73343 10.9998 5.21873 10.8002 4.80249 10.4576C5.1225 10.6186 5.47384 10.7139 5.83861 10.7139H6.08029C7.37376 10.7139 8.42106 9.65211 8.42106 8.3407V5.49553C8.72764 5.79048 9.37885 5.93796 9.79509 5.9493C9.86222 5.9493 9.92936 5.94477 9.98083 5.90166C10.0323 5.85855 10.0636 5.79502 10.0636 5.72695C10.0636 5.40477 10.0636 4.86932 10.0636 4.58798C10.1487 4.61294 10.2359 4.63336 10.3232 4.65378C10.4262 4.67646 10.5 4.76722 10.5 4.87386C10.5 5.1552 10.5 5.69292 10.5 6.01283ZM6.11833 7.01794C6.07581 7.06105 6.01987 7.08374 5.95945 7.08374C5.34181 7.08374 4.84053 7.59197 4.84053 8.21818C4.84053 8.71052 5.15159 9.12573 5.58573 9.28228C5.39552 9.07808 5.27691 8.80582 5.27691 8.50406C5.27691 7.87785 5.77818 7.36962 6.39582 7.36962C6.45625 7.36962 6.51219 7.34693 6.55471 7.30382C6.59723 7.26071 6.61961 7.20399 6.61961 7.14273V6.46207C6.61961 6.40308 6.59499 6.34409 6.55471 6.30098C6.51443 6.25787 6.45625 6.23518 6.39582 6.23518H6.27498C6.24365 6.23518 6.21456 6.24426 6.18323 6.24426V6.85685C6.18323 6.91811 6.15861 6.97484 6.11833 7.01794ZM9.17745 4.13874C8.99171 3.96858 8.83506 3.74396 8.72317 3.43766C8.6896 3.34917 8.6068 3.28564 8.51281 3.28564H8.34721C8.5419 3.719 8.83058 3.97311 9.17745 4.13647V4.13874Z" fill="#FE2C55"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.62115 10.3058C4.6771 10.3625 4.74423 10.4079 4.80465 10.4578C4.57863 10.3443 4.36604 10.2037 4.18478 10.0199C3.74616 9.5752 3.5 8.97168 3.5 8.34093V8.32278C3.5 7.01137 4.5473 5.94954 5.84077 5.94954H5.96161C6.02203 5.94954 6.07798 5.97449 6.1205 6.01533C6.16302 6.05844 6.1854 6.11517 6.1854 6.17642V6.24449C4.93669 6.29441 3.93638 7.32901 3.93638 8.60866V8.62681C3.93638 9.25529 4.18254 9.85881 4.62115 10.3058ZM10.0613 4.58821C10.0613 4.48158 9.98747 4.38855 9.88453 4.36813C9.63389 4.31141 9.39444 4.24334 9.17514 4.13898C9.42353 4.36586 9.72788 4.49519 10.0591 4.58821H10.0613ZM6.39575 9.641C6.69338 9.641 6.97759 9.52075 7.18794 9.30974C7.3983 9.09874 7.51467 8.80832 7.51467 8.50656V3.51503C7.51467 3.39025 7.61537 3.28815 7.73845 3.28815H8.34714C8.327 3.24277 8.30462 3.20193 8.28672 3.15201C8.25315 3.06353 8.17035 3 8.07636 3H7.30207C7.17899 3 7.07829 3.1021 7.07829 3.22689V8.21841C7.07829 8.52017 6.95968 8.80832 6.75157 9.02159C6.54345 9.23487 6.25701 9.35285 5.95937 9.35285C5.82734 9.35285 5.70202 9.32562 5.58566 9.28252C5.7893 9.50033 6.07574 9.63873 6.39575 9.63873V9.641Z" fill="#25F4EE"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.08256 10.7141C7.37603 10.7141 8.42333 9.65228 8.42333 8.34087V5.4957C8.72991 5.79066 9.38112 5.93813 9.79736 5.94948C9.86449 5.94948 9.93163 5.94494 9.9831 5.90183C10.0346 5.85872 10.0659 5.79519 10.0659 5.72713C10.0659 5.40495 10.0659 4.86949 10.0659 4.58815C9.7347 4.49513 9.43035 4.3658 9.18195 4.13891C8.83733 3.97555 8.54641 3.71917 8.35172 3.28809H7.74303C7.61995 3.28809 7.51925 3.39019 7.51925 3.51497V8.5065C7.51925 8.80826 7.40064 9.09641 7.19252 9.30968C6.98441 9.52295 6.69796 9.64094 6.40033 9.64094C6.08032 9.64094 5.79388 9.50253 5.59024 9.28472C5.15834 9.12817 4.84504 8.71297 4.84504 8.22062C4.84504 7.59441 5.34632 7.08618 5.96396 7.08618C6.02438 7.08618 6.08032 7.06349 6.12284 7.02039C6.16536 6.97728 6.18774 6.92055 6.18774 6.85929V6.2467C4.93903 6.29661 3.93872 7.33122 3.93872 8.61087V8.62902C3.93872 9.2575 4.18488 9.86102 4.6235 10.308C4.67944 10.3647 4.74658 10.4101 4.807 10.46C5.12701 10.6211 5.47835 10.7164 5.84311 10.7164H6.0848L6.08256 10.7141Z" fill="white"></path>
                </svg>
            span Топор 18+
          a(href="#")
            .table__channels__avatar
              .table__channels__img
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15" cy="15" r="14.5" fill="white" stroke="#F44336"></circle>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M22.7646 10.2907C22.3043 9.47196 21.8047 9.32135 20.7876 9.26408C19.7716 9.19514 17.2166 9.1665 15.0031 9.1665C12.7854 9.1665 10.2293 9.19514 9.21429 9.26302C8.19929 9.32135 7.69869 9.4709 7.23414 10.2907C6.76005 11.1085 6.51611 12.517 6.51611 14.9967V15.0051C6.51611 17.4742 6.76005 18.8933 7.23414 19.7026C7.69869 20.5214 8.19823 20.6698 9.21323 20.7388C10.2293 20.7982 12.7854 20.8332 15.0031 20.8332C17.2166 20.8332 19.7716 20.7982 20.7887 20.7398C21.8058 20.6709 22.3054 20.5224 22.7657 19.7036C23.244 18.8944 23.4858 17.4753 23.4858 15.0062V14.9977C23.4858 12.517 23.244 11.1085 22.7646 10.2907Z" fill="#F44336"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8801 18.1815V11.8179L18.1832 14.9997L12.8801 18.1815Z" fill="#FAFAFA"></path>
                </svg>
            span Топор 18+
        +button({
          class: 'table__channels-toggle',
          icon: 'other-angle-down-icon',
          isOnlyIcon: true,
        })
    td.only-text.text-right(style="max-width:120px;") 20 500 ₽
    td
      span.status(class="" + data.color)= data.status
    td
      span.status(class="" + data.color)= data.status