table.table.table-fixed-cols
  thead
    tr
      th
        .flex.gap-x-2.items-center
          p Клиент
          button(type="button").table__sortbutton
            svg
              use(xlink:href="#other-sort-icon")
      th
        .flex.gap-x-2.items-center
          p Рекламная кампания
          button(type="button").table__sortbutton
            svg
              use(xlink:href="#other-sort-icon")
      th
        .flex.gap-x-2.items-center
          p Аккаунт-менеджер
          button(type="button").table__sortbutton
            svg
              use(xlink:href="#other-sort-icon")
      th
        .flex.gap-x-2.items-center
          p Куратор
          button(type="button").table__sortbutton
            svg
              use(xlink:href="#other-sort-icon")
      th
        .flex.gap-x-2.items-center
          p Канал
      th
        .flex.gap-x-2.items-center
          p Сумма сделки
          button(type="button").table__sortbutton
            svg
              use(xlink:href="#other-sort-icon")
      th
        .flex.gap-x-2.items-center
          p Статус сделки
          button(type="button").table__sortbutton
            svg
              use(xlink:href="#other-sort-icon")
      th
        .flex.gap-x-2.items-center
          p Статус РК
          button(type="button").table__sortbutton
            svg
              use(xlink:href="#other-sort-icon")
  tbody
    +companies-subrow({
      title: 'Сентябрь 2024',
      count: '5',
    })
    +companies-row({
      icon: 'status-warning-icon',
      color: 'status-green',
      status: 'В работу',
    })
    +companies-row({
      icon: 'status-done-icon',
      color: 'status-blue',
      status: 'В работе',
    })
    +companies-row({
      icon: 'status-refusal-icon',
      color: 'status-red',
      status: 'Пауза',
    })
    +companies-row({
      icon: 'status-pause-icon',
      color: 'status-gray',
      status: 'Завершено',
    })
    +companies-row({
      icon: 'status-new-icon',
      color: 'status-purple',
      status: 'Согласование',
    })
    +companies-subrow({
      title: 'Октябрь 2024',
      count: '20',
    })
    +companies-row({
      icon: 'status-warning-icon',
      color: 'status-gray',
      status: 'Завершено',
    })
    +companies-row({
      icon: 'status-done-icon',
      color: 'status-purple',
      status: 'Согласование',
    })
    +companies-row({
      icon: 'status-refusal-icon',
      color: 'status-purple',
      status: 'Согласование',
    })
    +companies-row({
      icon: 'status-pause-icon',
      color: 'status-blue',
      status: 'В работе',
    })
    +companies-row({
      icon: 'status-new-icon',
      color: 'status-red',
      status: 'Пауза',
    })
    +companies-row({
      icon: 'status-pulse-icon',
      color: 'status-gray',
      status: 'Завершено',
    })