table.table.table-fixed-cols
  colgroup
    col(style="width:180px")
    col(style="width:160px")
    col(style="width:150px")
    col(style="width:112px")
    col(style="width:449px")
    col(style="width:120px")
    col(style="width:145px")
    col
  thead
    tr
      th
        .resizable
        .table__sort.flex.gap-x-2.items-center
          p Клиент
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th 
        .resizable
        .table__sort.flex.gap-x-2.items-center
          p Рекламная кампания
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .resizable
        .table__sort.flex.gap-x-2.items-center
          p Аккаунт-менеджер
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .resizable
        .table__sort.flex.gap-x-2.items-center
          p Куратор
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .resizable
        .flex.gap-x-2.items-center
          p Канал
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .resizable
        .table__sort.flex.gap-x-2.items-center
          p Сумма сделки
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .resizable
        .table__sort.flex.gap-x-2.items-center
          p Статус сделки
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
      th
        .table__sort.flex.gap-x-2.items-center
          p Статус РК
            button(type="button").table__sortbutton
              svg
                use(xlink:href="#other-sort-icon")
  tbody
    +companies-subrow({
      title: 'Сентябрь 2024',
      count: '5',
    })
    <tr>
      <td class="only-text" style="max-width: 180px; padding-right: 24px;">
        <div class="flex items-center gap-x-2.5">
          <svg style="min-width: 16px;" viewBox="0 0 16 16" width="16" height="16">
            <use xlink:href="#status-warning-icon"></use>
          </svg>
          <p style="text-overflow:ellipsis;overflow:hidden;">People &amp; Screens People &amp; Screens</p>
        </div>
      </td>
      <td class="only-text" style="max-width: 160px; padding-right: 24px;"><a href="#"><span class="companies__kp">КП</span>Test_MTC_September Test_MTC_September</a></td>
      <td class="only-text" style="max-width: 150px; padding-right: 24px;">Илья Минаев</td>
      <td class="only-text" style="max-width: 112px; padding-right: 24px;">Илья Минаев</td>
      <td style="padding-right: 24px;">
        <div class="table__channels">
          <div class="table__channels__items">
            <a href="#">
              <div class="table__channels__avatar">
                <div class="table__channels__src">
                  <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="5" cy="5" r="5" fill="#0077FF"></circle>
                    <path d="M5.26794 7C3.21797 7 2.04872 5.4985 2 3H3.02686C3.06059 4.83383 3.8176 5.61061 4.41722 5.77077V3H5.38415V4.58158C5.97628 4.51351 6.59832 3.79279 6.80819 3H7.7751C7.61395 3.97698 6.93938 4.6977 6.45968 4.99399C6.93938 5.23423 7.70768 5.86286 8 7H6.93563C6.70702 6.23924 6.13743 5.65065 5.38415 5.57057V7H5.26794Z" fill="white"></path>
                  </svg>
                </div>
                <div class="table__channels__img" style="border: 1.5px solid #0077FF;"><img src="/assets/images/avatar.png" alt="tg-channel" style="max-width: 20px; max-height: 20px;" class=""></div>
              </div>
              <span>ZeroDay | Кибербезопасность</span>
            </a>
            <a href="#">
              <div class="table__channels__avatar">
                <div class="table__channels__src">
                  <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="5" cy="5" r="5" fill="black"></circle>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.50007 4.26023C7.50007 4.31128 7.47929 4.35893 7.44093 4.39126C7.40417 4.42359 7.35621 4.4287 7.30826 4.427C7.01095 4.41849 6.5458 4.30958 6.32681 4.08667V6.22054C6.32681 7.2041 5.57874 8.00047 4.65483 8.00047H4.4822C4.09537 8.00047 3.72773 7.85073 3.43042 7.59378C3.659 7.7146 3.90995 7.78607 4.1705 7.78607H4.34313C5.26704 7.78607 6.01511 6.98969 6.01511 6.00613V3.87226C6.2341 4.09347 6.69925 4.20408 6.99656 4.21259C7.04451 4.21259 7.09247 4.20918 7.12923 4.17685C7.166 4.14452 7.18837 4.09688 7.18837 4.04583C7.18837 3.80419 7.18837 3.4026 7.18837 3.19159C7.24912 3.21031 7.31146 3.22563 7.37379 3.24094C7.44732 3.25796 7.50007 3.32603 7.50007 3.406C7.50007 3.61701 7.50007 4.0203 7.50007 4.26023ZM4.37031 5.01407C4.33994 5.0464 4.29998 5.06342 4.25682 5.06342C3.81565 5.06342 3.45759 5.44459 3.45759 5.91424C3.45759 6.2835 3.67978 6.59491 3.98988 6.71232C3.85401 6.55917 3.76929 6.35497 3.76929 6.12865C3.76929 5.659 4.12734 5.27783 4.56852 5.27783C4.61167 5.27783 4.65164 5.26081 4.68201 5.22848C4.71238 5.19615 4.72836 5.1536 4.72836 5.10766V4.59716C4.72836 4.55292 4.71078 4.50868 4.68201 4.47634C4.65323 4.44401 4.61167 4.427 4.56852 4.427H4.4822C4.45982 4.427 4.43904 4.4338 4.41666 4.4338V4.89325C4.41666 4.9392 4.39908 4.98174 4.37031 5.01407ZM6.55539 2.85467C6.42272 2.72704 6.31083 2.55858 6.2309 2.32885C6.20693 2.26249 6.14778 2.21484 6.08065 2.21484H5.96236C6.10143 2.53986 6.30763 2.73045 6.55539 2.85296V2.85467Z" fill="#FE2C55"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.30082 7.47933C3.34078 7.52187 3.38874 7.55591 3.4319 7.59334C3.27045 7.50826 3.1186 7.40276 2.98913 7.26492C2.67583 6.9314 2.5 6.47876 2.5 6.0057V5.99209C2.5 5.00853 3.24807 4.21215 4.17198 4.21215H4.25829C4.30145 4.21215 4.34141 4.23087 4.37178 4.2615C4.40215 4.29383 4.41814 4.33637 4.41814 4.38232V4.43337C3.5262 4.4708 2.8117 5.24676 2.8117 6.20649V6.22011C2.8117 6.69147 2.98753 7.14411 3.30082 7.47933ZM7.18665 3.19116C7.18665 3.11118 7.1339 3.04141 7.06038 3.0261C6.88135 2.98356 6.71032 2.93251 6.55367 2.85423C6.7311 3.0244 6.94848 3.12139 7.18506 3.19116H7.18665ZM4.56839 6.98075C4.78099 6.98075 4.98399 6.89056 5.13424 6.73231C5.2845 6.57405 5.36762 6.35624 5.36762 6.12992V2.38628C5.36762 2.29268 5.43955 2.21611 5.52746 2.21611H5.96224C5.94786 2.18208 5.93187 2.15145 5.91908 2.11401C5.89511 2.04765 5.83596 2 5.76883 2H5.21577C5.12785 2 5.05592 2.07657 5.05592 2.17017V5.91381C5.05592 6.14013 4.9712 6.35624 4.82255 6.5162C4.67389 6.67615 4.46929 6.76464 4.2567 6.76464C4.16239 6.76464 4.07287 6.74422 3.98975 6.71189C4.13521 6.87525 4.33982 6.97905 4.56839 6.97905V6.98075Z" fill="#25F4EE"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.34455 7.78534C5.26845 7.78534 6.01653 6.98897 6.01653 6.00541V3.87153C6.23551 4.09275 6.70066 4.20335 6.99797 4.21186C7.04593 4.21186 7.09388 4.20846 7.13064 4.17613C7.16741 4.1438 7.18979 4.09615 7.18979 4.0451C7.18979 3.80347 7.18979 3.40187 7.18979 3.19087C6.95322 3.1211 6.73583 3.02411 6.5584 2.85394C6.31224 2.73142 6.10444 2.53914 5.96537 2.21582H5.5306C5.44268 2.21582 5.37075 2.29239 5.37075 2.38599V6.12963C5.37075 6.35595 5.28603 6.57206 5.13738 6.73202C4.98872 6.89197 4.78412 6.98046 4.57153 6.98046C4.34295 6.98046 4.13835 6.87666 3.99289 6.7133C3.68439 6.59588 3.4606 6.28448 3.4606 5.91522C3.4606 5.44556 3.81866 5.06439 4.25983 5.06439C4.30299 5.06439 4.34295 5.04738 4.37332 5.01504C4.40369 4.98271 4.41967 4.94017 4.41967 4.89423V4.43478C3.52774 4.47222 2.81323 5.24817 2.81323 6.20791V6.22152C2.81323 6.69288 2.98906 7.14552 3.30236 7.48075C3.34232 7.52329 3.39027 7.55732 3.43343 7.59476C3.66201 7.71557 3.91297 7.78704 4.17351 7.78704H4.34615L4.34455 7.78534Z" fill="white"></path>
                  </svg>
                </div>
                <div class="table__channels__img" style="border: 1.5px solid #FE2C55;"><img src="/assets/images/avatar.png" alt="tg-channel" style="max-width: 20px; max-height: 20px;" class=""></div>
              </div>
              <span>Топор 18+</span>
            </a>
            <a href="#">
              <div class="table__channels__avatar">
                <div class="table__channels__src">
                  <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="5" cy="5" r="4.5" fill="white" stroke="#F44336"></circle>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.58828 3.43041C7.43485 3.15748 7.26833 3.10728 6.92929 3.08819C6.5906 3.06521 5.73894 3.05566 5.00111 3.05566C4.26187 3.05566 3.40985 3.06521 3.07151 3.08784C2.73318 3.10728 2.56631 3.15713 2.41146 3.43041C2.25343 3.70299 2.17212 4.17248 2.17212 4.99905V5.00188C2.17212 5.82491 2.25343 6.29794 2.41146 6.56768C2.56631 6.84061 2.73283 6.89011 3.07116 6.91309C3.40985 6.93289 4.26187 6.94455 5.00111 6.94455C5.73894 6.94455 6.5906 6.93289 6.92964 6.91344C7.26868 6.89046 7.4352 6.84097 7.58863 6.56804C7.74808 6.29829 7.82868 5.82526 7.82868 5.00223V4.9994C7.82868 4.17248 7.74808 3.70299 7.58828 3.43041Z" fill="#F44336"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.29272 6.06067V3.93945L6.0604 5.00006L4.29272 6.06067Z" fill="#FAFAFA"></path>
                  </svg>
                </div>
                <div class="table__channels__img" style="border: 1.5px solid #FE2C55;"><img src="/assets/images/avatar.png" alt="tg-channel" style="max-width: 20px; max-height: 20px;" class=""></div>
              </div>
              <span>ZeroDay | Кибербезопасность</span>
            </a>
            <a href="#">
              <div class="table__channels__avatar">
                <div class="table__channels__src">
                  <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="5" cy="5" r="5" fill="#E3E5EB"></circle>
                    <g clip-path="url(#clip0_3958_18077)">
                      <path d="M5 10C7.76142 10 10 7.76142 10 5C10 2.23858 7.76142 0 5 0C2.23858 0 0 2.23858 0 5C0 7.76142 2.23858 10 5 10Z" fill="#00A3E3"></path>
                      <path d="M1.86218 5.24498C2.44668 4.92302 3.09914 4.65431 3.70876 4.38423C4.75756 3.94185 5.81051 3.50714 6.8741 3.10243C7.08101 3.03348 7.45285 2.96606 7.48931 3.27273C7.46931 3.70681 7.38722 4.13835 7.33089 4.56989C7.18793 5.51889 7.02264 6.46464 6.86151 7.41052C6.80597 7.72556 6.41131 7.88868 6.15876 7.68706C5.55185 7.27706 4.94026 6.87114 4.3411 6.45164C4.14485 6.25223 4.32685 5.96581 4.5021 5.82339C5.00197 5.33077 5.5321 4.91223 6.00585 4.39414C6.13364 4.08556 5.75606 4.34564 5.63151 4.42535C4.94718 4.89693 4.2796 5.39731 3.5581 5.81177C3.18956 6.01464 2.76001 5.84127 2.39164 5.72802C2.06135 5.59131 1.57735 5.45352 1.86214 5.24502L1.86218 5.24498Z" fill="white"></path>
                    </g>
                    <defs>
                      <clipPath id="clip0_3958_18077">
                        <rect width="10" height="10" fill="white"></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <div class="table__channels__img" style="border: 1.5px solid #00A3E3;"><img src="/assets/images/avatar.png" alt="tg-channel" style="max-width: 20px; max-height: 20px;" class=""></div>
              </div>
              <span>ZeroDay | Кибербезопасность</span>
            </a>
            <a href="#">
              <div class="table__channels__avatar">
                <div class="table__channels__img">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="12" cy="12" r="12" fill="#E3E5EB"></circle>
                    <g clip-path="url(#clip0_3958_18082)">
                      <path d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z" fill="#00A3E3"></path>
                      <path d="M4.46909 12.5872C5.87189 11.8145 7.43779 11.1696 8.90089 10.5214C11.418 9.45966 13.9451 8.41636 16.4977 7.44506C16.9943 7.27956 17.8867 7.11776 17.9742 7.85376C17.9262 8.89556 17.7292 9.93126 17.594 10.967C17.2509 13.2446 16.8542 15.5144 16.4675 17.7845C16.3342 18.5406 15.387 18.9321 14.7809 18.4482C13.3243 17.4642 11.8565 16.49 10.4185 15.4832C9.94749 15.0046 10.3843 14.3172 10.8049 13.9754C12.0046 12.7931 13.2769 11.7886 14.4139 10.5452C14.7206 9.80456 13.8144 10.4288 13.5155 10.6201C11.8731 11.7519 10.2709 12.9528 8.53929 13.9475C7.65479 14.4344 6.62389 14.0183 5.73979 13.7465C4.94709 13.4184 3.78549 13.0877 4.46899 12.5873L4.46909 12.5872Z" fill="white"></path>
                    </g>
                    <defs>
                      <clipPath id="clip0_3958_18082">
                        <rect width="24" height="24" fill="white"></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </div>
              <span>Топор 18+</span>
            </a>
            <a href="#">
              <div class="table__channels__avatar">
                <div class="table__channels__img" style="border: 1.5px solid #0077FF;">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="12" cy="12" r="12" fill="#0077FF"></circle>
                    <path d="M12.6698 17C7.54493 17 4.6218 13.2462 4.5 7H7.06715C7.15147 11.5846 9.04399 13.5265 10.5431 13.9269V7H12.9604V10.954C14.4407 10.7838 15.9958 8.98198 16.5205 7H18.9378C18.5349 9.44244 16.8484 11.2442 15.6492 11.985C16.8484 12.5856 18.7692 14.1572 19.5 17H16.8391C16.2676 15.0981 14.8436 13.6266 12.9604 13.4264V17H12.6698Z" fill="white"></path>
                  </svg>
                </div>
              </div>
              <span>ZeroDay | Кибербезопасность</span>
            </a>
          </div>
          <button class="button table__channels-toggle" type="button" aria-label="button">
            <svg viewBox="0 0 10 6" width="10" height="6">
              <use xlink:href="#other-angle-down-icon"></use>
            </svg>
          </button>
        </div>
      </td>
      <td class="only-text text-right" style="max-width: 120px; padding-right: 24px;">20 500 ₽</td>
      <td style="padding-right: 24px;"><span class="status status-green">В работу</span></td>
      <td style="padding-right: 24px;"><span class="status status-green">В работу</span></td>
    </tr>
    <tr>
      <td class="only-text" style="max-width: 180px; padding-right: 24px;">
        <div class="flex items-center gap-x-2.5">
          <svg style="min-width: 16px;" viewBox="0 0 16 16" width="16" height="16">
            <use xlink:href="#status-done-icon"></use>
          </svg>
          <p style="text-overflow:ellipsis;overflow:hidden;">People &amp; Screens People &amp; Screens</p>
        </div>
      </td>
      <td class="only-text" style="max-width: 160px; padding-right: 24px;"><a href="#"><span class="companies__rk">РК</span>Test_MTC_September Test_MTC_September</a></td>
      <td class="only-text" style="max-width: 150px; padding-right: 24px;">Илья Минаев</td>
      <td class="only-text" style="max-width: 112px; padding-right: 24px;">Илья Минаев</td>
      <td style="padding-right: 24px;">
        <div class="table__channels">
          <div class="table__channels__items">
            <a href="#">
              <div class="table__channels__avatar">
                <div class="table__channels__src">
                  <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="5" cy="5" r="5" fill="#0077FF"></circle>
                    <path d="M5.26794 7C3.21797 7 2.04872 5.4985 2 3H3.02686C3.06059 4.83383 3.8176 5.61061 4.41722 5.77077V3H5.38415V4.58158C5.97628 4.51351 6.59832 3.79279 6.80819 3H7.7751C7.61395 3.97698 6.93938 4.6977 6.45968 4.99399C6.93938 5.23423 7.70768 5.86286 8 7H6.93563C6.70702 6.23924 6.13743 5.65065 5.38415 5.57057V7H5.26794Z" fill="white"></path>
                  </svg>
                </div>
                <div class="table__channels__img" style="border: 1.5px solid #0077FF;"><img src="/assets/images/avatar.png" alt="tg-channel" style="max-width: 20px; max-height: 20px;" class=""></div>
              </div>
              <span>ZeroDay | Кибербезопасность</span>
            </a>
            <a href="#">
              <div class="table__channels__avatar">
                <div class="table__channels__src">
                  <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="5" cy="5" r="5" fill="black"></circle>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.50007 4.26023C7.50007 4.31128 7.47929 4.35893 7.44093 4.39126C7.40417 4.42359 7.35621 4.4287 7.30826 4.427C7.01095 4.41849 6.5458 4.30958 6.32681 4.08667V6.22054C6.32681 7.2041 5.57874 8.00047 4.65483 8.00047H4.4822C4.09537 8.00047 3.72773 7.85073 3.43042 7.59378C3.659 7.7146 3.90995 7.78607 4.1705 7.78607H4.34313C5.26704 7.78607 6.01511 6.98969 6.01511 6.00613V3.87226C6.2341 4.09347 6.69925 4.20408 6.99656 4.21259C7.04451 4.21259 7.09247 4.20918 7.12923 4.17685C7.166 4.14452 7.18837 4.09688 7.18837 4.04583C7.18837 3.80419 7.18837 3.4026 7.18837 3.19159C7.24912 3.21031 7.31146 3.22563 7.37379 3.24094C7.44732 3.25796 7.50007 3.32603 7.50007 3.406C7.50007 3.61701 7.50007 4.0203 7.50007 4.26023ZM4.37031 5.01407C4.33994 5.0464 4.29998 5.06342 4.25682 5.06342C3.81565 5.06342 3.45759 5.44459 3.45759 5.91424C3.45759 6.2835 3.67978 6.59491 3.98988 6.71232C3.85401 6.55917 3.76929 6.35497 3.76929 6.12865C3.76929 5.659 4.12734 5.27783 4.56852 5.27783C4.61167 5.27783 4.65164 5.26081 4.68201 5.22848C4.71238 5.19615 4.72836 5.1536 4.72836 5.10766V4.59716C4.72836 4.55292 4.71078 4.50868 4.68201 4.47634C4.65323 4.44401 4.61167 4.427 4.56852 4.427H4.4822C4.45982 4.427 4.43904 4.4338 4.41666 4.4338V4.89325C4.41666 4.9392 4.39908 4.98174 4.37031 5.01407ZM6.55539 2.85467C6.42272 2.72704 6.31083 2.55858 6.2309 2.32885C6.20693 2.26249 6.14778 2.21484 6.08065 2.21484H5.96236C6.10143 2.53986 6.30763 2.73045 6.55539 2.85296V2.85467Z" fill="#FE2C55"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.30082 7.47933C3.34078 7.52187 3.38874 7.55591 3.4319 7.59334C3.27045 7.50826 3.1186 7.40276 2.98913 7.26492C2.67583 6.9314 2.5 6.47876 2.5 6.0057V5.99209C2.5 5.00853 3.24807 4.21215 4.17198 4.21215H4.25829C4.30145 4.21215 4.34141 4.23087 4.37178 4.2615C4.40215 4.29383 4.41814 4.33637 4.41814 4.38232V4.43337C3.5262 4.4708 2.8117 5.24676 2.8117 6.20649V6.22011C2.8117 6.69147 2.98753 7.14411 3.30082 7.47933ZM7.18665 3.19116C7.18665 3.11118 7.1339 3.04141 7.06038 3.0261C6.88135 2.98356 6.71032 2.93251 6.55367 2.85423C6.7311 3.0244 6.94848 3.12139 7.18506 3.19116H7.18665ZM4.56839 6.98075C4.78099 6.98075 4.98399 6.89056 5.13424 6.73231C5.2845 6.57405 5.36762 6.35624 5.36762 6.12992V2.38628C5.36762 2.29268 5.43955 2.21611 5.52746 2.21611H5.96224C5.94786 2.18208 5.93187 2.15145 5.91908 2.11401C5.89511 2.04765 5.83596 2 5.76883 2H5.21577C5.12785 2 5.05592 2.07657 5.05592 2.17017V5.91381C5.05592 6.14013 4.9712 6.35624 4.82255 6.5162C4.67389 6.67615 4.46929 6.76464 4.2567 6.76464C4.16239 6.76464 4.07287 6.74422 3.98975 6.71189C4.13521 6.87525 4.33982 6.97905 4.56839 6.97905V6.98075Z" fill="#25F4EE"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.34455 7.78534C5.26845 7.78534 6.01653 6.98897 6.01653 6.00541V3.87153C6.23551 4.09275 6.70066 4.20335 6.99797 4.21186C7.04593 4.21186 7.09388 4.20846 7.13064 4.17613C7.16741 4.1438 7.18979 4.09615 7.18979 4.0451C7.18979 3.80347 7.18979 3.40187 7.18979 3.19087C6.95322 3.1211 6.73583 3.02411 6.5584 2.85394C6.31224 2.73142 6.10444 2.53914 5.96537 2.21582H5.5306C5.44268 2.21582 5.37075 2.29239 5.37075 2.38599V6.12963C5.37075 6.35595 5.28603 6.57206 5.13738 6.73202C4.98872 6.89197 4.78412 6.98046 4.57153 6.98046C4.34295 6.98046 4.13835 6.87666 3.99289 6.7133C3.68439 6.59588 3.4606 6.28448 3.4606 5.91522C3.4606 5.44556 3.81866 5.06439 4.25983 5.06439C4.30299 5.06439 4.34295 5.04738 4.37332 5.01504C4.40369 4.98271 4.41967 4.94017 4.41967 4.89423V4.43478C3.52774 4.47222 2.81323 5.24817 2.81323 6.20791V6.22152C2.81323 6.69288 2.98906 7.14552 3.30236 7.48075C3.34232 7.52329 3.39027 7.55732 3.43343 7.59476C3.66201 7.71557 3.91297 7.78704 4.17351 7.78704H4.34615L4.34455 7.78534Z" fill="white"></path>
                  </svg>
                </div>
                <div class="table__channels__img" style="border: 1.5px solid #FE2C55;"><img src="/assets/images/avatar.png" alt="tg-channel" style="max-width: 20px; max-height: 20px;" class=""></div>
              </div>
              <span>Топор 18+</span>
            </a>
            <a href="#">
              <div class="table__channels__avatar">
                <div class="table__channels__src">
                  <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="5" cy="5" r="4.5" fill="white" stroke="#F44336"></circle>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.58828 3.43041C7.43485 3.15748 7.26833 3.10728 6.92929 3.08819C6.5906 3.06521 5.73894 3.05566 5.00111 3.05566C4.26187 3.05566 3.40985 3.06521 3.07151 3.08784C2.73318 3.10728 2.56631 3.15713 2.41146 3.43041C2.25343 3.70299 2.17212 4.17248 2.17212 4.99905V5.00188C2.17212 5.82491 2.25343 6.29794 2.41146 6.56768C2.56631 6.84061 2.73283 6.89011 3.07116 6.91309C3.40985 6.93289 4.26187 6.94455 5.00111 6.94455C5.73894 6.94455 6.5906 6.93289 6.92964 6.91344C7.26868 6.89046 7.4352 6.84097 7.58863 6.56804C7.74808 6.29829 7.82868 5.82526 7.82868 5.00223V4.9994C7.82868 4.17248 7.74808 3.70299 7.58828 3.43041Z" fill="#F44336"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.29272 6.06067V3.93945L6.0604 5.00006L4.29272 6.06067Z" fill="#FAFAFA"></path>
                  </svg>
                </div>
                <div class="table__channels__img" style="border: 1.5px solid #FE2C55;"><img src="/assets/images/avatar.png" alt="tg-channel" style="max-width: 20px; max-height: 20px;" class=""></div>
              </div>
              <span>ZeroDay | Кибербезопасность</span>
            </a>
            <a href="#">
              <div class="table__channels__avatar">
                <div class="table__channels__src">
                  <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="5" cy="5" r="5" fill="#E3E5EB"></circle>
                    <g clip-path="url(#clip0_3958_18077)">
                      <path d="M5 10C7.76142 10 10 7.76142 10 5C10 2.23858 7.76142 0 5 0C2.23858 0 0 2.23858 0 5C0 7.76142 2.23858 10 5 10Z" fill="#00A3E3"></path>
                      <path d="M1.86218 5.24498C2.44668 4.92302 3.09914 4.65431 3.70876 4.38423C4.75756 3.94185 5.81051 3.50714 6.8741 3.10243C7.08101 3.03348 7.45285 2.96606 7.48931 3.27273C7.46931 3.70681 7.38722 4.13835 7.33089 4.56989C7.18793 5.51889 7.02264 6.46464 6.86151 7.41052C6.80597 7.72556 6.41131 7.88868 6.15876 7.68706C5.55185 7.27706 4.94026 6.87114 4.3411 6.45164C4.14485 6.25223 4.32685 5.96581 4.5021 5.82339C5.00197 5.33077 5.5321 4.91223 6.00585 4.39414C6.13364 4.08556 5.75606 4.34564 5.63151 4.42535C4.94718 4.89693 4.2796 5.39731 3.5581 5.81177C3.18956 6.01464 2.76001 5.84127 2.39164 5.72802C2.06135 5.59131 1.57735 5.45352 1.86214 5.24502L1.86218 5.24498Z" fill="white"></path>
                    </g>
                    <defs>
                      <clipPath id="clip0_3958_18077">
                        <rect width="10" height="10" fill="white"></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <div class="table__channels__img" style="border: 1.5px solid #00A3E3;"><img src="/assets/images/avatar.png" alt="tg-channel" style="max-width: 20px; max-height: 20px;" class=""></div>
              </div>
              <span>ZeroDay | Кибербезопасность</span>
            </a>
            <a href="#">
              <div class="table__channels__avatar">
                <div class="table__channels__img">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="12" cy="12" r="12" fill="#E3E5EB"></circle>
                    <g clip-path="url(#clip0_3958_18082)">
                      <path d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z" fill="#00A3E3"></path>
                      <path d="M4.46909 12.5872C5.87189 11.8145 7.43779 11.1696 8.90089 10.5214C11.418 9.45966 13.9451 8.41636 16.4977 7.44506C16.9943 7.27956 17.8867 7.11776 17.9742 7.85376C17.9262 8.89556 17.7292 9.93126 17.594 10.967C17.2509 13.2446 16.8542 15.5144 16.4675 17.7845C16.3342 18.5406 15.387 18.9321 14.7809 18.4482C13.3243 17.4642 11.8565 16.49 10.4185 15.4832C9.94749 15.0046 10.3843 14.3172 10.8049 13.9754C12.0046 12.7931 13.2769 11.7886 14.4139 10.5452C14.7206 9.80456 13.8144 10.4288 13.5155 10.6201C11.8731 11.7519 10.2709 12.9528 8.53929 13.9475C7.65479 14.4344 6.62389 14.0183 5.73979 13.7465C4.94709 13.4184 3.78549 13.0877 4.46899 12.5873L4.46909 12.5872Z" fill="white"></path>
                    </g>
                    <defs>
                      <clipPath id="clip0_3958_18082">
                        <rect width="24" height="24" fill="white"></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </div>
              <span>Топор 18+</span>
            </a>
            <a href="#">
              <div class="table__channels__avatar">
                <div class="table__channels__img" style="border: 1.5px solid #0077FF;">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="12" cy="12" r="12" fill="#0077FF"></circle>
                    <path d="M12.6698 17C7.54493 17 4.6218 13.2462 4.5 7H7.06715C7.15147 11.5846 9.04399 13.5265 10.5431 13.9269V7H12.9604V10.954C14.4407 10.7838 15.9958 8.98198 16.5205 7H18.9378C18.5349 9.44244 16.8484 11.2442 15.6492 11.985C16.8484 12.5856 18.7692 14.1572 19.5 17H16.8391C16.2676 15.0981 14.8436 13.6266 12.9604 13.4264V17H12.6698Z" fill="white"></path>
                  </svg>
                </div>
              </div>
              <span>ZeroDay | Кибербезопасность</span>
            </a>
          </div>
          <button class="button table__channels-toggle" type="button" aria-label="button">
            <svg viewBox="0 0 10 6" width="10" height="6">
              <use xlink:href="#other-angle-down-icon"></use>
            </svg>
          </button>
        </div>
      </td>
      <td class="only-text text-right" style="max-width: 120px; padding-right: 24px;">20 500 ₽</td>
      <td style="padding-right: 24px;"><span class="status status-blue">В работе</span></td>
      <td style="padding-right: 24px;"><span class="status status-blue">В работе</span></td>
    </tr>
    <tr>
      <td class="only-text" style="max-width: 180px; padding-right: 24px;">
        <div class="flex items-center gap-x-2.5">
          <svg style="min-width: 16px;" viewBox="0 0 16 16" width="16" height="16">
            <use xlink:href="#status-refusal-icon"></use>
          </svg>
          <p style="text-overflow:ellipsis;overflow:hidden;">People &amp; Screens People &amp; Screens</p>
        </div>
      </td>
      <td class="only-text" style="max-width: 160px; padding-right: 24px;"><a href="#"><span class="companies__kp_rk">КП+РК</span>Test_MTC_September Test_MTC_September</a></td>
      <td class="only-text" style="max-width: 150px; padding-right: 24px;">Илья Минаев</td>
      <td class="only-text" style="max-width: 112px; padding-right: 24px;">Илья Минаев</td>
      <td style="padding-right: 24px;">
        <div class="table__channels">
          <div class="table__channels__items">
            <a href="#">
              <div class="table__channels__avatar">
                <div class="table__channels__src">
                  <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="5" cy="5" r="5" fill="#0077FF"></circle>
                    <path d="M5.26794 7C3.21797 7 2.04872 5.4985 2 3H3.02686C3.06059 4.83383 3.8176 5.61061 4.41722 5.77077V3H5.38415V4.58158C5.97628 4.51351 6.59832 3.79279 6.80819 3H7.7751C7.61395 3.97698 6.93938 4.6977 6.45968 4.99399C6.93938 5.23423 7.70768 5.86286 8 7H6.93563C6.70702 6.23924 6.13743 5.65065 5.38415 5.57057V7H5.26794Z" fill="white"></path>
                  </svg>
                </div>
                <div class="table__channels__img" style="border: 1.5px solid #0077FF;"><img src="/assets/images/avatar.png" alt="tg-channel" style="max-width: 20px; max-height: 20px;" class=""></div>
              </div>
              <span>ZeroDay | Кибербезопасность</span>
            </a>
            <a href="#">
              <div class="table__channels__avatar">
                <div class="table__channels__src">
                  <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="5" cy="5" r="5" fill="black"></circle>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.50007 4.26023C7.50007 4.31128 7.47929 4.35893 7.44093 4.39126C7.40417 4.42359 7.35621 4.4287 7.30826 4.427C7.01095 4.41849 6.5458 4.30958 6.32681 4.08667V6.22054C6.32681 7.2041 5.57874 8.00047 4.65483 8.00047H4.4822C4.09537 8.00047 3.72773 7.85073 3.43042 7.59378C3.659 7.7146 3.90995 7.78607 4.1705 7.78607H4.34313C5.26704 7.78607 6.01511 6.98969 6.01511 6.00613V3.87226C6.2341 4.09347 6.69925 4.20408 6.99656 4.21259C7.04451 4.21259 7.09247 4.20918 7.12923 4.17685C7.166 4.14452 7.18837 4.09688 7.18837 4.04583C7.18837 3.80419 7.18837 3.4026 7.18837 3.19159C7.24912 3.21031 7.31146 3.22563 7.37379 3.24094C7.44732 3.25796 7.50007 3.32603 7.50007 3.406C7.50007 3.61701 7.50007 4.0203 7.50007 4.26023ZM4.37031 5.01407C4.33994 5.0464 4.29998 5.06342 4.25682 5.06342C3.81565 5.06342 3.45759 5.44459 3.45759 5.91424C3.45759 6.2835 3.67978 6.59491 3.98988 6.71232C3.85401 6.55917 3.76929 6.35497 3.76929 6.12865C3.76929 5.659 4.12734 5.27783 4.56852 5.27783C4.61167 5.27783 4.65164 5.26081 4.68201 5.22848C4.71238 5.19615 4.72836 5.1536 4.72836 5.10766V4.59716C4.72836 4.55292 4.71078 4.50868 4.68201 4.47634C4.65323 4.44401 4.61167 4.427 4.56852 4.427H4.4822C4.45982 4.427 4.43904 4.4338 4.41666 4.4338V4.89325C4.41666 4.9392 4.39908 4.98174 4.37031 5.01407ZM6.55539 2.85467C6.42272 2.72704 6.31083 2.55858 6.2309 2.32885C6.20693 2.26249 6.14778 2.21484 6.08065 2.21484H5.96236C6.10143 2.53986 6.30763 2.73045 6.55539 2.85296V2.85467Z" fill="#FE2C55"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.30082 7.47933C3.34078 7.52187 3.38874 7.55591 3.4319 7.59334C3.27045 7.50826 3.1186 7.40276 2.98913 7.26492C2.67583 6.9314 2.5 6.47876 2.5 6.0057V5.99209C2.5 5.00853 3.24807 4.21215 4.17198 4.21215H4.25829C4.30145 4.21215 4.34141 4.23087 4.37178 4.2615C4.40215 4.29383 4.41814 4.33637 4.41814 4.38232V4.43337C3.5262 4.4708 2.8117 5.24676 2.8117 6.20649V6.22011C2.8117 6.69147 2.98753 7.14411 3.30082 7.47933ZM7.18665 3.19116C7.18665 3.11118 7.1339 3.04141 7.06038 3.0261C6.88135 2.98356 6.71032 2.93251 6.55367 2.85423C6.7311 3.0244 6.94848 3.12139 7.18506 3.19116H7.18665ZM4.56839 6.98075C4.78099 6.98075 4.98399 6.89056 5.13424 6.73231C5.2845 6.57405 5.36762 6.35624 5.36762 6.12992V2.38628C5.36762 2.29268 5.43955 2.21611 5.52746 2.21611H5.96224C5.94786 2.18208 5.93187 2.15145 5.91908 2.11401C5.89511 2.04765 5.83596 2 5.76883 2H5.21577C5.12785 2 5.05592 2.07657 5.05592 2.17017V5.91381C5.05592 6.14013 4.9712 6.35624 4.82255 6.5162C4.67389 6.67615 4.46929 6.76464 4.2567 6.76464C4.16239 6.76464 4.07287 6.74422 3.98975 6.71189C4.13521 6.87525 4.33982 6.97905 4.56839 6.97905V6.98075Z" fill="#25F4EE"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.34455 7.78534C5.26845 7.78534 6.01653 6.98897 6.01653 6.00541V3.87153C6.23551 4.09275 6.70066 4.20335 6.99797 4.21186C7.04593 4.21186 7.09388 4.20846 7.13064 4.17613C7.16741 4.1438 7.18979 4.09615 7.18979 4.0451C7.18979 3.80347 7.18979 3.40187 7.18979 3.19087C6.95322 3.1211 6.73583 3.02411 6.5584 2.85394C6.31224 2.73142 6.10444 2.53914 5.96537 2.21582H5.5306C5.44268 2.21582 5.37075 2.29239 5.37075 2.38599V6.12963C5.37075 6.35595 5.28603 6.57206 5.13738 6.73202C4.98872 6.89197 4.78412 6.98046 4.57153 6.98046C4.34295 6.98046 4.13835 6.87666 3.99289 6.7133C3.68439 6.59588 3.4606 6.28448 3.4606 5.91522C3.4606 5.44556 3.81866 5.06439 4.25983 5.06439C4.30299 5.06439 4.34295 5.04738 4.37332 5.01504C4.40369 4.98271 4.41967 4.94017 4.41967 4.89423V4.43478C3.52774 4.47222 2.81323 5.24817 2.81323 6.20791V6.22152C2.81323 6.69288 2.98906 7.14552 3.30236 7.48075C3.34232 7.52329 3.39027 7.55732 3.43343 7.59476C3.66201 7.71557 3.91297 7.78704 4.17351 7.78704H4.34615L4.34455 7.78534Z" fill="white"></path>
                  </svg>
                </div>
                <div class="table__channels__img" style="border: 1.5px solid #FE2C55;"><img src="/assets/images/avatar.png" alt="tg-channel" style="max-width: 20px; max-height: 20px;" class=""></div>
              </div>
              <span>Топор 18+</span>
            </a>
            <a href="#">
              <div class="table__channels__avatar">
                <div class="table__channels__src">
                  <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="5" cy="5" r="4.5" fill="white" stroke="#F44336"></circle>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.58828 3.43041C7.43485 3.15748 7.26833 3.10728 6.92929 3.08819C6.5906 3.06521 5.73894 3.05566 5.00111 3.05566C4.26187 3.05566 3.40985 3.06521 3.07151 3.08784C2.73318 3.10728 2.56631 3.15713 2.41146 3.43041C2.25343 3.70299 2.17212 4.17248 2.17212 4.99905V5.00188C2.17212 5.82491 2.25343 6.29794 2.41146 6.56768C2.56631 6.84061 2.73283 6.89011 3.07116 6.91309C3.40985 6.93289 4.26187 6.94455 5.00111 6.94455C5.73894 6.94455 6.5906 6.93289 6.92964 6.91344C7.26868 6.89046 7.4352 6.84097 7.58863 6.56804C7.74808 6.29829 7.82868 5.82526 7.82868 5.00223V4.9994C7.82868 4.17248 7.74808 3.70299 7.58828 3.43041Z" fill="#F44336"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.29272 6.06067V3.93945L6.0604 5.00006L4.29272 6.06067Z" fill="#FAFAFA"></path>
                  </svg>
                </div>
                <div class="table__channels__img" style="border: 1.5px solid #FE2C55;"><img src="/assets/images/avatar.png" alt="tg-channel" style="max-width: 20px; max-height: 20px;" class=""></div>
              </div>
              <span>ZeroDay | Кибербезопасность</span>
            </a>
            <a href="#">
              <div class="table__channels__avatar">
                <div class="table__channels__src">
                  <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="5" cy="5" r="5" fill="#E3E5EB"></circle>
                    <g clip-path="url(#clip0_3958_18077)">
                      <path d="M5 10C7.76142 10 10 7.76142 10 5C10 2.23858 7.76142 0 5 0C2.23858 0 0 2.23858 0 5C0 7.76142 2.23858 10 5 10Z" fill="#00A3E3"></path>
                      <path d="M1.86218 5.24498C2.44668 4.92302 3.09914 4.65431 3.70876 4.38423C4.75756 3.94185 5.81051 3.50714 6.8741 3.10243C7.08101 3.03348 7.45285 2.96606 7.48931 3.27273C7.46931 3.70681 7.38722 4.13835 7.33089 4.56989C7.18793 5.51889 7.02264 6.46464 6.86151 7.41052C6.80597 7.72556 6.41131 7.88868 6.15876 7.68706C5.55185 7.27706 4.94026 6.87114 4.3411 6.45164C4.14485 6.25223 4.32685 5.96581 4.5021 5.82339C5.00197 5.33077 5.5321 4.91223 6.00585 4.39414C6.13364 4.08556 5.75606 4.34564 5.63151 4.42535C4.94718 4.89693 4.2796 5.39731 3.5581 5.81177C3.18956 6.01464 2.76001 5.84127 2.39164 5.72802C2.06135 5.59131 1.57735 5.45352 1.86214 5.24502L1.86218 5.24498Z" fill="white"></path>
                    </g>
                    <defs>
                      <clipPath id="clip0_3958_18077">
                        <rect width="10" height="10" fill="white"></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <div class="table__channels__img" style="border: 1.5px solid #00A3E3;"><img src="/assets/images/avatar.png" alt="tg-channel" style="max-width: 20px; max-height: 20px;" class=""></div>
              </div>
              <span>ZeroDay | Кибербезопасность</span>
            </a>
            <a href="#">
              <div class="table__channels__avatar">
                <div class="table__channels__img">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="12" cy="12" r="12" fill="#E3E5EB"></circle>
                    <g clip-path="url(#clip0_3958_18082)">
                      <path d="M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z" fill="#00A3E3"></path>
                      <path d="M4.46909 12.5872C5.87189 11.8145 7.43779 11.1696 8.90089 10.5214C11.418 9.45966 13.9451 8.41636 16.4977 7.44506C16.9943 7.27956 17.8867 7.11776 17.9742 7.85376C17.9262 8.89556 17.7292 9.93126 17.594 10.967C17.2509 13.2446 16.8542 15.5144 16.4675 17.7845C16.3342 18.5406 15.387 18.9321 14.7809 18.4482C13.3243 17.4642 11.8565 16.49 10.4185 15.4832C9.94749 15.0046 10.3843 14.3172 10.8049 13.9754C12.0046 12.7931 13.2769 11.7886 14.4139 10.5452C14.7206 9.80456 13.8144 10.4288 13.5155 10.6201C11.8731 11.7519 10.2709 12.9528 8.53929 13.9475C7.65479 14.4344 6.62389 14.0183 5.73979 13.7465C4.94709 13.4184 3.78549 13.0877 4.46899 12.5873L4.46909 12.5872Z" fill="white"></path>
                    </g>
                    <defs>
                      <clipPath id="clip0_3958_18082">
                        <rect width="24" height="24" fill="white"></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </div>
              <span>Топор 18+</span>
            </a>
            <a href="#">
              <div class="table__channels__avatar">
                <div class="table__channels__img" style="border: 1.5px solid #0077FF;">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="12" cy="12" r="12" fill="#0077FF"></circle>
                    <path d="M12.6698 17C7.54493 17 4.6218 13.2462 4.5 7H7.06715C7.15147 11.5846 9.04399 13.5265 10.5431 13.9269V7H12.9604V10.954C14.4407 10.7838 15.9958 8.98198 16.5205 7H18.9378C18.5349 9.44244 16.8484 11.2442 15.6492 11.985C16.8484 12.5856 18.7692 14.1572 19.5 17H16.8391C16.2676 15.0981 14.8436 13.6266 12.9604 13.4264V17H12.6698Z" fill="white"></path>
                  </svg>
                </div>
              </div>
              <span>ZeroDay | Кибербезопасность</span>
            </a>
          </div>
          <button class="button table__channels-toggle" type="button" aria-label="button">
            <svg viewBox="0 0 10 6" width="10" height="6">
              <use xlink:href="#other-angle-down-icon"></use>
            </svg>
          </button>
        </div>
      </td>
      <td class="only-text text-right" style="max-width: 120px; padding-right: 24px;">20 500 ₽</td>
      <td style="padding-right: 24px;"><span class="status status-red">Пауза</span></td>
      <td style="padding-right: 24px;"><span class="status status-red">Пауза</span></td>
    </tr>
    +companies-row({
      icon: 'status-pause-icon',
      color: 'status-gray',
      status: 'Завершено',
    })
    +companies-row({
      icon: 'status-new-icon',
      color: 'status-purple',
      status: 'Согласование',
    })
    +companies-subrow({
      title: 'Октябрь 2024',
      count: '20',
    })
    +companies-row({
      icon: 'status-warning-icon',
      color: 'status-gray',
      status: 'Завершено',
    })
    +companies-row({
      icon: 'status-done-icon',
      color: 'status-purple',
      status: 'Согласование',
    })
    +companies-row({
      icon: 'status-refusal-icon',
      color: 'status-purple',
      status: 'Согласование',
    })
    +companies-row({
      icon: 'status-pause-icon',
      color: 'status-blue',
      status: 'В работе',
    })
    +companies-row({
      icon: 'status-new-icon',
      color: 'status-red',
      status: 'Пауза',
    })
    +companies-row({
      icon: 'status-pulse-icon',
      color: 'status-gray',
      status: 'Завершено',
    })