svg#aside-favorites-icon(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
  path(d="M10.1413 2.24721C9.78204 1.14164 8.21795 1.14165 7.85873 2.24721L6.47079 6.51885H1.97933C0.816864 6.51885 0.333536 8.00639 1.27399 8.68967L4.90766 11.3297L3.51972 15.6013C3.1605 16.7069 4.42588 17.6262 5.36633 16.943L9 14.3029L12.6337 16.943C13.5741 17.6262 14.8395 16.7069 14.4803 15.6013L13.0923 11.3297L16.726 8.68967C17.6665 8.00638 17.1831 6.51885 16.0207 6.51885H11.5292L10.1413 2.24721Z" stroke="currentColor" stroke-width="1.4")
