svg#aside-layout-icon(width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg")
  path(d="M3 15H15.006C15 15 15 5.00004 15 5.00004H2.994C3 5.00004 3 15 3 15ZM1.5 4.99504C1.5 4.07754 2.1735 3.33337 2.9925 3.33337H15.0075C15.831 3.33337 16.5 4.07921 16.5 4.99504V15.005C16.4994 15.445 16.3421 15.8667 16.0624 16.1781C15.7827 16.4895 15.4034 16.6652 15.0075 16.6667H2.9925C2.59639 16.6658 2.21677 16.4904 1.93696 16.1788C1.65715 15.8673 1.5 15.4452 1.5 15.005V4.99504Z" fill="#374151")
  path(d="M5.25 4.16671V15.8334H6.75V4.16671H5.25Z" fill="#374151")
  path(d="M5.25 9.16671H15.75V7.50004H5.25V9.16671Z" fill="#374151")
