.chat
  .chat__pin
    svg
      use(xlink:href="#other-pin-icon")
    span Закрепить
  +search
  .chat__categories
    button(type="button" data-id="chat-all").chat__category.active
      span Все
    button(type="button" data-id="chat-clients").chat__category
      span Клиенты
    button(type="button" data-id="chat-admins").chat__category
      span Администраторы
      svg
        use(xlink:href="#other-telegram-icon")
  .chat__blocks
    .chat__block(type="button" data-id="chat-all").active
      .chat__conversations
        button(type="button").chat__conversation.chat__conversation-pinned
          .chat__avatar(style="background-color: #E5E4FC;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-client-icon")
              time.chat__time 11:45
            p Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation.chat__conversation-messages
          .chat__avatar(style="background-color: #CDEE39;")
            span P&S
          .chat__content
            .chat__heading
              .chat__title
                h3 P&S
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-client-icon")
              time.chat__time 11:45
            p Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-messages
                span 9
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
    .chat__block(type="button" data-id="chat-clients")
      .chat__conversations
        button(type="button").chat__conversation.chat__conversation-pinned
          .chat__avatar(style="background-color: #E5E4FC;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-client-icon")
              time.chat__time 11:45
            p Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation.chat__conversation-messages
          .chat__avatar(style="background-color: #CDEE39;")
            span P&S
          .chat__content
            .chat__heading
              .chat__title
                h3 P&S
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-client-icon")
              time.chat__time 11:45
            p Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-messages
                span 9
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
    .chat__block(type="button" data-id="chat-admins")
      .chat__conversations
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
  .chat__container.active
    .chat__header
      .chat__title
        +button({
          class: 'chat__close',
          icon: 'other-angle-left-lg-icon',
          isOnlyIcon: true,
          view: 'button',
        })
        .chat__avatar(style="background-color: #E5E4FC;")
          span МТС
        .chat__name MTC_KION
        .chat__icon
          svg
            use(xlink:href="#other-telegram-icon")
      .chat__controls
        +button({
          class: 'chat__trigger-search',
          icon: 'other-search-icon',
          isOnlyIcon: true,
          view: 'button',
        })
        +button({
          icon: 'other-more-icon',
          isOnlyIcon: true,
          view: 'button',
        })
    .chat__search
      +search
      .chat__search__buttons
        +button({
          icon: 'other-angle-up-lg-icon',
          isOnlyIcon: true,
          view: 'button',
        })
        +button({
          icon: 'other-angle-down-lg-icon',
          isOnlyIcon: true,
          view: 'button',
        })
      +button({
        icon: 'other-close-icon',
        isOnlyIcon: true,
        view: 'button',
      })
    .chat__messages
      include ./chat-messages