
.chat__messages
  .chat__day Среда, 15 октября
  .chat-message
    .chat-message__comment
      .chat-message__avatar
        span(style="background-color: #E5E4FC;")
      .chat-message__authors
        .chat-message__author
          .chat-message__author__wrapper
            .chat-message__head
              h3 Валерия Медеведева
              .chat-message__time 12:00
                span 15.10.2024 в 16:25
            p Добрый день! Старт РК 16.10
          +dropdown({
            buttons: [
              {
                class: 'chat-message__reply',
                icon: 'other-reply-icon',
                title: 'Ответить',
              },
              {
                class: 'chat-message__copy',
                icon: 'other-copy-icon',
                title: 'Копировать',
              },
              {
                class: 'chat-message__edit',
                icon: 'other-edit2-icon',
                title: 'Редактировать',
              },
              {
                class: 'chat-message__delete',
                dataPopupName: 'delete-comment',
                icon: 'other-trash-icon',
                title: 'Удалить',
              },
            ],
            class: 'dropdown-comment',
            icon: 'other-angle-down-icon',
            isButtons: true,
          })
          .popup(data-popup-name="delete-comment")
            .popup__wrapper(data-scroll-lock-scrollable)
              .popup__title Подтвердить действие
              .popup__subtitle Удалить комментарий?
              .popup__form
                .popup__buttons
                  +button({
                    class: 'button-base',
                    dataPopupName: 'delete-comment',
                    title: 'Нет',
                    view: 'button',
                  })
                  +button({
                    class: 'button-confirm chat-message__remove',
                    dataPopupName: 'delete-comment',
                    title: 'Да',
                    view: 'button',
                  })
  .chat__day Четверг, 16 октября
  .chat-message
    .chat-message__comment
      .chat-message__avatar
        span(style="background-color: #FCEAE4;")
      .chat-message__authors
        .chat-message__author
          .chat-message__author__wrapper
            .chat-message__head
              h3 Максим Амбиндер
              .chat-message__time 12:00
                span 15.10.2024 в 16:25
            .chat-message__answered
              h3 Валерия Медведева
              p Добрый день! Старт РК 16.10
            p Добрый день! Спасибо, старт запланирован
          +dropdown({
            buttons: [
              {
                class: 'chat-message__reply',
                icon: 'other-reply-icon',
                title: 'Ответить',
              },
              {
                class: 'chat-message__copy',
                icon: 'other-copy-icon',
                title: 'Копировать',
              },
              {
                class: 'chat-message__edit',
                icon: 'other-edit2-icon',
                title: 'Редактировать',
              },
              {
                class: 'chat-message__delete',
                dataPopupName: 'delete-comment',
                icon: 'other-trash-icon',
                title: 'Удалить',
              },
            ],
            class: 'dropdown-comment',
            icon: 'other-angle-down-icon',
            isButtons: true,
          })
          .popup(data-popup-name="delete-comment")
            .popup__wrapper(data-scroll-lock-scrollable)
              .popup__title Подтвердить действие
              .popup__subtitle Удалить комментарий?
              .popup__form
                .popup__buttons
                  +button({
                    class: 'button-base',
                    dataPopupName: 'delete-comment',
                    title: 'Нет',
                    view: 'button',
                  })
                  +button({
                    class: 'button-confirm chat-message__remove',
                    dataPopupName: 'delete-comment',
                    title: 'Да',
                    view: 'button',
                  })
  .chat-message
    .chat-message__comment
      .chat-message__avatar
        span(style="background-color: #E5E4FC;")
      .chat-message__authors
        .chat-message__author
          .chat-message__author__wrapper
            .chat-message__head
              h3 Валерия Медеведева
              .chat-message__time 12:00
                span 15.10.2024 в 16:25
            p Спасибо!
          +dropdown({
            buttons: [
              {
                class: 'chat-message__reply',
                icon: 'other-reply-icon',
                title: 'Ответить',
              },
              {
                class: 'chat-message__copy',
                icon: 'other-copy-icon',
                title: 'Копировать',
              },
              {
                class: 'chat-message__edit',
                icon: 'other-edit2-icon',
                title: 'Редактировать',
              },
              {
                class: 'chat-message__delete',
                dataPopupName: 'delete-comment',
                icon: 'other-trash-icon',
                title: 'Удалить',
              },
            ],
            class: 'dropdown-comment',
            icon: 'other-angle-down-icon',
            isButtons: true,
          })
          .popup(data-popup-name="delete-comment")
            .popup__wrapper(data-scroll-lock-scrollable)
              .popup__title Подтвердить действие
              .popup__subtitle Удалить комментарий?
              .popup__form
                .popup__buttons
                  +button({
                    class: 'button-base',
                    dataPopupName: 'delete-comment',
                    title: 'Нет',
                    view: 'button',
                  })
                  +button({
                    class: 'button-confirm chat-message__remove',
                    dataPopupName: 'delete-comment',
                    title: 'Да',
                    view: 'button',
                  })
        .chat-message__author
          .chat-message__author__wrapper
            .chat-message__head
              h3 Валерия Медеведева
              .chat-message__time 12:00
                span 15.10.2024 в 16:25
            p Спасибо!
              span.chat-message__changed изменено
          +dropdown({
            buttons: [
              {
                class: 'chat-message__reply',
                icon: 'other-reply-icon',
                title: 'Ответить',
              },
              {
                class: 'chat-message__copy',
                icon: 'other-copy-icon',
                title: 'Копировать',
              },
              {
                class: 'chat-message__edit',
                icon: 'other-edit2-icon',
                title: 'Редактировать',
              },
              {
                class: 'chat-message__delete',
                dataPopupName: 'delete-comment',
                icon: 'other-trash-icon',
                title: 'Удалить',
              },
            ],
            class: 'dropdown-comment',
            icon: 'other-angle-down-icon',
            isButtons: true,
          })
          .popup(data-popup-name="delete-comment")
            .popup__wrapper(data-scroll-lock-scrollable)
              .popup__title Подтвердить действие
              .popup__subtitle Удалить комментарий?
              .popup__form
                .popup__buttons
                  +button({
                    class: 'button-base',
                    dataPopupName: 'delete-comment',
                    title: 'Нет',
                    view: 'button',
                  })
                  +button({
                    class: 'button-confirm chat-message__remove',
                    dataPopupName: 'delete-comment',
                    title: 'Да',
                    view: 'button',
                  })
.chat__bottom
  .chat__footer
    form(action="#").chat__form.default
      +input({
        class: 'chat__upload',
        isFileUpload: true,
        isMultiple: true,
        isRequired: true,
        isTextarea: true,
        label: '',
        name: 'comment',
        placeholder: 'Отправить комментарий...',
      })
      +button({
        class: 'button-icon-round chat__submit',
        icon: 'other-send-icon',
        isDisabled: true,
        isOnlyIcon: true,
        type: 'submit',
        view: 'button',
      })