.chat
  .chat__pin
    svg
      use(xlink:href="#other-pin-icon")
    span Закрепить
  +search
  .chat__categories
    button(type="button" data-id="chat-all").chat__category.active
      span Все
    button(type="button" data-id="chat-clients").chat__category
      span Клиенты
    button(type="button" data-id="chat-admins").chat__category
      span Администраторы
      svg
        use(xlink:href="#other-telegram-icon")
  .chat__blocks
    .chat__block(type="button" data-id="chat-all").active
      .chat__conversations
        button(type="button").chat__conversation.chat__conversation-pinned
          .chat__avatar(style="background-color: #E5E4FC;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-client-icon")
              time.chat__time 11:45
            p Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation.chat__conversation-messages
          .chat__avatar(style="background-color: #CDEE39;")
            span P&S
          .chat__content
            .chat__heading
              .chat__title
                h3 P&S
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-client-icon")
              time.chat__time 11:45
            p Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-messages
                span 9
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
    .chat__block(type="button" data-id="chat-clients")
      .chat__conversations
        button(type="button").chat__conversation.chat__conversation-pinned
          .chat__avatar(style="background-color: #E5E4FC;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-client-icon")
              time.chat__time 11:45
            p Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation.chat__conversation-messages
          .chat__avatar(style="background-color: #CDEE39;")
            span P&S
          .chat__content
            .chat__heading
              .chat__title
                h3 P&S
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-client-icon")
              time.chat__time 11:45
            p Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-messages
                span 9
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
    .chat__block(type="button" data-id="chat-admins")
      .chat__conversations
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
        button(type="button").chat__conversation
          .chat__avatar(style="background-color: #EEA939;")
            span МТС
          .chat__content
            .chat__heading
              .chat__title
                h3 MTC_KION
                .chat__icons
                  .chat__icon
                    svg
                      use(xlink:href="#label-admin-icon")
                  .chat__icon
                    svg
                      use(xlink:href="#other-telegram-icon")
              time.chat__time 11:45
            p <span>Вы:</span> Привет! Обновили креативы сегодня - https://mts-digit...
            .chat__states
              .chat__state.chat__state-pinned
                svg
                  use(xlink:href="#other-pinned-icon")
              .chat__state.chat__state-messages
                span 9
  .chat__container
    .chat__header
      .chat__title
        +button({
          class: 'chat__close',
          icon: 'other-angle-left-lg-icon',
          isOnlyIcon: true,
          view: 'button',
        })
        .chat__avatar(style="background-color: #E5E4FC;")
          span МТС
        button(type="button").chat__name.chat__trigger-channel MTC_KION
          .chat__icon
            svg
              use(xlink:href="#other-telegram-icon")
      .chat__controls
        +button({
          class: 'chat__trigger-search',
          icon: 'other-search-icon',
          isOnlyIcon: true,
          view: 'button',
        })
        +button({
          icon: 'other-more-icon',
          isOnlyIcon: true,
          view: 'button',
        })
    .chat__search
      +search
      .chat__search__buttons
        +button({
          icon: 'other-angle-up-lg-icon',
          isOnlyIcon: true,
          view: 'button',
        })
        +button({
          icon: 'other-angle-down-lg-icon',
          isOnlyIcon: true,
          view: 'button',
        })
      +button({
        class: 'chat__trigger-search-close',
        icon: 'other-close-icon',
        isOnlyIcon: true,
        view: 'button',
      })
    include ./chat-messages
  .chat__channel
    .chat__header
      .chat__title
        +button({
          class: 'chat__trigger-channel-close',
          icon: 'other-angle-left-lg-icon',
          isOnlyIcon: true,
          view: 'button',
        })
      .chat__channel__logo
        .chat__avatar(style="background-color: #E5E4FC;")
          span МТС
        .chat__name MTC_KION
          .chat__icon
            svg
              use(xlink:href="#other-telegram-icon")
      .chat__controls
        +button({
          icon: 'other-more-icon',
          isOnlyIcon: true,
          view: 'button',
        })
    .selector__buttons
      .selector__scroll
        button.selector__button(data-id="members").active Участники
        button.selector__button(data-id="media") Медиа
    .selector__containers.selector__content
      .selector__container.active(data-id="members")
        .chat__members
          .chat__member
            .chat__member__role Пользователь (Вы)
            .chat__member__infos
              .chat__member__info
                span Валерия Медведева
                img(src="/assets/images/avatar.png" alt="avatar")
          .chat__member
            .chat__member__role Администратор
            .chat__member__infos
              .chat__member__info
                span Максим Амбиндер
                img(src="/assets/images/avatar.png" alt="avatar")
              .chat__member__info
                span Елена Медведева
                img(src="/assets/images/avatar.png" alt="avatar")
              .chat__member__info
                span Елена Михеева
                img(src="/assets/images/avatar.png" alt="avatar")
          .chat__member
            .chat__member__role Бухгалтер
            .chat__member__infos
              .chat__member__info
                span Иван Дорн
                img(src="/assets/images/avatar.png" alt="avatar")
                .chat__member__popup
                  .chat__member__header
                    img(src="/assets/images/avatar.png" alt="avatar")
                    span Иван Дорн
                  a(href="tel:+79167268282").chat__member__link
                    svg.button-clear.filter-clear
                      use(xlink:href="#other-phone-icon")
                    span +7 (916) 726-82-82
                  a(href="mailto:em@toptraffic.ru").chat__member__link
                    svg.button-clear.filter-clear
                      use(xlink:href="#other-mail-icon")
                    span em@toptraffic.ru
                  a(href="https://t.me/elmed").chat__member__link
                    svg.button-clear.filter-clear
                      use(xlink:href="#other-telegram-icon")
                    span @elmed
        .selector__container(data-id="media")