header.header
  .header__wrapper
    .header__search
      +button({
        view: 'button',
        icon: 'other-expand-menu-icon',
        class: 'button-icon sidebar__toggle narrowed',
      })
      +search({
        class: 'transparent',
      })
    .header__controls
      +button({
        view: 'link',
        class: 'button-icon',
        icon: 'other-notification-icon',
      })
      +button({
        view: 'link',
        class: 'button-icon',
        icon: 'aside-help-icon',
      })
      +dropdown({
        icon: {
          enabled: true,
          src: '/assets/images/user-icon.png',
          alt: 'icon',
        },
        class: 'dropdown-with-icon header__dropdown',
        label: 'Максим Амбиндер',
        links: [ 
          { title: 'Настройки', icon: 'other-settings-icon', href: '#' },
          { title: 'Выйти', icon: 'other-logout-icon', href: '#' } 
        ]
      })