header.header
  .header__wrapper
    .header__search
      +button({
        class: 'button-icon sidebar__toggle narrowed',
        icon: 'other-expand-menu-icon',
        isOnlyIcon: true,
        view: 'button',
      })
      +search({
        class: 'transparent',
        isForm: true,
      })
    .header__controls
      .header__icons
        +button({
          class: 'button-icon',
          icon: 'other-notification-icon',
          isOnlyIcon: true,
          view: 'link',
        })
        +button({
          class: 'button-icon',
          icon: 'aside-help-icon',
          isOnlyIcon: true,
          view: 'link',
        })
      +dropdown({
        class: 'dropdown-with-icon header__dropdown',
        image: {
          alt: 'icon',
          enabled: true,
          src: '/assets/images/user-image.png',
        },
        isLinks: true,
        links: [
          {
            href: '#',
            icon: 'other-settings-icon',
            title: 'Настройки',
          },
          {
            href: '#',
            icon: 'other-logout-icon',
            title: 'Выйти',
          },
        ],
        title: 'Максим Амбиндер',
      })