section
  .login
    .login__image
      .login__logo
        include ./logo
    .login__container
      form(action="#").login__form
        h1.login__title Добро пожаловать!
        .login__subtitle Еще не зарегистрированы?
          a.login__create(href="#") Создайте аккаунт

        .login__input.login__input-email
          +input({
            class: 'lg',
            isDisabled: false,
            isRequired: true,
            name: 'email',
            placeholder: 'Почта',
            type: 'email',
          })

        .login__input.login__input-password
          +input({
            class: 'lg',
            isDisabled: false,
            isRequired: true,
            name: 'password',
            placeholder: 'Пароль',
            type: 'password',
          })

        .login__remember
          +input({
            class: 'input-checkbox-with-label lg',
            isLabel: true,
            label: 'Запомнить меня',
            type: 'checkbox',
            value: 'Запомнить меня',
          })
          a.login__forgot(href="#") Забыли пароль?

        .login__button
          +button({
            class: 'button-with-icon-full-lg',
            icon: 'other-arrow-right-icon',
            iconPos: 'after',
            isDisabled: true,
            title: 'Войти',
            type: 'submit',
            view: 'button',
          })

        .login__divider
          .login__line
          span.login__divider-text или
          .login__line

        +button({
          class: 'button-with-icon-full-google',
          icon: 'other-google-icon',
          title: 'Войти с учетной записью Google',
          view: 'link',
        })