.pagination
  a(href="#" aria-label="prev").pagination__link.pagination__link-prev.disabled
    svg(viewBox="0 0 20 20" width="20px" height="20px")
      use(xlink:href="#other-angle-left-icon")
  a(href="#").pagination__link.active 1 
  a(href="#").pagination__link 2
  a(href="#").pagination__link 3 
  a(href="#").pagination__link 4 
  a(href="#").pagination__link 5
  a(href="#").pagination__link ...
  a(href="#").pagination__link 10
  a(href="#" aria-label="next").pagination__link.pagination__link-next
    svg(viewBox="0 0 20 20" width="20px" height="20px")
      use(xlink:href="#other-angle-right-icon")