aside.sidebar
  .sidebar__top
    .sidebar__heading
      a(href="/").sidebar__logo
        include ./logo
      +button({
        class: 'button-icon sidebar__toggle narrowed',
        icon: 'other-expand-menu-icon',
        isOnlyIcon: true,
        view: 'button',
      })
    .sidebar__campaign
      .sidebar__preview М
      .sidebar__switch
        .sidebar__name.narrowed Компания
        +button({
          class: 'button-icon sm narrowed',
          icon: 'other-angle-down-icon',
          isOnlyIcon: true,
          view: 'button',
        })
    .sidebar__nav
      nav.sidebar__menu
        .sidebar__links
          +button({
            class: 'button-with-icon-full',
            icon: 'aside-dashboard-icon',
            isSwitchable: true,
            title: 'Дашборд',
            view: 'link',
          })
          +button({
            class: 'button-with-icon-full',
            icon: 'aside-inbox-icon',
            isSwitchable: true,
            title: 'Входящие',
            view: 'link',
          })
        i.sidebar__separator
          span.narrowed Справочники
        .sidebar__links
          +button({
            class: 'button-with-icon-full',
            href: '/companies',
            icon: 'aside-layout-icon',
            isSwitchable: true,
            title: 'Рекламные кампании',
            view: 'link',
          })
          +button({
            class: 'button-with-icon-full',
            icon: 'aside-organizations-icon',
            isSwitchable: true,
            title: 'Организации',
            view: 'link',
          })
          +button({
            class: 'button-with-icon-full',
            href: '/admins',
            icon: 'aside-admins-icon',
            isSwitchable: true,
            title: 'Администраторы',
            view: 'link',
          })
          +button({
            class: 'button-with-icon-full',
            href: '/channels',
            icon: 'aside-channels-icon',
            isSwitchable: true,
            title: 'Каналы',
            view: 'link',
          })
          +button({
            class: 'button-with-icon-full',
            icon: 'aside-posts-icon',
            isSwitchable: true,
            title: 'Публикации',
            view: 'link',
          })
        i.sidebar__separator
          span.narrowed Отчеты
        .sidebar__links
          +button({
            class: 'button-with-icon-full',
            icon: 'aside-folder-icon',
            isSwitchable: true,
            title: 'Медиапланы',
            view: 'link',
          })
        i.sidebar__separator.sidebar__separator-link
          a(href="#")
            span.narrowed Избранное
            svg.expanded
              use(xlink:href="#aside-favorites-icon")
        i.sidebar__separator
          span.narrowed Пространство
        .sidebar__links
          +button({
            class: 'button-with-icon-full',
            icon: 'aside-card-icon',
            isSwitchable: true,
            title: 'Финансы',
            view: 'link',
          })
          +button({
            class: 'button-with-icon-full',
            icon: 'aside-users-icon',
            isSwitchable: true,
            title: 'Сотрудники',
            view: 'link',
          })
          +button({
            class: 'button-with-icon-full',
            icon: 'aside-settings-icon',
            isSwitchable: true,
            title: 'Настройки',
            view: 'link',
          })
  .sidebar__bottom
    .sidebar__info
      .sidebar__docs
        a(href="#").sidebar__doc
          span.narrowed Условия
          svg.expanded
            use(xlink:href="#aside-conditions-icon")
        p.narrowed /
        a(href="#").sidebar__doc
          span.narrowed Конфиденциальность
          svg.expanded
            use(xlink:href="#aside-lock-icon")
      .sidebar__copy.narrowed &copy;
        .current-year
        span TTTG