aside.sidebar
  .sidebar__top
    .sidebar__heading
      a(href="/").sidebar__logo
        include ./logo
      +button({
        view: 'button',
        icon: 'other-expand-menu-icon',
        class: 'button-icon sidebar__toggle narrowed',
        isOnlyIcon: true,
      })
    .sidebar__company
      .sidebar__preview М
      .sidebar__switch
        .sidebar__name.narrowed Компания
        +button({
          view: 'button',
          icon: 'other-angle-down-icon',
          class: 'button-icon sm narrowed',
          isOnlyIcon: true,
        })
    .sidebar__nav
      nav.sidebar__menu
        .sidebar__links
          +button({
            view: 'link',
            icon: 'aside-dashboard-icon',
            title: 'Дашборд',
            isSwitchable: true,
            class: 'button-with-icon-full',
          })
          +button({
            view: 'link',
            icon: 'aside-inbox-icon',
            title: 'Входящие',
            isSwitchable: true,
            class: 'button-with-icon-full',
          })
        i.sidebar__separator
          span.narrowed Справочники
        .sidebar__links
          +button({
            view: 'link',
            icon: 'aside-layout-icon',
            title: 'Рекламные кампании',
            isSwitchable: true,
            class: 'button-with-icon-full',
            href: '/companies',
          })
          +button({
            view: 'link',
            icon: 'aside-organizations-icon',
            title: 'Организации',
            class: 'active',
            isSwitchable: true,
            class: 'button-with-icon-full',
          })
          +button({
            view: 'link',
            icon: 'aside-admins-icon',
            title: 'Администраторы',
            class: 'disabled',
            isSwitchable: true,
            class: 'button-with-icon-full',
            href: '/admins',
          })
          +button({
            view: 'link',
            icon: 'aside-channels-icon',
            title: 'Каналы',
            isSwitchable: true,
            class: 'button-with-icon-full',
            href: '/channels',
          })
        i.sidebar__separator
          span.narrowed Отчеты
        .sidebar__links
          +button({
            view: 'link',
            icon: 'aside-folder-icon',
            title: 'Медиапланы',
            isSwitchable: true,
            class: 'button-with-icon-full',
          })
        i.sidebar__separator.sidebar__separator-link
          a(href="#")
            span.narrowed Избранное
            svg.expanded
              use(xlink:href="#aside-favorites-icon")
        i.sidebar__separator
          span.narrowed Пространство
        .sidebar__links
          +button({
            view: 'link',
            icon: 'aside-card-icon',
            title: 'Финансы',
            isSwitchable: true,
            class: 'button-with-icon-full',
          })
          +button({
            view: 'link',
            icon: 'aside-users-icon',
            title: 'Сотрудники',
            isSwitchable: true,
            class: 'button-with-icon-full',
          })
          +button({
            view: 'link',
            icon: 'aside-settings-icon',
            title: 'Настройки',
            isSwitchable: true,
            class: 'button-with-icon-full',
          })
  .sidebar__bottom
    .sidebar__info
      .sidebar__docs
        a(href="#").sidebar__doc
          span.narrowed Условия
          svg.expanded
            use(xlink:href="#aside-conditions-icon")
        p.narrowed /
        a(href="#").sidebar__doc
          span.narrowed Конфиденциальность
          svg.expanded
            use(xlink:href="#aside-lock-icon")
      .sidebar__copy.narrowed &copy;
        .current-year
        span TTTG