aside.sidebar
  .sidebar__top 
    .sidebar__heading 
      a(href="/")
        include ./logo
      +button({
        model: 'icon',
        icon: 'other-expand-menu-icon',
        class: 'sidebar__toggle',
      })
    button(type="button").sidebar__company 
      .sidebar__preview М
      .sidebar__name Компания
      svg
        use(xlink:href="#other-angle-down-icon")
    .sidebar__nav
      nav.sidebar__menu 
        .sidebar__links
          +link({
            model: 'with-icon-full',
            icon: 'aside-dashboard-icon',
            title: 'Дашборд',
          })
          +link({
            model: 'with-icon-full',
            icon: 'aside-inbox-icon',
            title: 'Входящие',
          })
        .sidebar__separator Справочники
        .sidebar__links
          +link({
            model: 'with-icon-full',
            icon: 'aside-layout-icon',
            title: 'Рекламные кампании',
          })
          +link({
            model: 'with-icon-full',
            icon: 'aside-portfolio-icon',
            title: 'Организации',
            class: 'active',
          })
          +link({
            model: 'with-icon-full',
            icon: 'aside-admins-icon',
            title: 'Администраторы',
            class: 'disabled',
          })
          +link({
            model: 'with-icon-full',
            icon: 'aside-channels-icon',
            title: 'Каналы',
          })
        .sidebar__separator Отчеты
        .sidebar__links
          +link({
            model: 'with-icon-full',
            icon: 'aside-folder-icon',
            title: 'Медиапланы',
          })
        a(href="#").sidebar__separator.sidebar__separator-link Избранное
        .sidebar__separator Пространство
        .sidebar__links
          +link({
            model: 'with-icon-full',
            icon: 'aside-card-icon',
            title: 'Финансы',
          })
          +link({
            model: 'with-icon-full',
            icon: 'aside-users-icon',
            title: 'Сотрудники',
          })
          +link({
            model: 'with-icon-full',
            icon: 'aside-settings-icon',
            title: 'Настройки',
          })
  .sidebar__bottom
    .sidebar__info
      .sidebar__docs
        a(href="#").sidebar__doc Условия
        span /
        a(href="#").sidebar__doc Конфиденциальность
      .sidebar__copy &copy;
        .current-year
        span TTTG