.upload-alert
  .upload-alert__icon
    svg
      use(xlink:href="#other-info-blue")
  .upload-alert__content
    h6 Найдены еще размещения с этим администратором
    p Счёт будет автоматически добавлен ко всем этим размещениям
  button.upload-alert__close(type="button")
    svg
      use(xlink:href="#other-close-icon")